{% verbatim %}
<div class="content container" data-ng-cloak data-ng-controller="semDomTransAppManagementCtrl">
<div id="sfchecks-hmenu" class="hdrnav">
    <ul class="topNav">
        <li class="here"><a href="/app/projects">My Projects</a></li>
        <li><a href="/app/activity">Activity</a></li>
    </ul>
    <br />
</div>
<div style="padding-top:10px">
    <sil-notices></sil-notices>

    <h2 style="font-weight:normal">Semantic Domain Translation App Management</h2>
    <tabset ng-show="dtoLoaded">
        <tab heading="Export">
            <div ng-show="languages.length > 0">
                <p>Export the following semantic domain language lists in FLEx XML format</p>
                <button ng-click="doExport()" class="btn btn-primary">Export {{languages.length}} languages</button>
                <span style="font-weight: bold" ng-repeat="language in languages"><a ng-href="/app/semdomtrans/{{language.id}}">{{language.name}}</a>  </span>
            </div>
            <div ng-hide="languages.length > 0">
                No Semantic Domain Translations Exist
            </div>
        </tab>
    </tabset>
</div>
</div>
{% endverbatim %}
