<div fxLayout="column">
  <mat-card class="card">
    <mat-card-title class="title">Reset Password</mat-card-title>
    <mat-card-content fxLayout="column">
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="submit()"
        fxLayout="column"
        id="resetPasswordForm"
        autocomplete="off"
      >
        <mat-form-field>
          <input matInput placeholder="New Password" type="password" id="newPassword" formControlName="newPassword" />
          <mat-error *ngIf="formControls.newPassword.errors?.minlength"
            >Password must be at least 7 characters
          </mat-error>
          <mat-error *ngIf="formControls.newPassword.errors?.required && isSubmitted">Password is required </mat-error>
        </mat-form-field>
        <password-strength-meter
          [password]="resetPasswordForm.value.newPassword"
          id="resetPasswordStrengthMeter"
        ></password-strength-meter>
        <mat-form-field>
          <input
            matInput
            placeholder="Confirm Password"
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-error *ngIf="formControls.confirmPassword.errors?.required && isSubmitted"
            >Confirm Password is required</mat-error
          >
        </mat-form-field>
        <mat-error id="passwordNotMatch" *ngIf="!doPasswordsMatch && isSubmitted"> Passwords do not match </mat-error>
        <button
          mat-raised-button
          class="submit-button"
          id="btnResetPassword"
          color="primary"
          type="submit"
          [disabled]="resetPasswordDisabled"
        >
          Reset Password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
