.card {
  max-width: 400px;
  width: 100%;
  align-self: center;
}

.title {
  text-align: center;
}

.submit-button {
  width: 120px;
  height: 40px;
  align-self: center;
}

.signin-paratext-button {
  width: 185px;
  height: 40px;
  align-self: center;
  background-color: #648047;
  color: white;
  padding: 0%;
  margin-bottom: 16px;
}

.paratext-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
