<div class="container">
  <h2>Log in to {{ siteName }}</h2>
  <mdc-card outlined class="card">
    <div class="button-container">
      <button mdc-button class="log-in-paratext-button" (click)="logInWithParatext()">
        <img src="/assets/paratext_logo.png" alt="Paratext Logo" class="paratext-logo" /> Log in with Paratext
      </button>
    </div>
    <div class="mdc-list-divider divider"><span>OR</span></div>
    <form class="flex-column" [formGroup]="logInForm" (ngSubmit)="submit()">
      <mdc-form-field>
        <mdc-text-field outlined label="Email or Username" formControlName="user" autofocus></mdc-text-field>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-text-field outlined type="password" label="Password" formControlName="password"></mdc-text-field>
      </mdc-form-field>
      <div class="forgot-password-button-container">
        <button mdc-button dense routerLink="/identity/forgot-password">Forgot Password?</button>
      </div>
      <div class="button-container">
        <button mdc-button primary class="submit-button" type="submit" [disabled]="logInDisabled">Log in</button>
      </div>
      <mdc-form-field *ngIf="false">
        <mdc-checkbox formControlName="rememberLogIn"></mdc-checkbox>
        <label>Remember me</label>
      </mdc-form-field>
    </form>
  </mdc-card>
</div>
