.container {
  width: 100%;
  display: block;
}

.form-label {
  padding-top: 29px;
}

.button {
  width: 150px;
  height: 40px;
  align-self: center;
}

.right-layout {
  margin-top: 150px;
}

.icon-button {
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
}

.grid-update-field {
  color: blue;
  text-decoration: underline;
}

.mat-form-field {
  font-weight: 400;
  line-height: 1.125;
  width: 400px;
}
