@using SIL.XForge.Identity.Controllers.Account
@model ForgotPasswordViewModel

<div align="center" class="forgot-password-content">
    <div>
        <div>
            <h1>Forgot Password</h1>
            <p>Please enter your <b>email or username</b> and we will send you an email to reset your password.</p>
            @if (Model.EnableErrorMessage)
            {
            <div class="alert-error">
                <div > User not found. </div>
            </div>
            }
        </div>

        <form asp-action="ForgotPassword" accept-charset="utf-8" id="forgot-password-form" name="forgotPasswordForm">
            <fieldset>
                <div>
                    <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="EmailOrUsername" autofocus>
                        <label class="mdl-textfield__label">Email or username</label>
                    </span>
                    <button class="mdl-button mdl-js-button mdl-button--raised">
                        Submit
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
