@using SIL.XForge.Identity.Controllers.Account
@model ForgotPasswordViewModel

<div class="forgot-password-page" class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="page-header" align="center">
            <h1 style="margin-top:75px;">Forgot Password</h1>
            <p style="margin-top:25px; font-size:15px;">Please enter your <b>Username or Email</b> and we will send you an email to reset your password.</p><hr>

            @if (Model.EnableErrorMessage)
            {
            <div uib-alert="" class="alert-danger ng-isolate-scope alert" role="alert">
                <div > User not found. </div>
            </div>
            }

            </div>

            <form asp-action="ForgotPassword" accept-charset="utf-8" id="forgot-password-form" name="forgotPasswordForm" class="ng-pristine ng-valid">
                <fieldset>
                    <label >Username/Email</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Username or Password" asp-for="UsernameOrEmail" autofocus>
                        <span class="input-group-btn">
                        <button class="btn btn-primary" id="forgot-password-submit-btn" name="submit" value="forgot-password">Submit</button>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
