@using SIL.XForge.Identity.Controllers.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="register-page">
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create an account</h3>
                </div>
                <div class="panel-body">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" autocomplete="off">
                        @Html.Partial("_ValidationSummary")
                        <fieldset>
                        <div class="form-group">
                                <label asp-for="Fullname" ></label>
                                <input asp-for="Fullname" class="form-control" autofocus/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" ></label>
                                <input asp-for="Password" class="form-control" />
                                <div id="StrengthProgressBar" class="progress-bar"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" ></label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-size="normal" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default" onclick="Enablecontrols();">Register</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <span style="color: green;">@ViewBag.StatusMessage</span>
                            </div>
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
    </div>
</div>
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/lib/zxcvbn/zxcvbn.js"></script>
    <script src="/lib/zxcvbn/passwordstrengthmeter.js"></script>

<script>
    $(document).ready(function () {
		$("#StrengthProgressBar").zxcvbnProgressBar({ passwordInput: "#Password" });
	});
</script>
}
