@using SIL.XForge.Identity.Controllers.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="mdl-layout-spacer"></div>
<div class="mdl-cell mdl-cell--4-col">
    <h3 class="mdl-color-text--primary-dark">Register</h3>
    <h4 class="mdl-form_title">Create an account</h4>
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
        <fieldset>
            <div class="validationsummary">
                @Html.Partial("_ValidationSummary")
            </div>
            <div class="mdl-form_content register-form">
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input asp-for="Fullname" id="name" placeholder="Full Name" class="mdl-textfield__input" autofocus required="username"/>
                    <label asp-for="Fullname" for="name" class="mdl-textfield__label" ></label>
                </span>
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label asp-for="Password" for="Password" class="mdl-textfield__label" ></label>
                    <input asp-for="Password" id="Password" placeholder="Password" class="mdl-textfield__input" required="password" />
                    <div id="StrengthProgressBar" class="progress-bar"></div>
                </span>
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label asp-for="Email" for="email" class="mdl-textfield__label" ></label>
                    <input asp-for="Email" id="email" placeholder="Email Address" class="mdl-textfield__input" required="" />

                </span>
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <div class="g-recaptcha" data-size="normal" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                </span>
                <div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Register</button>
                </div>
                <div class="mdl-textfield">
                    <span style="color: green;">@ViewBag.StatusMessage</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="mdl-layout-spacer"></div>
@section Scripts {
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/lib/zxcvbn/zxcvbn.js"></script>
    <script src="/lib/zxcvbn/passwordstrengthmeter.js"></script>

    <script>
        $(document).ready(function () {
            $("#StrengthProgressBar").zxcvbnProgressBar({ passwordInput: "#Password" });
        });
    </script>
}
