@using SIL.XForge.Identity.Controllers.Account
@model ResetPasswordViewModel

<div align="center" class="reset-password-content">
    <h1>Reset Password</h1>

    @Html.Partial("_ValidationSummary")
    <form asp-action="ResetPassword" method="post">
        <fieldset>
            <div class="form-group password">
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label"> Password</label>
                    <input class="mdl-textfield__input"  asp-for="Password" autofocus>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group password">
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label">Confirm Password</label>
                    <input class="mdl-textfield__input"  asp-for="ConfirmPassword" autofocus>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised"  id="btnResetPassword" name="btnResetPassword" >Reset Password</button>
        </fieldset>
    </form>
</div>

