@using SIL.XForge.Identity.Controllers.Account
@model ResetPasswordViewModel

<div class="mdl-layout-spacer"></div>
<div class="mdl-cell mdl-cell--4-col">
    <h3 class="mdl-color-text--primary-dark">Reset Password</h3>

    @Html.Partial("_ValidationSummary")
    <form asp-action="ResetPassword" method="post">
        <fieldset>
            <div class="form-group password">
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label"> Password</label>
                    <input class="mdl-textfield__input"  asp-for="Password" autofocus>
                    <div id="StrengthProgressBar" class="mdl-progress mdl-js-progress"></div>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group password">
                <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label">Confirm Password</label>
                    <input class="mdl-textfield__input"  asp-for="ConfirmPassword" autofocus>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised"  id="btnResetPassword" name="btnResetPassword" >Reset Password</button>
        </fieldset>
    </form>
</div>
<div class="mdl-layout-spacer"></div>

@section Scripts {
    <script src="/lib/zxcvbn/zxcvbn.js"></script>
    <!-- This library function uses jquery. When we refactor the Identity project as an angular app the jquery usage will not be needed -->
    <script src="/lib/zxcvbn/passwordstrengthmeter.js"></script>
    <script>
        $(document).ready(function () {
            $("#StrengthProgressBar").zxcvbnProgressBar({ passwordInput: "#Password" });
        });
    </script>
}
