@using SIL.XForge.Identity.Controllers.Account
@model ResetPasswordViewModel

<div class="col-sm-12 row justify-content-center">
  <div class="page-header">
        <h1>Reset Password</h1>
  </div>
  @Html.Partial("_ValidationSummary")
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
          <form asp-action="ResetPassword" method="post" >
            <fieldset>
              <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control input-group" />
                <input type="hidden" asp-for="Username" />
              </div>
              <div class="form-group">
                <label asp-for="ConfirmPassword" ></label>
                <input asp-for="ConfirmPassword" class="form-control input-group" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary"  id="btnResetPassword" name="btnResetPassword" >Reset Password</button>
              </div>
            </fieldset>
          </form>
          </div>
        </div>
      </div>
    </div>
</div>
