@using SIL.XForge.Identity.Controllers.Account

<div class="forgot-password-page" class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="page-header" align="center">
            <h1 style="margin-top:75px;">Reset Password</h1>
            </div>
        </div>
    </div>
</div>
