<div class="Verify-page">
    <div class="page-header">
        <h1>Account Verification</h1>
    </div>
    <div class="panel-heading">
        <h2 class="panel-title">Email address is verified. Thank you.</h2>
    </div>
</div>
