[Unit]
Description=Language Forge Web API (%I)

[Service]
ExecStartPre=-/bin/rm -f ${SOCKETFILE}
ExecStart=/bin/sh -c "exec /var/www/languageforge.org_%i/api2/SIL.XForge.WebApi.Server --urls http://unix:${SOCKETFILE}"
WorkingDirectory=/var/www/languageforge.org_%i/api2
Restart=always
RestartSec=10
SyslogIdentifier=languageforge-web-api_%i
User=www-data
Environment=SOCKETFILE=/tmp/languageforge-web-api_%i.sock

[Install]
WantedBy=multi-user.target
