# see https://www.axllent.org/docs/view/nodejs-service-with-systemd/
# IJH 2017-02

[Unit]
Description=Node.js CAT Real-time Doc Server

[Service]
ExecStart=/usr/local/bin/node /var/www/scriptureforge.org_qa/htdocs/node/server.js
WorkingDirectory=/var/www/scriptureforge.org_qa/htdocs/node
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-rt-doc
User=root
Group=www-data
Environment=NODE_ENV=production PORT=8443

[Install]
WantedBy=multi-user.target
