[Unit]
Description=Scripture Forge ShareDB Server (%I)

[Service]
ExecStart=/usr/local/bin/node /var/www/scriptureforge.org_%i/htdocs/node/server.js
WorkingDirectory=/var/www/scriptureforge.org_%i/htdocs/node
Restart=always
RestartSec=10
SyslogIdentifier=scriptureforge-sharedb_%i
User=root
Group=www-data
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
