[Unit]
Description=Scripture Forge Web API

[Service]
ExecStartPre=-/bin/rm -f ${SOCKETFILE}
ExecStart=/var/www/scriptureforge.org/api2/SIL.XForge.WebApi.Server --urls http://unix:${SOCKETFILE}
WorkingDirectory=/var/www/scriptureforge.org/api2
Restart=always
RestartSec=10
SyslogIdentifier=scriptureforge-web-api
User=www-data
Environment=SOCKETFILE=/tmp/scriptureforge-web-api.sock

[Install]
WantedBy=multi-user.target
