/**
 * Scripture Forge
 *
 * Version      Version 1.0
 * Date            15th September 2012
 * File Info    Homepage template CSS sheet
 */

/* Reset */
body, html, div, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, a, input, th, td {  
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none; 
}  
  
body {  
    line-height: 1;  
    font-size: 87.5%;
    font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
    color: #404040;
}  
  
h1, h2, h3, h4, h5, h6 {  
    font-size: 100%; 
}  
  
ul, ol {  
    list-style: none;  
}
  
a {  
    color: #04abe1;  
    text-decoration: none;  
    font-weight: bold;
}

a.arrowed {
    background: url(../images/sf_sprite.png) no-repeat top right;
    *background: url(../images/sf_sprite.gif) no-repeat top right;
    padding-right: 12px;
}
  
a:hover {  
    text-decoration: underline;  
}
  
.left {  
    float: left;   
}  
  
.right {  
    float: right;   
} 

.debug {
    border: 1px dashed #f95a79;
}


/* Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }


/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.28em;
    letter-spacing: -0.024em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.73em;
    letter-spacing: -0.03em;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1.35em;
    letter-spacing: -0.015em;
    margin-bottom: 0.6em;
}

h4 {
    font-size: 1.15em;
    margin-bottom: 0.6em;
}

h5 {
    font-size: 0.95em;
    margin-bottom: 0.6em;
}

h6 {
    font-size: 0.71em;
    margin-bottom: 0.6em;
}

p {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 1.1em;
}

p.small {
    font-size: 0.8em; 
}


/* Layout */
div#header {
    position: relative;
    width: 100%;
    height: 42px;
    background: #fff url(../images/sf_header-bar-bkg.png) repeat-x 0 0;
    color: #fff;
    z-index: 10; /* IE6-7 hack for logo */
}

div#header, div#header a {
    color: #eeeff0;
}

div#header-nav {
    position: relative;
    width: auto;
    height: 39px;
    padding-left: 130px;
    border-right: 1px solid #434242;
}

div#account{
    padding-top: 7px;
    font-size: 0.85em; 
    line-height: 24px;
}

div.container {
    position: relative;
    width: 960px;
    height: auto;
    margin: 0 auto;
}

div.sf-logo-large {
    position: absolute;
    width: 96px;
    height: 165px;
    top: 7px;
    left: 6px;
    z-index: 10;
}

div.sf-logo-medium {
    position: absolute;
    width: 96px;
    height: 122px;
    top: -38px;
    left: -4px;
    z-index: 10;
}

div.darkTextLogo {
    width: 166px;
    height: 14px;
    background: transparent url(../images/sf_sprite.png) no-repeat 0 -22px;
}

div#promotion {
    position: relative;
    width: 958px;
    height: 450px;
    margin-top: 37px;
    margin-bottom: 48px;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #f4f4f6 url(../images/promotion-hl.png) no-repeat 0 0;
    *background-image: none;
}

div#promotionCutout {
    position: absolute;
    display: block;
    *display: none; /* IE6-7 hack */
    width: 47px;
    height: 21px;
    bottom: -1px;
    right: -1px;
    background: transparent url(../images/sf_sprite.png) no-repeat -24px 0;
    z-index: 2;
}

div#promotion-ribbon {
    position: absolute;
    width: 99px;
    height: 102px;
    top: -6px;
    right: -6px;
    background: transparent url(../images/sf_sprite.png) no-repeat right -36px;
    z-index: 10;
}

div.sub-promotion {
    position: relative;
    width: 940px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #f4f4f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

div.sub-promotion img {
    padding-right: 20px;
}

div#footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 40px 0 40px 0;
    background-color: #3a3a3a;
    background: #3a3a3a url(../images/sf_sprite.png) no-repeat center -139px;
    color: #fff;
}

div#footer, div#footer a {
    color: #f4f4f6;
}

div#footerBaseline {
    position: relative;
    width: 100%;
    height: 26px;
    padding-top: 14px;
    background-color: #202020;
}

div.footer-nav {
    margin-left: 60px;
}

div.three-col {
    position: relative;
    width: 320px;
    height: auto;
    float: left;
}

div.three-col-1, div.three-col-2 {
    padding-right: 10px;
}

div.three-col-2, div.three-col-3 {
    padding-left: 10px;
}

hr {
    width: auto;
    height: 1px;
    background-color: #dcdcdc;
    border: 0;
    margin: 20px 0;
}

/* Form Elements */
input, textarea {
    width: auto;
    height: auto;
    font-size: 0.9em;
    font-weight: normal;
    border: 1px solid #c9c9c9;
    padding: .6em .7em;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

input:focus, textarea:focus {
    border: 1px solid #b7b6b6;
    -moz-box-shadow: 0px 1px 4px #ddd;
    -webkit-box-shadow: 0px 1px 4px #ddd;
    box-shadow: 0px 1px 4px #ddd;
}

input::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 12px;
    padding-top: 1px;
    color: #bcbcbc;
}

input.error, textarea.error {
    border: 1px solid #e5999c;
    background-color: #fff8f8;
    -moz-box-shadow: 0px 1px 4px #ddd;
    -webkit-box-shadow: 0px 1px 4px #ddd;
    box-shadow: 0px 1px 4px #ddd;
}

.error-msg {
    color: #c9262d;
}

.btn {
    width: auto;
    height: auto;
    font-size: 0.9em;
    font-weight: normal;
    padding: .6em 1.4em;
    cursor: pointer;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.standard-btn {
    width: auto;
    height: auto;
    text-shadow: #fff 0 1px 2px;
    border: 1px solid #c4c4c5;
    background: #fdfdff;
    background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
    background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
    -webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
    -moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
    box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
}

.standard-btn-big {
    color: #04abe1;
    font-size: 1.3em;
    margin: 15px 0;
}

.standard-btn:hover {
    border: 1px solid #a4a4a5;
    -webkit-box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
    -moz-box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
    box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
}

.darker-btn {
    width: auto;
    height: auto;
    color: #eee;
    border: 1px solid #1a1a1a;
    background: #606060;
    background: -moz-linear-gradient(top,  #606060 0%, #3b3b3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#3b3b3b));
    background: -webkit-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
    background: -o-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
    background: -ms-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
    background: linear-gradient(to bottom,  #606060 0%,#3b3b3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#3b3b3b',GradientType=0 );
    -webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
    -moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
    box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
}

.darker-btn:hover {
    color: #fff;
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
    -moz-box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
    box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
}

.blue-btn {
    width: auto;
    height: auto;
    color: #fff;
    border: 1px solid #0481aa;
    background: #1bc5fc;
    background: -moz-linear-gradient(top,  #1bc5fc 0%, #049dcf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc5fc), color-stop(100%,#049dcf));
    background: -webkit-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: -o-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: -ms-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: linear-gradient(to bottom,  #1bc5fc 0%,#049dcf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc5fc', endColorstr='#049dcf',GradientType=0 );
    -webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
    -moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
    box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
}

.blue-btn:hover {
    border: 1px solid #03607e;
    -webkit-box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
    -moz-box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
    box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
}

.login-btn {
    width: auto;
    height: auto;
    padding: 0.3em 1.2em 0.4em 1.2em;
    color: #eee;
    font-size: 1.0em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #191919;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
    -moz-box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
    box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
    background: #555454; /* Old browsers */
    background: -moz-linear-gradient(top, #555454 0%, #070707 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555454), color-stop(100%,#070707));
    background: -webkit-linear-gradient(top, #555454 0%,#070707 100%);
    background: -o-linear-gradient(top, #555454 0%,#070707 100%);
    background: -ms-linear-gradient(top, #555454 0%,#070707 100%);
    background: linear-gradient(to bottom, #555454 0%,#070707 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555454', endColorstr='#070707',GradientType=0 );
}

.login-btn:hover {
    color: #fff;
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
    -moz-box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
    box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
}

/* Tables */
table {
    width: auto;
    text-align: left;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #c9c9cb;
    vertical-align: middle;
    padding: 0.7em 1.2em;
}

table th {
    background-color: #404040;
    color: #f4f4f6;
    font-size: 0.9em;
}

table td {
    font-size: 0.85em;
}

table tbody tr.altrow {
    background-color: #f9f9fa;
}

table tbody tr:hover, table tbody tr.altrow:hover {
    background-color: #e1f8ff;
}

/* Tabs */
.tab {
    position: relative;
    width: 158px;
    margin-right: 2px;
    float: left;
    font-size: 0.9em;
    text-align: center;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.tab-off {
    height: 29px;
    line-height: 29px;
    text-shadow: #fff 0 1px 2px;
    cursor: pointer;
    border: 1px solid #c4c4c5;
    background: #fdfdff;
    background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
    background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
}

.tab-off:hover {
    border: 1px solid #a4a4a5;
}

.tab-on {
    height: 35px;
    line-height: 35px;
    margin-top: -6px;
    color: #fff;
    border: 1px solid #0481aa;
    background: #1bc5fc;
    background: -moz-linear-gradient(top,  #1bc5fc 0%, #049dcf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc5fc), color-stop(100%,#049dcf));
    background: -webkit-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: -o-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: -ms-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
    background: linear-gradient(to bottom,  #1bc5fc 0%,#049dcf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc5fc', endColorstr='#049dcf',GradientType=0 );
}

/* Notifications */
.notification {
    position: relative;
    margin: 0 0 10px;
    padding: 7px 10px 7px 35px;
    line-height: 15px;
    font-size: 0.9em;
}

.errorMessage {
    background: url(../images/exclamation.png) no-repeat scroll 8px 7px #ffeeee;
    border: 1px solid #e47b7b;
}

.warningMessage {
    background: url(../images/error.png) no-repeat scroll 8px 7px #FFFDF1;
    border: 1px solid #FFE578;
}

.acceptedMessage {
    background: url(../images/tick.png) no-repeat scroll 8px 7px #f4fff2;
    border: 1px solid #81ca76;
}

.informationMessage {
    background: url(../images/information.png) no-repeat scroll 8px 7px #F4FAFF;
    border: 1px solid #AECEEF;
}

/* Container Windows */
div.application {
    width: auto;
    height: auto;
    border: 1px solid #c4c4c5;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

div.applicationTitle {
    width: auto;
    height: 16px;
    padding: .5em .7em .3em .7em;
    font-size: 0.9em;
    text-shadow: #fff 0 1px 2px;
    border-bottom: 1px solid #c4c4c5;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #fdfdff;
    background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
    background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
    background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
}

p.applicationContent {
    padding: .7em;
}