/*
    Slideshow
*/

#slides {
    position:absolute;
    top: 5px;
    left:4px;
}

/*
    Slides container
    Important:
    Set the width of your slides container
    Set to display none, prevents content flash
*/

.slides_container {
    width: 950px;
    overflow:hidden;
    position:relative;
    display:none;
    z-index: 1;
}

/*
    Each slide
    Important:
    Set the width of your slides
    If height not specified height will be set by the slide content
    Set to display block
*/

.slides_container a, .slides_container div {
    width: 950px;
    height: 440px;
    display:block;
}

.slides_container img { /* Workaround for IE image loading with black edges */
    visibility: hidden;
}

.slides_container h2, .slides_container p {
    width: 500px;
}

.slides_content img {
    margin-left: 50px;
    margin-right: 50px;
}

/*
    Next/prev buttons
*/

#slides .next,#slides .prev {
    position:absolute;
    top:107px;
    left:-39px;
    width:24px;
    height:43px;
    display:none;
}

#slides .next {
    left:585px;
}

/*
    Pagination
*/

.pagination {
    position: absolute;
    display: block;
    width:50px;
    bottom: -2px;
    *bottom: -21px; /* IE6-7 hack */
    right: -13px;
    z-index: 5;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display: block;
    width: 10px;
    height: 0;
    padding-top: 10px;
    margin-right: 3px;
    _margin-right: 1px;
    background-image:url(../images/sf_sprite.png);
    _background-image:url(../images/sf_sprite.gif);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a {
    background-position: -12px 0;
}