.ql-suggestions {
  margin: 0 6px;
}

.swap-button-container {
  margin: 0px 3px;
}

.text-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.text-title {
  height: 48px;
  line-height: 48px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
}

app-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.suggestions-menu {
  width: 400px;
  padding: 15px;
}

.slider-labels {
  margin-top: 15px;
}
