@import '~src/global';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 5px 10px;

  .mdc-icon-button {
    @include mdc-icon-button-size(24px, 24px, 8px);
  }
}

.toolbar-separator {
  border-left: 1px solid #e0e0e0;
  margin: 0px 4px;
  height: 36px;
  width: 0;
}

.mdc-icon-button.mdc-icon-button--activated::before {
  transition-duration: 12ms;
  opacity: mdc-states-opacity(black, activated);
}

.ql-suggestions {
  margin: 0 6px;
}

.text-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
}

app-text {
  height: 100%;
}

.suggestions-menu {
  width: 400px;
  padding: 15px;
}

.slider-labels {
  margin-top: 15px;
}

.training-progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 10px;
  border-radius: 4px;
  width: 270px;
  background-color: white;
  overflow: hidden;

  > .training-title {
    padding: 2px 2px 2px 10px;
    > div {
      color: white;
    }
    > button {
      @include mdc-icon-button-ink-color(white);
      @include mdc-icon-button-size(24px, 24px, 8px);
    }
    background-color: $mdc-theme-primary;
  }

  > .training-content {
    padding: 10px;
    height: 44px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
