:host {
  background-color: #dedede;
  color: #373a3c;
  padding: 5px;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 2px;
}

:host(.hidden) {
  display: none;
}

:host(.flip) {
  transform: translateY(-10px);
}

.loading-indicator {
  display: table;
  padding: 3px 2px 4px 2px;

  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.ql-suggest a:hover {
  color: #06c;
  text-decoration: underline;
}

.ql-suggest a {
  color: #06c;
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
}

.ql-suggest ul {
  margin-bottom: 0.3rem;
}

.text-muted {
  opacity: 0.5;
}

.help-icon {
  height: 14px;
  > mdc-icon {
    font-size: inherit;
  }
}
