<div fxLayout="column" class="base-container">
  <h2 id="title">Synchronize {{ project?.projectName }} with Paratext</h2>
  <mdc-card outlined class="sync-card">
    <div fxLayout="column" class="card-content">
      <button
        *ngIf="!isLoggedIntoParatext && !isLoading"
        class="action-button"
        mdc-button
        (click)="logInWithParatext()"
        id="btn-log-in"
      >
        <img src="/assets/paratext_logo.png" alt="Paratext Logo" class="paratext-logo" /> Log in to Paratext
      </button>
      <ng-container *ngIf="isLoggedIntoParatext || isLoading">
        <button
          *ngIf="!syncJobActive"
          class="action-button"
          mdc-button
          primary
          (click)="syncProject()"
          [disabled]="isLoading"
          id="btn-sync"
        >
          <mdc-icon>sync</mdc-icon>
          Synchronize
        </button>
        <span *ngIf="syncJobActive" id="sync-message" class="sync-info">Your project is being synchronized...</span>
        <mdc-linear-progress
          *ngIf="syncJobActive"
          class="progress-bar"
          [secondary]="true"
          [determinate]="isProgressDeterminate"
          [progress]="percentComplete"
        ></mdc-linear-progress>
        <span
          *ngIf="isLoggedIntoParatext && !syncJobActive"
          [title]="lastSyncDate"
          id="date-last-sync"
          class="sync-info"
        >
          {{ lastSyncNotice }}
        </span>
      </ng-container>
    </div>
  </mdc-card>
</div>
