.sync-card {
  max-width: 600px;
  align-self: center;
}

h2 {
  align-self: center;
}

.card-content {
  padding: 15px;
  align-self: center;
}

.action-button {
  width: 300px;
  height: 40px;
  align-self: center;
  margin-bottom: 15px;
}

mdc-linear-progress {
  margin-bottom: 15px;
}

.sync-info {
  align-self: center;
}
