# https://caddyserver.com/docs/caddyfile
{
	#debug
	auto_https off
}


:80 {
	@next_app_paths {
		path /_app/*

		# ref for existing: /src/index.php
		path /app/changepassword
		path /password*
		path /projects*
		path /favicon.ico
	}
	route @next_app_paths {
		rewrite /app/changepassword /password/change
		reverse_proxy {$NEXT_APP}
	}

	reverse_proxy {$LEGACY_APP}

	@staging {
		host staging.languageforge.org
	}
	header @staging {
		X-Robots-Tag noindex
	}
}
