<h3 data-translate="Get project from LanguageDepot.org"></h3>

<div class="control-group">
    <label class="control-label" for="projectId" data-translate="Project ID"></label>
    <div class="controls">
        <input type="text" id="projectId" data-ng-model="srProject.projectId" required placeholder="project identifier"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        <span  data-ng-show="srProject.projectId.length > 0">
            <span  data-ng-show="srProject.projectIdStatus == 'loading'">
                <img id="projectIdLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="srProject.projectIdStatus == 'unknown'">
                <img id="projectIdUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                title="Project ID doesn't exist on LanguageDepot.org!" /></span>
            <span  data-ng-show="srProject.projectIdStatus == 'invalid'">
                <img id="projectIdAlphanumeric" class="validator" src="/Site/views/shared/image/exclamation.png"
                title="Project ID must begin with a letter, and only contain lower-case letters, numbers, dashes and underscores!" /></span>
            <span  data-ng-show="srProject.projectIdStatus == 'found'">
                <img id="projectIdOk" class="validator" src="/Site/views/shared/image/tick.png"
                title="Project ID found!" /></span>
        </span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="username" data-translate="Login"></label>
    <div class="controls">
        <input type="text" id="username" data-ng-model="srProject.username" required placeholder="username"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        <span  data-ng-show="srProject.username.length > 0">
            <span  data-ng-show="srProject.usernameStatus == 'loading'">
                <img id="usernameLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="srProject.usernameStatus == 'no_access'">
                <img id="usernameUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Login doesn't have access to the Project ID on LanguageDepot.org!" /></span>
            <span  data-ng-show="srProject.usernameStatus == 'access'">
                <img id="usernameOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Login can access Project ID" /></span>
        </span>
    </div>
</div>
<div class="control-group" data-ng-hide="showPassword">
    <label class="control-label" for="password" data-translate="Password"></label>
    <div class="controls">
        <input type="password" id="password" data-ng-model="srProject.password" required placeholder="password"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        <span  data-ng-show="srProject.password.length > 0">
            <span  data-ng-show="srProject.passwordStatus == 'loading'">
                <img id="passwordLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="srProject.passwordStatus == 'invalid'">
                <img id="passwordUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Login and Password isn't valid on LanguageDepot.org!" /></span>
            <span  data-ng-show="srProject.passwordStatus == 'valid'">
                <img id="passwordOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Password valid!" /></span>
        </span>
    </div>
</div>
<div class="control-group" data-ng-show="showPassword">
    <label class="control-label" for="visiblePassword" data-translate="Password"></label>
    <div class="controls">
        <input type="text" id="visiblePassword" data-ng-model="srProject.password" required placeholder="password"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        <span  data-ng-show="srProject.password.length > 0">
            <span  data-ng-show="srProject.passwordStatus == 'loading'">
                <img id="visiblePasswordLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="srProject.passwordStatus == 'invalid'">
                <img id="visiblePasswordUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Login and Password isn't valid on LanguageDepot.org!" /></span>
            <span  data-ng-show="srProject.passwordStatus == 'valid'">
                <img id="visiblePasswordOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Password valid!" /></span>
        </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="showPassword"/>
            {{'Show characters' | translate}}
        </label>
    </div>
</div>
<!--
<pre>
    srProject.projectIdStatus = {{srProject.projectIdStatus}}
    srProject.usernameStatus = {{srProject.usernameStatus}}
    srProject.passwordStatus = {{srProject.passwordStatus}}
    forwardBtnClass = {{forwardBtnClass}}
</pre>
 -->
