<h3 data-translate="Get project from LanguageDepot.org"></h3>

<div class="control-group">
    <label class="control-label" for="srUsername" data-translate="Login"></label>
    <div class="controls">
        <input type="text" id="srUsername" data-ng-model="sendReceive.username" required placeholder="username"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()" />
        <span  data-ng-show="sendReceive.username.length > 0">
            <span  data-ng-show="sendReceive.usernameStatus == 'loading'">
                <img id="usernameLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="sendReceive.usernameStatus == 'unknown'">
                <img id="usernameUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Login doesn't exist on LanguageDepot.org!" /></span>
            <span  data-ng-show="sendReceive.usernameStatus == 'known'">
                <img id="usernameOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Login exists!" /></span>
        </span>
    </div>
</div>
<div class="control-group" data-ng-hide="showPassword">
    <label class="control-label" for="srPassword" data-translate="Password"></label>
    <div class="controls">
        <input type="password" id="srPassword" data-ng-model="sendReceive.password" required placeholder="password"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()" />
        <span  data-ng-show="sendReceive.password.length > 0">
            <span  data-ng-show="sendReceive.passwordStatus == 'loading'">
                <img id="passwordLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="sendReceive.passwordStatus == 'invalid'">
                <img id="passwordUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Password isn't valid on LanguageDepot.org!" /></span>
            <span  data-ng-show="sendReceive.passwordStatus == 'valid'">
                <img id="passwordOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Password valid!" /></span>
        </span>
    </div>
</div>
<div class="control-group" data-ng-show="showPassword">
    <label class="control-label" for="srVisiblePassword" data-translate="Password"></label>
    <div class="controls">
        <input type="text" id="srVisiblePassword" data-ng-model="sendReceive.password" required placeholder="password"
            data-idle-validate="checkSRProject()" data-idle-validate-keypress="resetValidateProjectForm()" />
        <span  data-ng-show="sendReceive.password.length > 0">
            <span  data-ng-show="sendReceive.passwordStatus == 'loading'">
                <img id="visiblePasswordLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="sendReceive.passwordStatus == 'invalid'">
                <img id="visiblePasswordUnknown" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="The Password isn't valid on LanguageDepot.org!" /></span>
            <span  data-ng-show="sendReceive.passwordStatus == 'valid'">
                <img id="visiblePasswordOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Password valid!" /></span>
        </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="showPassword"/>
            {{'Show characters' | translate}}
        </label>
    </div>
</div>
<div class="control-group" data-ng-show="show.project()">
    <label class="control-label" for="srProject" data-translate="Project"></label>
    <div class="controls">
        <select class="form-control span5" id="srProject" required
                data-ng-model="sendReceive.project" data-ng-change="validateForm()"
                data-ng-options="project as projectOption(project) for project in sendReceive.projects">
            <option value="">-- select a project you manage --</option></select>
        <span  data-ng-show="sendReceive.project">
            <span  data-ng-show="sendReceive.projectStatus == 'no_access'">
                <img id="projectNoAccess" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="You are not the manager of this project on LanguageDepot.org!" /></span>
            <span  data-ng-show="sendReceive.projectStatus == 'ok'">
                <img id="projectOk" class="validator" src="/Site/views/shared/image/tick.png" /></span>
        </span>
    </div>
</div>
