<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="text-center">
                <h3 id="new-project-verify">Verify Data</h3>
                <p><span class="notranslate">{{newProject.entriesImported}}</span> entries were found in the initial data.</p>
                <div data-ng-hide="hasImportErrors()">There were no non-critical import errors</div>
                <div data-ng-show="hasImportErrors()">
                    <button class="btn btn-std" id="nonCriticalErrorsButton" data-ng-click="show.importErrors = !show.importErrors">
                        {{showImportErrorsButtonLabel()}}</button>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div uib-collapse="! show.importErrors">
            <div class="card bg-light text-left">
                <pre id="importErrors">{{newProject.importErrors}}</pre>
            </div>
        </div>
    </div>
</div>
