@import '~src/global';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  > header {
    mdc-top-app-bar-title {
      cursor: pointer;
    }

    mdc-top-app-bar-section {
      .mdc-list-item {
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          padding: 0;
          > span {
            display: none;
          }
        }
      }
      mdc-menu {
        min-width: 200px;
      }
    }
  }

  .app-container {
    flex: 1;

    .app-content {
      display: flex;
      flex-direction: column;
      padding: 20px;
      overflow-y: auto;
      flex: 1;
      @include media-breakpoint-only(xs) {
        padding: 3px;
      }
    }
  }

  > footer {
    background: $sf_footer;
    color: #fff;
    font-size: 0.8rem;
    .col {
      padding-top: ($grid-gutter-width / 2);
      padding-bottom: ($grid-gutter-width / 2);
      @include media-breakpoint-only(xs) {
        flex-direction: column;
        align-items: center;
      }
    }

    .partner-logos {
      img {
        &:first-child {
          margin-right: 15px;
        }
      }
      @include media-breakpoint-only(xs) {
        margin-bottom: 10px;
      }
    }

    .app-details {
      display: flex;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;

        li {
          margin-left: 15px;

          a {
            color: #fff;
            text-decoration: underline;

            &:hover {
              color: #fff;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
