<header>
  <mdc-top-app-bar [fixedAdjustElement]="appContainer">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start">
        <a (click)="navMenu.toggleDrawer()" *ngIf="(isLoggedIn | async) && !navMenu.isDrawerPermanent">
          <mdc-icon mdcTopAppBarNavIcon>menu</mdc-icon>
        </a>
        <a (click)="goHome()">
          <mdc-icon mdcTopAppBarNavIcon><img id="nav-logo" src="/assets/images/logo-sf.svg" height="30"/></mdc-icon>
        </a>
        <mdc-top-app-bar-title (click)="goHome()" fxHide.xs>Scripture Forge</mdc-top-app-bar-title>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end" *ngIf="(currentUser$ | async) as currentUser">
        <a mdc-list-item>
          <mdc-icon mdcTopAppBarActionItem>notifications</mdc-icon>
          <span matLine>Notifications</span>
        </a>
        <a mdc-list-item>
          <mdc-icon mdcTopAppBarActionItem>help</mdc-icon>
          <span matLine>Help</span>
        </a>
        <div mdcMenuSurfaceAnchor #userMenuAnchor>
          <a mdc-list-item (click)="userMenu.open = !userMenu.open">
            <mdc-icon mdcTopAppBarActionItem>
              <app-avatar [user]="currentUser" size="32" [round]="true"></app-avatar>
            </mdc-icon>
          </a>
          <mdc-menu #userMenu [anchorCorner]="'bottomStart'" [anchorElement]="userMenuAnchor">
            <mdc-list-group>
              <div class="mdc-list-group__subheader">
                Logged in as
                <div>
                  <strong>{{ currentUser.name }}</strong>
                </div>
              </div>
              <mdc-list-divider></mdc-list-divider>
              <mdc-list>
                <mdc-list-item *ngIf="currentUser.isSystemAdmin" routerLink="/system-administration">
                  System Administration
                </mdc-list-item>
                <mdc-list-item routerLink="/my-account">My Account</mdc-list-item>
                <mdc-list-item (click)="logOut()">Log out</mdc-list-item>
              </mdc-list>
            </mdc-list-group>
          </mdc-menu>
        </div>
      </mdc-top-app-bar-section>
      <!-- isLoggedIn is intentionally strict equality with false so in its unresolved state this is not rendered -->
      <mdc-top-app-bar-section align="end" *ngIf="(isLoggedIn | async) === false">
        <a mdc-list-item routerLink="/identity/sign-up">
          <mdc-icon mdcTopAppBarActionItem>person_add</mdc-icon>
          <span matLine>Sign up</span>
        </a>
        <a mdc-list-item routerLink="/identity/log-in">
          <mdc-icon mdcTopAppBarActionItem>lock</mdc-icon>
          <span matLine>Log in</span>
        </a>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
</header>
<div class="app-container" fxLayout="row" #appContainer>
  <app-nav-menu #navMenu></app-nav-menu>
  <div class="app-content"><router-outlet></router-outlet></div>
</div>
<footer class="container-fluid" *ngIf="!(isLoggedIn | async)">
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <div class="partner-logos" fxHide.xs>
        <a href="https://inter.payap.ac.th/">
          <img src="/assets/images/logo-payap.svg" alt="Payap University Logo" height="30" />
        </a>
        <a href="http://www.sil.org">
          <img src="/assets/images/logo-sil.svg" alt="SIL International Logo" height="30" />
        </a>
      </div>
      <div class="app-details">
        <span class="app-version">v {{ version }} © {{ today | date: "yyyy" }}</span>
        <ul>
          <li><a href="http://www.sil.org">SIL International</a></li>
          <li><a href="/terms_and_conditions">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
