# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude locally vendored dependencies.
src/vendor/

# Exclude "build-time" ignore files.
.dockerignore

# Exclude git history and configuration.
.gitignore
.git
