*~
.settings
.externalToolBuilders
/output
/node_modules/
src/vendor/*
src/vendor/*/
!src/vendor/lift/
src/cache/
src/bower_components/
src/assets/
.idea/*
test/app/node_modules/protractor/selenium/
test/app/node_modules/.bin/
