# Template from https://help.github.com/articles/dealing-with-line-endings

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have LF line endings on checkout.
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.php text eol=lf
*.cs text eol=lf
*.sh text eol=lf
protractor text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.7z binary
*.gz binary
