*~
*.swp
.settings
.externalToolBuilders
.idea/
.vagrant/
PhpUnitTests.xml
phpUnitConsole.txt
node_modules/
deploy/ansible.cfg
deploy/**/*.retry
deploy/site_files/
deploy/site_info/
deploy/callback_plugins/*.pyc
vagrant_ansible_inventory_*
docs/semdom/*.xml
docs/semdom/semdom lists/*.xml
**/.bundle/
src/vendor/
!src/vendor/lift/
src/vendor_bower/
src/cache/
!src/cache/index.html
!src/cache/.htaccess
src/assets/
!src/assets/index.hmtl
src/js/lib/languageforge.min.js
src/js/lib/scriptureforge.min.js
src/angular-app/**/helps/**/page/*.html
test/CodeCoverage/php/
