<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="build.palaso.org" value="http://build.palaso.org/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="machine" value="https://ci.appveyor.com/nuget/sil-machine" />
    <add key="thot" value="https://ci.appveyor.com/nuget/sil-thot" />
  </packageSources>
</configuration>
