<div data-ng-cloak>
    <table class="table table-hover table-bordered" >
        <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th> Approve/Reject </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="request in $ctrl.joinRequests">
            <td>{{request.user.username}}</td>
            <td>{{request.user.name}}</td>
            <td><select data-ng-model="request.role.role" data-ng-disabled="!$ctrl.rights.changeRole" class="custom-select"
                        data-ng-options="roleKey as roleName for (roleKey, roleName) in $ctrl.roles"></select>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="$ctrl.acceptJoinRequest(request.user.id, request.role.role)" > Accept </button>
                <button class="btn btn-danger"  ng-click="$ctrl.denyJoinRequest(request.user.id)" > Reject </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
