<div id="userManagementMembers" data-ng-cloak>
    <form class="form-inline" data-ng-show="$ctrl.rights.showControlBar">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <button id="remove-members-button" class="btn btn-primary" data-ng-disabled="$ctrl.selected.length == 0" data-ng-show="$ctrl.rights.remove"
                        data-ng-click="$ctrl.removeProjectUsers()"><i class="fa fa-trash iconPadding"></i>Remove Members</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" data-ng-show="$ctrl.rights.add" id="addMembersButton"
                        data-ng-click="newUserCollapsed = !newUserCollapsed"><i class="fa fa-plus iconPadding"></i>Add Members</button>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" data-ng-model="$ctrl.userFilter" placeholder="Member List Filter">
                <a class="clear-search-button" data-ng-show="$ctrl.userFilter != ''" title="Clear Filter" data-ng-click="$ctrl.userFilter = ''"><i class="fa fa-times" style="color:gray"></i></a>
            </div>
        </div>
    </form>
    <div id="newMembersDiv" class=" new-item" uib-collapse="!newUserCollapsed">
        <form class="form-inline">
        <div class="form-control row gutter-fix">
            <pui-typeahead id="typeaheadDiv" class="typeahead" items="$ctrl.users" term="$ctrl.typeahead.userName" search="$ctrl.queryUser" select="$ctrl.selectUser">
                <ul>
                    <li typeahead-item="user" data-ng-repeat="user in $ctrl.users" class="typeahead-item">
                        <img width="32px" data-ng-src="{{$ctrl.imageSource(user.avatarRef)}}" class="left">
                        <span class="name">{{user.name}}</span>
                    </li>
                </ul>
            </pui-typeahead>
            <button data-ng-model="$ctrl.addMode" id="addUserButton" class="btn btn-primary"
                    data-ng-disabled="disableAddButton" data-ng-click="$ctrl.addProjectUser()">
                <i class="iconPadding" data-ng-class="$ctrl.addModeIcon($ctrl.addMode)"></i>{{$ctrl.addModeText($ctrl.addMode)}}</button>
            <span class="warning" data-ng-show="$ctrl.warningText">{{$ctrl.warningText}}</span>
        </div>
        </form>
    </div>
    <listview search="$ctrl.queryUserList()" items="$ctrl.list.allUsers" items-filter="$ctrl.userFilter" visible-items="$ctrl.list.visibleUsers" select="">
        <table class="table table-hover table-responsive" >
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in $ctrl.list.visibleUsers" data-ng-class="{active: $ctrl.isSelected(user)}" >
                <td width="16px" align="center">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input data-ng-show="$ctrl.rights.remove" type="checkbox" data-ng-checked="$ctrl.isSelected(user)"
                           data-ng-click="$ctrl.updateSelection($event, user)">
                </td>
                <td ng-if="!user.isInvitee">{{user.username}}</td>
                <td ng-if="user.isInvitee" class="invited-user">{{user.username || user.email}} [invited]</td>
                <td>{{user.name}}</td>
                <td>
                    <!-- suppress HtmlFormInputWithoutLabel -->
                    <select id="default-role-select" class="form-control custom-select col-12" data-ng-model="user.role" data-ng-disabled="$ctrl.isRoleSelectDisabled(user)"
                            data-ng-change="$ctrl.onRoleChange(user)" data-ng-options="role.roleKey as role.roleName for role in $ctrl.getRoles(user)"></select>
                </td>
            </tr>
            </tbody>
        </table>
    </listview>
</div>

