{% verbatim %}
<div class="content container" ng-cloak>
    <div id="sfchecks-hmenu" class="hdrnav">
        <ul class="topNav">
            <li class="here"><a href="/app/projects">My Projects</a></li>
            <li><a href="/app/activity">Activity</a></li>
        </ul>
    </div>
    <div style="padding-top:10px" ng-controller="MainCtrl">
    <sil-notices></sil-notices>
    
    <div style="margin-top:30px">
    
        <a class="btn" ng-href="{{project.appLink}}" data-tooltip="Back to the project"
                data-tooltip-placement="{{interfaceConfig.placementNormal}}">
            <i class="icon-reply"></i>Back
        </a>
    </div>
    <h2 style="font-weight:normal">{{project.name}} User Management</h2>
    
    <!-- this is a hack - for some reason active can only bind to a variable,
     so we create this variable using ng-init -->
    <span ng-init="isMembers = isActive('/members')"></span>
    <span ng-init="isJoinRequests = isActive('/joinRequests')"></span>
    
    <tabset>
        <tab  active="isMembers" heading="Members" ui-sref="members">
             <div ng-if="isActive('/members')" ui-view></div>
        </tab>
        <tab  active="isJoinRequests" heading="Join Requests" ui-sref="joinRequests">     
            <div ng-if="(isActive('/joinRequests'))" ui-view></div>
        </tab>  
    </tabset>
    
    </div>
</div>
{% endverbatim %}
