<div class="content container" ng-cloak>
    <sil-notices></sil-notices>

    <!-- this is a hack - for some reason active can only bind to a variable,
     so we create this variable using ng-init -->
    <div ng-init="isMembers = $ctrl.isActive('/members')"></div>
    <div ng-init="isJoinRequests = $ctrl.isActive('/joinRequests')"></div>

    <uib-tabset>
        <uib-tab active="isMembers" heading="Members" ui-sref="members">
            <div ng-if="$ctrl.isActive('/members')" ui-view></div>
        </uib-tab>
        <uib-tab data-ng-show="false" active="isJoinRequests" heading="Join Requests" ui-sref="joinRequests">
            <div ng-if="$ctrl.isActive('joinRequest')" ui-view></div>
        </uib-tab>
    </uib-tabset>
</div>
