/*Created with Adobe RoboHelp 11.*/
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
}
p {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0.4em;
}
h2 {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0.4em;
}
h3 {
    font-size: 115%;
    margin-top: 0.87em;
    margin-bottom: 0.52em;
}
h4 {
    font-size: 100%;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
h4.Note {
    margin-left: 0;
    padding-left: 1.5em;
    background: url(Note_Icon.gif) no-repeat left center;
}
h4.Tip {
    margin-left: 0;
    padding-left: 1.5em;
    background: url(Note_Icon.gif) no-repeat left center;
}
h4.Important {
    margin-left: 0;
    padding-left: 1.5em;
    background: url(Important_Icon.gif) no-repeat left center;
}
h4.Caution {
    margin-left: 0;
    padding-left: 1.5em;
    background: url(Warning_Icon.gif) no-repeat left center;
}
h4.Warning {
    margin-left: 0;
    padding-left: 1.5em;
    background: url(Warning_Icon.gif) no-repeat left center;
}
p.BodyText {
    margin-bottom: 0.6em;
}
p.SpaceSingle {
    line-height: 1em;
}
p.SpaceHalf {
    line-height: 0.5em;
}
th p.BodyText {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
td p.BodyText {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
table {
    font-size: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    border-style: none;
}
tr {
    vertical-align: top;
}
th {
    vertical-align: top;
    text-align: left;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-style: none;
    background: #dddddd;
}
td {
    vertical-align: top;
    text-align: left;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-style: none;
}
table.TableGrid {
    border-spacing: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
}
table.TableGrid th {
    border-spacing: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
}
table.TableGrid td {
    border-spacing: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
}
ol {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    padding-left: 0;
}
ul {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
    padding-left: 0;
}
ol ul {
    list-style: disc;
}
ul ul {
    list-style: disc;
}
li {
    margin-left: 0;
}
span.BookTitle {
    font-style: italic;
}
span.DefinedWord {
    font-style: italic;
}
span.Emphasis {
    font-style: italic;
}
span.FileName {
}
span.Keyboard {
    font-weight: bold;
}
span.Placeholder {
    font-style: italic;
}
span.Strong {
    font-weight: bold;
}
span.Style {
    font-style: italic;
}
span.TypedText {
    font-weight: bold;
}
span.UserInterface {
    font-weight: bold;
}
span.Vernacular {
    font-family: "Doulos SIL";
    font-size: 144%;
}
span.VernacularEmphasis {
    font-family: "Doulos SIL";
    font-size: 144%;
    font-style: italic;
}
span.VernacularStrong {
    font-family: "Doulos SIL";
    font-size: 144%;
    font-weight: bold;
}
a:link {
    color: #0000ff;
    text-decoration: underline;
}
a:visited {
    color: #0000ff;
    text-decoration: underline;
}
a:active {
    color: #ff0000;
    cursor: hand;
    text-decoration: underline;
}
a:hover {
    color: #ff0000;
    cursor: hand;
    text-decoration: underline;
}
a.popupspot:link {
    color: #008000;
}
a.popupspot:visited {
    color: #008000;
}
a.popupspot:active {
    color: #ff0000;
}
a.popupspot:hover {
    color: #ff0000;
}
a.BSSCPopup:link {
    color: #008000;
}
a.BSSCPopup:visited {
    color: #008000;
}
a.BSSCPopup:active {
    color: #ff0000;
}
a.BSSCPopup:hover {
    color: #ff0000;
}
span.expandtext {
    font-style: italic;
    font-weight: normal;
    color: #0000ff;
}
span.glosstext {
    font-style: italic;
    font-weight: normal;
    color: #0000ff;
}
a.expandspot {
    font-style: italic;
    color: #008000;
    cursor: hand;
    text-decoration: none;
}
a.dropspot {
    font-style: italic;
    color: #008000;
    cursor: hand;
    text-decoration: none;
}
a.glossterm {
    font-style: italic;
    color: #008000;
    cursor: hand;
    text-decoration: none;
}
span.Superscript {
    vertical-align: super;
}
