<div class="dc-comments" >
	<div class="comment">
 		<div class="scorecontrol">
			<div class="scorearrow"><a ng-click="incScore(model)"><i class="icon-caret-up icon-2x"></i></a></div>
			<div class="score">{{model.score}}</div>
			<div class="scorearrow"><a ng-click="decScore(model)"><i class="icon-caret-down icon-2x"></i></a></div>
		</div>
		<div class="all-but-score">
			<div class="avatar-and-content">
				<div class="avatar">
                    <img width="50px" height="50px" ng-src="{{model.userRef.avatar_ref}}" />
					<div>{{model.userRef.username}}</div>
				</div>
				<div class="comment-content">{{model.content}}</div>
				<div class="comment-replylink"><a ng-click="replyBoxVisible = !replyBoxVisible">Reply</a></div> <!-- TODO: Change "x = !x" to a function call -->
			</div>
			<div class="comment-date-and-status">
				<span class="comment-date">{{model.dateModified | relativetime}}</span>
				<!--
				Comment status <span class="comment-status" ng-click="comment.status = nextStatus(comment.status)">{{comment.status}}</span>
				-->
				<!-- TODO: add CSS to give a specific width to the two spans so they will always line up vertically with each other -->
			</div>
			<div collapse="!replyBoxVisible">
				<div><textarea data-ng-model="data.newReply"></textarea></div>
				<div style="margin-top:3px"><button type="submit" class="btn-sm btn-info" data-ng-click="newReplyClick(model)">Post New Reply</button></div>
			</div>
			<div class="replies" data-ng-repeat="reply in comment.replies">
			    <span class="reply-what">{{reply.content}}</span> - <span class="reply-who">{{reply.userRef.username}}</span> <span class="comment-date">{{reply.dateModified | relativetime}}</span>
			</div>
		</div>
	</div>
</div>
