@CHARSET "UTF-8";

div.dc-comments {
	/* background-color: #ffedd4; */
	background-color: #ffeedd;
	/* min-height: 100px; */
	width: 100%;
	line-height: 20px; /* Override the line-height setting from ng-repeat */
}

.dc-comments .comment {
	display: flex;
	max-width: 620px;
}

.dc-comments .scorecontrol {
	flex-grow: 0; /* This refers to the *containing* flex, not the one we're about to create */
	flex-shrink: 0; /* This refers to the *containing* flex, not the one we're about to create */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0.5em 0em 0.5em; /* Top should match line-height of date/status line */
}

.dc-comments .scorecontrol .scorearrow a {
	display: inline-block;
}

.dc-comments .scorecontrol .score {
	width: 2em;
	overflow: hidden;
}

.dc-comments .all-but-score {
	flex-grow: 1;
	flex-shrink: 1;
}

.dc-comments .comment-date-and-status {
	font-size: 85%;
}

.dc-comments .comment-date {
	color: red;
	display: inline-block; /* So width will be respected */
	width: 12em;
}

.dc-comments .comment-status {
	color: red;
}

.dc-comments .avatar-and-content {
	display: flex;
	flex-direction: row;
}

.dc-comments .avatar-and-content .avatar {
	flex-shrink: 0;
	flex-grow: 0;
}

.dc-comments .avatar-and-content .comment-content {
	flex-shrink: 1;
	flex-grow: 1;
}

.dc-comments .avatar-and-content .comment-replylink {
	flex-grow: 0;
	flex-shrink: 0;
/* 	margin: 0px 5px; */
}

.dc-comments .new-comment-form {
	display: flex;
	flex-direction: column;
}

.dc-comments .subcomments {
	width: 100%;
}

.dc-comments .subcomments td {
	border: none;
}

.dc-comments .subcomments .subcomment-who {
	width: 25%;
}

.dc-comments .subcomments .subcomment-when {
	width: 25%;
}

.dc-comments .subcomments .subcomment-what {
	width: 50%;
}
