<div class="dc-entry">
<dc-fieldrepeat config="config" model="model" control="control"></dc-fieldrepeat>
    <div ng-if="config.fields.senses.fieldOrder.length > 0">
        <div ng-if="control.rights.canEditEntry() && control.state == 'edit'" class="addItem">
            <a data-ng-click="addSense()">Add Meaning</a>
        </div>
        <div data-ng-repeat="sense in model.senses">
            <dc-sense remove="deleteSense" index="$index"
                config="config.fields.senses" model="sense" control="control"></dc-sense>
        </div>
    </div>
</div>