<div class="input-prepend">
    <div class="fte-language-select control-group pull-right" data-ng-show="true">
        <!-- <label class="control-label" for="langSelect" translate="Choose the language for the selection"></label> -->
        <div class="controls">
            <select class="form-control" id="langSelect" 
                data-ng-model="fte.languageTag" 
                data-ng-options="selects.language.options[tag] for tag in selects.language.optionsOrder">
                <option value="">-- {{'choose a language' | translate}} --</option></select>
        </div>
    </div>
    <span class="add-on wsid"
        title="{{fteLanguageName}}">{{fteAbbreviation}}
    </span>
    <div data-text-angular
        data-ta-disabled="fteDisabled"
        data-ta-toolbar="{{fte.toolbar}}"
        dir="{{fteDir}}"
        data-ng-model="fteModel">
    </div>
</div>
