<form class="form-horizontal dc-multitext">
    <div class="control-group" data-ng-repeat="tag in config.inputSystems">
        <label data-ng-show="$first && config.type != 'pictures'"
            class="control-label">{{config.label}}</label>
        <div class="controls">
            <div class="input-prepend" data-ng-click="selectInputSystem(tag)"
                data-ng-class="{selectableInputSystemFieldForComment: $state.is('editor.comments') && control.rights.canComment()}">
                <span class="add-on wsid"
                    title="{{inputSystems[tag].languageName}}">{{inputSystems[tag].abbreviation}}</span>
                <dc-formattedtext class="dc-formattedtext" data-ng-if="!isAudio(tag)"
                    fte-multiline="false"
                    fte-disabled="! ($state.is('editor.entry') && control.rights.canEditEntry()) || modelContainsSpan(tag)"
                    fte-toolbar="[[]]"
                    fte-model="model[tag].value"
                    fte-dir="inputSystemDirection(tag)"></dc-formattedtext>
                <dc-audio data-ng-if="isAudio(tag)" dc-filename="model[tag].value" dc-control="control">
                </dc-audio>
            </div>
        </div>
    </div>
</form>
