<form class="form-horizontal dc-multioptionlist">
    <div class="form-group row">
        <label class="control-label col-md-4 text-md-right">{{config.label}}</label>
        <div class="controls col-md-8">
            <div class="dc-multioptionlist-values"
                 data-ng-repeat="value in model.values | orderBy: orderItemsByListOrder">
                <div data-ng-mouseover="valueToBeDeleted = value" data-ng-mouseleave="valueToBeDeleted = ''">
                    <div class="dc-multioptionlist-value"
                         data-ng-click="selectValue(value)">
                        {{getDisplayName(value)}}
                    </div>
                    <i class="closeicon fa fa-times" title="Delete {{config.label}}"
                       data-ng-show="showDeleteButton(valueToBeDeleted, value)" data-ng-click="deleteValue(value)"></i>
                </div>
            </div>
            <div class="dc-multioptionlist-values"
                 data-ng-show="$state.is('editor.entry') && rights.canEditEntry() && isAdding">
                <!--suppress HtmlFormInputWithoutLabel -->
                <select class="form-control" data-ng-change="addValue()" data-ng-model="newValue"
                        data-ng-options="item.key as item.value for item in items | filter: filterSelectedItems">
                    <option value="">Pick an item</option>
                </select>
                <div class="deleteX">
                    <i class="icon-remove" data-ng-click="isAdding = false" title="Cancel adding {{config.label}}"></i>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="addItem"
     data-ng-show="rights.canEditEntry() && $state.is('editor.entry') && showAddButton()">
    <a class="btn btn-sm btn-secondary" data-ng-click="isAdding = true"><i class="fa fa-plus"></i> Add {{config.label}}</a>
</div>
<div class="spacing-after"
     data-ng-hide="rights.canEditEntry() && $state.is('editor.entry') && showAddButton()">&nbsp;</div>
