div.dc-multilinetext, 
div.dc-multilinetext .ta-root {
    display: inline-block;
}

div.dc-multilinetext .input-prepend {
    line-height: normal;
}

div.dc-multilinetext .add-on.wsid {
    height: 60px;
}

div.dc-multilinetext .ta-toolbar {
    float: right;
    margin: 0 5px;
}

div.dc-multilinetext .ta-editor {
    width: 176px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 14px;
    white-space: normal;
    border: 1px solid #CCCCCC;
    border-radius: 0 4px 4px 0;
    margin: 0;
}

div.dc-multilinetext .ta-editor, 
div.dc-multilinetext .ta-scroll-window > .ta-bind {
    min-height: 60px;
}

div.dc-multilinetext .ta-root textarea {
    width: 164px;
}

div.dc-multilinetext .ta-scroll-window > .ta-bind,
div.dc-multilinetext .ta-root textarea {
    padding: 4px 6px;
}

div.dc-multilinetext .ta-editor span {
    /*border: 1px solid transparent;*/
    border-radius: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

div.dc-multilinetext .ta-editor span:hover {
    /*border: 1px solid #ADDDDD;*/
    background-color: #ADDDDD;
}

/* auto hide the toolbar when not selected (focussed) */
.ta-root .ta-toolbar {
    display: none; 
}
.ta-root.focussed .ta-toolbar {
    display: block;
}
