<form class="form-horizontal dc-multitext">
    <div data-ng-repeat="tag in config.inputSystems" class="control-group">
        <label data-ng-show="$first && config.type != 'pictures'"
            class="control-label">{{config.label}}</label>
        <div class="controls">
            <dc-multilinetext data-ng-show="config.displayMultiline"
                mlt-disabled="! (control.state == 'edit' && control.rights.canEditEntry())"
                mlt-model="model[tag].value"
                mlt-dir="inputSystemDirection(tag)"
                mlt-language-name="inputSystems[tag].languageName"
                mlt-abbreviation="inputSystems[tag].abbreviation"></dc-multilinetext>
            <div class="input-prepend" data-ng-click="selectInputSystem(tag)"
                data-ng-show="! config.displayMultiline"
                data-ng-class="{selectableInputSystemFieldForComment: control.state == 'comment' && control.rights.canComment()}">
                <span class="add-on wsid"
                    title="{{inputSystems[tag].languageName}}">{{inputSystems[tag].abbreviation}}</span>
                <!-- <textarea
                    ng-show="config.displayMultiline && control.state == 'edit' && control.rights.canEditEntry()"
                    dir="{{inputSystemDirection(tag)}}" width="{{config.width}}"
                    type="text" data-ng-model="model[tag].value"></textarea> -->
                <input
                    data-ng-show="control.state == 'edit' && control.rights.canEditEntry()"
                    dir="{{inputSystemDirection(tag)}}" width="{{config.width}}"
                    placeholder="{{(config.type == 'pictures' ? 'caption' : '')}}"
                    type="text" data-ng-model="model[tag].value" />
                <span class="uneditable-input"
                    data-ng-hide="control.state == 'edit' && control.rights.canEditEntry()"
                    data-ng-bind="model[tag].value"></span>
            </div>
        </div>
    </div>
</form>
