div.dc-multilinetext .ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 0;
}

div.dc-multilinetext .ta-editor span:hover {
    border: 1px solid #3DDDDD;
    border-radius: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

div.dc-multilinetext .ta-editor {
    margin: 0px;
}

div.dc-multilinetext .add-on.wsid {
    text-align: left;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}
