form.dc-multioptionlist {
    margin: 0;
    margin-right: -4px;
}

form.dc-multioptionlist .controls div {
    display: inline-block;
}

form.dc-multioptionlist .controls > div {
    margin-bottom: 10px;
}

.dc-multioptionlist-values {
    position: relative;
}

.dc-multioptionlist-values > div {
    padding-right: 9px;
}

.dc-multioptionlist-value {
    border: 1px solid $lf-lines;
    padding: $input-padding-y $input-padding-x;
    border-radius: $border-radius;
}

form.dc-multioptionlist i.closeicon {
  position: absolute;
  top: -6px;
  right: 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid $lf-lines;
  border-radius: 50%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  text-align: center;
}
form.dc-multioptionlist i.closeicon:hover {
  background: $brand-danger;
  color: #fff;
}

.dc-multioptionlist-value select, dc-multioptionlist .addItem {
    margin-bottom: 20px;
}

dc-multioptionlist .spacing-after {
    line-height: 0;
    margin-bottom: 10px;
}
