<form class="form-horizontal dc-multitext">
    <div class="form-group row" data-ng-repeat="tag in config.inputSystems">
        <label class="control-label col-md-4 text-md-right" data-ng-show="config.type != 'pictures'" ng-class="($first ? '' : 'hidden-sm-down')"><span data-ng-show="$first">{{config.label}}</span></label>
        <div class="controls" ng-class="(config.type == 'pictures' ? 'col-md-12' : 'col-md-8')">
            <div class="input-group" data-ng-click="selectInputSystem(tag)"
                data-ng-class="{selectableInputSystemFieldForComment: $state.is('editor.comments') && control.rights.canComment()}">
                <span class="add-on wsid input-group-addon" tabindex="-1"
                    title="{{inputSystems[tag].languageName}}">{{inputSystems[tag].abbreviation}}</span>
                <dc-formattedtext class="dc-formattedtext" data-ng-if="!isAudio(tag)"
                    fte-multiline="false"
                    fte-disabled="! ($state.is('editor.entry') && control.rights.canEditEntry()) || modelContainsSpan(tag)"
                    fte-toolbar="[[]]"
                    fte-model="model[tag].value"
                    fte-dir="inputSystemDirection(tag)"></dc-formattedtext>
                <dc-audio data-ng-if="isAudio(tag)" dc-filename="model[tag].value" dc-control="control">
                </dc-audio>
            </div>
        </div>
    </div>
</form>
