<form class="form-horizontal dc-pictures-captions">
    <div class="dc-pictures">
        <label class="control-label">{{config.label}}</label>
        <div class="dc-picture" data-ng-repeat="picture in pictures">
            <div class="dc-image" data-ng-if="picture.fileName">
                <img data-ng-src="{{getPictureUrl(picture.fileName)}}">
                <span data-ng-if="control.rights.canEditEntry() && control.state == 'edit'"
                    class="deleteX">
                    <i data-ng-click="deletePicture($index)" title="Delete Picture"
                        class="icon-remove"></i>
                </span>
            </div>
        </div>
        <div data-ng-show="control.rights.canEditEntry() && control.state == 'edit' && ! upload.showAddPicture"
            class="addItem">
            <a data-ng-click="upload.showAddPicture = true">Add Picture</a>
        </div>
        <div data-ng-show="upload.showAddPicture">
            <div class="drop-box" data-ng-file-drop="onFileSelect($files)"
                data-ng-file-drop-available="dropSupported = true">
                <h4>Drop an image file here</h4>
                <p>or if you prefer...</p>
                <input type="button" class="btn" value="Browse..."
                    onclick="javascript:document.getElementById('imagefile').click();">
                <input id="imagefile" type="file" style="display: none;"
                    data-ng-file-select="onFileSelect($files)">
            </div>
            <div data-ng-show="! dropSupported">
                HTML5 Drop File is not supported on this browser</div>
            <div data-ng-show="upload.file != null">
                <p><strong>{{upload.file.name}}</strong> {{upload.file.size | bytes }}</p>
                <progressbar value="upload.progress" data-max="100.0"></progressbar>
            </div>
        </div>
        <span data-ng-show="upload.showAddPicture"
            class="deleteX">
            <i data-ng-click="upload.showAddPicture = false" title="Cancel Adding Picture"
                class="icon-remove"></i>
        </span>
    </div>
    <div class="dc-captions">
        <label class="control-label" data-ng-show="pictures.length > 0">{{config.captionLabel}}</label>
        <div class="dc-caption" data-ng-repeat="picture in pictures">
            <dc-multitext data-ng-show="picture.fileName" 
                control="control"
                config="config"
                model="picture.caption"></dc-multitext>
        </div>
    </div>
</form>