.dc-pictures {
    margin-bottom: 0px;
}

.dc-pictures > div {
    margin-left: 180px;
}

.dc-pictures label {
    font-weight:bold;
    cursor: default;
    margin-right: 20px;
}

.dc-pictures label label {
    margin-top: 145px;
}

dc-picture .addItem {
    margin-bottom: 20px;
}

.dc-picture {
    display: inline-block;
    vertical-align: top;
}

.dc-picture .dc-multitext .controls {
    margin-left: 0px;
}

.dc-picture img {
    height: 150px;
    margin-bottom: 10px;
}

.dc-picture .deleteX {
    margin-left: 5px;
    margin-right: 10px;
}

form.dc-pictures form.dc-multitext .controls input[type="text"] {
    width: 95px;
}

form.dc-pictures .drop-box {
    width: 142px;
    height: 142px;
    padding-top: 0px;
    margin-right: 25px;
    margin-bottom: 20px;
}

form.dc-pictures .progress {
    width: 150px;
}
