.dc-pictures-captions {
    display: block;
}

.dc-pictures, .dc-captions {
    display: flex;
}

.dc-pictures label, .dc-captions label {
    font-weight:bold;
    cursor: default;
    margin-right: 20px;
}

.dc-picture, .dc-caption {
    display: block;
}

.dc-picture .dc-multitext label {
    width: 0px;
} 

.dc-picture .dc-multitext .controls {
    margin-left: 0px;
}

.dc-image {
    display: inline;
}

.dc-image img {
    width: 150px;
    height: 150px;
}

form.dc-pictures-captions form.dc-multitext .controls input[type="text"] {
    width: 95px;
}

form.dc-pictures-captions .form-horizontal .controls {
    margin-left: 0px;
    width: 185px;
}

.drop-box {
    width: 142px;
    height: 142px;
    padding-top: 0px;
    border: 4px dashed #e67345;
}

.progress {
    width: 150px;
}
