<div class="dc-sense">
	<div class="deleteX pull-right"><i data-ng-click="remove(index)" title="Delete '{{getSenseTitle(sense)}}'" class="icon-remove"></i></div>
	<div data-ng-repeat="fieldName in config.fieldOrder">
		<div data-ng-if="config.fields[fieldName].visible">
			<div data-ng-switch data-on="config.fields[fieldName].type">
				<div data-ng-switch-when="optionlist">
					<dc-optionlist definition="config.fields[fieldName]" model="model[fieldName]"></dc-optionlist>
				</div>
				<div data-ng-switch-when="multitext">
					<dc-multitext definition="config.fields[fieldName]" model="model[fieldName]"></dc-multitext>
				</div>
				<div data-ng-switch-when="fields">
					<pre data-ng-show="false">{{config | json}}</pre>
					
					<div data-ng-switch data-on="fieldName">
						<div data-ng-switch-when="examples">
							<div class="animate-repeat" data-ng-repeat="example in model.examples"> 
								<dc-example remove="deleteExample" index="$index" config="config.fields[fieldName]" model="example"></dc-example>
							</div>
							<div class="addItem"><a data-ng-click="addExample()">Add Example</a></div>
						</div>
						<div data-ng-switch-default>
							unsupported config field: {{fieldName}}
						</div>
					</div>
				</div>
				<div data-ng-switch-default>
					unsupported type {{config.fields[fieldName].type}} for field {{fieldName}}
				</div>
			</div>
		</div>
	</div>
</div>