form.dc-semanticdomain {
    margin: 0;
    margin-right: -4px;
}

form.dc-semanticdomain .controls div {
    display: inline-block;
}

form.dc-semanticdomain .controls > div {
    margin-bottom: 10px;
}

.dc-semanticdomain-values {
    position: relative;
}

.dc-semanticdomain-values > div {
    padding-right: 9px;
}

.dc-semanticdomain-value {
    line-height: normal;
    border: 2px solid gray;
    padding: 3px;
    border-radius: 0;
}

form.dc-semanticdomain img.closeicon {
    position: absolute;
    top: -6px;
    right: 0;
    padding-right: 2px;
}

.dc-semanticdomain-value select, dc-semanticdomain .addItem {
    margin-bottom: 20px;
}

dc-semanticdomain .spacing-after {
    line-height: 0;
    margin-bottom: 10px;
}
