<div class="dc-sense">
    <div data-ng-if="control.rights.canEditEntry() && control.state == 'edit'"
        class="deleteX pull-right">
        <i data-ng-click="remove(index)" title="Delete Meaning"
            class="icon-remove"></i>
    </div>
    <div data-ng-repeat="fieldName in config.fieldOrder">
        <div data-ng-if="!config.fields[fieldName].hideIfEmpty || control.show.emptyFields || (config.fields[fieldName].hideIfEmpty && fieldContainsData(config.fields[fieldName].type, model[fieldName]))"
            data-ng-class="{selectableFieldForComment: control.state == 'comment' && control.rights.canComment()}"
            data-ng-click="control.selectFieldForComment(fieldName, model[fieldName])">
            <div data-ng-switch data-on="config.fields[fieldName].type">
                <div class="flex100" data-ng-switch-when="optionlist">
                    <dc-optionlist class="dc-item" control="control"
                        config="config.fields[fieldName]"
                        model="model[fieldName]"
                        items="optionlists[fieldName].items"></dc-optionlist>
                    <comment-bubble control="control"
                        count="control.getFieldCommentCount(fieldName)"></comment-bubble>
                </div>
                <div class="flex100" data-ng-switch-when="multioptionlist">
                    <dc-multioptionlist class="dc-item" control="control"
                        config="config.fields[fieldName]"
                        model="model[fieldName]"
                        items="optionlists[fieldName].items"></dc-multioptionlist>
                    <comment-bubble control="control"
                        count="control.getFieldCommentCount(fieldName)"></comment-bubble>
                </div>
                <div class="flex100" data-ng-switch-when="multitext">
                    <dc-multitext class="dc-item" control="control"
                        config="config.fields[fieldName]"
                        model="model[fieldName]"
                        select-field="control.selectFieldForComment(fieldName, model[fieldName], inputSystem)"></dc-multitext>
                    <comment-bubble control="control"
                        count="control.getFieldCommentCount(fieldName)"></comment-bubble>
                </div>
                <div class="flex100" data-ng-switch-when="pictures">
                    <dc-picture class="dc-item" control="control"
                        config="config.fields[fieldName]"
                        pictures="model[fieldName]"></dc-picture>
                </div>
                <div data-ng-switch-when="fields"></div>
                <div data-ng-switch-default>unsupported type
                    {{config.fields[fieldName].type}} for field {{fieldName}}</div>
            </div>
        </div>
    </div>
    <div data-ng-if="config.fields.examples.fieldOrder.length > 0">
        <div data-ng-repeat="example in model.examples">
            <dc-example control="control" remove="deleteExample" index="$index"
                config="config.fields.examples" model="example"></dc-example>
        </div>
        <div data-ng-if="control.rights.canEditEntry() && control.state == 'edit'" class="addItem">
            <a data-ng-click="addExample()">Add Example</a>
        </div>
    </div>
</div>