<mdc-drawer [drawer]="drawerType" *ngIf="(isLoggedIn | async)" [open]="isExpanded">
  <mdc-drawer-header title="Main Menu"></mdc-drawer-header>
  <mdc-drawer-content>
    <a
      mdc-list-item
      routerLink="/home"
      [routerLinkActive]="['mdc-list-item--activated']"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="collapseDrawer()"
    >
      <mdc-icon mdcListItemGraphic>home</mdc-icon>
      Home
    </a>
    <a
      mdc-list-item
      routerLink="/connect-project"
      [routerLinkActive]="['mdc-list-item--activated']"
      (click)="collapseDrawer()"
    >
      <mdc-icon mdcListItemGraphic>device_hub</mdc-icon>
      Connect Project
    </a>
    <a
      mdc-list-item
      routerLink="/projects"
      [routerLinkActive]="['mdc-list-item--activated']"
      (click)="collapseDrawer()"
    >
      <mdc-icon mdcListItemGraphic>dashboard</mdc-icon>
      Projects
    </a>
  </mdc-drawer-content>
</mdc-drawer>
