<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Please wait while the project is created...</h3>
                </div>
                <div class="card-body">
                    <i class="fa fa-spinner fa-spin fa-2x" id="cloning"></i>
                    <span>{{$ctrl.cloneNotice()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
