<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <h4 class="text-center no-space-break">Get project from LanguageDepot.org</h4>
            <form>
                <div class="card card-default">
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-form-label col-md-4 text-md-right" for="sr-username">Username</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" id="sr-username" autofocus
                                           type="text" name="username"
                                           placeholder="username"
                                           data-ng-model="$ctrl.srcProject.sendReceive.username"
                                           data-idle-validate="$ctrl.checkSRProject()"
                                           data-idle-validate-keypress="$ctrl.$ctrl.srcReset()">
                                    <span class="input-group-addon" data-ng-if="$ctrl.srcProject.sendReceive.username.length > 0 && $ctrl.srcProject.sendReceive.credentialsStatus == 'loading'">
                                        <i id="username-loading" class="fa fa-spinner fa-spin" ></i>
                                    </span>
                                    <span class="input-group-addon alert-success" data-ng-if="$ctrl.srcProject.sendReceive.username.length > 0 && $ctrl.srcProject.sendReceive.credentialsStatus == 'valid'">
                                        <i id="username-ok" class="fa fa-check" title="Username valid!"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4 text-md-right" for="sr-password">Password</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" id="sr-password" autofocus
                                           type="password" name="password"
                                           data-ng-if="!$ctrl.showPassword"
                                           required placeholder="password"
                                           data-ng-model="$ctrl.srcProject.sendReceive.password"
                                           data-idle-validate="$ctrl.checkSRProject()"
                                           data-idle-validate-keypress="$ctrl.srcReset()">
                                    <input class="form-control" id="sr-visible-password" autofocus
                                           type="text" name="password"
                                           data-ng-if="$ctrl.showPassword"
                                           required placeholder="password"
                                           data-ng-model="$ctrl.srcProject.sendReceive.password"
                                           data-idle-validate="$ctrl.checkSRProject()"
                                           data-idle-validate-keypress="$ctrl.srcReset()">
                                    <span class="input-group-addon" data-ng-if="$ctrl.srcProject.sendReceive.password.length > 0 && $ctrl.srcProject.sendReceive.credentialsStatus == 'loading'">
                                        <i id="password-loading" class="fa fa-spinner fa-spin"></i>
                                    </span>
                                    <span class="input-group-addon alert-success" data-ng-if="$ctrl.srcProject.sendReceive.password.length > 0 && $ctrl.srcProject.sendReceive.credentialsStatus == 'valid'">
                                        <i id="password-ok" class="fa fa-check" title="Password valid!"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-check col-md-8 offset-md-4">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" data-ng-model="$ctrl.showPassword" data-ng-checked="false">
                                    Show characters
                                </label>
                            </div>
                        </div>

                        <div class="alert alert-danger"
                            id="credentials-invalid"
                            data-ng-show="$ctrl.srcProject.sendReceive.password.length > 0 && $ctrl.srcProject.sendReceive.credentialsStatus == 'invalid'">
                            The username or password isn't valid on LanguageDepot.org.
                        </div>

                        <div class="form-group row" data-ng-if="$ctrl.showProjectSelect()">
                            <label class="col-form-label col-md-4 text-md-right" for="sr-project-select">Project</label>
                            <div class="input-group col-md-8">
                                <select class="form-control custom-select" id="sr-project-select" required
                                        data-ng-init="$ctrl.srcProject.sendReceive.project = $ctrl.srcProject.sendReceive.projects[$ctrl.projectsIndex]"
                                        data-ng-model="$ctrl.srcProject.sendReceive.project" data-ng-change="$ctrl.srcValidate()"
                                        data-ng-options="project as $ctrl.projectOption(project) for project in $ctrl.srcProject.sendReceive.projects">
                                    <option value="">-- select a project you manage --</option></select>
                                <span class="input-group-addon alert-warning" data-ng-if="$ctrl.srcProject.sendReceive.projectStatus == 'no_access'">
                                    <i id="project-no-access" class="fa fa-times"
                                         title="You are not the manager of this project on LanguageDepot.org!"></i>
                                </span>
                                <span class="input-group-addon alert-success" data-ng-if="$ctrl.srcProject.sendReceive.projectStatus == 'ok'">
                                    <i id="project-ok" class="fa fa-check"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
