<div class="dc-example">
    <div class="deleteX pull-right"><i ng-click="remove(index)" title="Delete Example Sentence" class="icon-remove"></i></div>
    <div ng-repeat="field in config.fieldNames">
        <ng-switch on="config.fields[field].type">
            <div ng-switch-when="multitext">
                <dc-multitext definition="config.fields[field]" model="model[field]"></multitext>
            </div>
            <div ng-switch-default>
                unsupported type {{config.fields[field].type}} for field {{field}}
            </div>
        </ng-switch>
    </div>
</div>