<div class="form-group row">
    <label class="col-12" for="deletebox">Confirm deletion by typing DELETE into the box below.</label>
    <div class="col-md-4">
        <input data-ng-model="deleteBoxText" class="form-control" type="text" id="deletebox">
    </div>
</div>
<div class="form-group row">
    <div class="col-12">
        <button id="deleteProject" class="btn btn-danger"
                data-ng-disabled="$ctrl.actionInProgress || deleteBoxText.toLowerCase() !== 'delete'"
                data-ng-click="$ctrl.deleteProject()">
            <i class="fa fa-trash"></i> Delete this project</button>
    </div>
</div>
<div class="text-error">Only project owners and site admins can delete a project, and this action cannot be undone.</div>
