<div>
    <div data-ng-show="$ctrl.showDefault">
        <label>Default Value</label>
        <!--suppress HtmlFormInputWithoutLabel -->
        <select class="custom-select" id="default-key" data-ng-model="$ctrl.defaultKey" data-ng-options="item.key as item.value for item in $ctrl.items">
            <option value="">(no default)</option>
        </select>
    </div>
    <div class="row">
        <div class="col-12 clearfix">
            <div class="input-group">
               <input class="form-control" id="new-value" data-ng-model="$ctrl.newValue" data-on-enter="$ctrl.pickAddItem()" name="newValue"
                      type="text" placeholder="new value" no-dirty-check>
                <span class="input-group-btn">
                    <a class="btn btn-primary add-item-to-list" href data-ng-click="$ctrl.pickAddItem()">
                        <i class="fa fa-plus iconPadding" aria-hidden="true"></i>Add to List</a>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 clearfix" drag-to-reorder-bind="$ctrl.items">
            <div data-ng-repeat="item in $ctrl.items" class="picklist-group" dtr-draggable>
                <i class="fa fa-arrows-v" title="Drag this to re-order items"></i>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" data-ng-model="item.value" data-on-enter="$ctrl.blur(thisElement)" class="picklist-row">
                <a data-ng-show="$ctrl.showRemove($index)" data-ng-click="$ctrl.pickRemoveItem($index)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
