<div class="container">
    <div class="row no-gutters mb-2">
        <form class="col-md-5">
            <div class="input-group">
                <div class="search-wrapper">
                    <input type="text" class="form-control w-100 input-medium search-query" id="search-text-input"
                           placeholder="Search" autofocus data-ng-model="$ctrl.searchText">
                    <span class="clear-search-button" title="Clear Search" data-ng-click="$ctrl.clearSearch()" data-ng-show="$ctrl.searchText">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-std" data-ng-click="$ctrl.search()">
                        <i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </form>
        <div class="col-6">
            <button class="btn btn-primary float-right" data-ng-click="$ctrl.suggest()"
                    data-ng-show="!$ctrl.showSuggestions && $ctrl.puiSuggestedLanguageCodes.length > 0">
                Suggest Languages from Lexical Data
            </button>
            <button class="btn btn-primary float-right" data-ng-show="$ctrl.showSuggestions" data-ng-click="$ctrl.clearSearch()">
                <i class="fa fa-times" aria-hidden="true"></i> Clear Suggestions
            </button>
        </div>
    </div>
    <div class="row">
        <div class="table table-responsive table-hover table-sm">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th><th>Code</th><th>Country</th><th>Other Names</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-repeat" data-ng-class="{ 'table-info': $ctrl.currentCode === language.code.three }"
                        data-ng-repeat="language in $ctrl.languages | filter:$ctrl.filterText track by language.code.three"
                        data-ng-click="$ctrl.selectLanguage(language)">
                        <td class="primary"><div>{{language.name}}</div></td>
                        <td>{{(language.code.two) ? language.code.two : language.code.three}}</td>
                        <td class="container" title="{{language.country.join(', ')}}">
                            <div>{{language.country.join(', ')}}</div></td>
                        <td class="container" title="{{language.altNames.join(', ')}}">
                            <div>{{language.altNames.join(', ')}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
