<a ng-click="$ctrl.togglePlayback()">
    <i class="fa" data-ng-class="$ctrl.iconClass()"></i>
</a>
<span class="controls">
    <span data-ng-if="$ctrl.audioElement.duration" class="audio-progress text-muted">
        {{$ctrl.currentTime()}} / {{$ctrl.duration()}}
    </span>
    <!--suppress HtmlFormInputWithoutLabel -->
    <!--The step value is very small to handle a bug encountered where the slider stops after its last full step, before reaching the end 2022-09-->
    <input id="slider" class="seek-slider" type="range" min="0" max="{{$ctrl.durationInSeconds()}}" step="0.0000000000000001" value="0">
</span>
