<div>
    <div style="position:relative">
        <input dir="auto" class="form-control" id="typeaheadInput" placeholder="{{placeholder}}" composition-input
               data-ng-model="term" data-ng-change="query()" type="text" autocomplete="off">
        <span class="clear-search-button" title="Clear" data-ng-click="clearSearch()" data-ng-show="term && term != ''">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <div data-ng-transclude class="typeahead-results"></div>
</div>
