{% verbatim %}
<div class="content container"
    data-ng-cloak data-ng-controller="MainCtrl" dir="{{interfaceConfig.direction}}">
    <div class="hdrnav">
        <div class="btn-group" data-ng-class="interfaceConfig.pullToSide" data-ng-show="rights.canEditUsers()">
            <a class="btn dropdown-toggle" data-ng-class="interfaceConfig.pullToSide"
                data-toggle="dropdown"
                data-tooltip-placement="{{interfaceConfig.placementToSide}}"
                data-tooltip="Settings" href="#">
                <i class="icon-cog icon-large"></i>
                <span class="caret"></span></a>
            <ul class="dropdown-menu" data-ng-class="interfaceConfig.pullToSide">
                <li><a href="#/configuration" data-translate="Dictionary Configuration"></a></li>
                <li><a href="#/viewSettings" data-translate="View Settings"></a></li>
                <li class="divider"></li>
                <li><a href="#/importExport" data-translate="Import/Export"></a></li>
                <li><a ng-href="/app/usermanagement/{{project.id}}" data-translate="User Management"></a></li>
                <li><a href="#/settings" data-translate="Project Settings"></a></li>
                <li><a href="/app/projectmanagement/{{project.id}}" data-ng-show="rights.canArchiveProject()">Manage Project</a></li>
            </ul>
        </div>
        <div data-ng-class="interfaceConfig.pullToSide" data-ng-show="showSyncButton()">
            <span class="muted" style="margin-right: 10px">{{syncNotice()}}</span>
            <button class="btn" data-tooltip="Send and Receive with LanguageDepot.org"
                    data-tooltip-placement="bottom"
                    data-ng-disabled="disableSyncButton()"
                    data-ng-click="syncProject()">
                <i class="fa fa-cloud-upload fa-lg text-info"></i>{{'Send/Receive' | translate}}
            </button>
        </div>
        <div>
            <button class="btn" data-tooltip="View the dictionary"
                data-tooltip-placement="{{interfaceConfig.placementNormal}}"
                data-ng-show="showDictionaryButton()"
                data-ng-click="gotoDictionary()">
                <i class="icon-reply"></i>{{'Dictionary' | translate}}
            </button>
            <ul id="top" class="topCrumbs" breadcrumbs></ul>
        </div>
    </div>
    <div id="lexicon-hmenu" style="clear: both">
        <div class="lexnav control-group"></div>
    </div>
    <div data-sil-notices></div>
    <div data-ng-view></div>
</div>
{% endverbatim %}
