@import 'editor/editor';
@import 'settings/configuration/configuration';
@import 'settings/project-settings';
@import '../../../angular-app/bellows/apps/activity/activity.scss';

.inline-form {
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type=text], input[type=email], input[type=password] {
    flex-grow: 1;
  }

  > *:not(:last-child) {
    margin-right: 0.5em;
    margin-bottom: 0;
  }
}
