/* Top navigation */
div.lexnav {
	overflow: visible;
	padding-left: 0px;
/*	padding-left: 117px;	Align with topNav and breadcrumbs */
}

.lexnav a {
	color: #3F7CA4;
}

/* Import/Export view */

.drop-box {
    border: 4px dashed #e67345;
}
