/* Top navigation */
div.hdrnav {
    clear: both;    
}

div.lexnav {
	overflow: visible;
	padding-left: 115px;	/* Align with topNav and breadcrumbs */
    padding-bottom: 0;
}

.lexnav a {
	color: #3F7CA4;
}

/* Import/Export view */

.drop-box {
    border: 4px dashed #e67345;
}

#importErrors {
    max-height: 160px;
    overflow-y: scroll;
}
