<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% block meta %}
            <meta charset="utf-8" />
            <title>{{ app.website.name }}</title>

            {% for cssFile in cssFiles %}
                <link rel=stylesheet href="/{{ cssFile }}" />
            {% endfor %}

            {% for cssFile in vendorFilesCss %}
                <link rel=stylesheet href="/{{ cssFile }}" />
            {% endfor %}

            <link rel="icon" href="/Site/views/{{ app.website.base~'/theme/'~app.website.theme }}/image/favicon.ico" type="image/x-icon" />

            <!-- jquery must be the first js to be loaded -->
            {%  if useMinifiedJs %}
                <script src="/vendor_bower/jquery/dist/jquery.min.js"></script>
                <script src="/vendor_bower/angular/angular.min.js"></script>
            {%  else %}
                <script src="/vendor_bower/jquery/dist/jquery.js"></script>
                <script src="/vendor_bower/angular/angular.js"></script>
            {% endif %}

        {% endblock %}
    </head>
    <body>
        <div id="maincontainer">
            {% if isBootstrap4 %}
                {% block headerBootstrap4 %}{% endblock %}
            {% else %}
                {% block headerBootstrap2 %}{% endblock %}
            {% endif %}
            {% block content %}{% endblock %}
            {% block script %}{% endblock %}
            <div class="clearfooter"></div>
        </div>
        {% block footer %}{% endblock %}
        {% block analytics %}{% endblock %}
    </body>
</html>
