{% extends 'scriptureforge.html.twig' %}

{% block content %}
    <div class="container banner">
        <img src="/Site/views/scriptureforge/theme/default/image/beach1.jpg" width="965px" height="360px" alt="on the beach" />
        <h2>Contribute</h2>
        <p>Your ability to think and speak in your mother tongue is a powerful gift.  You could make an eternal difference by bringing God's Word into your own language through participating as a Scripture reviewer.  The translation team will assign you specific verses to review along with a list of questions to determine how clear and accurate the translation.  You can comment on text, answer questions, and follow up on other comments.  What are you waiting for?  <a href="/signup">Sign up today!</a></p>
        {% include 'template/login_signup_buttonbar.html.twig' %}
    </div>
{% endblock %}
