{% extends 'scriptureforge.html.twig' %}

{% block content %}
    <div class="container banner">
        <img src="/Site/views/scriptureforge/theme/default/image/beach3.jpg" width="965px" height="360px" alt="on the beach" />
        <h2>About Scripture Forge</h2>
        <p>Take your scripture-checking project to the next level by involving tens or hundreds more in the scripture review process.  Engage your language's diaspora speakers on the web or their phone, wherever they are.  Bring new insights into the checking process by engaging remote participants.  While your translation team continues to work in ParaTExt, Scripture Forge provides a community feedback mechanism to help your team test their scripture drafts for comprehension and readability.
        </p>
        <p>When everyone plays their part in getting Scripture translated and into the right hands, everyone benefits.  It's the power of collaboration that gets Scripture checking done faster and better.  Our technology brings Scripture checking to the masses, in a positive environment that focuses participants on the task and works wherever they are.  On the tablet, phone or web, Scripture Forge is there.</p>
    </div>
{% endblock %}
