@import '~src/global';

.card-content {
  padding: 1rem;
}

.helper-text {
  color: var(--mdc-theme-text-hint-on-background);
  margin: 0;
}

.invalid-feedback {
  color: var(--mdc-theme-error);
}

.indented-field {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.status {
  padding-left: 2rem;
}

#delete-project {
  border: 2px solid red;
}

#delete-btn {
  @include mdc-button-container-fill-color(red);
}
