<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="2rem" class="container">
  <h2>Settings</h2>
  <div>
    <h3>Tasks</h3>
    <p>Select which tasks are available. At least one task must be selected.</p>
    <mdc-card class="card" outlined>
      <form [formGroup]="form">
        <ng-container
          *ngIf="!isLoading && ((form.errors && form.errors.requireCheckboxesToBeChecked) || atleastOneError)"
        >
          <div class="card-content invalid-feedback">You must select at least one option</div>
          <mdc-list-divider></mdc-list-divider>
        </ng-container>
        <div class="card-content">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mdc-form-field>
              <mdc-checkbox formControlName="translate" id="checkbox-translate"></mdc-checkbox>
              <label>Translate</label>
            </mdc-form-field>
            <app-write-status
              fxFlex
              fxLayoutAlign="start center"
              class="status"
              [state]="translateState"
              [formGroup]="form"
              id="translate-status"
            ></app-write-status>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="2.75rem" class="indent"></div>
            <p fxFlex class="helper-text">
              Collaborate with other translators working on the same text and use translation suggestions.
            </p>
          </div>
          <ng-container *ngIf="translate">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="2.75rem" class="indent"></div>
              <mdc-form-field class="indented-field">
                <mdc-select placeholder="Based on" formControlName="sourceParatextId" id="based-on-select">
                  <mdc-menu>
                    <mdc-list>
                      <mdc-list-item *ngFor="let project of sourceProjects" [value]="project.paratextId">
                        {{ project.name }}
                      </mdc-list-item>
                    </mdc-list>
                  </mdc-menu>
                </mdc-select>
              </mdc-form-field>
              <app-write-status
                fxFlex
                fxLayoutAlign="start center"
                class="status"
                [state]="sourceParatextIdState"
                [formGroup]="form"
                id="based-on-status"
              ></app-write-status>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="2.75rem" class="indent"></div>
              <p fxFlex class="helper-text">
                If your Paratext project is a <b>Daughter Translation</b> or you would like to use your project as a
                <b>Daughter Translation</b>, choose the project this translation is based on. This will enable a number
                of features that can offer translation suggestions.
              </p>
            </div>
          </ng-container>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <div class="card-content">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mdc-form-field>
              <mdc-checkbox formControlName="checking" id="checkbox-community-checking"></mdc-checkbox>
              <label>Community Checking</label>
            </mdc-form-field>
            <app-write-status
              fxFlex
              fxLayoutAlign="start center"
              class="status"
              [state]="checkingState"
              [formGroup]="form"
              id="checking-status"
            ></app-write-status>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="2.75rem" class="indent"></div>
            <p fxFlex class="helper-text">
              Engage the wider community to ensure that the translation is clear, accurate, and natural. Select verses,
              ask targeted questions, allow discussion of answers.
            </p>
          </div>
        </div>
      </form>
    </mdc-card>
  </div>

  <div id="danger-zone">
    <h3>Danger Zone</h3>
    <mdc-card class="card-content" id="delete-project">
      <h4>Delete this project</h4>
      <p>Once you delete a project, there is no going back. Please be certain.</p>
      <p>
        This will <strong>not</strong> delete your Paratext project, but it will delete any unsynchronized data stored
        in Scripture Forge. It is recommended to
        <a [routerLink]="['/projects', projectId, 'sync']">Synchronise</a> first before deleting.
      </p>
      <div fxLayout="row" fxLayoutAlign="end stretch">
        <button id="delete-btn" mdc-button unelevated (click)="openDeleteProjectDialog()">Delete this project</button>
      </div>
    </mdc-card>
  </div>
</div>
