@import '~src/global';

#projects-app {
  #questions-panel {
    max-width: 400px;
    min-width: 300px;
    @include media-breakpoint-down(md) {
      max-width: 300px;
    }
  }
  #text-panel {
    display: flex;
    flex-direction: column;
    #split-container {
      display: flex;
      flex: 1;
    }
    #scripture-panel {
      .panel-content {
        height: 100%;
      }
    }
    #answer-panel {
      padding: 12px 15px;
    }
    #project-navigation {
      background-color: lighten($sf_grey, 70%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 9px;
    }
    #project-summary {
      width: 36px;
      height: 36px;
    }
  }
}
