<div id="projects-app" class="container-fluid flex-max">
  <div class="row">
    <div class="col">
      <h1>{{ project?.projectName }}</h1>
    </div>
  </div>
  <div class="row flex-fill">
    <div class="col d-flex" id="questions-panel">
      <div class="flex-max">
        <div class="panel">
          <div class="panel-heading">
            <mdc-icon>help</mdc-icon>
            <h2>Questions ({{ totalQuestions() }})</h2>
          </div>
          <div class="panel-content">
            <app-checking-questions
              #questionsPanel
              (update)="questionUpdate($event)"
              [questions]="questions"
            ></app-checking-questions>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="book-panel">
      <div class="flex-max" id="scripture-panel">
        <div class="panel">
          <div class="panel-heading">
            <mdc-icon>library_books</mdc-icon>
            <h2>{{ text?.name }}</h2>
            <div class="panel-activity">
              <app-font-size (apply)="applyFontChange($event)"></app-font-size>
              <app-email-invite></app-email-invite>
            </div>
          </div>
          <div class="panel-content"><app-checking-text #scripturePanel [textId]="text.id"></app-checking-text></div>
        </div>
      </div>
      <div *ngIf="questionsPanel.activeQuestion" id="answer-panel">
        <div id="project-navigation">
          <button
            mdc-button
            (click)="questionsPanel.previousQuestion()"
            [disabled]="!questionsPanel.checkCanChangeQuestion(-1)"
            class="prev-question"
          >
            <mdc-icon>chevron_left</mdc-icon>Previous
          </button>
          <button
            (click)="questionsPanel.nextQuestion()"
            [disabled]="!questionsPanel.checkCanChangeQuestion(1)"
            class="next-question"
            mdc-button
          >
            Next<mdc-icon>chevron_right</mdc-icon>
          </button>
          <div style="display: block">
            <div id="project-summary">
              <canvas
                baseChart
                width="36"
                height="36"
                [labels]="['Unread', 'Read', 'Answered']"
                [data]="[summary.unread, summary.read, summary.answered]"
                [colors]="[{ backgroundColor: ['#3a3a3a', '#fff', '#018786'] }]"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="{ events: [] }"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
