<div id="projects-app" class="container-fluid flex-max">
  <div class="row">
    <div class="col">
      <h1>{{ project?.projectName }}</h1>
    </div>
  </div>
  <div class="row flex-fill">
    <div class="col d-flex" id="questions-panel">
      <div class="flex-max">
        <div class="panel">
          <div class="panel-heading">
            <mdc-icon>help</mdc-icon>
            <h2>Questions ({{ totalQuestions() }})</h2>
          </div>
          <div class="panel-content">
            <app-checking-questions
              #questionsPanel
              (update)="questionUpdated($event)"
              (changed)="questionChanged($event)"
              [questions]="questions"
            ></app-checking-questions>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="text-panel">
      <div class="flex-max" id="scripture-panel">
        <div class="panel">
          <div class="panel-heading row">
            <div class="panel-nav">
              <mdc-icon>library_books</mdc-icon>
              <h2>{{ text?.name }}</h2>
              <app-chapter-nav [chapters]="chapters" [(chapter)]="chapter"></app-chapter-nav>
            </div>
            <div class="panel-activity">
              <app-font-size (apply)="applyFontChange($event)"></app-font-size>
              <app-email-invite></app-email-invite>
            </div>
          </div>
          <div id="split-container" #splitContainer>
            <as-split
              direction="vertical"
              [disabled]="!questionsPanel.activeQuestion"
              (dragEnd)="checkSliderPosition($event)"
              useTransition="true"
            >
              <as-split-area size="100">
                <div class="panel-content" #scripturePanelContainer>
                  <app-checking-text [id]="textDataId"></app-checking-text>
                </div>
              </as-split-area>
              <as-split-area size="0">
                <div *ngIf="questionsPanel.activeQuestion" id="answer-panel" #answerPanelContainer>
                  <app-checking-answers
                    [question]="questionsPanel.activeQuestion"
                    (action)="answerAction($event)"
                  ></app-checking-answers>
                </div>
              </as-split-area>
            </as-split>
          </div>
        </div>
      </div>
      <div *ngIf="questionsPanel.activeQuestion" id="project-navigation">
        <button
          mdc-button
          (click)="questionsPanel.previousQuestion()"
          [disabled]="!questionsPanel.checkCanChangeQuestion(-1)"
          class="prev-question"
        >
          <mdc-icon>chevron_left</mdc-icon>Previous
        </button>
        <button
          (click)="questionsPanel.nextQuestion()"
          [disabled]="!questionsPanel.checkCanChangeQuestion(1)"
          class="next-question"
          mdc-button
        >
          Next<mdc-icon>chevron_right</mdc-icon>
        </button>
        <div>
          <div id="project-summary">
            <canvas
              baseChart
              width="36"
              height="36"
              chartType="doughnut"
              [legend]="false"
              [labels]="['Unread', 'Read', 'Answered']"
              [data]="[summary.unread, summary.read, summary.answered]"
              [colors]="[{ backgroundColor: ['#3a3a3a', '#fff', '#B8D332'] }]"
              [options]="{ events: [] }"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
