.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}
 
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.animate-show {
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

/*
.yoyo.ng-enter { 
    animation: yoyoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-animation: yoyoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@keyframes yoyoenter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.yoyo.ng-leave { 
    animation: yoyoleave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-animation: yoyoleave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@keyframes yoyoleave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.yoyo.ng-leave-active { }
.yoyo.ng-enter-active { }


.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
*/