@charset "UTF-8";

[data-ng-repeat-reorder].dragging {
	z-index: 11;
	position: absolute;
	background-color: #E0E0A0; /* Yellowish gray */
}

[data-ng-repeat-reorder].dragging-before {
	background-color: #A0E0A0; /* Greenish gray */
}

[data-ng-repeat-reorder].dragging-after {
	background-color: #E0A0A0; /* Reddish gray */
}

.ng-repeat-reorder-parent {
	z-index: 10;
	position: relative;
}

.active-drag-below {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

[data-ng-repeat-reorder] input.picklist-row {
	margin-bottom: 0;
	magin-top: 0;
}
