<nav class="deep-purple">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">{{title}}</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse" materialize="sideNav" [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]"><i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!isLoggedIn()" routerLinkActive="active"><a routerLink="/auth">Log In</a></li>
        <li *ngIf="isLoggedIn()" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="isLoggedIn() && isProjectSelected()" routerLinkActive="active"><a [routerLink]="['/review', getProjectId()]">Review</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li *ngIf="!isLoggedIn()" routerLinkActive="active"><a routerLink="/auth">Log In</a></li>
        <li *ngIf="isLoggedIn()" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="isLoggedIn() && isProjectSelected()" routerLinkActive="active"><a [routerLink]="['/review', getProjectId()]">Review</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>