<div data-ng-show="finishedLoading">
    <h2 style="font-weight:normal"><span class="notranslate">{{project.name}}</span> Dashboard</h2>
    <div class="notices">
        <alert data-ng-repeat="message in messages" type="info" close="markMessageRead(message.id)">
            <b>{{message.subject}}</b><br><span data-ng-bind-html="message.content"></span></alert>
    </div>

    <div id="settings-dropdown-button" class="float-right" uib-dropdown data-ng-show="rights.edit">
        <button id="settingsBtn" class="btn btn-std" uib-dropdown-toggle tooltip-placement="left" title="Settings">
            <i class="fa fa-cog"></i></button>
        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <a class="dropdown-item" id="dropdown-project-settings" data-ng-href="#!/settings">Project Settings</a>
            <!--<a class="dropdown-item" ng-href="/app/usermanagement/{{project.id}}">User Management</a>-->
        </div>
    </div>

    <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <button data-ng-disabled="selected.length == 0" data-ng-show="rights.archive" class="btn btn-std"
                        id="project-archive-text-btn" data-ng-click="archiveTexts()">
                    <i class="fa fa-archive fa-lg"></i> Archive Texts</button>
            </div>
            <div class="col-auto">
                <button data-ng-show="rights.create" class="btn btn-primary" id="project-add-new-btn"
                        data-ng-click="newTextCollapsed = !newTextCollapsed">
                    <i class="fa fa-plus"></i> Add New Text</button>
            </div>
        </div>
    </form>
    <div uib-collapse="newTextCollapsed">
        <div class="card new-text">
            <form class="card-body row" name="newTextForm" id="project-new-text-form">
                <div class="col-sm-6">
                    <div>
                        <div class="form-group">
                            <label>Title
                                <input class="form-control" required data-ng-model="title" type="text" placeholder="Title" dir="auto">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Text
                                <textarea class="form-control" textdrop data-ng-model="content" rows="4"
                                          placeholder="Paste the USX text here" dir="auto"></textarea>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Font Name (optional)
                                <input class="form-control" data-ng-model="fontfamily" type="text" placeholder="Title">
                            </label>
                        </div>
                        <div class="form-group">
                            <a href data-ng-click="toggleRangeSelector()">Select limited verse range</a>
                        </div>
                        <div class="form-group">
                            <span class="text-info"><a data-ng-href="/sfchecks_usersguide#exportusx" target="_blank">
                                  How can I export a USX file from Paratext?</a></span>
                        </div>
                    </div>
                    <div class="verse-range" uib-collapse="rangeSelectorCollapsed">
                        <div class="form-group">
                            <label>From
                                <div><input type="number" class="form-control" data-ng-model="startCh" min="1" placeholder="Chap.">
                                    &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="startVs" min="1" placeholder="Verse">
                                    <button data-ng-click="startCh = ''; startVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>To
                                <div><input type="number" class="form-control" data-ng-model="endCh" min="1" placeholder="Chap.">
                                    &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="endVs" min="1" placeholder="Verse">
                                    <button data-ng-click="endCh = ''; endVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset class="col-sm-6">
                    <div class="drop-box" data-ngf-drop="readUsx($file)" data-ngf-drag-over-class="'dragover'">
                        <h4>or drop a USX file here</h4>
                        <p>or if you prefer...</p>
                        <button class="btn btn-primary" id="browseUsxButton" data-ngf-select="readUsx($file)">Browse...</button>
                    </div>
                    <div data-ngf-no-file-drop>
                        <div class="btn btn-std" data-ngf-select="readUsx($file)">Browse...</div>
                    </div>
                    <br>
                </fieldset>
                <div class="col-12 clearfix">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="newTextForm.$invalid" id="project-save-btn"
                            data-ng-click="addText(); newTextCollapsed = true"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <listview hide-if-empty="true" items="texts" visible-items="visibleTexts" select="">
        <table class="texts table">
            <tr>
                <th><!-- Checkbox column has no header --></th>
                <th data-ng-click="doSortByColumn('title')">Text <i data-ng-class="sortIconClass('title')"></i></th>
                <th data-ng-click="doSortByColumn('questionCount')">Question <i data-ng-class="sortIconClass('questionCount')"></i></th>
                <th data-ng-click="doSortByColumn('responseCount')">Response <i data-ng-class="sortIconClass('responseCount')"></i></th>
                <th data-ng-click="doSortByColumn('dateCreated')">Date Added <i data-ng-class="sortIconClass('dateCreated')"></i></th>
            </tr>
            <tr data-ng-repeat="text in visibleTexts" data-ng-class="{active: isSelected(text)}">
                <td>
                    <label data-ng-show="rights.archive">
                        <input type="checkbox" data-ng-checked="isSelected(text)" data-ng-click="updateSelection($event, text)">
                    </label>
                </td>
                <td dir="auto">
                    <a data-ng-href="{{text.url}}"><div class="larger-text">{{text.title}}</div></a>
                </td>
                <td ng-class="{'text-muted':text.questionCount == 0}">
                    <span class="notranslate">{{text.questionCount}}</span> question<span ng-if="text.questionCount != 1">s</span>
                </td>
                <td ng-class="{'text-muted':text.responseCount == 0}"><span class="notranslate">{{text.responseCount}}</span> response<span ng-if="text.responseCount != 1">s</span></td>
                <td><small class="text-muted">Added <span class="notranslate">{{text.dateCreated | relativetime}}</span></small></td>
            </tr>
        </table>
    </listview>
</div>
