<div data-ng-show="finishedLoading">
<h2 style="font-weight:normal">{{project.projectName}} Settings</h2>

<pui-tabset>
<pui-tab heading="Members">
    <div data-ng-controller="ProjectSettingsUsersCtrl">
        <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <button id="addMembersButton" class="btn btn-primary" data-ng-show="rights.create" data-ng-click="toggleAddMembers()">
                        <i class="fa fa-plus"></i> Add Members</button>
                </div>
                <div class="col-auto">
                    <button id="messageUsersButton" class="btn btn-std" data-ng-show="rights.create" data-ng-click="toggleMessageUsers()">
                        <i class="fa fa-envelope"></i> Message Selected Users</button>
                </div>
                <div class="col-auto">
                    <button id="remove-members-button" class="btn btn-std" data-ng-disabled="selected.length == 0" data-ng-show="rights.deleteOther"
                            data-ng-click="removeProjectUsers()"><i class="fa fa-trash"></i> Remove Members</button>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" data-ng-model="userFilter" placeholder="Member List Filter">
                    <a data-ng-show="userFilter != ''" title="Clear Filter" data-ng-click="userFilter = ''">
                        <i class="fa fa-remove text-muted"></i></a>
                </div>
            </div>
        </form>
        <div id="newMembersDiv" class="new-item" uib-collapse="addMembersCollapsed">
            <form class="card card-body bg-light">
                <div class="form-row align-items-top">
                    <div class="col-auto">
                        <pui-typeahead id="typeaheadDiv" class="typeahead" items="users" term="typeahead.userName" search="queryUser" select="selectUser">
                            <ul ng-hide="users.length == 0">
                                <li typeahead-item="user" data-ng-repeat="user in users" class="typeahead-item">
                                    <img width="32px" data-ng-src="{{imageSource(user.avatarRef)}}" class="left">
                                    <span class="name">{{user.name}}</span>
                                </li>
                            </ul>
                        </pui-typeahead>
                    </div>
                    <div class="col-auto">
                        <button id="addUserButton" data-ng-model="addMode" class="btn btn-primary" data-ng-disabled="disableAddButton"
                                data-ng-click="addProjectUser()">
                            <i data-ng-class="addModeIcon(addMode)"></i>{{addModeText(addMode)}}</button>
                        <span class="warning" data-ng-show="warningText">{{warningText}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="newMessageDiv" uib-collapse="newMessageCollapsed">
            <div class="card card-body bg-light">
                <div data-ng-hide="show.messaging()">
                    <p>Click <b>Communication Settings</b> to setup messaging.</p>
                </div>
                <form class="row" data-ng-submit="sendMessageToSelectedUsers()" data-ng-show="show.messaging()">
                    <p class="col-12 text-danger">All fields are required to message selected users</p>
                    <div class="col-sm-6">
                        <label class="form-group">Email Subject
                            <input class="form-control" name="emailSubject" required type="text" placeholder="Subject"
                                   data-ng-model="message.subject" style="width:400px">
                        </label>
                        <label class="form-group">Email Message
                            <textarea class="form-control" required name="emailTemplate" placeholder="Email Message"
                                      data-ng-model="message.emailTemplate" style="width:400px; height:200px"></textarea>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-group">SMS Message <i>(<span class="notranslate">{{160 - message.smsTemplate.length}}</span> characters remaining)</i>
                            <textarea class="form-control" required name="smsTemplate" placeholder="SMS Message" data-ng-model="message.smsTemplate"
                                      style="width:400px; height:80px" maxlength="160"></textarea>
                        </label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send Message Now</button>
                        <span class="alert alert-danger" data-ng-show="messagingWarning">{{messagingWarning}}</span>
                    </div>
                </form>
            </div>
        </div>
        <listview search="queryProjectSettings()" items="list.users" items-filter="userFilter"
                  visible-items="list.visibleUsers" select="">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="user in list.visibleUsers" data-ng-class="{active: isSelected(user)}" >
                    <td align="center">
                        <label><input data-ng-show="rights.deleteOther" type="checkbox" data-ng-checked="isSelected(user)"
                                      data-ng-click="updateSelection($event, user)"></label>
                    </td>
                    <td class="align-middle">{{user.username}}</td>
                    <td class="align-middle">{{user.name}}</td>
                    <td data-ng-show="user.id == project.ownerRef.id">
                        <label><select class="form-control custom-select" disabled><option>Manager and Project Owner</option></select></label></td>
                    <td data-ng-hide="user.id == project.ownerRef.id">
                        <label><select class="form-control custom-select" data-ng-model="user.role" data-ng-change="onRoleChange(user)"
                                       data-ng-options="role.key as role.name for role in roles"></select></label></td>
                </tr>
                </tbody>
            </table>
        </listview>
    </div>
</pui-tab>
<pui-tab heading="Question Templates">
    <div data-ng-controller="ProjectSettingsQTemplateCtrl" style="overflow:hidden">
        <form class="control-bar form-inline">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="project-settings-new-template-btn" data-ng-click="toggleTemplateEditor()">
                        <i class="fa fa-plus"></i> Add New Template</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-std" id="project-settings-remove-btn" data-ng-disabled="selected.length == 0" data-ng-click="removeTemplates()">
                        <i class="fa fa-trash"></i> Remove Templates</button>
                </div>
            </div>
        </form>
        <div class="new-item" uib-collapse="!templateEditorVisible">
            <form class="card card-body bg-light">
                <label>Question Template
                    <textarea class="form-control" required data-ng-model="editedTemplate.description" rows="4"
                              placeholder="The Question"></textarea>
                </label>
                <label>Title
                    <input class="form-control" type="text" maxlength="35" required data-ng-model="editedTemplate.title"
                           placeholder="One Line Summary for Title">
                </label>
                <div>
                    <button id="project-settings-question-save-btn" type="submit" class="btn btn-primary" data-ng-click="editTemplate()">
                        <i class="fa fa-check"></i> Save</button>
                    <a href data-ng-click="hideTemplateEditor()">Cancel</a>
                </div>
            </form>
        </div>
        <listview search="queryTemplates()" items="templates" visible-items="visibleTemplates" select="">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Question title</th>
                    <th>Question contents</th>
                </tr>
            </thead>
            <tr data-ng-repeat="template in visibleTemplates" data-ng-class="{active: isSelected(template)}"
                data-ng-click="selectRow($index, template)">
                <td align="center">
                    <label><input type="checkbox" data-ng-checked="isSelected(template)"
                                  data-ng-click="updateSelection($event, template)"></label></td>
                <td class="align-middle" dir="auto"><a title="Click to edit this template" data-ng-click="showTemplateEditor(template)">
                    {{template.title}}</a></td>
                <td class="align-middle" dir="auto" "text-overflow: ellipsis">{{template.description}}</td>
            </tr>
        </table>
        </listview>
    </div>
</pui-tab>
<pui-tab heading="Archived Texts">
    <div data-ng-controller="ProjectSettingsArchiveTextsCtrl">
        <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
            <button class="btn btn-primary republish-texts" id="project-settings-republish-btn" data-ng-disabled="selected.length == 0"
                    data-ng-show="rights.archive" data-ng-click="publishTexts()"><i class="fa fa-globe fa-lg">
                </i> Re-publish Selected Texts</button>
        </form>
        <hr>
        <listview hide-if-empty="true" items="list.archivedTexts" visible-items="visibleTexts" select="">
            <table class="questions">
                <tr data-ng-repeat="text in visibleTexts" class="details-row" data-ng-class="{active: isSelected(text)}">
                    <td data-ng-show="rights.archive">
                        <label><input type="checkbox" data-ng-checked="isSelected(text)"
                                      data-ng-click="updateSelection($event, text)"></label></td>
                    <td dir="auto">
                        <a data-ng-href="{{text.url}}">
                            <span class="larger-text">{{text.title}}</span>
                        </a>
                    </td>
                    <td><a data-ng-href="{{text.url}}">
                        <div class="attention-block">
                            <span class="subtitle"><span class="notranslate">{{text.questionCount}}</span> questions</span>
                        </div>
                    </a></td>
                    <td><span class="notranslate">{{text.responseCount}}</span> responses</td>
                    <td>Archived on <span class="notranslate">{{text.dateModified | date:'fullDate'}}</span></td>
                </tr>
            </table>
        </listview>
    </div>
</pui-tab>
<pui-tab heading="Project Properties">
    <div data-ng-controller="ProjectSettingsPropertiesCtrl">
        <form class="card card-body bg-light" data-ng-submit="updateProject()">
            <div class="form-group">
                <label class="col-form-label" for="projName">
                    <strong>Project Name</strong>
                    <div class="controls">
                        <input id="projName" class="form-control" type="text" placeholder="project name" data-ng-model="project.projectName">
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="col-form-label"><b>Project Code:</b> <span class="notranslate">{{project.projectCode}}</span></label>
            </div>
            <div class="form-group">
                <label class="col-form-label"><b>Project Owner:</b> <span class="notranslate">{{project.ownerRef.username}}</span></label>
            <!-- <label class="checkbox"><input type="checkbox" data-ng-model="project.featured"> Featured on website</label> -->
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" data-ng-model="project.usersSeeEachOthersResponses">
                    Users can see each other's answers and comments</label>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" data-ng-model="project.allowAudioDownload">
                    Allow downloading audio files</label>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" data-ng-model="project.allowInviteAFriend">
                    Allow contributors to use "Invite a Friend" feature (managers can always use it)</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" id="project-properties-save-button">
                    <i class="fa fa-check"></i> Save</button>
            </div>
        </form>
    </div>
</pui-tab>
<pui-tab heading="User Profile Lists">
    <div data-ng-controller="ProjectSettingsSetupCtrl">
        <form class="row" data-ng-submit="updateProject()">
            <div class="col-12">
                <fieldset class="card fieldset picklists" id="showInProfileFieldset">
                    <legend>Show in the User's Profile</legend>
                    <ul class="list-unstyled indent1">
                        <li data-ng-repeat="(listId, list) in project.userProperties.userProfilePickLists">
                            <label class="checkbox"><!--suppress HtmlFormInputWithoutLabel -->
                                <input data-ng-model="currentListsEnabled[listId]" type="checkbox">
                                {{list.name}}</label></li>
                    </ul>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="card fieldset picklists" id="editListValuesFieldset">
                    <legend>Edit list values</legend>
                    <ul class="list-unstyled indent1">
                        <li data-ng-click="selectList(listId)" data-ng-repeat="(listId, list) in project.userProperties.userProfilePickLists"
                            data-ng-class="{selected:currentListId == listId}">
                            <a href>{{list.name}}</a>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="card fieldset" id="picklistEditorFieldset">
                    <legend>{{project.userProperties.userProfilePickLists[currentListId].name}}</legend>
                    <div class="card-body">
                        <picklist-editor items="project.userProperties.userProfilePickLists[currentListId].items" default-key="project.userProperties.userProfilePickLists[currentListId].defaultKey"></picklist-editor>
                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <br>
                <button id="user_profile_lists_save_button" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                <span data-ng-show="unsavedChanges" class="unsaved-warning" id="project-settings-unsaved" style="color: red">You have unsaved changes.</span> <!-- Remove the style="" attr once class has real CSS definition -->
            </div>
        </form>
    </div>
</pui-tab>
<pui-tab heading="Communication Settings" select="readCommunicationSettings()">
    <div data-ng-controller="ProjectSettingsCommunicationCtrl">
        <form class="card card-body bg-light" data-ng-submit="updateCommunicationSettings()">
        <fieldset class="col-md-6 col-lg-4">
            <label>Twilio Account Username
                <input class="form-control" type="text" placeholder="(Twilio SID)" data-ng-model="settings.sms.accountId">
            </label>
            <label>Twillio Auth Token
                <input class="form-control" type="text" placeholder="(Twilio Auth Token)" data-ng-model="settings.sms.authToken">
            </label>
            <label>SMS From Number
                <input class="form-control" type="text" placeholder="(From Number)" data-ng-model="settings.sms.fromNumber">
            </label>
            <label>Email From (reply-to) Address
                <input class="form-control" type="email" placeholder="(From Email)" data-ng-model="settings.email.fromAddress">
            </label>
            <label>Email Name
                <input class="form-control" type="text" placeholder="(From Name)" data-ng-model="settings.email.fromName">
            </label>
            <button id="communication_settings_save_button" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
        </fieldset>
        </form>
    </div>
</pui-tab>
<pui-tab heading="Reports">
    <form class="card card-body bg-light">
        <pui-run-report>
        </pui-run-report>
    </form>
</pui-tab>
<pui-tab heading="Delete" tab-if="rights.remove">
    <form class="card card-body bg-light">
        <pui-delete-project>
        </pui-delete-project>
    </form>
</pui-tab>
</pui-tabset>
</div>
