<div class="form-group">
    <div class="row" data-ng-show="$ctrl.reports.length > 0">
        <div class="col-12 col-sm-9 col-md-4">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="form-control custom-select" data-ng-model="$ctrl.report.currentId" data-ng-options="report.id as report.name for report in $ctrl.reports">
                <option value="">Select a Report...</option></select>
        </div>
        <div class="col-md-3">
            <button data-ng-show="$ctrl.report.output" class="btn btn-std" data-ng-click="$ctrl.runReport()">Run Again</button>
        </div>
        <div class="clearfix"></div>
        <div class="card" data-ng-show="$ctrl.report.output">
            <pre class="card-body" data-ng-show="$ctrl.report.output" data-ng-bind="$ctrl.report.output"></pre>
        </div>
    </div>
    <div data-ng-hide="$ctrl.reports.length > 0">
        No reports are available at this time.
    </div>
</div>
