:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.languageBox {
    border:1px solid mediumblue;
}

.input-group-addon{
  width:60px;
}

.multitext-label{
  margin:16px;
  min-width: 100px;
}

.input-group{
  margin:10px;
}

.input-group-addon{
  background-color: #eceeef;
}