 <div class='row'>
  <div class="col-4">
  <h5 class="multitext-label">{{label}}</h5>
  </div>
  <div class="col-8">
    <div class="row">
      <div *ngIf="languages && languages.length > 0" class="input-group">
        <span class="input-group-addon" id="basic-addon1">{{languages[0]}}</span>
        <input type="text" [(ngModel)]="content[0]" class="form-control" aria-describedby="basic-addon1">
      </div>
    </div>
    <div *ngFor="let language of languages | slice:1; let i=index">
      <div class="row">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">{{language}}</span>
          <input type="text" [(ngModel)]="content[i+1]" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>
</div>