<div class="container" ng-app="dpimport" ng-cloak>
	<div ng-controller="UserCtrl">
		<div style="height: 70px"></div>
		<div ng-hide="hideInput" class="span4">
			<form ng-submit="importProject(record)" name="depotImportForm">
				<fieldset>
					<legend>Fill Depot Project Info</legend>
					<div class="well">
					    <label>Language Depot Project Name</label>
						<input type="text" ng-model="record.projectname"  required
							placeholder="Project Name" /> <label>Language Depot Project Language</label>
						<typeahead class="typeahead" items="languages"
							term="typeahead.langName" search="queryLanguages"
							select="selectLanguage"  required>
						<ul>
							<li typeahead-item="language" ng-repeat="language in languages"
								class="typeahead-item">
								<p class="name">{{languageDescription(language)}}</p>
								<p class="email">
									{{language.subtag}}<span class="text-error">{{deprecationWarning(language)}}</span>
								</p>
							</li>
						</ul>
						</typeahead>
						<div>
							<label>Language Depot Project Code</label> <input required
								type="text" required ng-disabled="inprogerss"
								placeholder="(project cdoe here)" ng-model="record.projectcode"
								name="projectcode" />
						</div>
						<div>
							<label>Language Depot User Name</label> <input required
								type="text" required ng-disabled="inprogerss"
								placeholder="(username)" ng-model="record.projectusername"
								name="projectusername" id="projectusername" />
						</div>
						<div>
							<label>Language Depot Password</label> <input required
								type="password" required ng-disabled="inprogerss"
								ng-model="record.projectpassword" ng-focus="vars.inputfocus"
								name="projectpassword" />
						</div>
						<div style="line-height: 11px">
							<label>Recaptcha</label>
							<div vc-recaptcha ng-model="record.captcha" tabindex="3"
								theme="red" lang="en"
								key="6LfxQecSAAAAAID2yjtFlSpIWTC7Pir7tPag6Odd"></div>
							<!-- TODO--- YOUR PUBLIC KEY GOES HERE --- -->
						</div>
					</div>
					<button class="btn btn-primary" type="submit"
						ng-disabled="(depotImportForm.$invalid || inprogerss)">
						Import <i style="margin-left: 5px" class="icon-play"></i>
					</button>
				</fieldset>
			</form>
		</div>
		<div ng-show="hideInput">
			<sil-notices></sil-notices>
			<div class="progress progress-striped active" 
						ng-show="showprogressbar">
						<div class="bar" style="width: {{progressstep}}%;">{{progressstep}}%</div>
			</div>
			
			<button class="btn btn-primary" ng-show="showbackbtn" ng-click="backToPrePage()" >
						Back <i style="margin-left: 5px" class="icon-step-backward"></i>
			</button>
			<button class="btn btn-success" ng-show="showgotoprojectbtn" ng-click="gotoProject()">
						Open imported Project <i style="margin-left: 5px" class="icon-folder-open alt"></i>
			</button>
		</div>
	</div>
</div>

<script>
	
</script>
