/* -- Stylesheet for web pages created by Lexique Pro -- */

/* -- Font download information added by Martin Diprose -- */
@font-face {
    font-family: Andika;
    src: url("/wp-content/uploads/bantu/fonts/Andika.eot") /* EOT file for IE */
}
@font-face {
    font-family: Andika;
    src: url("/wp-content/uploads/bantu/fonts/Andika.ttf") /* TTF file for CSS3 browsers */
}    

/* ---------- PARAGRAPHS ----------- */
  p.lpLexEntryPara {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:1.50cm;text-indent:-1.50cm;}
  p.lpLexEntryPara_KeepWithNext {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:1.50cm;text-indent:-1.50cm;page-break-after:avoid;}
  p.lpLexEntryPara2 {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:1.50cm;text-indent:-0.00cm;}
  p.lpLexEntryPara2_KeepWithNext {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:1.50cm;text-indent:-0.00cm;page-break-after:avoid;}
  p.lpLexSubEntryPara {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:2.00cm;text-indent:-1.50cm;}
  p.lpLexSubEntryPara2 {text-align:left;margin:0cm;margin-top:3.0pt;margin-bottom:0.0pt;margin-left:2.00cm;text-indent:-0.00cm;}
  p.lpTitlePara {font-size:14.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;text-align:center;margin:0cm;margin-top:18.0pt;margin-bottom:18.0pt;margin-left:0.00cm;text-indent:-0.00cm;page-break-after:avoid;}
  p.lpTitle2Para {font-size:11.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;text-align:left;margin:0cm;margin-top:12.0pt;margin-bottom:6.0pt;margin-left:0.00cm;text-indent:-0.00cm;page-break-after:avoid;}
  p.lpPicturePara {text-align:center;margin:0cm;margin-top:6.0pt;margin-bottom:6.0pt;margin-left:0.00cm;text-indent:-0.00cm;}

/* ---------- SPANS ----------- */
  span.lpTitle {font-size:14.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpTitle2 {font-size:11.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpLexEntryName {font-size:11.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpHeaderEntry {font-size:11.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpMiniHeading {font-size:9.0pt;font-style:italic;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpLanguageLabel {font-size:7.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:blue;}
  span.lpPartOfSpeech {font-size:9.0pt;font-style:italic;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:blue;}
  span.lpExampleRef {font-size:7.0pt;font-weight:normal;font-family:"Lucida Sans Unicode","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpPhonetic {font-size:9.0pt;font-weight:normal;font-family:"Charis SIL","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpScientific {font-size:10.0pt;font-style:italic;font-weight:normal;text-decoration:underline;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpBorrowedWord {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpEtymology {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpCategory {font-size:8.0pt;font-weight:normal;font-family:"Tahoma","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:maroon;}
  span.lpExample {font-size:9.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpEncycInfo {font-size:9.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpGloss {font-size:9.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpMorph {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:green;}
  span.lpMorphSub {font-size:8.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:green;}
  span.lpMainCrossRef {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpMainCrossRefSub {font-size:8.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:navy;}
  span.lpCrossRef {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:teal;}
  span.lpCrossRefSub {font-size:8.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:teal;}
  span.lpSpAfterEntryName {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpTitleLetter {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpTitleMenuItem {font-size:8.0pt;font-weight:bold;font-family:"Verdana","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpSenseNumber {font-size:9.0pt;font-weight:bold;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpPunctuation {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpHomonymIndex {font-size:7.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpLexicalFunction {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:teal;}
  span.lpLexicalFunctionSub {font-size:8.0pt;font-weight:normal;font-family:"Arial","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:teal;}
  span.lpParadigm {font-size:9.0pt;font-weight:bold;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_anthropology {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_discourse {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_grammar {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_phonology {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_questions {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_sociolinguistics {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpNotes_general {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpGlossLugungu {font-size:9.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpEncycInfoLugungu {font-size:9.0pt;font-weight:normal;font-family:"Andika","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpGlossEnglish {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:green;}
  span.lpEncycInfoEnglish {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpLiteralMeaningEnglish {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:green;}
  span.lpIndexEnglish {font-size:10.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpUserStylefv {font-size:9.0pt;font-style:italic;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:purple;}
  span.lpUserStylefe {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpUserStylefn {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpUserStylefr {font-size:9.0pt;font-weight:normal;font-family:"Times New Roman","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;color:black;}
  span.lpHighlight {background-color: #FFFFFF00}

/* ---------- LINKS ----------- */
  a:link   {text-decoration: none;}
  a:visited{text-decoration: none;}
  a:active {text-decoration: none;}
  a:hover  {text-decoration: underline;}

/* ---------- HIGHLIGHTING ----------- */
.fragment { background-color:#CCCCFF;color:black;}

/* ---------- TITLE PAGE ----------- */
  body.lpTitlePage {background-color:white;}
  p.lpTitleMain {margin:0cm;margin-bottom:0.1cm;font-family:Verdana,Arial,sans-serif;font-size:16pt;font-weight:bold;}
  table.lpTitleTable {border-collapse:collapse;border:1px solid silver;}
  td.lpTitleLetterCell {width:1%;text-align:center;background-color: #EEEEEE;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleLetterCellHover {width:1%;text-align:center;background-color: #CCCCFF;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleLetterCellUnused {width:1%;text-align:center;background-color: #FFFFFF;;border:1px solid silver;}
  td.lpTitleMenuCell {text-align:center;background-color: #EEEEEE;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleMenuCellHover {text-align:center;background-color: #CCCCFF;cursor:pointer;cursor:hand;border:1px solid silver;}

