@import '../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../../node_modules/bootstrap/scss/mixins';

.modal-select-language .modal-footer {
  text-align: initial;
}

@include media-breakpoint-down(sm) {
  .modal-select-language {
    .modal-dialog {
      margin: 0;
    }
    .modal-header {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      h3 {
        font-size: 1em;
        margin-right: 1em;
      }
    }
    .modal-body {
      padding: 0.5em;
    }
    .modal-footer {
      padding: 0.25em;
    }
  }

  .modal-select-language {
    width: initial;
    height: initial;

    h3 {
      margin-bottom: 0;
    }

    .modal-dialog {
      width: initial;
      height: initial;
    }
  }

  #shareBtn {
    font-size: 1em !important;
    padding: 0 0.375rem;
  }
}

.close-modal {
  font-size: 1.2em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.fixed-nav-bar {
  background-color: #104060;
  @include media-breakpoint-down(sm) {
    height: 84px;
  }
  &.logged-out {
    height: 35px;
    @include media-breakpoint-down(sm) {
      height: 35px;
    }
  }
}

.alert {
  padding: 0.2em 1em;
  text-align: center;
}

@include media-breakpoint-down(sm) {
  nav.navbar {
    position: initial;
  }
  #app-container {
    margin-top: 94px;
  }

  .logged-out + #app-container {
    margin-top: 10px;
  }

  .alert {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 90px;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
  }
}

#primary-navigation {
  .navbar {
    transition: background-color 1s ease;
    flex: 0 0 auto;
    padding: 0 $grid-gutter-width;
    @include media-breakpoint-down(sm) {
      padding: 0 ($grid-gutter-width / 2);
    }
    a {
      font-size: 14px;
      line-height: 18px;
    }
    .dropdown-item.selected {
      background-color: $lf-highlight;
    }
  }
  > nav:first-child {
    background-color: theme-color(secondary);
    z-index: 1;
    .navbar-brand {
      padding: 0;
      .navbar-logo {
        position: absolute;
        top: 0;
        width: 45px;
        height: auto;
      }
      a {
        margin-left: 45px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
      }
    }
    a.nav-link.dropdown-toggle {
      i {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        i {
          display: block;
          font-size: 20px;
        }
        &:after, span {
          display: none;
        }
      }
      &#helpDropdown {
        i {
          display: inline-block !important;
          font-size: 16px;
          margin-top: 2px;
        }
      }
      &#languageDropdownButton {
        i {
          display: inline-block !important;
          font-size: 16px;
          margin-top: 2px;
        }
      }
    }
  }
  > nav:not(.logged-out):last-child {
    background-color: theme-color(primary);
    height: 86px;
    @include media-breakpoint-down(sm) {
      height: 48px;
    }
    .page-header-detail {
      .page-name-settings {
        display: flex;
        align-items: center;
        #settings-dropdown-button {
          position: relative;
          list-style: none;
          .dropdown-toggle {
            background: transparent;
            border: 0;
            border-radius: 0;
            color: #fff;
            font-size: 16px;
            box-shadow: none;
            &:after {
              display: none;
            }
          }
          &:not(.app-settings-available) {
            &:before {
              position: absolute;
              z-index: 1;
              content: "";
              width: 100%;
              left: 0;
              top: 0;
              height: 100%;
              background: transparent;
              cursor: not-allowed;
            }
            .dropdown-toggle {
              opacity: 0.4;
            }
          }
        }
      }
      .page-name {
        color: #fff;
        font-size: 25px;
        line-height: 25px;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
  .breadcrumbs {
    margin: 0 0 0 39px;
    ol {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border-radius: 0;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      a {
        color: #fff;
        font-size: 12px;
      }
      .breadcrumb-item {
        color: #fff;
        font-weight: normal;
        & + .breadcrumb-item::before {
          color: #fff;
        }
      }
    }
  }
  #userDropdown {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      &:after {
        display: none;
      }
    }
    #smallAvatarURL {
      width: 44px;
      height: 44px;
      margin-right: 13px;
      @include media-breakpoint-down(sm) {
        width: 30px;
        height: 30px;
        margin-right: 0;
      }
    }
    span {
      font-size: 16px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  ul.navbar-nav {
    li {
      display: flex;
    }
  }

  #shareBtn {
    margin: 12px;
    font-size: 1.5em;

    i.fa, span {
      line-height: 24px;
    }
  }
}

.notices button.close {
  margin-right: 0.5em;
}

