@import '../../../../shared/_variables';

$theme-primary: #104060;
$lf-blue-dark: orange;
$lf-highlight: #CDDEEB;
$lf-font: "PT Sans",sans-serif;
$lf-comments: #D89D49;

/* Colours as defined in UxPin */
$BlackSqueeze: #e6eff5;
$BlueRibbon: #1d64f0;
$Botticelli: #cddeeb;
$Eden: #104060;
$Downriver: #0a2440;
$PastelGreen: #6edc6c;
$Silver: #c0c0c0;
$WildSand: #f6f6f6;

// Overwrite variables - see node_modules/bootstrap/sass/_variables.scss
$theme-colors: (
  primary: $theme-primary,
  secondary: $lf-blue-dark,
  warning: $lf-comments,
);

$navbar-height: 120px;
