.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mdc-text-field {
  width: 100%;
}

.component-container {
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 380px;
  width: 100%;
  padding: 20px;
}

.title {
  text-align: center;
}

.recaptcha-helper-text {
  min-height: 19px;
  margin: 3px 16px 11px 16px;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--mdc-theme-error, #b00020);
  letter-spacing: 0.03333333em;
}

.submit-button {
  height: 40px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
