.card {
  max-width: 400px;
  width: 100%;
  align-self: center;
}

.title {
  text-align: center;
}

re-captcha {
  margin-bottom: 1em;
}

.submit-button {
  width: 120px;
  height: 40px;
  align-self: center;
}

@media screen and (max-width: 375px) {
  re-captcha,
  #rc-imageselect {
    transform: scale(0.77) !important;
    -webkit-transform: scale(0.77) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
  }
}
