<div class="container">
  <h2>Create a new account</h2>
  <mdc-card outlined class="card">
    <form #frm="ngForm" [formGroup]="signUpForm" (ngSubmit)="submit()" fxLayout="column">
      <mdc-form-field>
        <mdc-text-field
          outlined
          id="fullName"
          label="Full Name"
          formControlName="name"
          autofocus
          required
        ></mdc-text-field>
        <mdc-helper-text validation>
          <span *ngIf="name.hasError('required')">Full Name is required</span>
        </mdc-helper-text>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-text-field
          outlined
          id="email"
          label="Email Address"
          type="email"
          formControlName="email"
          [readonly]="isEmailReadonly"
          required
        ></mdc-text-field>
        <mdc-helper-text validation>
          <span *ngIf="email.hasError('email')">Email address is invalid</span>
          <span *ngIf="email.hasError('required')">Email address is required</span>
        </mdc-helper-text>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-text-field
          outlined
          id="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          label="Password"
          formControlName="password"
          required
        >
          <mdc-icon mdcTextFieldIcon trailing clickable (click)="isPasswordVisible = !isPasswordVisible">{{
            isPasswordVisible ? "visibility" : "visibility_off"
          }}</mdc-icon>
        </mdc-text-field>
        <password-strength-meter id="passwordStrengthMeter" [password]="password.value"></password-strength-meter>
        <div
          class="helper-text"
          [ngClass]="(frm.submitted || password.touched) && password.invalid ? 'visible' : 'hidden'"
        >
          <span *ngIf="password.hasError('minlength')">Password must be at least 7 characters long</span>
          <span *ngIf="password.hasError('required')">Password is required</span>
        </div>
      </mdc-form-field>
      <div class="recaptcha-container">
        <re-captcha
          *ngIf="!media.isActive('xs')"
          [siteKey]="captchaId"
          (resolved)="$event && resolved($event)"
          size="normal"
          formControlName="recaptcha"
        >
        </re-captcha>
        <re-captcha
          *ngIf="media.isActive('xs')"
          [siteKey]="captchaId"
          (resolved)="$event && resolved($event)"
          size="compact"
          formControlName="recaptcha"
        >
        </re-captcha>
        <div class="helper-text" [ngClass]="frm.submitted ? 'visible' : 'hidden'">
          <span *ngIf="recaptcha.hasError('required')">Please verify the reCAPTCHA</span>
        </div>
      </div>
      <button mdc-button primary class="submit-button" type="submit" [disabled]="signUpDisabled">Sign Up</button>
    </form>
  </mdc-card>
</div>
