<div id="projects-app" class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{{ project.projectName }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col" id="questions-panel">
      <div class="panel">
        <div class="panel-heading">
          <mdc-icon>help</mdc-icon>
          <h2>Questions ({{ totalQuestions() }})</h2>
        </div>
        <div class="panel-content">
          <mdc-list>
            <mdc-list-item
              *ngFor="let question of questions"
              [ngClass]="{
                'question-read': question.read,
                'question-unread': !question.read,
                'question-answered': question.answered,
                'question-has-answers': question.totalAnswers(),
                'mdc-list-item--activated': activeQuestion && activeQuestion.id === question.id
              }"
              (click)="activateQuestion(question)"
            >
              <div class="question-title">{{ question.title }}</div>
              <a class="view-answers" mdcListItemMeta title="View Answers">
                <i mdcIcon>forum</i> <span>{{ question.totalAnswers() }}</span>
              </a>
            </mdc-list-item>
          </mdc-list>
        </div>
      </div>
    </div>
    <div class="col" id="scripture-panel">
      <div class="panel">
        <div class="panel-heading">
          <h2>{{ project.projectName }}</h2>
        </div>
        <div class="panel-content"></div>
      </div>
    </div>
  </div>
</div>
