 <div style="flex: 9;padding:5px;display: flex; flex-direction: column">

    <div style="margin-bottom: 5px; border-bottom: solid black 1px; display:flex; justify-content: space-between">
        <div style="position:relative;">
            <input dir="auto" style="width: 140px; margin-left:12px; padding-right:25px" placeholder="Filter Comments" ng-model="commentFilter.text" type="text" />&nbsp;<span style="position:absolute; right:13px; top:5px" ng-show="commentFilter.text != ''" title="Clear Filter" ng-click="commentFilter.text = ''">
            <i class="icon-remove" style="color:#808080; cursor: pointer"></i>
            </span>
        </div>
        <div><select ng-show="control.rights.canUpdateCommentStatus()" style="width:110px" ng-model="commentFilter.status"><option value="all">Show All</option><option value="unresolved">Unresolved</option><option ng-if="control.rights.canUpdateCommentStatus()" value="todo">Todo</option></select></div>
        <div>
            <div class="commentCount">
                <span ng-if="control.currentEntryCommentCounts.total !== 1">
                    {{control.currentEntryCommentCounts.total}} {{'Comments'|translate}}
                </span>
                <span ng-if="control.currentEntryCommentCounts.total === 1">
                    {{control.currentEntryCommentCounts.total}} {{'Comment'|translate}}
                </span>
            </div>
        </div> 
    </div>  
    <div class="commentListView">
        <div ng-show="control.rights.canComment()" class="newCommentForm">
            <div style="display:flex; flex-direction: column">
                <textarea data-ng-model="control.newComment.content"  placeholder="{{control.getNewCommentPlaceholderText()}}"  ></textarea>
                <div class="commentRegarding">
                    <i class="icon-remove" style="float:right; color:#808080; cursor: pointer" ng-click="control.newComment.regarding = {}" ng-show="control.newComment.regarding.field"></i>

                    <span class="muted"><em>This comment is regarding</em></span>
                    <div ng-show="control.newComment.regarding.field">                
                       <div class="regardingContext"><b>{{newComment.regarding.word}}</b> <em>{{newComment.regarding.meaning}}</em></div> 
                        <span class="regardingFieldName">{{control.newComment.regarding.fieldNameForDisplay}}</span>
                        <div class="input-prepend">
                            <span ng-if="control.newComment.regarding.inputSystem" class="add-on wsid regardingInputSystem" title="{{control.newComment.regarding.inputSystem}}">{{control.newComment.regarding.inputSystemAbbreviation}}</span>
                            <span class="uneditable-input regardingFieldValue" ng-bind="control.newComment.regarding.fieldValue"></span>
                        </div>
                    </div>
                    <div ng-hide="control.newComment.regarding.field" style="text-align:center; color: #e67345;margin-bottom: 8px"><em translate="Click on a field to the left and give context to your comment"></em></div>
                </div>
                <div style="text-align: right; margin-right:10px">
                    <button class="btn-sm" ng-click="updateComment()">Post</button>
                </div>
            </div>
        </div>
        <div class="commentListContainer">
            <div ng-repeat="comment in currentEntryCommentsFiltered">
                <dc-comment control="control" model="comment"></dc-comment>
            </div>
        </div>
    </div>
</div>