<div class="commentContainer" ng-mouseenter="hover.comment = true" ng-mouseleave="hover.comment = false">
    <div ng-show="model.status == 'resolved'" style="width:70px; height:20px; font-weight:bold; font-size: x-small; position:absolute; left:-2px; z-index: 10; cursor:pointer;" tooltip-placement="right" tooltip="Click to reopen comment" ng-click="control.updateCommentStatus(model.id, 'open')">
        <i style="color: #8be25c;" class="icon-ok icon-2x"></i>Resolved
    </div>
    <div ng-class="{resolvedComment: model.status == 'resolved'}" >
        <div class="commentContentContainer">
            <div style="width:20px; height:20px; text-align:center; position:absolute; right:5px; cursor: pointer" tooltip="Delete Comment" tooltip-placement="left" ng-show="control.rights.canDeleteComment(model.authorInfo.createdByUserRef.id) && hover.comment && !model.editing" ng-click="control.deleteComment(model)"><i class="icon-remove" ></i></div>
            <div class="commentLeftSide">
                <div ng-show="model.status == 'resolved'" style="height:20px" >
                </div>
                <div ng-show="model.status == 'todo' && control.rights.canUpdateCommentStatus()" style="width:70px; height:20px; font-size: x-small; font-weight: bold" tooltip-placement="right" tooltip="This comment is marked as Todo">
                    <i style="color: #247aff;" class="icon-edit icon-2x"></i>Todo
                </div>
                <img width="50px" height="50px" ng-src="{{model.authorInfo.createdByUserRef.avatar_ref}}" />
                <div class="commentAuthor">{{model.authorInfo.createdByUserRef.name}}</div>
                <div class="commentDate">{{model.authorInfo.createdDate | relativetime}}</div>
                <div class="commentPlusOne">{{model.score}}
                    <i ng-show="control.canPlusOneComment(model.id) && control.rights.canComment() && model.status != 'resolved'" style="cursor: pointer" ng-click="control.plusOneComment(model.id)" tooltip="Like comment" class="icon-thumbs-up-alt"></i>
                    <i ng-hide="control.canPlusOneComment(model.id) && control.rights.canComment() && model.status != 'resolved'" style="opacity: 0.5" class="icon-thumbs-up-alt"></i>
                </div>
            </div>
            <div class="commentRightSide">
                <div class="commentContent" ng-hide="model.editing" ng-bind="model.content"></div>
                <div ng-show="model.editing" class="flex100" style="justify-content: space-around">
                    <textarea style="width:250px" data-ng-model="editingCommentContent"></textarea>
                    <div>
                        <button ng-disabled="!model.content" class="btn-sm" ng-click="updateComment(model)">Update</button> <a style="display:block" ng-click="model.editing = false">Cancel</a>

                    </div>
                </div>
                <div class="commentRegarding" ng-show="model.regarding.field">
                    <div class="regardingContext"><b>{{model.regarding.word}}</b> <em>{{model.regarding.meaning}}</em></div>
                    <span class="regardingFieldName">{{model.regarding.fieldNameForDisplay}}</span>
                    <div class="input-prepend">
                        <span ng-if="model.regarding.inputSystem" class="add-on wsid regardingInputSystem" title="{{model.regarding.inputSystem}}">{{model.regarding.inputSystemAbbreviation}}</span>
                        <span class="uneditable-input regardingFieldValue" ng-bind="model.regarding.fieldValue"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="commentRepliesContainer">
            <div ng-repeat="reply in model.replies" ng-mouseenter="reply.hover = true" ng-mouseleave="reply.hover = false">
                <div style="display: flex" ng-hide="reply.editing">
                    <div style="flex:10">
                        <span class="replyContent">{{reply.content}}</span><span class="commentAuthor"> - {{reply.authorInfo.createdByUserRef.name}}</span>
                        <span class="commentDate">{{reply.authorInfo.createdDate | relativetime}}</span>
                    </div>
                    <div style="flex:1;" ng-show="reply.hover && model.status != 'resolved'">
                        <span tooltip="Edit reply" data-tooltip-placement="left" ng-show="control.rights.canEditComment(reply.authorInfo.createdByUserRef.id)" class="editReplyLink" ng-click="editReply(reply)"><i class="icon-chevron-sign-up"></i></span>
                        <span tooltip="Delete reply" data-tooltip-placement="left" ng-show="control.rights.canDeleteComment(reply.authorInfo.createdByUserRef.id)" class="deleteReplyLink" ng-click="control.deleteCommentReply(model.id, reply)"><i class="icon-remove"></i></span>
                    </div>
                </div>
                <form ng-show="reply.editing" ng-submit="submitReply(reply)">
                    <input type="text" style="font-size:12px;" ng-model="reply.editingContent" set-focus="reply.editing"> <button type="submit" class="btn btn-small">OK</button> <a ng-click="reply.editing = false"><i class="icon-remove"></i></a>
                </form>
            </div>
            <form class="commentNewReplyForm" ng-show="showNewReplyForm" ng-submit="submitReply(newReply)">
                <input type="text" style="font-size:12px;" placeholder="Reply here.  Press Enter when done." ng-model="newReply.editingContent" set-focus="showNewReplyForm"> <button type="submit" class="btn btn-small">OK</button> <a ng-click="showNewReplyForm = false"><i class="icon-remove"></i></a>
            </form>
        </div>
        <div style="height:30px">
            <div class="commentBottomBar" ng-show="hover.comment && control.rights.canComment() && model.status != 'resolved'">
                <div>
                    <span style="font-size: small; font-weight: bold">Status:</span>
                    <i class="icon-chevron-sign-up" ng-show="control.rights.canUpdateCommentStatus() && model.status != 'open'" tooltip="Mark as Open" ng-click="control.updateCommentStatus(model.id, 'open')"></i>
                    <i class="icon-ok" ng-show="control.rights.canUpdateCommentStatus() && model.status != 'resolved'" tooltip="Mark as Resolved" ng-click="control.updateCommentStatus(model.id, 'resolved')"></i>
                    <i class="icon-edit" ng-show="control.rights.canUpdateCommentStatus() && model.status != 'todo'" tooltip="Mark as Todo" ng-click="control.updateCommentStatus(model.id, 'todo')"></i>
                </div>
                <div>
                    <button class="btn-sm" tooltip="Edit this comment" ng-show="control.rights.canEditComment(model.authorInfo.createdByUserRef.id)" ng-click="editComment()"><i class="icon-chevron-sign-up"></i> Edit</button>
                    <button class="btn-sm" ng-show="control.rights.canComment()" ng-click="doReply()"><i class="icon-reply"></i> Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>
