<div class="commentContainer card">
    <div class="card-title">
        <span class="sense-label">{{getSenseLabel()}}</span> {{comment.regarding.fieldNameForDisplay}}{{(comment.regarding.inputSystemAbbreviation) ? ' - ' + comment.regarding.inputSystemAbbreviation : ''}}
    </div>
    <div class="card-block" data-ng-class="{resolvedComment: comment.status == 'resolved'}">
        <div class="commentContentContainer">
            <div class="ng-hide" data-ng-bind="comment.contextGuid"></div>
            <div class="comment-meta">
                <div>
                    <img class="rounded-circle"
                         data-ng-src="{{getAvatarUrl(comment.authorInfo.createdByUserRef.avatar_ref)}}">
                    <div class="data-and-author">
                        <div class="comment-author">{{comment.authorInfo.createdByUserRef.name}}</div>
                        <div class="comment-date">{{comment.authorInfo.createdDate | relativetime}}</div>
                    </div>
                </div>
                <div class="dropdown" uib-dropdown data-ng-show="rights.canEditComment(comment.authorInfo.createdByUserRef.id) || rights.canDeleteComment(comment.authorInfo.createdByUserRef.id) && !comment.editing">
                    <button class="btn btn-sm btn-std ellipsis-menu pui-no-caret" uib-dropdown-toggle type="button"><i
                            class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <a href class="dropdown-item"
                           data-ng-show="rights.canEditComment(comment.authorInfo.createdByUserRef.id)"
                           data-ng-click="editComment()"><i class="fa fa-pencil"></i> Edit</a>
                        <a href class="dropdown-item"
                           data-ng-show="rights.canDeleteComment(comment.authorInfo.createdByUserRef.id) && !comment.editing"
                           data-ng-click="deleteComment(comment)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
            <div class="comment-body">
                <div class="commentRegarding" data-ng-show="comment.regarding.field && !comment.editing && isOriginalRelevant()">
                    <regarding-field class="form-control" content="comment.regarding.fieldValue" control="control"
                         field="comment.regarding.field" field-config="commentRegardingFieldConfig" ng-hide="isCommentRegardingPicture"></regarding-field>
                    <div data-ng-if="isCommentRegardingPicture">
                        <img data-ng-src="{{comment.regarding.fieldValue}}">
                    </div>
                </div>
                <div class="commentContent" data-ng-hide="comment.editing" data-ng-bind="comment.content"></div>
                <div data-ng-show="comment.editing" class="commentEditing">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea class="form-control" data-ng-model="editingCommentContent"></textarea>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-sm btn-std" data-ng-click="comment.editing = false">Cancel</a>
                        <button data-ng-disabled="!comment.content" class="btn btn-sm btn-primary"
                                data-ng-click="updateComment(comment)">Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-interaction">
            <span class="likes">{{comment.score}} Like{{(comment.score != 1 ? 's' : '')}}</span>
            <span class="replies">{{comment.replies.length || '0'}} Comment{{(comment.replies.length != 1 ? 's' : '')}}</span>
        </div>
        <div class="comment-actions">
            <div class="btn-like">
                <div class="can-like btn-action-icon" data-ng-show="canPlusOneComment(comment.id) && rights.canComment() && comment.status != 'resolved'" data-ng-click="plusOneComment(comment.id)">
                    <i title="Like comment" class="fa fa-thumbs-o-up"></i>
                    <span>Like</span>
                </div>
                <div class="liked btn-action-icon" data-ng-hide="canPlusOneComment(comment.id) && rights.canComment() && comment.status != 'resolved'">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>Like</span>
                </div>
            </div>
            <div class="btn-todo">
                <div ng-show="rights.canUpdateCommentStatus()">
                    <div class="open-todo btn-action-icon" data-ng-show="comment.status == 'resolved'"
                       data-ng-click="updateCommentStatus(comment.id, 'open')"><i class="fa fa-pencil-square-o"></i><span>Resolved</span></div>
                    <div class="resolve-todo btn-action-icon" data-ng-show="comment.status == 'todo'"
                       data-ng-click="updateCommentStatus(comment.id, 'resolved')"><i class="fa fa-pencil-square-o"></i><span>To do</span></div>
                    <div class="mark-todo btn-action-icon" data-ng-show="comment.status != 'resolved' && comment.status != 'todo'"
                       data-ng-click="updateCommentStatus(comment.id, 'todo')"><i class="fa fa-pencil-square-o"></i><span>To do</span></div>
                </div>
                <div ng-hide="rights.canUpdateCommentStatus()">
                    <div class="open-todo open-todo-readonly btn-action-icon" data-ng-show="comment.status == 'resolved'">
                        <i class="fa fa-pencil-square-o"></i><span>Resolved</span>
                    </div>
                </div>
            </div>
            <div class="btn-comments btn-action-icon" ng-click="showCommentReplies()">
                <i class="fa fa-comment-o"></i>
                <span>Comments</span>
            </div>
        </div>
        <div class="commentRepliesContainer" data-ng-show="comment.showRepliesContainer" ng-class="(comment.showRepliesContainer) ? 'on' : 'off'">
            <div class="comment-replies" ng-show="comment.replies.length">
                <div data-ng-repeat="reply in comment.replies" data-ng-mouseenter="reply.hover = true"
                     data-ng-mouseleave="reply.hover = false">
                    <div data-ng-hide="reply.editing" class="comment-reply">
                        <div class="reply-body">
                            <div class="reply-meta">
                                <div class="comment-author">{{reply.authorInfo.createdByUserRef.name}}</div>
                                <div class="comment-date">{{reply.authorInfo.createdDate | relativetime}}</div>
                            </div>
                            <span class="reply-content">{{reply.content}}</span>
                        </div>
                        <div data-ng-show="comment.status != 'resolved' && rights.canEditComment(reply.authorInfo.createdByUserRef.id)" class="reply-actions">
                            <div class="dropdown float-right" uib-dropdown>
                                <button class="btn btn-sm btn-std ellipsis-menu pui-no-caret" uib-dropdown-toggle
                                        type="button"><i class="fa fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <a href class="dropdown-item editReplyLink"
                                       data-ng-show="rights.canEditComment(reply.authorInfo.createdByUserRef.id)"
                                       data-ng-click="editReply(reply)">
                                        <i class="fa fa-pencil"></i> Edit</a>
                                    <a href class="dropdown-item deleteReplyLink"
                                       data-ng-show="rights.canDeleteComment(reply.authorInfo.createdByUserRef.id)"
                                       data-ng-click="deleteCommentReply(comment.id, reply)">
                                        <i class="fa fa-trash"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form data-ng-show="reply.editing" data-ng-submit="submitReply(reply)" class="reply-edit-form">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <textarea class="form-control" data-ng-model="reply.editingContent"
                                  pui-auto-focus="reply.isAutoFocusEditing"></textarea>
                        <div class="d-flex justify-content-end">
                            <a href class="btn btn-sm btn-std" data-ng-click="cancelReply(reply)">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <form ng-show="showNewReplyForm && comment.status != 'resolved'" class="commentNewReplyForm" data-ng-submit="submitReply(newReply)">
                <textarea class="form-control" required placeholder="Reply here.  Press Enter when done."
                          data-ng-model="newReply.editingContent" pui-auto-focus="isAutoFocusNewReply"></textarea>
                <div class="d-flex justify-content-end">
                    <a href class="btn btn-sm btn-std" data-ng-click="showCommentReplies()">Hide</a>
                    <button type="submit" class="btn btn-sm btn-primary" data-ng-disabled="posting"><i class="fa fa-reply"></i> Reply</button>
                </div>
            </form>
        </div>
    </div>
</div>
