<div>
    <div data-ng-show="showDefault">
        <label>Default Value</label>
        <select data-ng-model="defaultKey" data-ng-options="item.key as item.value for item in items">
            <option value="">(no default)</option>
        </select>
    </div>
    <div>
        <input data-ng-model="newValue" data-on-enter="pickAddItem()" name="newValue" type="text" placeholder="new value" no-dirty-check />
        <a data-ng-click="pickAddItem()"><i class="icon-plus"></i></a>
    </div>
    <div sv-root sv-part="items">
        <div data-ng-repeat="item in items" class="picklist-group" sv-element>
            <a data-ng-show="showRemove($index)" data-ng-click="pickRemoveItem($index)"><i class="icon-remove"></i></a>
            <span data-ng-hide="showRemove($index)" style="padding-left: 15px">&nbsp;</span>
            <input type="text" data-ng-model="item.value" data-on-enter="blur(thisElement)" class="picklist-row"></input>
            <input disabled type="text" data-ng-model="item.value" class="picklist-row" sv-placeholder></input>
            <i class="icon-align-justify" sv-handle></i><!-- In Font Awesome 4 we would use fa-bars instead -->
        </div>
    </div>
</div>
