<div class="form-group">
    <div class="row" data-ng-show="reports.length > 0">
        <div class="col-12 col-sm-9 col-md-4">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="form-control custom-select" data-ng-model="report.currentId" data-ng-options="report.id as report.name for report in reports">
                <option value="">Select a Report...</option></select>
        </div>
        <div class="col-md-3">
            <button data-ng-show="report.output" class="btn btn-std" data-ng-click="runReport()">Run Again</button>
        </div>
        <div class="clearfix"></div>
        <div class="card" data-ng-show="report.output">
            <pre class="card-body" data-ng-show="report.output" data-ng-bind="report.output"></pre>
        </div>
    </div>
    <div data-ng-hide="reports.length > 0">
        No reports are available at this time.
    </div>
</div>
