<form name="languageSearch">
    <a class="btn pull-right"
        data-ng-show="!showSuggestions && puiSuggestedLanguageCodes.length > 0" 
        data-ng-click="suggest()"
        style="font-weight:normal">
        Suggest Languages from Lexical Data</a>
    <div data-ng-show="showSuggestions">
        <a class="btn pull-right"
            data-ng-click="clearSearch()"
            style="font-weight:normal">
            <i class="icon-remove"></i> Clear Suggestions</a>
        <span>&nbsp;</span>
    </div>
    <div data-ng-hide="showSuggestions">
        <input width="4" placeholder="search" type="text" 
            class="input-medium search-query" data-ng-model="searchText" />
        <button class="btn btn-success" data-ng-click="search()" data-ng-show="searchText && searchText != ''">
            <i class="icon-search"></i>Search</button>
        <span style="margin-left:10px" title="Clear Search" data-ng-click="clearSearch()" 
            data-ng-show="searchText && searchText != ''">
            <i class="icon-remove" style="color:black; cursor: pointer"></i></span>
    </div>
</form>

<div class="scroll-table">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th><th>Code</th><th>Country</th><th>Other Names</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-class="{info: currentCode == language.code.three}" class="animate-repeat" 
                data-ng-click="selectLanguage(language)" 
                data-ng-repeat="language in languages | filter:filterText track by language.code.three">
                <td class="primary"><div>{{language.name}}</div></td>
                <td>{{(language.code.two) ? language.code.two : language.code.three}}</td>
                <td class="container" title="{{language.country.join(', ')}}"><div>{{language.country.join(', ')}}</div></td>
                <td class="container" title="{{language.altNames.join(', ')}}"><div>{{language.altNames.join(', ')}}</div></td>
            </tr>
        </tbody>
    </table>
</div>
    
<div class="pull-right" data-ng-transclude></div>
<p data-ng-show="puiShowLinks">
    <a href="http://www.infoterm.info/standardization/iso_639_1_2002.php" target="_blank">
        <small><i class="icon-globe"></i> About Language 639-1 Codes</small></a>
    <br />
    <a href="http://www.sil.org/iso639-3/" target="_blank">
        <small><i class="icon-globe"></i> About Language 639-3 Codes</small></a>
</p>
