/* form styling */
#form-container .page-header h1 {
  margin-left: 0;
}

#form-container #forgot_password {
  margin-left: 10px;
}

.yes-no-buttons {
  display: flex;
  justify-content: space-evenly;
}
