dc-audio {
  width: 100%;
  display: flex;
}

.dc-audio {
  min-height: 28px;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: flex-end;

  .uploadCtl {
    width: 100%;
  }

  .player, pui-audio-recorder {
    flex-grow: 1;
  }

  .player {
    font-size: initial;
    margin-top: 6px;
    a {
      padding-left: 6px;
    }
    i {
      margin-right: 3px;
    }
  }

  .audio-progress {
    font-weight: normal;
    min-width: 5em;
  }

  .upload-controls {
    display: flex;
    align-items: stretch;
    button {
      border-radius: 0;
      border-top: none;
      border-bottom: none;
      border-right: none;
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .btn.dropdown-toggle, .btn.buttonAppend {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    border-radius: 0 4px 4px 0;
    color: $theme-primary;
}

  div.form-group.float-right, div.form-group.float-left {
    margin-bottom: 0;
  }

  .drop-box {
    padding: 14px;
  }

  .deleteX {
    margin-right: 7px;
  }

  & > div > a {
    margin-left: 5px;
  }

  .seek-slider {
    display: block;
    width: 100%;
    margin-right: 0.1em;
  }
}
