.dc-formattedtext {
  width: 100%;

  input {
    padding: 0.25rem;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;

    width: 100%;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(16, 64, 96, 0.25);
      border-color: #2289cd;
      outline: none;
    }
  }
}
