dc-semanticdomain {
  form.dc-semanticdomain {
    margin: 0;
    .controls {
      .dc-semanticdomain-values {
        position: relative;
        margin-bottom: 10px;
        padding-right: 15px;
        display: inline-flex;
        > div {
          display: flex;
          .dc-semanticdomain-value {
            border-right: 0;
            border-radius: 3px 0 0 3px;
            select {
              margin-bottom: 20px;
            }
          }
          .dropdown {
            .btn {
              border-radius: 0 3px 3px 0;
              height: 100%;
              padding: 0 7px;
            }
            .commentBubbleContainer {
              position: relative;
              top: 0;
              right: 0;
              a.commentBubble {
                background: inherit;
                color: inherit;
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                &.noCount {
                  .commentCount {
                    display: inline-block;
                    width: 5px;
                  }
                }
                i {
                  color: inherit;
                  font-size: 16px;
                }
                .commentCount {
                  background: inherit;
                  color: inherit;
                  font-size: inherit;
                  position: relative;
                  top: 0;
                  left: 0;
                  width: auto;
                  padding: 0 2px;
                }
                .commentLabel {
                  display: inline-block;
                }
              }
            }
            .dropdown-comment-count {
              .commentBubbleContainer {
                position: absolute;
                a.commentBubble {
                  &.noCount {
                    .commentCount {
                      display: none;
                    }
                  }
                  .commentCount {
                    color: #fff;
                    position: absolute;
                    top: -9px;
                    left: -9px;
                    background: #1d64f0;
                    font-size: 10px;
                    width: 18px;
                  }
                  i,
                  .commentLabel {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .dc-semanticdomain-value {
          border: 1px solid $line-color;
          padding: $input-btn-padding-y $input-btn-padding-x;
          border-radius: $border-radius;
        }
      }
      .dc-semanticdomain-values-list {
        display: block;
      }
    }
  }
  .addItem {
    margin-bottom: 20px;
  }
  .spacing-after {
    line-height: 0;
    margin-bottom: 10px;
  }
}

dc-semanticdomain .spacing-after {
  line-height: 0;
  margin-bottom: 10px;
}
