.dc-text {
  width: 100%;

  input {
    padding: 0.25rem;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;

    width: 100%;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(16, 64, 96, 0.25);
      border-color: #2289cd;
      outline: none;
    }
  }
}

.dc-text {
  width: 100%;

  textarea {
    padding: 0.25rem;
    // height: 38px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;

    width: 100%;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(16, 64, 96, 0.25);
      border-color: #2289cd;
      outline: none;
    }
  }
}

.dc-text .ta-root {
  display: block;
}

.dc-text .ta-scroll-window > .ta-bind,
.dc-text .ta-root textarea {
  width: 100%;
}

.dc-text .ta-toolbar {
  float: right;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 5px;
  margin-right: 5px;
}

.dc-text .dc-multiline p {
  margin: 0;
}

.dc-text .dc-multiline .ta-editor {
  height: 112px;
}

.dc-text .ta-editor {
  min-height: 38px;
  height: auto;
  overflow: auto;
  white-space: normal;
  border-radius: 0 4px 4px 0;
}

.dc-text .dc-multiline .ta-scroll-window.form-control {
  min-height: 112px;
}

.dc-text .ta-scroll-window.form-control {
  min-height: 38px;
  width: 100%;
  border-radius: 0 $border-radius $border-radius 0 !important;
}

.dc-text .ta-editor,
.dc-text .ta-scroll-window > .ta-bind,
.dc-text .ta-root textarea {
  min-height: 38px;
  padding: 8px 12px;
}

.dc-text .dc-multiline .ta-editor,
.dc-text .dc-multiline .ta-scroll-window > .ta-bind,
.dc-text .dc-multiline .ta-root textarea {
  min-height: 100px;
}

.dc-text .ta-scroll-window > .ta-readonly:hover {
  cursor: not-allowed;
}

/* language span highlight */
.dc-text .ta-editor span {
  /*border: 1px solid transparent;*/
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
}
.dc-text .ta-editor span:hover {
  /*border: 1px solid #ADDDDD;*/
  background-color: #addddd;
}

/* auto hide the toolbar when not selected (focused) */
.ta-root .ta-toolbar {
  display: none;
}

/* allow textarea to resize vertically */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to prevent jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  padding: 0.5rem;
  font: inherit;
  width: 100%;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
