<div class="dc-example card">
    <div class="card-header">
        <div data-ng-if="$ctrl.control.rights.canEditEntry() && $ctrl.isAtEditorEntry()" class="d-flex align-items-center">
			Example <span class="notranslate pl-1">{{$ctrl.index+1}}</span>

			<span class="flex-grow"></span>

			<div class="mr-4">
				<a href data-ng-show="$ctrl.index > 0" data-ng-click="$ctrl.move($ctrl.index, -1)" class="mr-1" role="button">
					<span class="fa fa-arrow-up"></span>
				</a>
				<a href data-ng-show="$ctrl.index+1 < $ctrl.numExamples()" data-ng-click="$ctrl.move($ctrl.index, 1)" class="mr-1" role="button">
					<span class="fa fa-arrow-down"></span>
				</a>
			</div>

			<a href data-ng-click="$ctrl.remove($ctrl.index)" class="text-danger" role="button">
				<span class="fa fa-trash"></span>
			</a>
        </div>
    </div>
    <div class="card-body">
        <dc-fieldrepeat config="$ctrl.config" model="$ctrl.model" control="$ctrl.control" parent-context-guid="$ctrl.contextGuid"></dc-fieldrepeat>
    </div>
</div>
