<div class="dc-entry">
    <div class="card card-outline-primary entry-card">
        <div class="card-header">
            <div data-ng-if="$ctrl.control.rights.canDeleteEntry() && $ctrl.isAtEditorEntry()" class="d-flex align-items-center justify-content-between">
				Entry

                <a href data-ng-click="$ctrl.deleteEntry()" class="text-danger" role="button" title="Delete this entry">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
            <div class="comment-bubble-entry">
                <comment-bubble control="$ctrl.control" field="$ctrl.fieldName" model="$ctrl.model" parent-context-guid="$ctrl.contextGuid"></comment-bubble>
            </div>
        </div>

		<div class="card-body">
            <dc-fieldrepeat config="$ctrl.config" model="$ctrl.model" control="$ctrl.control" parent-context-guid="$ctrl.contextGuid"></dc-fieldrepeat>
        </div>
    </div>

	<div data-ng-if="$ctrl.control.rights.canEditEntry() && isAtEditorEntry()" class="addItem topAddMeaning">
        <a class="btn btn-sm btn-std" data-ng-click="$ctrl.addSense(0)"><i class="fa fa-plus"></i> Add Sense</a>
    </div>
    <div data-ng-if="$ctrl.config.fields.senses.fieldOrder.length > 0">
        <!--suppress JSUnusedLocalSymbols -->
        <div data-ng-repeat="sense in $ctrl.model.senses">
            <dc-sense model="sense" config="$ctrl.config.fields.senses" control="$ctrl.control" index="$index"
                      move="$ctrl.moveSense" num-senses="$ctrl.numSenses"
                      parent-context-guid="$ctrl.contextGuid" remove="$ctrl.deleteSense" ></dc-sense>
        </div>
    </div>
    <div data-ng-if="$ctrl.control.rights.canEditEntry() && $ctrl.isAtEditorEntry()" class="addItem">
        <a class="btn btn-sm btn-std" data-ng-click="$ctrl.addSense()"><i class="fa fa-plus"></i> Add Sense</a>
    </div>
</div>
