<form class="form-horizontal dc-multiparagraph">
    <div class="form-group row comment-bubble-group">
        <label class="col-form-label col-lg-4 text-lg-right">{{config.label}}</label>
        <div class="controls col-lg-8">
            <div class="input-group" data-ng-click="selectInputSystem(model.inputSystem)">
                <span class="wsid input-group-addon notranslate"
                    title="{{inputSystems[model.inputSystem].languageName}}">{{inputSystems[model.inputSystem].abbreviation}}</span>
                <!--
                <dc-text class="dc-text"
                    fte-disabled="!($state.is('editor.entry') && control.rights.canEditEntry())"
                    fte-disabled-reason="control.rights.sendReceive.isInProgress() ? 'sr-in-progress' : 'editing-not-permitted'"
                    fte-multiline="true"
                    fte-model="model.paragraphsHtml"
                    fte-dir="inputSystemDirection(model.inputSystem)"></dc-text>
                    -->
                <dc-text class="dc-text"
                    fte-disabled="true"
                    fte-disabled-reason="'would-lose-metadata'"
                    fte-multiline="true"
                    fte-model="model.paragraphsHtml"
                    fte-dir="inputSystemDirection(model.inputSystem)"></dc-text>
            </div>
        </div>
        <comment-bubble control="control" field="fieldName" input-system="" model="model" parent-context-guid="contextGuid"></comment-bubble>
    </div>
</form>
