<form class="form-horizontal dc-multioptionlist">
    <div class="form-group row comment-bubble-group">
        <label class="col-form-label col-lg-4 text-lg-right">{{config.label}}</label>
        <div class="controls col-lg-8">
            <div class="dc-multioptionlist-values list-repeater"
                 data-ng-repeat="value in model.values | orderBy: orderItemsByListOrder">
                <div>
                    <div class="dc-multioptionlist-value"
                         data-ng-click="selectValue(value)">
                        {{getDisplayName(value)}}
                    </div>
                    <div class="dropdown" uib-dropdown>
                        <button class="btn btn-sm btn-std ellipsis-menu pui-no-caret" uib-dropdown-toggle type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-comment-count">
                            <comment-bubble control="control" field="fieldName" multi-option-value="value" model="model"></comment-bubble>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <a href class="dropdown-item" data-ng-click="deleteValue(value)"><i class="fa fa-trash"></i> Delete</a>
                            <comment-bubble class="dropdown-item" control="control" field="fieldName" multi-option-value="value" model="model"></comment-bubble>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dc-multioptionlist-values-list"
                 data-ng-show="$state.is('editor.entry') && rights.canEditEntry() && isAdding">
                <!--suppress HtmlFormInputWithoutLabel -->
                <select class="form-control custom-select" data-ng-change="addValue()" data-ng-model="newValue"
                        data-ng-options="item.key as item.value for item in items | filter: filterSelectedItems">
                    <option value="">Pick an item</option>
                </select>
                <div class="deleteX">
                    <i class="fa fa-times" data-ng-click="isAdding = false" title="Cancel adding {{config.label}}"></i>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="addItem"
     data-ng-show="rights.canEditEntry() && $state.is('editor.entry') && showAddButton()">
    <a class="btn btn-sm btn-std" data-ng-click="isAdding = true"><i class="fa fa-plus"></i> Add {{config.label}}</a>
</div>
<div class="spacing-after"
     data-ng-hide="rights.canEditEntry() && $state.is('editor.entry') && showAddButton()">&nbsp;</div>
