<div class="dc-sense card">
    <div class="meaning-label card-header">
        <div data-ng-if="$ctrl.control.rights.canEditEntry() && $ctrl.isAtEditorEntry()" class="d-flex align-items-center">
            Meaning <span class="notranslate pl-1">{{$ctrl.index+1}}</span>

			<span class="flex-grow"></span>

			<div class="mr-4">
				<a href data-ng-show="$ctrl.index > 0" data-ng-click="$ctrl.move($ctrl.index, -1)" class="mr-1" role="button" data-tooltip="Move this meaning up">
					<span class="fa fa-arrow-up"></span>
				</a>
				<a href data-ng-show="$ctrl.index+1 < $ctrl.numSenses()" data-ng-click="$ctrl.move($ctrl.index, 1)" class="mr-1" role="button"  data-tooltip="Move this meaning down">
					<span class="fa fa-arrow-down"></span>
				</a>
			</div>

			<a href data-ng-click="$ctrl.remove($ctrl.index)" class="text-danger" role="button" data-tooltip="Delete this meaning">
				<span class="fa fa-trash"></span>
			</a>
        </div>
    </div>
    <div class="card-body">
        <dc-fieldrepeat config="$ctrl.config" model="$ctrl.model" control="$ctrl.control" parent-context-guid="$ctrl.contextGuid"></dc-fieldrepeat>
        <div data-ng-if="$ctrl.config.fields.examples.fieldOrder.length > 0">
            <!--suppress JSUnusedLocalSymbols -->
            <div data-ng-repeat="example in $ctrl.model.examples">
                <dc-example model="example" config="$ctrl.config.fields.examples" control="$ctrl.control" index="$index"
                            move="$ctrl.moveExample" num-examples="$ctrl.numExamples"
                            parent-context-guid="$ctrl.contextGuid" remove="$ctrl.deleteExample" ></dc-example>
            </div>
            <div data-ng-if="$ctrl.control.rights.canEditEntry() && $ctrl.isAtEditorEntry()" class="addItem">
                <a class="btn btn-sm btn-std" data-ng-click="$ctrl.addExample()"><i class="fa fa-plus"></i> Add Example</a>
            </div>
        </div>
    </div>
</div>
