<h2 style="font-weight:normal">Texts for {{projectName}}</h2>
<p>
<a ng-click="newTextCollapsed = !newTextCollapsed">Add New Text</a>
</p>
<div collapse="newTextCollapsed">
	<form class="well">
	<fieldset>
	<label>Title</label>
	<input ng-model="title" class="span4" type="text" placeholder="Title"/>
	<label>Text</label>
	<textarea ng-model="content" class="span4" rows="4" placeholder="Paste the USX text here"></textarea>
	<label></label>
	<button type="submit" class="btn" ng-click="addText(); newTextCollapsed = true"><i class="icon-plus"></i>Add Text to Check</button>
	</fieldset>
	</form>
</div>
<div listview hide-if-empty="true" search="queryTexts()" items="texts" visible-items="visibleTexts" select="">
<form class="control-bar form-inline">
	<button class="btn" ng-click="removeTexts()"><i class="icon-remove"></i>Remove Texts</button>
</form>
<hr />
<div ng-repeat="text in visibleTexts" class="details-row">
	<ul class="inline" ng-class="{active: isSelected(text)}">
		<li><input type="checkbox" ng-checked="isSelected(text)" ng-click="updateSelection($event, text)" /></li>
		<li><a href="#/project/{{projectName|urlencode}}/{{projectId}}/{{text.title|urlencode}}/{{text.id}}">
			<div class="attention-block">
				<span class="count">{{getQuestionCount(text)}}</span><br />
				<span class="subtitle">questions</span>
			</div>
		</a></li>
		<li>
			<a href="#/project/{{projectName|urlencode}}/{{projectId}}/{{text.title|urlencode}}/{{text.id}}">
				<span class="larger-text">{{text.title}}</span>
			</a>
		</li>
		<li><a href="#">{{getUnreadAnswers(text)}} unread answers</a></li>
		<li><a href="#">{{getUnreadComments(text)}} unread comments</a></li>
	</ul>
	<hr />
</div>
</div>
