<h2 style="font-weight:normal">{{project.name}} Details</h2>
<tabset>
	<tab heading="Users">
		<form ng-show="rights.showControlBar" class="control-bar form-inline">
			<button ng-disabled="selected.length == 0" ng-show="rights.deleteOther" class="btn" ng-click="removeProjectUsers()"><i class="icon-remove"></i>Remove Members</button>
			<button ng-show="rights.create" class="btn" ng-click="newUserCollapsed = !newUserCollapsed"><i class="icon-plus"></i>Add Members</button>
			<button ng-disabled="selected.length == 0" ng-show="rights.create" class="btn" ng-click="newMessageCollapsed = !newMessageCollapsed"><i class="icon-envelope"></i>Message Selected Users</button>
			
		</form>
		<div class="new-item" collapse="!newUserCollapsed">
			<form class="well form-inline">
			<typeahead class="typeahead" items="users" term="typeahead.userName" search="queryUser" select="selectUser">
				<ul>
					<li typeahead-item="user" ng-repeat="user in users" class="typeahead-item">
						<img width="32px" ng-src="{{imageSource(user.avatarRef)}}" class="left">
						<p class="name">{{user.name}}</p>
						<p class="email">{{user.email}}</p>
					</li>
				</ul>
			</typeahead>
			<button ng-model="addMode" class="btn" ng-disabled="!typeahead.userName" ng-click="addProjectUser()"><i ng-class="addModeIcon(addMode)"></i>{{addModeText(addMode)}}</button>
			</form>
		</div>
		<div collapse="newMessageCollapsed">
			<form class="well" ng-submit="sendMessageToSelectedUsers()">
			<fieldset>
				<label>Email Subject</label>
				<input name="emailSubject" required type="text" placeholder="Subject" ng-model="message.subject"/>
				<label>Email Message</label>
				<textarea name="emailTemplate" required ng-model="message.emailTemplate" pui-jqte="jqteOptions"></textarea>
				<label>SMS Message</label>
				<input required name="smsTemplate" type="text" placeholder="SMS Message" ng-model="message.smsTemplate"/>
			</fieldset>
			<button type="submit" class="btn"><i class="icon-ok"></i>Send Message Now</button>
			
			</form>
		</div>
		<div listview search="queryProjectUsers()" items="project.users" visible-items="visibleProjectUsers" select="">
		<!-- <div listview search="queryProjectUsers()" select=""> -->
		<table class="table" style="width: 100%">
			<thead>
			<tr>
				<th></th>
				<th>Username</th>
				<th>Full Name</th>
				<th>Role</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in visibleProjectUsers" ng-class="{active: isSelected(user)}" >
				<td width="16px" align="center"><input ng-show="rights.deleteOther" type="checkbox" ng-checked="isSelected(user)" ng-click="updateSelection($event, user)" /></td>
				<td>{{user.username}}</td>
				<td>{{user.name}}</td>
				<td><select ng-model="user.role" ng-change="onRoleChange(user)" ng-options="role.key as role.name for role in roles" /></td>
			</tr>
			</tbody>
		</table>		
		</div>
	</tab>
	<tab heading="Project Settings">
	<form class="well" ng-submit="updateProject()">
	<fieldset>
		<label>Project Name</label>
		<input type="text" placeholder="project name" ng-model="project.name"/>
		<label>Project Code</label>
		<input type="text" placeholder="project code" ng-model="project.projectCode"/>
		<label><input type="checkbox" ng-model="project.featured"/> Featured On Website</label>
		
	</fieldset>
	<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
	
	</form>
	</tab>
	<tab select="readCommunicationSettings()" ng-show="$parent.canEditCommunicationSettings()" heading="Communication Settings">
	<form class="well" ng-submit="updateCommunicationSettings()">
	<fieldset>
		<label>Twilio Account Username</label>
		<input type="text" placeholder="(Twilio SID)" ng-model="settings.sms.accountId"/>
		<label>Twillio Auth Token</label>
		<input type="text" placeholder="(Twilio Auth Token)" ng-model="settings.sms.authToken"/>
		<label>SMS From Number</label>
		<input type="text" placeholder="(From Number)" ng-model="settings.sms.fromNumber"/>
		<label>Email From (reply-to) Address</label>
		<input type="email" placeholder="(From Email)" ng-model="settings.email.fromAddress"/>
		<label>Email Name</label>
		<input type="text" placeholder="(From Name)" ng-model="settings.email.fromName"/>
	</fieldset>
	<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
	<button disabled class="btn"><i class="icon-check"></i>Test Settings (NYI)</button>
	
	</form>
	</tab>
</tabset>
