<h2 style="font-weight:normal">Texts for {{project.name}}</h2>
<form ng-show="rights.showControlBar" class="control-bar form-inline">
	<button ng-disabled="selected.length == 0" ng-show="rights.deleteOther" class="btn" ng-click="removeTexts()"><i class="icon-remove"></i>Remove Texts</button>
	<button ng-show="rights.create" class="btn" ng-click="newTextCollapsed = !newTextCollapsed"><i class="icon-plus"></i>Add New Text</button>
	<a ng-show="rights.editOther" class="btn" href="{{project.url}}/settings"><i class="icon-pencil"></i>Update Project Settings</a>
</form>
<div class="new-item" collapse="newTextCollapsed">
	<form class="well">
	<fieldset>
	<label>Title</label>
	<input ng-model="title" class="span4" type="text" placeholder="Title"/>
	<label>Text</label>
	<textarea textdrop="content" ng-model="content" class="span4" rows="4" placeholder="Paste the USX text here"></textarea>
	<label></label>
	<button type="submit" class="btn" ng-click="addText(); newTextCollapsed = true"><i class="icon-plus"></i>Add Text to Check</button>
	</fieldset>
	</form>
</div>
<hr />
<div listview hide-if-empty="true" search="queryTexts()" items="texts" visible-items="visibleTexts" select="">
<div ng-repeat="text in visibleTexts" class="details-row">
	<ul class="inline" ng-class="{active: isSelected(text)}">
		<li ng-show="rights.deleteOther" ><input type="checkbox" ng-checked="isSelected(text)" ng-click="updateSelection($event, text)" /></li>
		<li><a href="{{text.url}}">
			<div class="attention-block">
				<span class="count">{{getQuestionCount(text)}}</span><br />
				<span class="subtitle">questions</span>
			</div>
		</a></li>
		<li>
			<a href="{{text.url}}">
				<span class="larger-text">{{text.title}}</span>
			</a>
		</li>
		<li><a href="#">{{getUnreadAnswers(text)}} unread answers</a></li>
		<li><a href="#">{{getUnreadComments(text)}} unread comments</a></li>
	</ul>
	<hr />
</div>
</div>
