<h2 style="font-weight:normal">Update {{textTitle}}</h2>
<div ng-switch on="rights.editOther">
<tabset ng-switch-when="true">
	<tab heading="Edit Text">
		<form class="well " ng-submit="updateText(editedText)">
		<label>Title</label>
		<input type="text" class="span4" ng-model="editedText.title" placeholder="Text Name"/>
		<label>Text</label>
		<textarea textdrop="content" ng-model="editedText.content" class="span4" rows="4" placeholder="Paste the USX text here"></textarea>
		<label></label>
		<button type="submit" class="btn"><i class="icon-pencil"></i>Save</button>
		</form>
	</tab>
</tabset>
<div ng-switch-when="false"><p>You don't have permission to edit this text.</p></div>
</div>
