<h2 style="font-weight:normal">Questions for {{text.title}}</h2>
<form ng-show="rights.showControlBar" class="control-bar form-inline">
	<button ng-show="rights.deleteOther" class="btn" ng-click="removeQuestions()"><i class="icon-remove"></i>Remove Questions</button>
	<button ng-show="rights.create" class="btn" ng-click="newQuestionCollapsed = !newQuestionCollapsed"><i class="icon-plus"></i>Add New Question</button>
	<a ng-show="rights.editOther" class="btn" href="#/project/{{projectId}}/{{textId}}/settings"><i class="icon-pencil"></i>Update Text</a>
</form>
<div class="new-item" collapse="newQuestionCollapsed">
	<form class="well">
	<fieldset>
	<label>Question</label>
	<input type="text" ng-model="questionTitle" class="span4" rows="4" placeholder="the question"></textarea>
	<label></label>
	<textarea ng-model="questionDescription" class="span4" rows="4" placeholder="additional explanation of the question"></textarea>
	<label></label>
	<button type="submit" class="btn" ng-click="addQuestion(); newQuestionCollapsed = true"><i class="icon-plus"></i>Add Question</button>
	</fieldset>
	</form>
</div>
<hr />
<div listview hide-if-empty="true" search="queryQuestions()" items="questions" visible-items="visibleQuestions" select="">
<div ng-repeat="question in visibleQuestions" class="details-row">
	<ul class="inline" ng-class="{active: isSelected(question)}">
		<li ng-show="rights.deleteOther"><input type="checkbox" ng-checked="isSelected(question)" ng-click="updateSelection($event, question)" /></li>
		<li><a href="{{question.url}}">
			<div class="attention-block">
				<span class="count">{{getAnswerCount(question)}}</span><br />
				<span class="subtitle">answers</span>
			</div>
		</a></li>
		<li>
			<a href="{{question.url}}">
				<span class="larger-text">{{question.title}}</span>
			</a>
		</li>
		<li><a href="#">{{getUnreadAnswers(question)}} unread answers</a></li>
		<li><a href="#">{{getUnreadComments(question)}} unread comments</a></li>
	</ul>
	<hr />
</div>
</div>
