<h2 style="font-weight:normal">Questions for {{textName}}</h2>
<p>
<a ng-click="newQuestionCollapsed = !newQuestionCollapsed">Add a New Question</a>
</p>
<div collapse="!newQuestionCollapsed">
	<form class="well">
	<fieldset>
	<label>Question</label>
	<textarea ng-model="question" class="span4" rows="4" placeholder="Question"></textarea>
	<label></label>
	<button type="submit" class="btn" ng-click="addQuestion()"><i class="icon-plus"></i>Add Question</button>
	</fieldset>
	</form>
</div>
<form class="control-bar form-inline">
<button class="btn" ng-click="removeQuestions()"><i class="icon-remove"></i>Remove Questions</button>
</form>
<div listview search="queryQuestions()" items="questions" visible-items="visibleQuestions" select="">
<table class="table" style="width: 100%">
	<thead>
	<tr>
		<th width="16px"></th>
		<th>Questions</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="question in visibleQuestions" ng-class="{active: isSelected(question)}" >
		<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(question)" ng-click="updateSelection($event, question)" /></td>
		<td><a href="#/project/{{projectName|urlencode}}/{{projectId}}/{{textName|urlencode}}/{{textId}}/{{question.comment|urlencode}}/{{question.id}}">{{question.comment}}</a></td>
	</tr>
	</tbody>
</table>		
</div>
