<div class="span5">
<h2>{{text.title}}</h2>
<div id="text" sil-selection sil-selected-text="selectedText" content="text.content">
</div>
</div>
<div id="comments" class="span6">
	<div class="question">
	<h2>{{question.title}}</h2>
	<div>
	{{question.description}}
	</div>
	<a class="btn-link" ng-click="toggleQuestionEditor()">edit</a>
	<div class="edit-question" collapse="editQuestionCollapsed">
		<form class="well">
		<fieldset>
		<label>Question</label>
		<input type="text" ng-model="editedQuestion.title" class="span4" rows="4" placeholder="the question"></textarea>
		<label></label>
		<textarea ng-model="editedQuestion.description" class="span4" rows="4" placeholder="additional explanation of the question"></textarea>
		<label></label>
		<button type="submit" class="btn" ng-click="updateQuestion(editedQuestion); hideQuestionEditor()"><i class="icon-plus"></i>Edit Question</button>
		</fieldset>
		</form>
	</div>
	<div ng-show="question.answerCount == 0">
		There are no answers yet for this question. You could be the first one to reply!
	</div>
	<br/>
	Add your own answer<span ng-show="newAnswer.textHighlight"> about this part of the text</span>:
	<div ng-show="newAnswer.textHighlight" ng-bind-html="newAnswer.textHighlight" class="scripture-quote"></div>
	<form ng-submit="submitAnswer()">
		<textarea ng-model="newAnswer.content" pui-jqte="jqteOptions"></textarea>
		<button type="submit" class="btn">Answer Question</button>
	</form>
	</div>
	<table id="answers">
	<tr ng-repeat="(answerId, answer) in question.answers">
		<td>
			<div class="vote" style="display:inline-block;">
				<a ng-click="voteUp(answerId)"><i class="icon-caret-up"></i></a>
				<span>{{answer.score}}</span>
				<a ng-click="voteDown(answerId)"><i class="icon-caret-down"></i></a>
			</div>
		</td>
		<td>
			<div class="answer"><!--<b>DEBUG:</b>answerId = {{answerId}}, answer.id = {{answer.id}}<br/>-->
				<!--<b>DEBUG:</b>answer = {{answer}}<br/>-->
				<div ng-show="answer.textHighlight" ng-bind-html="answer.textHighlight" class="scripture-quote">
					{{answer.textHighlight}}
				</div>
				<div ng-bind-html="answer.content">
					{{answer.content}}
				</div>
				<div class="by">
					<img ng-src="{{answer.userRef.avatar_ref}}" width="32" height="32" /><div>answered {{answer.dateCreated | date:mediumDate}}<br/>by {{answer.userRef.username}}</div>
				</div>
				<div>
				<a ng-show="rightsEditOwn(answer.userRef.userid)" class="btn-link" ng-click="showAnswerEditor(answerId)">edit</a>
				<a ng-show="rightsDeleteOwn(answer.userRef.userid)" ng-click="answerDelete(answerId)" class="btn-link">delete</a>
				<ng-switch on="answerEditorVisible(answerId)">
				<form ng-submit="editAnswer(editedAnswer)" ng-switch-when="true">
					<textarea ng-model="editedAnswer.content" pui-jqte="jqteOptions"></textarea>
					<button type="submit" class="btn">Save</button>
					<a class="btn-link" ng-click="hideAnswerEditor()">Cancel</a>
				</form>
				</ng-switch>
				</div>
			</div>
			<table class="comments">
				<tr ng-repeat="comment in answer.comments">
					<td></td>
					<td>
						{{comment.content}} - {{comment.userRef.username}} - {{comment.dateCreated | date:mediumdate}}
						<a ng-show="rightsEditOwn(comment.userRef.userid)" class="btn-link" ng-click="showCommentEditor(comment.id)">edit</a>
						<a ng-show="rightsDeleteOwn(comment.userRef.userid)" ng-click="commentDelete(answer, comment.id)" class="btn-link">delete</a>
						<ng-switch on="commentEditorVisible(comment.id)">
						<form ng-submit="editComment(answerId, answer, editedComment)" ng-switch-when="true">
							<textarea ng-model="editedComment.content"></textarea>
							<button type="submit" class="btn">Save</button>
							<a class="btn-link" ng-click="hideCommentEditor()">Cancel</a>
						</form>
						</ng-switch>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<a ng-click="collapsed = !collapsed" class="btn btn-link">add comment</a>
						<div collapse="!collapsed">
						<form ng-submit="submitComment(answerId, answer); collapsed = !collapsed;">
							<textarea ng-model="newComment.content"></textarea><br/>
							<button type="submit" class="btn btn-small">Add Comment</button>
						</form>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
</div>
