<h2 style="font-weight:normal">Update {{textTitle}}</h2>
<div ng-show="rights.editOther">
<tabset>
	<tab heading="Edit Text">
		<form class="well " ng-submit="updateText(editedText)">
			<label>Title</label>
			<input type="text" class="span4" ng-model="editedText.title" placeholder="Text Name"/>
			<label>Text</label>
			<textarea ng-model="editedText.content" class="span4" rows="4" placeholder="Paste the USX text here"></textarea>
			<label>Upload an Audio File</label>
			<input type="file" ng-file-select="onFileSelect($files)" >
			<label></label>
			<div class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
			<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
			<br/>
			<div ng-show="file != null">
				Progress:
				<br/>
				<div class="span4"><progress percent="progress"></progress></div>&nbsp
				{{file.name}} - size: {{file.size | bytes }} - type: {{file.type}}
			</div>
			<label>&nbsp</label>
			<div ng-bind-html="uploadResult"></div>
<!-- 			<div class="response" ng-show="uploadResult.length > 0">
				Server Response: {{uploadResult}}
			</div>  -->
			<label></label>
			<br/>
			<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
		</form>
	</tab>
</tabset>
</div>
<div ng-hide="rights.editOther"><p>You don't have permission to edit this text.</p></div>
