<style>
	.tag-list ul li {
		display: inline-block;
		background: #cccccc;
		position: relative;
	}
	.tag-list ul li i.icon-remove-circle {
		position: absolute;
		top: -0.4em;
		right: -0.4em;
		z-index: 1;
		color: red;
	}
</style>
<h1>Title goes here</h1>
<div class="tag-list">
	<ul style="background: #ffcc99">
		<li ng-mouseenter="show1 = true" ng-mouseleave="show1 = false">One<i class="icon-remove-circle" ng-show="show1"></i></li>
		<li ng-mouseenter="show2 = true" ng-mouseleave="show2 = false">Two<i class="icon-remove-circle" ng-show="show2"></i></li>
		<li ng-mouseenter="show3 = true" ng-mouseleave="show3 = false">Three<i class="icon-remove-circle" ng-show="show3"></i></li>
	</ul>
</div>
