.connect-card {
  max-width: 600px;
  width: 100%;
  align-self: center;
}

.connect-title {
  text-align: center;
}

.submit-button {
  width: 120px;
  height: 40px;
  align-self: center;
}

.progress-container {
  padding: 30px;
}

.progress-label {
  padding-bottom: 20px;
}

.login-button {
  margin: 30px;
}
