<div mdcHeadline4 class="title">Connect Paratext Project</div>
<div class="content" [ngSwitch]="state">
  <div *ngSwitchCase="'login'" class="paratext-login-container">
    <div mdcBody1>You must login with your Paratext account to connect to a project.</div>
    <button mdc-button id="paratext-login-button" (click)="logInWithParatext()">
      <img src="/assets/paratext_logo.png" alt="Paratext Logo" class="paratext-logo" /> Log in with Paratext
    </button>
  </div>
  <mdc-card outlined *ngSwitchCase="'connecting'" class="progress-container">
    <div class="progress-label" mdcBody1>Connecting to {{ connectProjectName }}...</div>
    <mdc-linear-progress
      [secondary]="true"
      [determinate]="!connectPending"
      [progress]="connectProgress"
    ></mdc-linear-progress>
  </mdc-card>
  <form *ngSwitchDefault [formGroup]="connectProjectForm" (ngSubmit)="submit()">
    <mdc-form-field *ngIf="hasConnectableProjects; else noProjectMsg">
      <mdc-select
        #projectSelect
        id="project-select"
        placeholder="Paratext Project"
        formControlName="paratextId"
        required
        outlined
      >
        <mdc-menu id="projects-menu">
          <mdc-list>
            <mdc-list-item *ngFor="let project of targetProjects" [value]="project.paratextId">
              {{ project.name }}
            </mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </mdc-select>
    </mdc-form-field>
    <ng-template #noProjectMsg>
      <p *ngIf="state !== 'loading'" id="no-projects-msg">
        Looks like there are no connectable projects for you.<br />Please go to Paratext to register a project to
        connect to.
      </p>
    </ng-template>
    <mdc-card id="tasks-card" *ngIf="showTasks" outlined formGroupName="tasks">
      <div class="card-title">
        <span mdcHeadline6>Tasks</span>
        <span
          *ngIf="connectProjectForm.errors && connectProjectForm.errors.requireAtLeastOneWithValue"
          class="invalid-feedback"
        >
          You must select at least one option
        </span>
      </div>
      <div class="card-content">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mdc-form-field>
            <mdc-checkbox formControlName="translate" id="translate-checkbox"></mdc-checkbox>
            <label>Translate</label>
          </mdc-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="2.75rem" class="indent"></div>
          <p fxFlex class="helper-text">
            Collaborate with other translators working on the same text and use translation suggestions.
          </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="indented-field-row">
          <div fxFlex="2.75rem" class="indent"></div>
          <mdc-form-field fxFlex="1 1 0%">
            <mdc-select placeholder="Based on" formControlName="sourceParatextId" id="based-on-select" required>
              <mdc-menu>
                <mdc-list>
                  <mdc-list-item *ngFor="let project of sourceProjects" [value]="project.paratextId">
                    {{ project.name }}
                  </mdc-list-item>
                </mdc-list>
              </mdc-menu>
            </mdc-select>
          </mdc-form-field>
        </div>
      </div>
      <mdc-list-divider></mdc-list-divider>
      <div class="card-content">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mdc-form-field>
            <mdc-checkbox formControlName="checking" id="checking-checkbox"></mdc-checkbox>
            <label>Community Checking</label>
          </mdc-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="2.75rem" class="indent"></div>
          <p fxFlex class="helper-text">
            Engage the wider community to ensure that the translation is clear, accurate, and natural. Select verses,
            ask targeted questions, allow discussion of answers.
          </p>
        </div>
      </div>
    </mdc-card>
    <button mdc-button primary type="submit" id="connect-submit-button" [disabled]="!hasConnectableProjects">
      Connect
    </button>
  </form>
</div>
