<div class="content container" data-ng-cloak>
    <div class="row">
        <div class="col-sm-12">
            <sil-notices></sil-notices>
            <form data-ng-submit="$ctrl.submit()" id="userprofileForm" name="userprofileForm">
                <uib-tabset>
                    <uib-tab heading="My Account" id="myAccountTab">
                        <div class="form-group row">
                            <div class="card bg-light col-md-9 col-lg-7">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4 text-md-right" for="email">Email Address</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input class="form-control" id="email" autofocus
                                                       required type="email" name="email"
                                                       data-ng-blur="$ctrl.validateForm()"
                                                       data-ng-model="$ctrl.user.email">
                                                <span class="input-group-addon alert-danger" data-ng-if="!$ctrl.emailValid || $ctrl.emailExists">
                                                    <i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4 text-md-right" for="username">Username</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input class="form-control" id="username"
                                                       type="text" name="username"
                                                       data-ng-blur="$ctrl.validateForm();"
                                                       data-ng-model="$ctrl.user.username">
                                                <span class="input-group-addon alert-danger" data-ng-if="!$ctrl.usernameValid || $ctrl.usernameExists">
                                                    <i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-md-right">Last Login</label>
                                        <div class="col-md-8">
                                            {{$ctrl.user.last_login * 1000 | date:shortDate}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <span role="alert" class="text-danger" id="emailTaken" data-ng-show="$ctrl.emailExists">Email Address {{$ctrl.takenEmail}} is taken. Please try another<br></span>
                                        <span role="alert" class="text-danger" id="usernameTaken" data-ng-show="$ctrl.usernameExists">Username {{$ctrl.takenUsername}} is taken. Please try another<br></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="card bg-light col-md-9 col-lg-7">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label class="col-form-label text-md-right" for="avatarRef">Avatar</label>
                                            <div class="controls" style="margin-bottom:10px">
                                                <img class="img-polaroid" width="100px" height="100px" id="avatarRef" data-ng-src="{{$ctrl.getAvatarUrl($ctrl.user.avatar_ref)}}" title="Use the dropdown selections below to change your avatar's color and shape">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--suppress HtmlFormInputWithoutLabel -->
                                            <select data-ng-model="$ctrl.user.avatar_color" class="form-control custom-select" id="user-profile-avatar-color" data-ng-options="c.value as c.label for c in $ctrl.dropdown.avatarColors"><option value="">Select a Color...</option></select>
                                            <br><br>
                                            <!--suppress HtmlFormInputWithoutLabel -->
                                            <select data-ng-model="$ctrl.user.avatar_shape" class="form-control custom-select" id="user-profile-avatar-shape" data-ng-options="s.value as s.label for s in $ctrl.dropdown.avatarShapes"><option value="">Choose an animal...</option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label><a href="/app/changepassword">Change Password</a></label>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" data-ng-disabled="userprofileForm.$invalid||$ctrl.emailExists||$ctrl.usernameExists" class="btn btn-primary " id="saveMyAccountBtn"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="About Me" id="AboutMeTab">
                        <div class="form-group row">
                            <div class="card bg-light col-md-9 col-lg-7">
                                <div class="card-body">
                                    <h5>Tell us about yourself...</h5>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4 text-md-right" for="fullname">Full Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="fullname" autofocus
                                                   type="text" name="fullname"
                                                   placeholder="(full name)"
                                                   data-ng-model="$ctrl.user.name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4 text-md-right" for="age">Age</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="age"
                                                   type="text" name="age"
                                                   placeholder="(age)"
                                                   data-ng-model="$ctrl.user.age">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-last row">
                                        <label class="col-form-label col-md-4 text-md-right" for="gender">Gender</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" id="gender" data-ng-model="$ctrl.user.gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" data-ng-disabled="userprofileForm.$invalid||$ctrl.emailExists||$ctrl.usernameExists" class="btn btn-primary " id="saveAboutMeBtn"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Delete My Account" id="DeleteTab">
                        <div class="card bg-light col-md-9 col-lg-7">
                            <div ng-show="!$ctrl.finishedLoadingOwnedProjects">
                                <div class="card-body">
                                    Investigating the feasibility of account deletion...
                                </div>
                            </div>
                            <div ng-show="$ctrl.finishedLoadingOwnedProjects">
                                <div class="card-body" ng-if="!$ctrl.ownsAProject">
                                    <div class="form-group row">
                                        <label class="col-12" for="deletebox">Confirm deletion by typing DELETE into the box below</label>
                                        <div class="col-md-4">
                                            <input data-ng-model="deleteBoxText" class="form-control" type="text" id="deletebox">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <button id="deleteAccount" class="btn btn-danger"
                                                    data-ng-click="$ctrl.deleteOwnAccount()">
                                                    <!--Need to change this ng-click!!-->
                                                <i class="fa fa-trash"></i> Delete my account</button>
                                        </div>
                                    </div>
                                    <div class="text-error">Deleting your account is a permanent action and cannot be undone. Your account will be deleted, and you will be removed from all projects you are a member of. You will no longer be able to log in.</div>
                                </div>
                                <div class="card-body" ng-if="$ctrl.ownsAProject">
                                    <h5>You are a project owner.</h5>
                                    <div class="form-group">
                                        First, transfer
                                    </div>
                                    <listview items="$ctrl.ownedProjects">
                                        <div data-ng-repeat="project in $ctrl.ownedProjects">
                                            <div class="row text-center">
                                                <div class="col-5">
                                                    <a data-ng-href="/app/lexicon/{{project.id}}">
                                                        <span>{{project.projectName}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </listview>
                                    <br>
                                    <div class="form-group">
                                        to a new owner or delete. Then, you will be able to delete your account.
                                    </div>
                                    <div class="form-group text-center">
                                        <a data-ng-href="https://community.software.sil.org/t/how-to-transfer-ownership-of-a-project-to-another-project-member/7099">
                                            <small>Help: How to transfer project ownership</small>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab data-ng-repeat="project in $ctrl.projectsSettings" heading="{{project.name}}" disabled="project.userProperties.userProfilePropertiesEnabled.length == 0">
                        <div class="form-group row">
                            <div class="card bg-light col-sm-6 col-md-5 col-lg-4">
                                <div class="card-body">
                                    <div class="form-group row" data-ng-show="project.userProperties.userProfilePropertiesEnabled.indexOf('city') >= 0">
                                        <label for="cityInput">{{project.userProperties.userProfilePickLists['city'].name}}</label>
                                        <select id="cityInput" class="form-control custom-select"
                                                data-ng-model="project.userProperties.userProfilePickLists['city'].defaultKey"
                                                data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['city'].items"></select>
                                    </div>
                                    <div class="form-group row" data-ng-show="project.userProperties.userProfilePropertiesEnabled.indexOf('preferredBibleVersion') >= 0">
                                        <label for="bibleVersionInput">{{project.userProperties.userProfilePickLists['preferredBibleVersion'].name}}</label>
                                        <select id="bibleVersionInput" class="form-control custom-select"
                                                data-ng-model="project.userProperties.userProfilePickLists['preferredBibleVersion'].defaultKey"
                                                data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['preferredBibleVersion'].items"></select>
                                    </div>
                                    <div class="form-group row" data-ng-show="project.userProperties.userProfilePropertiesEnabled.indexOf('religiousAffiliation') >= 0">
                                        <label for="affiliationInput">{{project.userProperties.userProfilePickLists['religiousAffiliation'].name}}</label>
                                        <select id="affiliationInput" class="form-control custom-select"
                                                data-ng-model="project.userProperties.userProfilePickLists['religiousAffiliation'].defaultKey"
                                                data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['religiousAffiliation'].items"></select>
                                    </div>
                                    <div class="form-group row" data-ng-show="project.userProperties.userProfilePropertiesEnabled.indexOf('studyGroup') >= 0">
                                        <label for="studyGroupInput">{{project.userProperties.userProfilePickLists['studyGroup'].name}}</label>
                                        <select id="studyGroupInput" class="form-control custom-select"
                                                data-ng-model="project.userProperties.userProfilePickLists['studyGroup'].defaultKey"
                                                data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['studyGroup'].items"></select>
                                    </div>
                                    <div class="form-group row" data-ng-show="project.userProperties.userProfilePropertiesEnabled.indexOf('feedbackGroup') >= 0">
                                        <label for="feedbackGroupInput">{{project.userProperties.userProfilePickLists['feedbackGroup'].name}}</label>
                                        <select id="feedbackGroupInput" class="form-control custom-select"
                                                data-ng-model="project.userProperties.userProfilePickLists['feedbackGroup'].defaultKey"
                                                data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['feedbackGroup'].items"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" data-ng-disabled="userprofileForm.$invalid||$ctrl.emailExists||$ctrl.usernameExists" class="btn btn-primary " id="saveProjectBtn"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>
