# https://caddyserver.com/docs/caddyfile
{
	#debug
	auto_https off
}

:80 {
	@next_app_paths {
		# when running next-app in dev mode, these are needed.
		path /.svelte-kit/*
		path *node_modules*
		path /@vite/*
		path /src/*

		# ref for existing: /src/index.php
		path /app/changepassword
		path /password*
		path /projects*
	}
	route @next_app_paths {
		rewrite /app/changepassword /password/change
		reverse_proxy {$NEXT_APP}
	}

	@next_app_header {
		header referer *.svelte # when running next-app in dev mode, this is needed.
	}
	route @next_app_header {
		reverse_proxy {$NEXT_APP}
	}

	reverse_proxy {$LEGACY_APP}
}

# when running next-app in dev mode, this is needed, specifically for vite's ws connection.
:3000 {
	reverse_proxy {$NEXT_APP}
}
