{% extends 'languageforge.html.twig' %}

{% block content %}
    <div class="container banner">
        <img src="/Site/views/languageforge/theme/default/image/discuss.jpg" width="500px" height="375px" alt="discussion" />
    </div>
    <div class="container" style="margin-bottom: 50px">
        <h2>Discuss</h2>
        <p>You can discuss Language Forge at our <a href="https://groups.google.com/forum/#!forum/languageforge" target="_blank" >Google Group here.</a></p>

        <h2>Give Feedback</h2>
        <p>Please suggest features/improvements on our <a href="https://languageforge.uservoice.com" target="_blank" >User Voice Feedback site.</a></p>

        <h2>Report Bugs</h2>
        <p>Found a bug?  Post a bug report on our <a href="https://github.com/sillsdev/lfsite/issues" target="_blank" >GitHub issue tracker</a> (Github account required)</p>
    </div>
{% endblock %}
