{% extends 'languageforge.html.twig' %}

{% block content %}
    <div class="container banner" >
        <img class="left" src="/Site/views/languageforge/theme/default/image/girl.jpg" width="355px" height="497px" alt="you and your language" />
        <div style="margin-left:300pt;">
            <h2>Contribute</h2>
            <p>Your ability to think and speak in your mother tongue is a powerful gift.  You could make an difference by contributing to the development of dictionares that your community can use in education and in everyday life.  The language project will give you permission to add content and review conent others have added to the lexicon from which dictionaries will be created.  You can create new words, new meanings for those words or example scentences to show how those words are used in everyday language. You can also comment on others contributions or provide feedback on others comments. This then allows the language project to refine the lexical content the community is collaboratively developing.  What are you waiting for?  Sign up today!</p>
        </div>
    </div>
{% endblock %}
