<h1>Projects</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>
  <input placeholder="Filter..." (keyup)="updateSearchTerm($event.target.value)">
</p>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects$ | async">
      <td><input [ngModel]="project.projectName" (ngModelChange)="updateProjectName(project, $event)" /></td>
      <td>{{ project.inputSystem.languageName }}</td>
    </tr>
  </tbody>
</table>
<button class="btn" (click)="update()" [disabled]="!isDirty">Update</button>
