<h1>Projects</h1>

<p>This component demonstrates fetching data from the server.</p>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects$ | async">
      <td><input [ngModel]="project.attributes.projectName" (ngModelChange)="updateProjectName(project, $event)" /></td>
      <td>{{ project.attributes.projectCode }}</td>
    </tr>
  </tbody>
</table>
<button class="btn" (click)="update()" [disabled]="!isDirty">Update</button>
