@import '../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../../node_modules/bootstrap/scss/mixins';

.fixed-nav-bar {
  background-color: $theme-primary;
}

.breadcrumb {
  background-color: #fff;
  padding: 6px 0 0;
  margin-bottom: 0;
  border-radius: 0;
}

#mobileMenu {
  float: left;
  width: 100%;
  .nav-projects {
    float: left;
  }
  .nav-user {
    float: right;
  }
  .nav-link {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: -3px;
    i {
      vertical-align: top;
      margin-top: 7px;
    }
    img {
      width: 28px;
      height: 28px;
      border: 1px solid #39537c;
      vertical-align: top;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}

#inviteAFriend {
  height: 0;
  margin-top: 5px;

  .fa-times {
    color: black;
  }

  .overlay-bg {
    padding: 18px;
    box-shadow: 0 1pt 5px 3px #d0d0d0;
    border-radius: 4px;
    z-index: 2;
    background-color: white;
    position: relative;

    .heading {
      font-size: 1.2em;
      margin-bottom: 1em;
    }
  }
}

.scripture-quote {
  background-color: #dddddd;
  padding: 0.5em;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
}

#answers {
  width: 100%;

  margin-top: 2em;

  &> :first-child {
    vertical-align: top;
  }
}

$vote-width: 2em;
#answers {
  .vote {
    text-align: center;
    float: left;
    width: $vote-width;

    .disabled {
      color: #ddd;
    }

    .vote-count {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .answer {
    margin-left: $vote-width + 0.5em;
  }
}

.answer {
  padding: 0.5em;
  @extend .card;
  display: block;
}

.fieldset {
  legend {
    width: auto;
    padding-right: 0.25em;
    padding-left: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

label {
  display: block;
}
