<div data-ng-cloak style="text-align: center;">
    <div style="margin-top:100px; height: 500px; vertical-align: middle; display:inline-block"" class="container-fluid">
        <label> <b> Click on language to JOIN </b>: </label>
        <div style="overflow-y:scroll; height:300px; border: 1px solid black">
            <ul style="padding: 5px">
                <li ng-repeat="project in openProjects"  ng-click="showModal(project, 1)" class="thumbnail">
                    <a ng-click="requestProjectJoin(project)"> {{project.projectName}} </a>
                </li>
            </ul>
        </div>     
         <div style="margin-top:10px">
             <label> <b> Don't see your project, type below to create </b>: </label>
             <br />
             <input 
            
               ng-model="languageCode"
               ng-change="checkLanguageAvailability()" />
             <button ng-click="openNewLanguageModal()" class="btn btn-primary"> Select Langauge</button>
             <br/>
             <br/>
             <button ng-disabled="!canCreate" ng-click="createProject(false)" class="btn btn-primary"> Create Empty Project</button>
             <button ng-show="canCreate && languageHasGoogleTranslateData" ng-click="createProject(true)" class="btn btn-primary"> Create With Google Data</button>
         </div>  
    </div>
</div>
