<div class="container" data-ng-cloak data-ng-controller="ViewSettingsCtrl">
<br><h2 style="font-weight:normal" >View Settings</h2>
<form name="viewSettingForm" novalidate>
<fieldset data-ng-disabled="isSaving">
<button class="btn btn-primary {{interfaceConfig.pullToSide}}" id="view-settings-apply-btn" data-ng-click="settingsApply()"
    data-ng-disabled="viewSettingForm.$pristine || !allRolesHaveAtLeastOneSense() || !allUsersHaveAtLeastOneSense() || isSaving">
    <i ng-class="{'fa fa-ok': !isSaving, 'fa fa-spinner fa-spin': isSaving}"></i> Apply</button>
<uib-tabset>
    <uib-tab data-ng-repeat="tab in tabs" class="{{interfaceConfig.pullNormal}}" active="tab.active"
        select="selectTab($index)">
<!--         data-ng-click="selectField(currentField.name, currentView)"> -->
        <uib-tab-heading>{{tab.name}}
            <span data-ng-hide="tab.byUser || isAtLeastOneSense(tab.view)">
                <i class="fa fa-exclamation-circle"
                    title="At least one role Meaning field must be enabled!"
                   style="padding-left: 5px;"></i></span>
            <span data-ng-hide="tab.byRole || allUsersHaveAtLeastOneSense()">
                <i class="fa fa-exclamation-circle"
                    title="At least one user Meaning field must be enabled!"
                   style="padding-left: 5px;"></i></span>
        </uib-tab-heading>
        <div data-ng-show="tab.byUser && state === 'userSelectList'">

            <!-- control buttons -->
            <form class="form-inline">
                <div class="form-row align-items-start">
                    <div class="col-auto">
                        <pui-typeahead class="typeahead" items="typeahead.users" term="typeahead.userName" search="typeahead.searchUsers" select="typeahead.selectUser">
                            <ul>
                                <li class="typeahead-item" typeahead-item="user" data-ng-repeat="user in typeahead.users">
                                    <img width="32px" data-ng-src="{{imageSource(user.avatarRef)}}" class="left">
                                    <p class="name">{{user.name}}</p>
                                    <p class="email">{{user.email}}</p>
                                </li>
                            </ul>
                        </pui-typeahead>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-primary" id="view-settings-add-member-btn" data-ng-click="addUser()">
                          <i class="fa fa-plus iconPadding"></i>Add Member Specific Settings</button>
                    </div>
                </div>
            </form>

            <div class="row outer-flex">

                <!-- Left column: user select list -->
                <div class="col-md-3 form-group picklists" id="userSelectList">
                        <ul class="list-unstyled">
                            <li data-ng-click="selectUser(userId)" data-ng-repeat="(userId, userView) in configDirty.userViews"
                                data-ng-class="{selected:currentUserId == userId}">
                                <span class="notranslate">{{usersWithSettings[userId].name}} ({{usersWithSettings[userId].username}})</span>
                                <span data-ng-hide="isAtLeastOneSense(userView)">
                                    <i class="fa fa-exclamation-circle"
                                        title="At least one Meaning field must be enabled!"
                                       style="padding-left: 5px;"></i></span>
                            </li>
                        </ul>
                </div>

            </div>
        </div>
        <div data-ng-hide="tab.byUser && state === 'userSelectList'">
            <!-- control buttons for member-specific views -->
            <div class="row" data-ng-show="tab.byUser && state === 'userSettings'">
                <div class="col-md-3">
                    <button class="btn btn-std" id="view-settings-select-member-btn" data-ng-click="goSelectUser()">
                      <i class="fa fa-arrow-circle-left"></i> Select Member</button>
                </div>
                <div class="col-md-9">
                    <button class="btn btn-std" id="view-settings-remove-member-btn" data-ng-click="removeSelectedMemberSettings()">
                        <i class="fa fa-trash"></i> Remove Member Specific Settings </button>
                </div>
            </div>
        <uib-accordion close-others="true">
        <uib-accordian-group uib-accordion-group is-open="true">
        <uib-accordion-heading>
            <div class="card card-body">
                <h3>Enabled Fields for <span class="notranslate">{{forWhom}}</span></h3>
            </div>
        </uib-accordion-heading>
            <div class="row">

            <!-- Left column: field view select list -->
            <div class="col-md-4 form-group">


                <!-- control buttons -->
                <div class="form-group">
                    <button data-ng-click="showAllFields = ! showAllFields" class="btn btn-sm">
                        <i class="fa fa-{{ showAllFields ? 'minus-square-o' : 'plus-square-o' }}"></i>
                        <span class="d-none d-md-inline-block">
                            {{showAllFields ? 'Show Only Common Fields' : 'Show All Fields'}}
                        </span>
                    </button>
                </div>

                <!-- select list -->
                <dl class="picklists" style="height: 200px; overflow: auto;">
                    <dt>Entry Level Fields</dt>
                    <dd><div class="controls">
                        <div data-ng-repeat="fieldName in fieldOrder.entry"
                            data-ng-class="{selected:currentField.name == fieldName}"
                            data-ng-click="selectField(fieldName, currentView)">
                            <span data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
                                data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                                {{fieldConfig[fieldName].label}}
                                <i class="{{interfaceConfig.pullToSide}}" ng-class="{'fa fa-eye': currentView.fields[fieldName].show}"></i>
                            </span>
                        </div>
                    </div></dd>
                    <dt>Meaning Level Fields
                        <span data-ng-hide="isAtLeastOneSense(currentView)">
                        <i class="fa fa-exclamation-circle"
                            title="At least one Meaning field must be enabled!"
                           style="position: absolute; padding-left: 5px;"></i></span></dt>
                    <dd><div class="controls">
                        <div data-ng-repeat="fieldName in fieldOrder.senses"
                            data-ng-class="{selected:currentField.name == fieldName}"
                                data-ng-click="selectField(fieldName, currentView)">
                            <span data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
                                data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                                {{fieldConfig[fieldName].label}}
                                <i class="{{interfaceConfig.pullToSide}}" ng-class="{'fa fa-eye': currentView.fields[fieldName].show}"></i>
                                </span>
                        </div>
                    </div></dd>
                    <dt>Example Level Fields</dt>
                    <dd><div class="controls">
                        <div data-ng-repeat="fieldName in fieldOrder.examples"
                            data-ng-class="{selected:currentField.name == fieldName}"
                                data-ng-click="selectField(fieldName, currentView)">
                            <span data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
                                data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                                {{fieldConfig[fieldName].label}}
                                <i class="{{interfaceConfig.pullToSide}}" ng-class="{'fa fa-eye': currentView.fields[fieldName].show}"></i>
                                </span>
                        </div>
                    </div></dd>
                </dl>
                <small>Custom Fields shown in <i>italics</i></small>
            </div>

            <!-- Right column: field view settings -->
            <div class="col-md-8 form-group">

                <!-- settings -->
                <div class="card card-body bg-light">
                    <h3 style="font-weight:normal"><span class="notranslate">{{fieldConfig[currentField.name].label}}</span> Field View Settings</h3>
                    <div class="form-group">
                        <div class="controls">
                            <label class="checkbox {{interfaceConfig.pullNormal}}">
                                <input type="checkbox" id="showFieldCheckbox"
                                    data-ng-disabled="currentField.name == 'lexeme'"
                                    data-ng-model="currentView.fields[currentField.name].show">
                                Show field</label>
                        </div>
                        <br>
                    </div>
                    <div data-ng-show="currentView.fields[currentField.name].type === 'multitext'">
                        <div class="form-group">
                            <div class="controls">
                                <label class="checkbox {{interfaceConfig.pullNormal}}">
                                    <input type="checkbox" id="overrideInputSystemsCheckbox"
                                        data-ng-model="currentView.fields[currentField.name].overrideInputSystems">
                                    Override Input Systems</label>
                                <br>
                            </div>
                        </div>
                        <div data-ng-show="currentView.fields[currentField.name].overrideInputSystems">
                            <hr>
                            <div class="row align-items-start form-group">
                                <label class="col-12 col-form-label" for="inputSystem">Input Systems</label>
                                <div class="col-xs-auto picklists">
                                    <ul class="list-unstyled indent1"  id="inputSystem">
                                        <li data-ng-click="currentField.inputSystems.currentTag = inputSystemTag"
                                            data-ng-repeat="inputSystemTag in currentField.inputSystems.order"
                                            data-ng-class="{selected:currentField.inputSystems.currentTag == inputSystemTag}">
                                            <div class="checkbox"><!--suppress HtmlFormInputWithoutLabel -->
                                                <input data-ng-model="currentField.inputSystems.selected[inputSystemTag]" type="checkbox">
                                                <span class="notranslate">{{configDirty.inputSystems[inputSystemTag].abbreviation}}</span></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-auto btn-group-vertical" style="margin-left: 3rem; margin-right: 3rem">
                                    <button class="btn btn-std" data-ng-click="moveUp(currentField.inputSystems.currentTag, currentView)"
                                        data-ng-disabled="currentField.inputSystems.order[0] == currentField.inputSystems.currentTag || !currentField.inputSystems.currentTag">
                                        <i class="fa fa-arrow-up"></i></button>
                                    <button class="btn btn-std" data-ng-click="moveDown(currentField.inputSystems.currentTag, currentView)"
                                        data-ng-disabled="currentField.inputSystems.order[currentField.inputSystems.order.length - 1] == currentField.inputSystems.currentTag || !currentField.inputSystems.currentTag">
                                        <i class="fa fa-arrow-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--
<pre>
currentView.fields[currentField.name].inputSystems {{currentView.fields[currentField.name].inputSystems | json}}
currentField {{currentField | json}}
</pre>
 -->
            </div>

            </div>
        </uib-accordian-group>
    </uib-accordion>
    </div>
    </uib-tab>
</uib-tabset>
</fieldset>
</form>
<!--
<pre>
tabs {{tabs | json}}
configDirty.roleViews {{configDirty.roleViews | json}}
currentUserId {{currentUserId | json}}
currentField {{currentField | json}}
configDirty.userViews {{configDirty.userViews | json}}
</pre>
 -->
</div>
