# additional defaults for
# config file for ansible -- http://ansible.com/
# ==============================================

# merge the following to /etc/ansible/ansible.cfg

[defaults]

# don't like cows?  that's unfortunate.
# set to 1 if you don't want cowsay support or export ANSIBLE_NOCOWS=1
nocows = 1

# additional paths to search for roles in, colon separated
roles_path    = /etc/ansible/roles:./roles_common:./roles
