# https://caddyserver.com/docs/caddyfile
{
	#debug
}

localhost {
	# NOTE: "app" here is the name of the service found in the docker-compose.yml
	reverse_proxy app:80
}

:80 {
	# NOTE: "app" here is the name of the service found in the docker-compose.yml
	reverse_proxy app:80
}
