<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="newProject.emptyProjectDesired"/>
            {{'Skip this step and create an empty project.' | translate}}
        </label>
    </div>
</div>

<div data-collapse="newProject.emptyProjectDesired">
    <h3>Initial data</h3>
    
    <div class="drop-box" data-ng-file-drop="onFileSelect($files)" data-ng-file-drop-available="dropSupported=true">
        <h4>Upload initial data</h4>
        <br/>
        <p>Drag files here, or click Browse button</p>
        <input type="button" class="btn" id="browseButton" value="Browse..." onclick="javascript:document.getElementById('datafile').click();" />
        <input id="datafile" type="file" style="display:none;" data-ng-file-select="onFileSelect($files)" />
        <div data-ng-show="uploadErrorMsg">
            <span style="color: red" data-ng-bind="uploadErrorMsg"></span>
        </div>
    </div>
    <div data-ng-show="uploadProgress">Upload progress: {{uploadProgress}}%</div>
    <div data-ng-show="datafile != null">
        <p><strong>{{datafile.name}}</strong> {{datafile.size | bytes }}</p>
        <div class="span4" data-ng-class="interfaceConfig.pullNormal">
            <progressbar data-value="uploadProgress" data-max="100.0"></progressbar>
        </div>
        &nbsp;
    </div>
    <div data-ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
</div>

<!--
Used to mock file upload. Assumes file is already in the right location.
TODO: This should be removed from production code! IJH 2014-11
<pui-mockupload data-ng-show="showMockUpload" data-ng-click="showMockUpload = ! showMockUpload" data-do-upload="onFileSelect(filesArray)" />
for directive function call see http://stackoverflow.com/questions/23477859/angularjs-call-function-on-directive-parent-scope-with-directive-scope-argumen
 -->
<a id="useMockUploadButton" data-ng-click="showMockUpload = ! showMockUpload; mockFiles =[{}]">&nbsp;</a>
<div data-ng-show="showMockUpload">
    <input type="text" id="mockFileName" data-ng-model="mockFiles[0].name" />
    <input type="text" id="mockFileSize" data-ng-model="mockFiles[0].size" />
    <a class="btn" id="mockUploadButton" data-ng-click="onFileSelect(mockFiles)"></a>
</div>
