<h2>Verify data</h2>
<p>{{newProject.entriesImported}} entries were found in the initial data.</p>
<!-- TODO: See if we can present any more details.
     E.g., # nouns, # verbs, # adjectives...
     (Only pick 5 most common parts of speech, don't overwhelm the user).
-->
<div data-ng-hide="hasImportErrors()" translate="There were no non-critical import errors"></div>
<div data-ng-show="hasImportErrors()">
    <button class="btn" data-ng-click="show.importErrors = !show.importErrors">{{showImportErrorsButtonLabel()}}</button>
    <div data-collapse="! show.importErrors">
        <div class="well" id="importErrors">{{newProject.importErrors}}</div>
    </div>
</div>
<br/>
<button class="btn btn-primary" translate="Looks good!" data-ng-click="initialDataLooksGood()"></button>
