.update-button-spinner {
  float: left;
  margin-top: 0.6em;
  margin-right: 0.5em;
}

.contactMethod-spinner,
.birthday-spinner,
.gender-spinner {
  float: right;
  margin-top: 1.5em;
  margin-right: 0.5em;
}

.check-icon {
  color: green;
}

mat-card button {
  left: 1em;
}

.error-icon {
  color: red;
}

.delete-account mat-card {
  border: 2px solid red;
}

.nowrap {
  white-space: nowrap;
}

.linked-paratext,
.linked-google {
  margin-bottom: 1em;
}
