.update-button-spinner {
  float: left;
  margin-top: 0.6em;
  margin-right: 0.5em;
}

.contactMethod-spinner,
.birthday-spinner,
.gender-spinner {
  float: right;
  margin-top: 1.5em;
  margin-right: 0.5em;
}
