<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="control-group">
            <div class="controls d-none">
                <a class="btn btn-std btn-block" data-ng-class="$ctrl.interfaceConfig.pullNormal"
                    id="sendReceiveButton" data-ng-click="$ctrl.getProjectFromInternet()">
                    <i class="fa fa-cloud-download fa-lg fa-fw text-info"></i>
                    {{'Get project from ParaTExt...' | translate}}
                </a>
            </div>
            <div class="controls">
                <a class="btn btn-std btn-block" data-ng-class="$ctrl.interfaceConfig.pullNormal"
                    id="createButton" data-ng-click="$ctrl.createNew()">
                    <i class="fa fa-plus fa-lg fa-fw text-success"></i>
                    {{'Create a new project...' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>
