<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h4 class ="no-space-break" data-translate="Get project from ParaTExt"></h4>
            </div>
            <div class="card card-default">
                <div class="card-body">
                    <div class="text-center" data-ng-if="!$ctrl.isSignedIntoParatext && !$ctrl.isRetrievingParatextUserInfo">
                        <button class="btn btn-std" data-ng-click="$ctrl.signIntoParatext()">
                            {{'Sign into ParaTExt' | translate}}
                        </button>
                    </div>
                    <div class="text-center" data-ng-if="$ctrl.isRetrievingParatextUserInfo">
                        <i class="fa fa-spinner fa-spin"></i>
                        <p>{{'Retrieving ParaTExt information...' | translate}}</p>
                    </div>
                    <div data-ng-if="$ctrl.isSignedIntoParatext && !$ctrl.isRetrievingParatextUserInfo">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4 text-md-right" data-translate="Signed in as"></label>
                            <label class="col-form-label col-md-8">
                                <span>{{ $ctrl.paratextUserInfo.username }}</span>
                                (<a href data-ng-click="$ctrl.signIntoParatext()">change user</a>)
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-4 text-md-right" for="srSourceSelect" data-translate="Source"></label>
                            <div class="input-group col-md-8">
                                <select class="form-control custom-select" id="srSourceSelect" required
                                        data-ng-model="$ctrl.sourceParatextProject" data-ng-change="$ctrl.validateForm()"
                                        data-ng-options="project.name for project in $ctrl.paratextUserInfo.projects track by project.id">
                                    <option value="">-- select a project --</option></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-4 text-md-right" for="srTargetSelect" data-translate="Target"></label>
                            <div class="input-group col-md-8">
                                <select class="form-control custom-select" id="srTargetSelect" required
                                        data-ng-model="$ctrl.targetParatextProject" data-ng-change="$ctrl.validateForm()"
                                        data-ng-options="project.name for project in $ctrl.paratextUserInfo.projects track by project.id">
                                    <option value="">-- select a project --</option></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
