<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="text-center">
                <h3 class="no-space-break" data-translate="Enter the Project's Languages"></h3>
            </div>
            <div class="card card-default">
                <div class="card-body">
                    <languages-picker data-tlp-project="$ctrl.project"
                                      data-tlp-update-language="$ctrl.updateLanguage(docType, code, language)">
                    </languages-picker>
                </div>
            </div>
        </div>
    </div>
</div>
