<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="text-xs-center">
                <h3 class="no-space-break" data-translate="Enter the Project's Languages"></h3>
            </div>
            <div class="card card-default">
                <div class="card-block">
                    <languages-picker data-tlp-project="project"
                                      data-tlp-update-language="updateLanguage(docType, code, language)">
                    </languages-picker>
                </div>
            </div>
        </div>
    </div>
</div>
