@import '../../../../../../node_modules/bootstrap/scss/_functions';
@import '../../../../../../node_modules/bootstrap/scss/_variables';
@import '../../../../../../node_modules/bootstrap/scss/_mixins';

.picklist {
    cursor: pointer;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    border: 0;
    background-color: white;
    overflow-y: auto;
}

.picklist .dropdown-toggle {
    display: block;
    min-width: 20px;
    text-align: center;
}

.picklist .picklistLabel {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    max-height: 24px;
}

.picklist > *:not(.selected):hover {
    background-color: #EEE;
}

.picklist .selected {
    background-color: #DDD;
}

.picklist .dropdown-item i {
    min-width: 29px;
    text-align: center;
}

@media (min-width: 576px) {
    /* sm and above */
    #picklist-column {
        flex: 0 0 210px;
    }

    .picklist {
        flex: 1 1 auto;
    }

    ng-quill-editor {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        div {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }

    ng-quill-editor .ql-container.ql-snow {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}

#toolbar {
    background-color: #F1F1F1;
    border-left: 0;
    border-right: 0;
    padding: 6px 15px;
}

#editor-area {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EEEEEE;
    overflow: auto;
}

ng-quill-editor .ql-container.ql-snow {
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    border: 0;
    background-color: white;
}

ng-quill-editor .ql-editor.drop-box {
    opacity: 0.5;
    border-color: #ddd;
}

.template-editor .ql-container.ql-snow {
    background-color: lightgray;
}

.template-editor span[data-segment] {
    background-color: white;
}

.ql-suggest-tooltip {
    background-color: #DEDEDE;
    border: 1px solid darkgray;
    color: #373a3c;
    padding: 0.1rem;
    position: absolute;
    z-index: $zindex-dropdown;
    white-space: nowrap;
}

.ql-suggestions {
    margin: 0 6px;
}

.ql-suggestions .ql-suggest a:hover {
    color: #06c;
    text-decoration: underline;
}

.ql-suggestions .ql-suggest a {
    color: #06c;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.ql-suggestions .ql-suggest ul {
    margin-bottom: 0.3rem;
}

.ql-suggestions div.ql-suggest {
    padding-top: 5px;
}

.ql-container.ql-bubble:not(.ql-disabled) .ql-suggest-tooltip a:hover::before,
.ql-container.ql-bubble:not(.ql-disabled) .ql-suggest-tooltip a:hover::after {
    visibility: hidden;
}

.highlight-source {
    background-color: #FFFFCE;
}

.highlight-target {
    background-color: lightgray;
}

#toolbar .ql-header {
    width: 110px;
}

#toolbar .ql-size {
    width: 60px;
}

#toolbar .ql-formats button:hover .fo-style-underline {
    border-bottom-color: #06c;
}

#toolbar .ql-formats button .fo-style-underline {
    border-bottom: 1px solid black;
}

#toolbar .ql-formats.controls {
    padding: 0;
    margin-right: 0;
}

#toolbar .rzslider .rz-bubble {
    font-size: small;
}

#toolbar .rzslider .rz-pointer,
#translateAppSettingsView .rzslider .rz-pointer {
    background-color: rgb(0, 102, 204); // #06c
}

#toolbar .rzslider .rz-pointer {
    top: -7px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

#toolbar .rzslider .rz-pointer::after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
}

.editor-label {
    min-height: 28px;
}

.project-name-label {
    font-size: 2rem;
    font-weight: 500;
}

.ql-snow.ql-toolbar .btn {
    width: 98px;
    height: 28px;
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.ql-snow.ql-toolbar .btn-primary {
    color: #fff;
}

.ql-snow.ql-toolbar .btn-secondary {
    color: #fff;
}

.ql-snow.ql-toolbar .progress {
    display: inline-flex;
    width: 98px;
    background-color: lightgrey;
}

.ql-snow.ql-toolbar .training.progress {
    height: 28px;
}

.rating {
    display: inline-block;
    vertical-align: middle;

    input {
        display: none;
    }

    label::before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .half::before {
        content: "\f089";
        position: absolute;
    }

    label {
        color: #ddd;
        float: right;
        margin-bottom: 0;
    }

    input:checked ~ label {
        color: #FFD700;
    }
}

.loading-indicator {
    display: table;
    padding: 5px 2px 4px 2px;

    span {
        height: 10px;
        width: 10px;
        float: left;
        margin: 0 1px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.document-opening-indicator {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-large;
}
