<label>
    <span class="project-name-label notranslate">{{$ctrl.tecProject.projectName}}</span>
    <small class="text-muted ml-3">{{$ctrl.saveMessage}}</small>
</label>
<div id="toolbar" class="row flex-no-grow align-items-center">
    <span class="ql-formats">
        <a class="btn btn-secondary" href="#" data-ng-click="$ctrl.train()"
           data-ng-if="!$ctrl.isTraining && $ctrl.hasDocumentSets() && $ctrl.tecRights.canEditProject()">Train</a>
        <uib-progress class="training" data-ng-if="$ctrl.isTraining" title="Training">
            <uib-bar class="justify-content-start" value="$ctrl.trainingPercent" data-ng-if="$ctrl.trainingPercent < 25">
                {{$ctrl.trainingPercent}}%</uib-bar>
            <uib-bar class="justify-content-center" value="$ctrl.trainingPercent" data-ng-if="$ctrl.trainingPercent >= 25">
                {{$ctrl.trainingPercent}}%</uib-bar>
        </uib-progress>
        <div class="rating" data-ng-attr-title="Engine rating ({{$ctrl.engineConfidence}}%)">
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="3.0"><label></label>
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="2.5"><label class="half"></label>
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="2.0"><label></label>
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="1.5"><label class="half"></label>
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="1.0"><label></label>
            <input type="radio" disabled data-ng-model="$ctrl.engineRating" value="0.5"><label class="half"></label>
        </div>
    </span>
    <span class="ql-formats controls col-sm-4 col-md-5 col-lg-7 col-xl-8" data-ng-if="$ctrl.hasDocumentSets()">
        <rzslider rz-slider-model="$ctrl.confidence.value" rz-slider-options="$ctrl.confidence.options" title="Suggestion confidence threshold"></rzslider>
    </span>
    <span class="ql-formats" data-ng-if="$ctrl.hasDocumentSets()">
        <button data-ng-click="$ctrl.resetConfidence()" title="Reset confidence threshold to project default value">
            <i class="fa fa-refresh"></i></button>
    </span>
    <span class="ql-formats" data-ng-if="!$ctrl.isScripture && $ctrl.hasDocumentSets()">
        <button data-ng-click="$ctrl.toggleFormattingOptions()" title="Formatting options" style="font-family: FontAwesome">
            <span class="fo-fa-font fo-style-underline">&#xf031;</span><span class="fo-fa-chevron-down" data-ng-if="!$ctrl.showFormats">&#xf078;</span><span class="fo-fa-chevron-up" data-ng-if="$ctrl.showFormats">&#xf077;</span>
        </button>
    </span>
    <div data-ng-show="!$ctrl.isScripture && $ctrl.showFormats && $ctrl.hasDocumentSets()">
        <span class="ql-formats">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="ql-header" title="Styles">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option selected>Normal text</option>
            </select>
        </span>
        <span class="ql-formats">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="ql-font" title="Font"></select>
        </span>
        <span class="ql-formats">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="ql-size" title="Font size">
                <option value="small">10</option>
                <option selected>13</option>
                <option value="large">18</option>
                <option value="huge">32</option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold" title="Bold (Ctrl+B)"></button>
            <button class="ql-italic" title="Italics (Ctrl+I)"></button>
            <button class="ql-underline" title="Underline (Ctrl+U)"></button>
            <button class="ql-strike" title="Strikethrough"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-script" value="sub" title="Subscript"></button>
            <button class="ql-script" value="super" title="Superscript"></button>
        </span>
        <span class="ql-formats">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="ql-color" title="Text color"></select>
            <!--suppress HtmlFormInputWithoutLabel -->
            <select class="ql-background" title="Background color"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-align" value="" title="Left align"></button>
            <button class="ql-align" value="center" title="Center align"></button>
            <button class="ql-align" value="right" title="Right align"></button>
            <button class="ql-align" value="justify" title="Justify"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered" title="Numbered list"></button>
            <button class="ql-list" value="bullet" title="Bulleted list"></button>
            <button class="ql-indent" value="-1" title="Decrease indent (Shift+Tab)"></button>
            <button class="ql-indent" value="+1" title="Increase indent (Tab)"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-direction" value="rtl" title="Text direction"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-clean" title="Clear formatting"></button>
        </span>
    </div>
</div>
<div id="editor-area" class="row flex-grow">
    <div id="picklist-column" class="col-sm d-flex flex-column mb-1">
        <div class="d-flex flex-no-grow">
            <label class="editor-label flex-grow text-truncate">Documents</label>
            <button type="button" class="btn btn-std btn-sm mb-1" data-ng-click="$ctrl.modalUpdateDocumentSet()"
                    data-ng-show="$ctrl.tecRights.canEditProject() && !$ctrl.isScripture">
                <i class="fa fa-plus"></i></button>
        </div>
        <div class="picklist">
            <div data-ng-repeat="documentSet in $ctrl.documentSets" data-ng-class="{ selected: $ctrl.selectedDocumentSetIndex === $index }">
                <div class="btn-group" uib-dropdown data-dropdown-append-to-body
                     data-ng-class="$ctrl.tecInterfaceConfig.pullToSide"
                     data-ng-show="$ctrl.showDocumentSetMore($index)">
                    <a class="pui-no-caret" uib-dropdown-toggle id="dropdownMenuLink">
                        <i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu" data-ng-class="$ctrl.dropdownMenuClass" uib-dropdown-menu aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" data-ng-click="$ctrl.modalUpdateDocumentSet($index)">
                            <i class="fa fa-pencil iconPadding"></i>Edit Name</a>
                        <a class="dropdown-item" data-ng-click="$ctrl.modalMoveDocumentSet($index)">
                            <i class="fa fa-arrows-v iconPadding"></i>Move</a>
                        <div class="dropdown-divider" data-ng-show="!$ctrl.isScripture"></div>
                        <a class="dropdown-item" data-ng-click="$ctrl.modalDeleteDocumentSet($index)"
                           data-ng-show="!$ctrl.isScripture">
                            <i class="fa fa-times iconPadding"></i>Delete</a>
                    </div>
                </div>
                <div class="picklistLabel" data-ng-click="$ctrl.selectDocumentSet($index)"
                     data-pui-show-overflow data-ng-bind="documentSet.name">
                </div>
            </div>
        </div>
        <button class="btn btn-std btn-sm flex-no-grow" type="button" data-ng-click="$ctrl.showMetrics = !$ctrl.showMetrics"
                data-ng-if="$ctrl.hasDocumentSets() && $ctrl.tecRights.canEditProject()" style="margin-top: 10px; margin-bottom: 0">
            {{$ctrl.showMetrics ? 'Hide' : 'Show'}} Metrics</button>
    </div>
    <div class="col-sm d-flex flex-column mb-1">
        <div class="row flex-grow">
            <div class="col-sm-6 d-flex flex-column" lang="{{$ctrl.left.inputSystem.tag}}" data-ng-show="$ctrl.hasDocumentSets()">
                <div class="d-flex flex-no-grow">
                    <label class="flex-grow text-truncate editor-label">{{$ctrl.getEditorLabel($ctrl.left)}}</label>
                    <button type="button" class="btn btn-std btn-sm d-none d-sm-block mb-1" data-ng-click="$ctrl.swapEditors()">
                        <i class="fa fa-exchange"></i></button>
                </div>
                <ng-quill-editor class="notranslate"
                    id="editorSource" spellcheck="false" data-modules="$ctrl.source.modulesConfig" data-theme="suggestions"
                    data-on-editor-created="$ctrl.onQuillCreated(editor, $ctrl.source)"
                    data-on-content-changed="$ctrl.onContentChanged($ctrl.source, delta)"
                    data-on-selection-changed="$ctrl.onSelectionChanged($ctrl.source)"
                    data-ng-model="$ctrl.source.html" data-read-only="!$ctrl.hasDocumentSets() || $ctrl.isScripture || $ctrl.source.isOpening"
                    data-placeholder="&#8203;enter text here or drop a file"></ng-quill-editor>
                <div data-ng-if="$ctrl.source.isOpening" class="document-opening-indicator">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="col-sm-6 d-sm-none" data-ng-if="$ctrl.hasDocumentSets()">
                <button type="button" class="btn btn-std btn-sm" data-ng-click="$ctrl.swapEditors()">
                    <i class="fa fa-exchange fa-rotate-90"></i></button>
            </div>
            <div class="col-sm-6 d-flex flex-column" lang="{{$ctrl.right.inputSystem.tag}}" data-ng-show="$ctrl.hasDocumentSets()">
                <div class="flex-no-grow">
                    <label class="editor-label">{{$ctrl.getEditorLabel($ctrl.right)}}</label>
                </div>
                <ng-quill-editor class="notranslate"
                    id="editorTarget" spellcheck="false" data-modules="$ctrl.target.modulesConfig" data-theme="suggestions"
                    data-on-editor-created="$ctrl.onQuillCreated(editor, $ctrl.target)"
                    data-on-content-changed="$ctrl.onContentChanged($ctrl.target, delta)"
                    data-on-selection-changed="$ctrl.onSelectionChanged($ctrl.target)"
                    data-ng-model="$ctrl.target.html" data-read-only="!$ctrl.hasDocumentSets() || $ctrl.target.isOpening"
                    data-placeholder="&#8203;enter text here or drop a file"
                    data-ng-class="{'template-editor': $ctrl.isScripture}"></ng-quill-editor>
                <div class="ql-suggestions">
                    <ql-suggestion ql-suggestions="$ctrl.target.suggestions" ql-confidence="$ctrl.target.confidence"
                        ql-insert-suggestion="$ctrl.target.insertSuggestion(suggestionIndex)"></ql-suggestion>
                </div>
                <div data-ng-if="$ctrl.target.isOpening" class="document-opening-indicator">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="$ctrl.showMetrics">
    <small class="text-muted">
        Backspace key {{$ctrl.metrics.keyBackspaceCount}}&nbsp;&nbsp;&nbsp;
        Delete key {{$ctrl.metrics.keyDeleteCount}}&nbsp;&nbsp;&nbsp;
        Character keys {{$ctrl.metrics.keyCharacterCount}}&nbsp;&nbsp;&nbsp;
        Productive characters {{$ctrl.metrics.productiveCharacterCount}}&nbsp;&nbsp;&nbsp;
        Navigation keys {{$ctrl.metrics.keyNavigationCount}}&nbsp;&nbsp;&nbsp;
        Mouse clicks {{$ctrl.metrics.mouseClickCount}}&nbsp;&nbsp;&nbsp;
        Suggestions (accepted/given) {{$ctrl.metrics.suggestionAcceptedCount}}/{{$ctrl.metrics.suggestionTotalCount}}&nbsp;&nbsp;&nbsp;
        Active edit time {{$ctrl.metrics.timeEditActive | secondsToTime}}&nbsp;&nbsp;&nbsp;
        Total time {{$ctrl.metrics.timeTotal | secondsToTime}}
    </small>
</div>
