.body-content {
  max-width: 800px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-top: 10px;
}

.no-projects-label {
  padding-top: 14px;
}

.loading-spinner {
  align-self: center;
  margin: 30px 0px;
}

.fixed-layout-table {
  table-layout: fixed;
}

.connect-cell {
  text-align: right;
}

.task-label {
  display: table-cell !important; // FIXME: unknown why this is needed when in System Admin - IJH 2018-12
  font-size: small;
  color: darkgray;
}

.small-form-field {
  width: 130px;
}
