<div class="row text-heading" dir="auto">
    <h2>{{text.title}}</h2>
</div>
<div class="row">

    <div class="col-md-6" oncopy="return false;">
        <div class="audio-buttons" data-ng-show="text.audioFileName">
            <a data-ng-show="project.allowAudioDownload" data-ng-href="{{audioDownloadUrl}}">
                <i class="fa fa-arrow-circle-o-down" title="Download audio"></i>
            </a>
            <pui-soundplayer pui-url="audioPlayUrl" title="Play audio"></pui-soundplayer>
        </div>
        <div id="textcontrol" ng-attr-dir="{{text.isRightToLeft ? 'rtl' : 'ltr'}}" style="font-size: {{text.fontSize}}px; font-family: {{text.fontfamily}}" data-sil-selection data-sil-selected-text="selectedText" content="text.content"></div>
    </div>
    <div id="comments" class="col-md-6" data-ng-show="finishedLoading">
        <div class="question">
            <button class="btn btn-std float-right" data-ng-show="rightsEditQuestion()" data-ng-click="toggleQuestionEditor()">
                <i class="fa fa-cog fa-lg"></i></button>
            <h2 class="question-heading" dir="auto">{{questionTitleCalculated}}</h2>
            <h4 data-ng-show="questionIsClosed()" style="color: gray; font-style: italic">This question is marked closed</h4>
            <div dir="auto">{{question.description}}</div>
            <div class="edit-question" uib-collapse="editQuestionCollapsed">
                <form class="card">
                    <b>Question Settings</b>
                    <fieldset class="card-body">
                        <label class="form-group">Question
                            <textarea required data-ng-model="editedQuestion.description" class="form-control col-12"
                                      rows="4" placeholder="The Question" dir="auto"></textarea>
                        </label>
                        <label class="form-group">Title
                            <input type="text" data-ng-model="editedQuestion.title" class="form-control col-12"
                                   maxlength="35" placeholder="One-line Summary For Title" dir="auto">
                        </label>
                        <label class="form-group">Workflow
                            <select class="form-control custom-select" data-ng-model="editedQuestion.workflowState"
                                    data-ng-options="s.state as s.label for s in workflowStates"
                                    name="workflowState"></select>
                        </label>
                        <button class="btn btn-primary"
                                data-ng-click="updateQuestion(editedQuestion); hideQuestionEditor()">
                            <i class="fa fa-check"></i> Save</button>
                        <button class="btn btn-warning" data-ng-click="hideQuestionEditor()">
                            <i class="fa fa-times"></i> Cancel</button>
                    </fieldset>
                </form>
            </div>
            <div data-ng-show="question.answerCount == 0 && !questionIsClosed()">
                There are no answers yet for this question. You could be the first one to reply!</div>
            <br>
        </div>
        <div class="new-answer">
            <div data-ng-hide="questionIsClosed()">
                <form data-ng-submit="submitAnswer()">
                    Add your own answer<span data-ng-show="newAnswer.textHighlight">
                about this part of the text</span>:
                    <div ng-attr-dir="{{text.isRightToLeft ? 'rtl' : 'ltr'}}" class="scripture-quote" oncopy="return false;" data-ng-show="newAnswer.textHighlight"
                         data-ng-bind-html="newAnswer.textHighlight"></div>

                    <div class="form-group">
                    <textarea required data-ng-model="newAnswer.content" class="newAnswer form-control" id="question-new-answer"
                              placeholder='Type your answer here. Click "Save Answer" when finished.' dir="auto"></textarea>
                    </div>
                    <div data-ng-hide="unreadResponseCount() == 0" class="right badge badge-important">
                        <span class="notranslate">{{unreadResponseCount()}}</span> new response<span data-ng-show="unreadResponseCount() > 1">s</span>
                    </div>
                    <button type="submit" class="btn btn-primary" id="doneBtn">Save Answer</button>
                </form>
            </div>
        </div>
        <div id="answers">
            <div data-ng-repeat="(answerId, answer) in question.answers">
                <div class="vote">
                    <a data-ng-class="{disabled: votes[answerId] == true || questionIsClosed()}"
                       data-ng-click="voteUp(answerId)"><i class="fa fa-caret-up"></i></a>
                    <span class="vote-count">{{answer.score}}</span>
                    <a data-ng-class="{disabled: votes[answerId] != true || questionIsClosed()}"
                       data-ng-click="voteDown(answerId)"><i class="fa fa-caret-down"></i></a>
                </div>
                <div>
                    <div data-ng-class="{unread: isUnreadAnswer(answerId)}" class="answer">
                        <!--<b>DEBUG:</b>answerId = {{answerId}}, answer.id = {{answer.id}}<br>-->
                        <!--<b>DEBUG:</b>answer = {{answer}}<br>-->
                        <div data-ng-show="answer.textHighlight" data-ng-bind-html="answer.textHighlight"
                             ng-attr-dir="{{text.isRightToLeft ? 'rtl' : 'ltr'}}" class="scripture-quote"></div>
                        <div class="answerContent" dir="auto" data-ng-bind-html="answer.content"></div>
                        <div class="answer-footer">
                            <view-tags class="tag-list" ng-show="$parent.rightsCreateTag()"
                                 tags="answer.tags" on-delete="deletedTags(answer)"
                                 rights-delete="rightsDeleteTag()"></view-tags>
                            <div class="author">
                                <img data-ng-src="{{getAvatarUrl(answer.userRef.avatar_ref)}}" width="32" height="32">
                                <div>
                                    Answered <span class="notranslate">{{answer.dateCreated | date:mediumDate}}</span><br>
                                    by <span class="notranslate">{{answer.userRef.username}}</span>
                                </div>
                            </div>
                            <div class="answerControls">
                                <a href data-ng-show="rightsCreateTag() && !questionIsClosed()"
                                   data-ng-click="tagEditorVisible=true">tag</a>&nbsp;&nbsp;
                                <a href data-ng-show="rightsEditResponse(answer.userRef.userid) && !questionIsClosed()"
                                   data-ng-click="showAnswerEditor(answerId)">edit</a>&nbsp;&nbsp;
                                <a href data-ng-show="rightsDeleteResponse(answer.userRef.userid) && !questionIsClosed()"
                                   data-ng-click="answerDelete(answerId)">delete</a>&nbsp;&nbsp;
                                <a href data-ng-show="rightsExport() && !questionIsClosed()"
                                   data-ng-click="flagForExport(answer)">
                                    <i data-ng-show="answer.isToBeExported" class="fa fa-flag" title="Flagged for export"
                                       style="color: red"></i>
                                    <i data-ng-show="!answer.isToBeExported" class="fa fa-flag-o"
                                       title="Click to flag for export"></i></a>
                            </div>
                            <div data-ng-switch data-on="answerEditorVisible(answerId)">
                                <form data-ng-submit="editAnswer(editedAnswer)" data-ng-switch-when="true">
                                    <label><textarea required data-ng-model="editedAnswer.content" class="editAnswer form-control" dir="auto">
                                    </textarea></label>
                                    <button type="submit" class="btn btn-sm btn-primary answerBtn"> <i class="fa fa-check"></i>Save </button>
                                    <a href data-ng-click="hideAnswerEditor()">Cancel</a>
                                </form>
                            </div>
                            <div class="overlay" data-ng-show="tagEditorVisible">
                                <div class="overlay-bg">
                                    <form data-ng-submit="addTags(tags, answer);tagEditorVisible=false">
                                        <label>Add tags (comma-separated)
                                            <add-tags tags="tags"></add-tags>
                                        </label>
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <i class="fa fa-check"></i> Save</button>
                                        <a href data-ng-click="tagEditorVisible=false">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="comments">
                            <div data-ng-repeat="comment in answer.comments">
                                <div class="comment" data-ng-class="{unread: isUnreadComment(comment.id)}">
                                    <span class="notranslate">
                                    <p dir="auto">{{comment.content}}</p>
                                    {{comment.userRef.username}} - {{comment.dateCreated | date:mediumdate}}</span>
                                    <a href data-ng-show="rightsEditResponse(comment.userRef.userid) && !questionIsClosed()"
                                       data-ng-click="showCommentEditor(comment.id)">edit</a>&nbsp;
                                    <a href data-ng-show="rightsDeleteResponse(comment.userRef.userid) && !questionIsClosed()"
                                       data-ng-click="commentDelete(answer, comment.id)">delete</a>
                                    <div data-ng-switch data-on="commentEditorVisible(comment.id)">
                                        <form data-ng-submit="editComment(answerId, answer, editedComment)"
                                              data-ng-switch-when="true">
                                            <div class="form-group">
                                                <label><textarea class="form-control" required data-ng-model="editedComment.content" dir="auto"></textarea></label>
                                                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                                                <a href data-ng-click="hideCommentEditor()">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-hide="questionIsClosed()">
                                <a href data-ng-click="collapsed = !collapsed" class="addCommentLink">
                                    add comment</a>
                                <div uib-collapse="!collapsed">
                                    <form data-ng-submit="submitComment(answerId, answer); collapsed = !collapsed;">
                                        <label class="form-group"><textarea class="form-control"
                                            required data-ng-model="newComment.content" dir="auto"></textarea></label>
                                        <button type="submit" class="btn btn-sm btn-primary save-new-comment">Save Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
