<div data-ng-show="finishedLoading">
    <h2 style="font-weight: normal">Questions for <span class="notranslate">{{text.title}}</span></h2>
    <form data-ng-show="rights.showControlBar" class="control-bar form-inline d-block">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <button data-ng-show="rights.create" class="btn btn-primary" id="questions-add-new-btn"
                        data-ng-click="newQuestionCollapsed = !newQuestionCollapsed">
                    <i class="fa fa-plus"></i> Add New Question
                </button>
            </div>
            <div class="col-auto">
                <button data-ng-show="rights.archive" class="btn btn-std" id="questions-archive-btn"
                        data-ng-disabled="selected.length == 0"
                        data-ng-click="archiveQuestions()">
                    <i class="fa fa-archive fa-lg"></i> Archive Questions
                </button>
            </div>
            <div class="col-auto">
                <button data-ng-show="rights.createTemplate"  id="questions-make-template-btn"
                        data-ng-disabled="selected.length == 0 || selected.length > 1"
                        class="btn btn-std" data-ng-click="makeQuestionIntoTemplate()">
                    <i class="fa fa-thumb-tack"></i> Make Template
                </button>
            </div>
            <div class="col">
                <div id="questions-text-settings-btn" class="float-right" uib-dropdown data-ng-show="rights.editOther">
                    <button class="btn btn-std" uib-dropdown-toggle tooltip-placement="left">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <a id="questions-text-settings-link" class="dropdown-item" data-ng-href="#!/{{textId}}/settings">Text Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="new-item" uib-collapse="newQuestionCollapsed">
        <form class="card col-md-11" name="newQuestionForm" id="questions-new-question-form">
            <div class="card-body">
                <fieldset class="col-md-4">
                    <label class="form-group">Title
                        <input type="text" data-ng-model="questionTitle" class="form-control" maxlength="70"
                            placeholder="One-line Summary For Title" dir="auto">
                    </label>
                    <label class="form-group">Question
                        <textarea required data-ng-model="questionDescription" class="form-control" rows="4"
                              placeholder="The Question" dir="auto"></textarea>
                    </label>
                    <label class="form-group">
                        <input title="A summary title is required for templates"
                            data-ng-disabled="!questionTitle" type="checkbox"
                            data-ng-model="saveAsTemplate"
                            data-ng-show="rights.createTemplate">
                        Also save as template</label>
                    <a href class="float-right"
                        data-ng-click="newQuestionCollapsed = !newQuestionCollapsed">Cancel</a>
                    <button type="submit" class="btn btn-primary save-new-question" id="questions-save-question-btn"
                        data-ng-disabled="newQuestionForm.$invalid"
                        data-ng-click="addQuestion()">
                        <i class="fa fa-check"></i> Add Question
                    </button>
                </fieldset>
                <fieldset class="col-md-4">
                    <label for="templates">Templates</label>
                    <select class="form-control custom-select" data-ng-model="template" id="templates"
                        data-ng-options="t.title for t in templates"></select>
                </fieldset>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5" oncopy="return false;">
            <h2 dir="auto">{{text.title}}</h2>
            <div class="audio-buttons" data-ng-show="text.audioFileName">
                <a data-ng-show="project.allowAudioDownload" data-ng-href="{{audioDownloadUrl}}">
                    <i class="fa fa-arrow-circle-o-down" title="Download audio"></i>
                </a>
                <pui-soundplayer pui-url="audioPlayUrl" title="Play audio"></pui-soundplayer>
            </div>
            <div id="textcontrol" style="font-family: {{text.fontfamily}}" dir="auto" data-ng-bind-html="text.content"></div>
        </div>
        <div class="col-md-7">
            <listview hide-if-empty="true" search="queryQuestions()"
                items="questions" visible-items="visibleQuestions" select="">
                <table class="questions table">
                    <tr>
                        <th></th>
                        <th class="text-nowrap" data-ng-click="doSortByColumn('calculatedTitle')">Question <i data-ng-class="sortIconClass('calculatedTitle')"></i></th>
                        <th class="text-nowrap" data-ng-click="doSortByColumn('answerCount')"    >Answers <i data-ng-class="sortIconClass('answerCount')"></i></th>
                        <th class="text-nowrap" data-ng-click="doSortByColumn('responseCount')"  >Responses <i data-ng-class="sortIconClass('responseCount')"></i></th>
                    </tr>
                    <tr data-ng-repeat="question in visibleQuestions" data-ng-class="{active: isSelected(question)}">
                        <td>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="checkbox" data-ng-show="rights.archive" data-ng-checked="isSelected(question)" data-ng-click="updateSelection($event, question)">
                        </td>
                        <td dir="auto">
                            <a data-ng-href="{{question.url}}"><span class="larger-text">{{question.calculatedTitle}}</span></a>
                        </td>
                        <td ng-class="{'text-muted':question.answerCount == 0}">
                            <span class="notranslate">{{question.answerCount}}</span> answer<span ng-if="question.answerCount > 1">s</span>
                        </td>
                        <td ng-class="{'text-muted':question.responseCount == 0}"><span class="notranslate">{{question.responseCount}}</span> response<span ng-if="question.responseCount > 1">s</span></td>
                    </tr>
                </table>
            </listview>
        </div>
    </div>
</div>
