<h2 style="font-weight: normal">Update <span class="notranslate">{{textTitle}}</span></h2>
<div data-ng-show="rights.editOther">
    <uib-tabset>
        <uib-tab heading="Edit Text" id="questions-settings-edit-tab">
            <form class="row">
                <div class="col-sm-6">
                    <div>
                        <div class="form-group">
                            <label>Title
                                <input class="form-control" required data-ng-model="editedText.title" type="text" placeholder="Title" dir="auto">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Text
                                <textarea class="form-control" textdrop data-ng-model="editedText.content" rows="4"
                                          placeholder="Paste the USX text here" dir="auto"></textarea>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Font Name (optional)
                                <input class="form-control" data-ng-model="editedText.fontfamily" type="text" placeholder="Title">
                            </label>
                        </div>
                        <div>
                            <a href="" data-ng-click="editPreviousText()" id="questions-settings-edit-previous"
                               class="no-margin">Edit previous text</a>
                            <b>(dangerous!)</b>
                        </div>
                        <div class="form-group">
                            <a href data-ng-click="toggleRangeSelector()">Select limited verse range</a>
                        </div>
                    </div>
                    <div class="verse-range" uib-collapse="rangeSelectorCollapsed">
                        <div class="form-inline">
                            <label>From
                                <div><input type="number" style="width:6em" class="form-control" data-ng-model="editedText.startCh" min="1" placeholder="Chap.">
                                    &nbsp;:&nbsp;<input type="number" style="width:6em" class="form-control" data-ng-model="editedText.startVs" min="1" placeholder="Verse">
                                    <button data-ng-click="editedText.startCh = ''; editedText.startVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                        <div class="form-inline">
                            <label>To
                                <div><input type="number" style="width:6em" class="form-control" data-ng-model="editedText.endCh" min="1" placeholder="Chap.">
                                    &nbsp;:&nbsp;<input type="number" style="width:6em" class="form-control" data-ng-model="editedText.endVs" min="1" placeholder="Verse">
                                    <button data-ng-click="endCh = ''; endVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset class="col-sm-6">
                    <div class="drop-box" data-ngf-drop="readUsx($file)" data-ngf-drag-over-class="'dragover'">
                        <h4>or drop a USX file here</h4>
                        <p>or if you prefer...</p>
                        <button class="btn btn-primary" id="browseUsxButton" data-ngf-select="readUsx($file)">Browse...</button>
                    </div>
                    <div data-ngf-no-file-drop>
                        <div class="btn btn-std" data-ngf-select="readUsx($file)">Browse...</div>
                    </div>
                    <br>
                </fieldset>
                <div class="col-12 clearfix">
                    <button type="submit" class="btn btn-primary" data-ng-click="updateText(editedText)">
                        <i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </uib-tab>
        <uib-tab heading="Archived Questions" id="questions-settings-archived-tab">
            <div data-ng-controller="TextSettingsArchivedQuestionsCtrl">
                <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
                    <button class="btn btn-primary" id="questions-settings-republish-btn"
                            data-ng-disabled="selected.length == 0"
                            data-ng-show="rights.archive"
                            data-ng-click="publishQuestions()">
                        <i class="fa fa-globe fa-lg"></i> Re-publish Questions
                    </button>
                </form>
                <listview hide-if-empty="true" search="queryTextSettings()"
                          items="settings.archivedQuestions"
                          visible-items="visibleArchivedQuestions" select="">
                    <table class="questions">
                        <tr data-ng-repeat="question in visibleArchivedQuestions"
                             class="details-row" data-ng-class="{active: isSelected(question)}">
                                <td data-ng-show="rights.archive">
                                    <label><input type="checkbox" data-ng-click="updateSelection($event, question)"></label></td>
                                <td dir="auto"><a class="col-md-5" data-ng-href="{{question.url}}">
                                    <span class="larger-text">{{question.calculatedTitle}}</span></a></td>
                                <td><a data-ng-href="{{question.url}}">
                                        <span class="notranslate">{{question.answerCount}}</span> answers
                                    </a></td>
                                <td><span class="notranslate">{{question.responseCount}}</span> responses</td>
                                <td>Archived on <span class="notranslate">{{question.dateModified | date:'fullDate'}}</span></td>
                            <hr>
                        </tr>
                    </table>
                </listview>
            </div>
        </uib-tab>
        <uib-tab heading="Audio File" id="questions-settings-audio-tab">
            <form data-ng-submit="updateText(editedText)">
                <label>Upload an Audio File</label>
                <div class="drop-box" data-ngf-drop="uploadAudio($file)" data-ngf-drag-over-class="'dragover'">
                    <h4>Drop an MP3 file here</h4>
                    <br>
                    <p>or if you prefer...</p>
                    <button class="btn btn-primary" id="browseButton" data-ngf-select="uploadAudio($file)">Browse...</button>
                </div>
                <div data-ngf-no-file-drop>
                    <div class="btn btn-std" data-ngf-select="uploadAudio($file)">Browse...</div>
                </div>
                <br>
                <div data-ng-show="file != null">
                    <p><strong>{{file.name}}</strong> {{file.size | bytes }}</p>
                    <audio controls data-ngf-src="file"></audio>
                </div>
                <label>&nbsp;</label>
                <div data-ng-bind-html="uploadResult"></div>
            </form>
        </uib-tab>
        <uib-tab heading="Paratext Export" id="questions-settings-paratext-tab">
            <div class="row outer-flex" data-ng-controller="ParatextExportTextCtrl">
                <h4>Export Text Answers/Comments to a Paratext XML file</h4>
                <form class="col-sm-6" name="exportForm">
                    <div class="form-group">
                        <label><input type="checkbox" checked name="exportAnswers"
                                      id="exportAnswers" disabled> Export Answers</label>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" name="exportComments"
                                      data-ng-model="exportConfig.exportComments"> Export Comments</label>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" name="exportFlagged"
                                      data-ng-model="exportConfig.exportFlagged">
                            Only export flagged Answers</label>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-ng-disabled="exportForm.$invalid || download.inprogress"
                                data-ng-click="startExport('PT7')">
                            Download for Paratext 7</button>
                        <button class="btn btn-primary" data-ng-disabled="exportForm.$invalid || download.inprogress"
                                data-ng-click="startExport('PT8')">
                            Download for Paratext 8</button>
                    <span data-ng-show="download.inprogress">
                            <i class="fa fa-spinner fa-spin" style="position: absolute; padding-left: 5px; padding-top: 8px;"></i></span>
                    </div>
                    <div class="form-group">
                        <p data-ng-show="download.complete && download.totalCount == 0"
                           class="text-error" id="noExportMsg">No answers/comments were
                            exported. Make sure you flagged answers for export and try
                            again, or uncheck "Only export flagged Answers" to export all
                            answers/comments</p>
                        <br class="d-sm-none">
                        <p data-ng-show="download.totalCount > 0">
                            Downloading:
                            <span data-ng-show="download.answerCount > 0" class="label text-success"><span class="notranslate">{{download.answerCount}}</span> answer(s)</span>
                            <span data-ng-show="download.commentCount > 0" class="label text-info"><span class="notranslate">{{download.commentCount}}</span> comment(s)</span>
                        </p>
                    </div>
                </form>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
