<div class="sfcontainer" ng-app="changePassword" ng-cloak>
	<div ng-controller="changePasswordCtrl">
        <h1>Change Your Password</h1>
		<sil-notices></sil-notices>
        <form ng-submit="updatePassword()" name="passwordForm">
            <fieldset>
                <label>Password</label>
                <input required type="password" ng-model="vars.password" name="password"/>
                <label>Confirm password</label>
                <input required type="password" ng-model="vars.confirm_password" ui-validate=" '$value==vars.password' " ui-validate-watch=" 'password' " name="confirm_password"/>
                <span ng-show='vars.password && passwordForm.confirm_password.$error.validator'><img src="/images/exclamation.png" title="Passwords do not match" style="position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
                <span ng-show='vars.password && vars.password == vars.confirm_password'><img src="/images/tick.png" title="Password OK" style="position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
                <div>
                	<button class="btn" ng-disabled="vars.password != vars.confirm_password" type="submit">Change Password</button>
                </div>
            </fieldset>
        </form>
	</div>
</div>
