<h2 mat-dialog-title><i class="material-icons">warning</i> Are you sure you want to delete your account?</h2>
<div mat-dialog-content>
  <p>
    This action <strong>cannot</strong> be undone. This will permanently delete the
    <strong>{{ data.name }}</strong> account and remove you from all your projects.
  </p>
  <br />
  <p>Please type your name to confirm.</p>
  <mat-form-field> <input matInput placeholder="Enter your name" [formControl]="userNameEntry" /> </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button id="confirm-delete-button" mat-dialog-close="confirmed" [disabled]="deleteDisabled">
    I understand the consequences, delete my account
  </button>
</div>
