<div class="content container" ng-cloak>
	<div ng-controller="userProfileCtrl">
		<h1>{{user.userProfile.name}}'s User Profile</h1>
		<sil-notices></sil-notices>
		<form ng-submit="updateUser()">
		<fieldset>
			<div ng-show="notify.error" class="notification errorMessage">Error: {{notify.error}}</div>
			<div ng-show="notify.message" class="notification informationMessage">{{notify.message}}</div>
			<tabset>
				<tab heading="My Account">
					<label>Username: <b style="margin-left:10px">{{user.userProfile.username}}</b></label>
					<label>Picture</label>
					<div style="margin-bottom:10px"><img class="img-polaroid" width="100px" height="100px" ng-src="{{user.userProfile.avatar_ref}}" title="Use the dropdown selections below to change your avatar's color and shape" /></div>
					<div><select ng-model="user.userProfile.avatar_color" ng-options="c.value as c.label for c in dropdown.avatarColors" /><option value="">Select a Color...</option></select></div>
					<div><select ng-model="user.userProfile.avatar_shape" ng-options="s.value as s.label for s in dropdown.avatarShapes" /><option value="">Choose an animal...</option></select></div>
					<label>Email Address</label>
					<input type="text" placeholder="(email)" ng-model="user.userProfile.email"/>
					<label>Jamaica Mobile Phone Number</label>
					<input type="text" placeholder="###-####" ng-model="user.userProfile.mobile_phone"/>
					<label>I preferred to be contacted via</label>
					<div class="btn-group">
						<button type="button" class="btn" ng-model="user.userProfile.communicate_via" btn-radio="'email'">Email</button>
						<button type="button" class="btn" ng-model="user.userProfile.communicate_via" btn-radio="'sms'">SMS</button>
						<button type="button" class="btn" ng-model="user.userProfile.communicate_via" btn-radio="'both'">Both</button>
					</div>
					
					<label style="margin-top:20px"><a href="/app/changepassword">Change Password</a></label>
				</tab>
				<tab heading="About Me">
					<h5>Tell us about yourself...</h5>
					<label>Full Name</label>
					<input type="text" placeholder="(full name)" ng-model="user.userProfile.name"/>
					<label>Age</label>
					<input type="text" placeholder="(age)" ng-model="user.userProfile.age"/>
					<label>Gender</label>
					<select ng-model="user.userProfile.gender">
						<option>Male</option>
						<option>Female</option>
					</select>
				</tab>
				<tab ng-repeat="project in user.userProfile.projects" heading="{{project.name}}">
					<label>{{project.userProperties.userProfilePickLists['city'].name}}</label>
					<select ng-class="" ng-model="project.userProperties.userProfilePickLists['city'].defaultKey" ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['city'].items" placeholder="yadayda"></select>
					<label>{{project.userProperties.userProfilePickLists['preferredBibleVersion'].name}}</label>
					<select ng-model="project.userProperties.userProfilePickLists['preferredBibleVersion'].defaultKey" ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['preferredBibleVersion'].items"><option value="unspecified"></option></select>
					<label>{{project.userProperties.userProfilePickLists['religiousAffliation'].name}}</label>
					<select ng-model="project.userProperties.userProfilePickLists['religiousAffliation'].defaultKey" ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['religiousAffliation'].items"><option value="unspecified"></option></select>
					<label>{{project.userProperties.userProfilePickLists['studyGroup'].name}}</label>
					<select ng-model="project.userProperties.userProfilePickLists['studyGroup'].defaultKey" ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['studyGroup'].items"><option value="unspecified"></option></select>
					<label>{{project.userProperties.userProfilePickLists['feedbackGroup'].name}}</label>
					<select ng-model="project.userProperties.userProfilePickLists['feedbackGroup'].defaultKey" ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists['feedbackGroup'].items"><option value="unspecified"></option></select>
				</tab>
			</tabset>
			<button style="margin-top:20px" type="submit" class="btn"><i class="icon-ok"></i>Save</button>
			<div style="margin-top:20px" class="well">
				<label>Last Login:  {{user.userProfile.last_login * 1000 | date:shortDate}}</label>
			</div>
		</fieldset>
		</form>
	</div>
</div>