<div class="row">
    <!-- Left column: input system list -->
    <div class="col-md-3">
        <!-- control buttons -->
        <div class="form-group">
            <button class="btn btn-sm btn-primary" data-ng-click="$ctrl.openNewLanguageModal($ctrl.suggestedLanguageCodes)">
                <i class="fa fa-plus iconPadding"></i>New</button>
        </div>

        <!-- picklist -->
        <dl class="picklists" style="height: 300px; overflow: auto;">
            <dt>Language Names</dt>
            <dd><div class="controls">
                <div data-ng-click="$ctrl.selectInputSystem(inputSystem.uuid)"
                     data-ng-repeat="inputSystem in $ctrl.iscInputSystemsList | orderBy: 'inputSystem.languageName'"
                     data-ng-class="{selected: $ctrl.selectedInputSystemId == inputSystem.uuid}">
                    <span data-ng-style="{'font-style': ($ctrl.isUnlistedLanguage(inputSystem.language) ? 'italic' : 'normal')}; ">
                        {{inputSystem.languageDisplayName()}}</span>
                </div>
                </div>
            </dd>
        </dl>
        <small>Unlisted language names shown in <i>italics</i> can be renamed</small>
    </div>

    <!-- Right column: input system setup -->
    <div class="col-md-9 settings-panel">
        <!-- control buttons -->
        <div uib-dropdown class="dropdown form-group btn-group">
            <button uib-dropdown-toggle class="btn btn-sm btn-secondary pui-no-caret"><i class="fa fa-ellipsis-v"></i></button>
            <div class="dropdown-menu" uib-dropdown-menu>
                <a href class="dropdown-item" tabindex="-1" data-ng-class="{disabled: $ctrl.newExists($ctrl.selects.special.optionsOrder[1])}"
                   data-ng-click="$ctrl.addInputSystem($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language, $ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName, $ctrl.selects.special.optionsOrder[1])">
                    <i class="fa fa-plus"></i> Add IPA for
                    <span class="notranslate">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName}}</span></a>
                <a href class="dropdown-item" tabindex="-1" data-ng-class="{disabled: $ctrl.newExists($ctrl.selects.special.optionsOrder[2])}"
                   data-ng-click="$ctrl.addInputSystem($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language, $ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName, $ctrl.selects.special.optionsOrder[2])">
                    <i class="fa fa-plus"></i> Add Voice for
                    <span class="notranslate">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName}}</span></a>
                <a href class="dropdown-item" tabindex="-1"
                   data-ng-click="$ctrl.addInputSystem($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language, $ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName, $ctrl.selects.special.optionsOrder[3])">
                    <i class="fa fa-plus"></i> Add a variant of
                    <span class="notranslate">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName}}</span></a>
                <div class="dropdown-divider" data-ng-show="! $ctrl.isInputSystemInUse()"></div>
                <a href class="dropdown-item" data-ng-show="! $ctrl.isInputSystemInUse()" tabindex="-1"
                   data-ng-click="$ctrl.removeInputSystem($ctrl.selectedInputSystemId)">
                    <i class="fa fa-trash"></i> Remove
                    <span class="notranslate">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].languageDisplayName()}}</span></a>
            </div>
        </div>

        <!-- settings -->
        <div class="card card-block bg-faded" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId]">
            <label class="control-label pull-right">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.tag}}</label>
            <!-- listed language name -->
            <h3 data-ng-show="!$ctrl.isUnlistedLanguage($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language)" id="languageDisplayName">
                {{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].languageDisplayName()}}</h3>
            <!-- unlisted language name -->
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" id="languageName" style="font-size: 1.35em; color: black; font-weight: 700; border: 0; height: 32px; width: 365px"
                data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName"
                data-ng-show="$ctrl.isUnlistedLanguage($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language)">
            <br><br>
            <div class="form-group">
                <label class="control-label" for="abbrev">Display Abbreviation (limited to 4 lowercase characters)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="abbrev" model-transform-limit="4"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.abbreviation">
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.isRightToLeft">
                    Right to left language </label>
            </div>
            <br>
            <p class="text-warning" data-ng-show="$ctrl.isInputSystemInUse()">
                <small>Some settings are disabled because the Input System may already be in use.</small>
            </p>
            <div class="form-group">
                <label class="control-label" for="special">Special</label>
                <div class="controls">
                    <select class="form-control" id="special"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special"
                        data-ng-disabled="$ctrl.isInputSystemInUse()"
                        data-ng-options="$ctrl.selects.special.options[key] for key in $ctrl.selects.special.optionsOrder"></select>
                </div>
            </div>

            <div class="col-md-offset-1">
            <!-- IPA transcription -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[1]">
                <label class="control-label" for="purpose">Purpose</label>
                <div class="controls">
                    <select class="form-control" id="purpose"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].purpose"
                        data-ng-disabled="$ctrl.isInputSystemInUse()"
                        data-ng-options="$ctrl.selects.purpose.options[key] for key in $ctrl.selects.purpose.optionsOrder">
                        <option value="">unspecified</option></select>
                </div>
                <label class="control-label" for="ipaVariant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="ipaVariant" size="25"
                          model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                           data-ng-disabled="$ctrl.isInputSystemInUse()">
                </div>
            </div>
            <!-- Voice -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[2]">
                <label class="control-label" for="voiceVariant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="voiceVariant" size="25"
                           model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                           data-ng-disabled="$ctrl.isInputSystemInUse()">
                </div>
            </div>
            <!-- Script / Region / Variant -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[3]">
                <label class="control-label" for="script">Script</label>
                <div class="controls">
                    <select class="form-control" id="script"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].script"
                        data-ng-disabled="$ctrl.isInputSystemInUse()"
                        data-ng-options="key as option.join(', ') for (key, option) in $ctrl.selects.script.options">
                        <option value="">-- select a script --</option></select>
                </div>
                <label class="control-label" for="region">Region</label>
                <div class="controls">
                    <select class="form-control" id="region"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].region"
                        data-ng-disabled="$ctrl.isInputSystemInUse()"
                        data-ng-options="key as option for (key, option) in $ctrl.selects.region.options">
                        <option value="">-- select a region --</option></select>
                </div>
                <label class="control-label" for="variant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="variant" size="25"
                        model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                        data-ng-disabled="$ctrl.isInputSystemInUse()">
                </div>
            </div>
            </div>

            <!-- IPA transcription -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[1]">
                <a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
                    <i class="fa fa-globe"></i> Read more about IPA transcriptions</a>
            </div>
            <!-- Voice -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[2]">
                <small>In applications which support this option, fields with this input system will able to play and record voice.</small>
            </div>
            <!-- Script / Region / Variant -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[3]">
                <a href="http://www.w3.org/International/questions/qa-choosing-language-tags" target="_blank">
                    <i class="fa fa-globe"></i> Read more about language identifiers</a>
            </div>
        </div>
    </div>
</div>
<!--
<pre data-ng-show="false">
iscInputSystemViewModels['{{$ctrl.selectedInputSystemId}}'] {{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId] | json}}
</pre>
 -->
