<div class="row">
    <div class="col">
        <button class="btn btn-primary float-right" id="configuration-apply-btn" data-ng-click="$ctrl.configurationApply()"
                data-ng-disabled="configForm.$pristine || $ctrl.isSaving">
                <i class="fa fa-check"></i>Apply
        </button>
    </div>
</div>
<form name="configForm" novalidate>
    <fieldset data-ng-disabled="$ctrl.isSaving">
        <pui-tabset active="$ctrl.activeTab">
            <pui-tab heading="Fields">
                <lsc-fields fcc-field-config="$ctrl.fieldConfig"
                            fcc-config-dirty="$ctrl.configDirty"
                            fcc-input-systems-list="$ctrl.inputSystemsList"
                            fcc-users="$ctrl.lscUsers"
                            fcc-option-lists="$ctrl.optionListsDirty"
                            fcc-add-input-system="$ctrl.addNewInputSystem()"
                            fcc-reset-input-systems="$ctrl.resetInputSystems(column)"
                            fcc-on-update="$ctrl.onUpdate($event)"></lsc-fields>
            </pui-tab>
            <pui-tab heading="Input Systems">
                <lsc-input-systems isc-input-system-view-models="$ctrl.inputSystemViewModels"
                                   isc-input-systems-list="$ctrl.inputSystemsList"
                                   isc-config-pristine="$ctrl.configPristine"
                                   isc-add-input-system="$ctrl.addInputSystem"
                                   isc-on-update="$ctrl.onUpdate($event)"></lsc-input-systems>
            </pui-tab>
            <pui-tab heading="Option Lists">
                <lsc-option-lists olc-option-lists-dirty="$ctrl.optionListsDirty"
                                  olc-on-update="$ctrl.onUpdate($event)"></lsc-option-lists>
            </pui-tab>
        </pui-tabset>
    </fieldset>
</form>
