<div class="row outer-flex">

    <!-- Left column: field list -->
    <div class="col-md-3 form-group">
        <!-- control buttons -->
        <div class="form-group">
            <button data-ng-click="$ctrl.showAllFields = !$ctrl.showAllFields" class="btn btn-sm">
                <i data-ng-class="'fa fa-' + $ctrl.showAllFields ? 'minus-square-o' : 'plus-square-o'"></i>
                <span class="hidden-sm-down">{{$ctrl.showAllFields ? 'Show Only Common Fields' : 'Show All Fields'}}</span>
            </button>
        </div>

        <!-- picklist -->
        <dl class="picklists" style="height: 300px; overflow: auto;">
            <dt data-translate="Entry Level Fields"></dt>
            <dd><div class="controls">
                <div data-ng-repeat="fieldName in $ctrl.fccConfigDirty.entry.fieldOrder"
                     data-ng-class="{selected: $ctrl.fccCurrentField.name == fieldName}" data-ng-click="$ctrl.selectField(fieldName)">
                        <span data-ng-hide="$ctrl.fieldIsHidden(fieldName)"
                              data-ng-style="{'font-style': $ctrl.isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{$ctrl.fccFieldConfig[fieldName].label}}
                        </span>
                </div>
            </div></dd>
            <dt data-translate="Meaning Level Fields"></dt>
            <dd><div class="controls">
                <div data-ng-repeat="fieldName in $ctrl.fccConfigDirty.entry.fields.senses.fieldOrder"
                     data-ng-class="{selected: $ctrl.fccCurrentField.name == fieldName}" data-ng-click="$ctrl.selectField(fieldName)">
                        <span data-ng-hide="$ctrl.fieldIsHidden(fieldName)"
                              data-ng-style="{'font-style': $ctrl.isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{$ctrl.fccFieldConfig[fieldName].label}}
                        </span>
                </div>
            </div></dd>
            <dt data-translate="Example Level Fields"></dt>
            <dd><div class="controls">
                <div data-ng-repeat="fieldName in $ctrl.fccConfigDirty.entry.fields.senses.fields.examples.fieldOrder"
                     data-ng-class="{selected: $ctrl.fccCurrentField.name == fieldName}" data-ng-click="$ctrl.selectField(fieldName)">
                        <span data-ng-hide="$ctrl.fieldIsHidden(fieldName)"
                              data-ng-style="{'font-style': $ctrl.isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{$ctrl.fccFieldConfig[fieldName].label}}
                        </span>
                </div>
            </div></dd>
        </dl>
        <small data-translate="Custom Fields shown in <i>italics</i>"></small>
        <div class="form-group">
            <button class="btn btn-sm btn-primary" data-ng-click="$ctrl.openNewCustomFieldModal()"><i class="fa fa-plus iconPadding"></i>New Custom Field</button>
        </div>
    </div>

    <!-- Right column: field setup -->
    <div class="col-md-9">
        <!-- control buttons -->
        <div class="form-group" style="height: 30px">
            <button class="btn" data-ng-click="$ctrl.removeSelectedCustomField()"
                    data-ng-show="$ctrl.showRemoveCustomField($ctrl.fccCurrentField.name)">
                <i class="fa fa-trash iconPadding"></i>Remove Custom Field</button>
        </div>

        <!-- settings -->
        <div class="card card-block bg-faded settings-panel">
            <h3 id="fieldSetupLabel"><span class="notranslate">{{$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].label}} </span>Field Setup</h3>
            <div class="form-group"
                 data-ng-show="$ctrl.isCustomField($ctrl.fccCurrentField.name)">
                <label class="control-label" for="displayName">Display Name</label>
                <div class="controls">
                    <input type="text" class="form-control" id="displayName"
                           data-ng-model="$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].label">
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="hideIfEmpty"
                               data-ng-model="$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].hideIfEmpty">
                        Hidden if empty</label>
                </div>
                <br>
            </div>
            <div class="form-group"
                 data-ng-if="$ctrl.fieldConfigItemExists('width') && $ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].type != 'pictures'">
                <label class="control-label" for="width">Width</label>
                <div class="controls">
                    <input class="form-control" type="number" id="width" min="20" max="40"
                           data-ng-model="$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].width">
                </div>
            </div>

            <div data-ng-if="$ctrl.fieldConfigItemExists('captionLabel')">
                <hr>
                <h3><span class="notranslate">{{$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].captionLabel}} </span>Field Setup</h3>
            </div>
            <div class="form-group"
                 data-ng-if="$ctrl.fieldConfigItemExists('captionHideIfEmpty')">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="captionHideIfEmpty"
                               data-ng-model="$ctrl.fccFieldConfig[$ctrl.fccCurrentField.name].captionHideIfEmpty">
                        Hidden if empty</label>
                </div>
                <br>
            </div>

            <div data-ng-if="$ctrl.fieldConfigItemExists('inputSystems')">
                <hr>
                <div class="row outer-flex form-group" data-ng-show="$ctrl.editInputSystems.collapsed">
                    <div class="col-md-4 picklists">
                        <label class="control-label" for="inputSystem">Input Systems</label>
                        <ul class="list-unstyled indent1"  id="inputSystem">
                            <li data-ng-click="$ctrl.fccCurrentField.inputSystems.tag = inputSystemTag"
                                data-ng-repeat="inputSystemTag in $ctrl.fccCurrentField.inputSystems.fieldOrder"
                                data-ng-class="{selected: $ctrl.fccCurrentField.inputSystems.tag == inputSystemTag}">
                                <div class="checkbox"><!--suppress HtmlFormInputWithoutLabel -->
                                    <input data-ng-model="$ctrl.fccCurrentField.inputSystems.selecteds[inputSystemTag]" type="checkbox">
                                    {{$ctrl.fccConfigDirty.inputSystems[inputSystemTag].abbreviation}}</div>
                            </li>
                        </ul>
                        <a href="" data-ng-click="$ctrl.editInputSystems.collapsed = false">Edit input systems</a>
                    </div>
                    <div class="span1 btn-group-vertical">
                        <button class="btn" id="upButton"
                                data-ng-click="$ctrl.moveUp($ctrl.fccCurrentField.inputSystems.tag)"
                                data-ng-disabled="$ctrl.fccCurrentField.inputSystems.fieldOrder[0] == $ctrl.fccCurrentField.inputSystems.tag || !$ctrl.fccCurrentField.inputSystems.tag">
                            <i class="fa fa-arrow-up"></i></button>
                        <button class="btn" id="downButton"
                                data-ng-click="$ctrl.moveDown($ctrl.fccCurrentField.inputSystems.tag)"
                                data-ng-disabled="$ctrl.fccCurrentField.inputSystems.fieldOrder[$ctrl.fccCurrentField.inputSystems.fieldOrder.length - 1] == $ctrl.fccCurrentField.inputSystems.tag || !$ctrl.fccCurrentField.inputSystems.tag">
                            <i class="fa fa-arrow-down"></i></button>
                    </div>
                </div>
                <div uib-collapse="$ctrl.editInputSystems.collapsed">
                    <button class="btn btn-primary pull-right" data-ng-click="$ctrl.editInputSystems.done()">
                        <i class="fa fa-check"></i>Done</button>
                    <h3 style="font-weight:normal" data-translate="Edit Input Systems"></h3>
                    <lsc-input-systems isc-input-system-view-models="$ctrl.fccInputSystemViewModels"
                                       isc-input-systems-list="$ctrl.fccInputSystemsList"
                                       isc-config-pristine="$ctrl.fccConfigPristine"
                                       isc-on-update="$ctrl.fccOnUpdate($event)"></lsc-input-systems>
                </div>
            </div>
        </div>
    </div>

</div>
<!--
<pre>
fccCurrentField {{$ctrl.fccCurrentField | json}}
fccConfigDirty.entry {{$ctrl.fccConfigDirty.entry | json}}
</pre>
 -->
