<!-- Table responsive as an experiment to proportion the table, if bothersome remove -->
<div class="form-check row table-responsive-sm">
    <table class="table table-striped table-sm">
        <thead>
            <tr class="table-secondary">
                <th class="text-center"></th>
                <th class="text-center">Hidden if Empty</th>
                <th class="text-center">Field</th>
                <th></th>
                <th class="text-center">Observer</th>
                <th class="text-center">Commenter</th>
                <th class="text-center">Contributor</th>
                <th class="text-center">Manager</th>
                <th class="text-center" data-ng-repeat="groupList in $ctrl.unifiedViewModel.groupLists">{{groupList.label}}</th>
                <th>
                    <button type="button" class="btn btn-std">
                            <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr>
                    <th class="text-center table-secondary">Input Systems</th>
                    <td></td>
                    <td></td>
                    <th class="text-center">Select All</th>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..."  type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in $ctrl.unifiedViewModel.inputSystems[0].groups"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                </tr>
                <tr data-ng-repeat="inputSystem in $ctrl.unifiedViewModel.inputSystems">
                    <th class="text-center table-secondary" ></th>
                    <td class="text-center"></td>
                    <td class="text-center">{{inputSystem.name}}</td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="inputSystem.isAllRowSelected" data-ng-click="$ctrl.selectAllRow(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="inputSystem.observer" data-ng-click="$ctrl.checkIfAllRowSelected(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="inputSystem.commenter" data-ng-click="$ctrl.checkIfAllRowSelected(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="inputSystem.contributor" data-ng-click="$ctrl.checkIfAllRowSelected(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="inputSystem.manager" data-ng-click="$ctrl.checkIfAllRowSelected(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in inputSystem.groups"><input class="form-check-input position-static" data-ng-model="group.show" data-ng-click="$ctrl.checkIfAllRowSelected(inputSystem)" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-center table-secondary">
                        <button type="button" class="btn btn-std">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th class="text-center table-secondary"></th>
                </tr>
            </tr>
            <tr>
                <tr>
                    <th class="text-center table-secondary">Entry Fields</th>
                    <td></td>
                    <td></td>
                    <th class="text-center">Select All</th>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..."  type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in $ctrl.unifiedViewModel.entryFields[0].groups"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="entryField in $ctrl.unifiedViewModel.entryFields">
                    <th class="text-center table-secondary" ></th>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.hiddenIfEmpty" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-style="{'font-style': $ctrl.isCustomField(entryField.fieldName) ? 'italic' : 'normal'}">{{entryField.name}}</td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.isAllRowSelected" data-ng-click="$ctrl.selectAllRow(entryField)" aria-label="..."type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.observer" data-ng-click="$ctrl.checkIfAllRowSelected(entryField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.commenter" data-ng-click="$ctrl.checkIfAllRowSelected(entryField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.contributor" data-ng-click="$ctrl.checkIfAllRowSelected(entryField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.manager" data-ng-click="$ctrl.checkIfAllRowSelected(entryField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in entryField.groups"><input class="form-check-input position-static" data-ng-model="group.show" aria-label="..." data-ng-click="$ctrl.checkIfAllRowSelected(entryField)" type="checkbox"></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-center table-secondary"></th>
                </tr>
            </tr>
            <tr>
                <tr>
                    <th class="text-center table-secondary">Sense Fields</th>
                    <td></td>
                    <td></td>
                    <th class="text-center">Select All</th>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..."  type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in $ctrl.unifiedViewModel.senseFields[0].groups"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="senseField in $ctrl.unifiedViewModel.senseFields">
                    <th class="text-center table-secondary" ></th>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.hiddenIfEmpty" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-style="{'font-style': $ctrl.isCustomField(senseField.fieldName) ? 'italic' : 'normal'}">{{senseField.name}}</td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.isAllRowSelected" data-ng-click="$ctrl.selectAllRow(senseField)" aria-label="..."type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.observer" data-ng-click="$ctrl.checkIfAllRowSelected(senseField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.commenter" data-ng-click="$ctrl.checkIfAllRowSelected(senseField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.contributor" data-ng-click="$ctrl.checkIfAllRowSelected(senseField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="senseField.manager" data-ng-click="$ctrl.checkIfAllRowSelected(senseField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in senseField.groups"><input class="form-check-input position-static" data-ng-model="group.show" data-ng-click="$ctrl.checkIfAllRowSelected(senseField)" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-center table-secondary"></th>
                </tr>
            </tr>
            <tr>
                <tr>
                    <th class="text-center table-secondary">Example Fields</th>
                    <td></td>
                    <td></td>
                    <th class="text-center">Select All</th>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..."  type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td class="text-center" data-ng-repeat="group in $ctrl.unifiedViewModel.exampleFields[0].groups"><input class="form-check-input position-static" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="exampleField in $ctrl.unifiedViewModel.exampleFields">
                    <th class="text-center table-secondary"></th>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.hiddenIfEmpty" aria-label="..."  type="checkbox"></td>
                    <td class="text-center" data-ng-style="{'font-style': $ctrl.isCustomField(exampleField.fieldName) ? 'italic' : 'normal'}">{{exampleField.name}}</td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.isAllRowSelected" data-ng-click="$ctrl.selectAllRow(exampleField)" aria-label="..."type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.observer" data-ng-click="$ctrl.checkIfAllRowSelected(exampleField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.commenter" data-ng-click="$ctrl.checkIfAllRowSelected(exampleField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.contributor" data-ng-click="$ctrl.checkIfAllRowSelected(exampleField)" aria-label="..." type="checkbox"></td>
                    <td class="text-center"><input class="form-check-input position-static" data-ng-model="exampleField.manager" data-ng-click="$ctrl.checkIfAllRowSelected(exampleField)" aria-label="..." type="checkbox"></td>
                    <td data-ng-repeat="group in exampleField.groups" class="text-center"><input class="form-check-input position-static" data-ng-model="group.show" data-ng-click="$ctrl.checkIfAllRowSelected(exampleField)" aria-label="..." type="checkbox"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-center table-secondary"><small data-translate="Custom Fields shown in <i>italics</i>"></small></td>
                </tr>
                <tr>
                    <th class="text-center table-secondary">
                        <button type="button" class="btn btn-std">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </tr>
        </tbody>
    </table>
</div>
