<div class="row outer-flex">

    <!-- Left column: option lists -->
    <div class="col-md-3 form-group">
        <dl class="picklists">
            <dt id="editListValuesFieldset">Select a list</dt>
            <dd>
                <div data-ng-repeat="optionList in $ctrl.olcOptionListsDirty"
                     data-ng-class="{selected: $ctrl.currentListIndex == $index}" data-ng-click="$ctrl.selectList($index)">
                    {{optionList.name}}
                </div>
            </dd>
            <!-- future lists go here -->
        </dl>
    </div>

    <!-- Right column: optionlist setup -->
    <div class="col-md-9">
        <div class="card card-body bg-light settings-panel" id="picklistEditorFieldset">
            <h3 class="col-form-label">{{$ctrl.olcOptionListsDirty[$ctrl.currentListIndex].name}}</h3>
            <div style="padding: 10px">
                <small>To add or remove items from this list, please use FieldWorks (FLEx).</small>
            </div>
            <div class="controls">
                <picklist-editor items="$ctrl.olcOptionListsDirty[$ctrl.currentListIndex].items"></picklist-editor>
            </div>
        </div>
    </div>

</div>
