<div style="padding: 10px">
    <small>To add input systems, please use FieldWorks (FLEx).</small>
</div>
<div class="row">
    <!-- Left column: input system list -->
    <div class="col-md-3">
        <!-- picklist -->
        <dl class="picklists" style="height: 300px; overflow: auto;">
            <dt>Language Names</dt>
            <dd><div class="controls">
                <div data-ng-click="$ctrl.selectInputSystem(inputSystem.uuid)"
                     data-ng-repeat="inputSystem in $ctrl.iscInputSystemsList | orderBy: 'inputSystem.languageName'"
                     data-ng-class="{selected: $ctrl.selectedInputSystemId == inputSystem.uuid}">
                    <span data-ng-style="{'font-style': ($ctrl.isUnlistedLanguage(inputSystem.language) ? 'italic' : 'normal')}; ">
                        {{inputSystem.languageDisplayName()}}</span>
                </div>
                </div>
            </dd>
        </dl>
        <small>Unlisted language names shown in <i>italics</i> can be renamed</small>
    </div>

    <!-- Right column: input system setup -->
    <div class="col-md-9 settings-panel">
        <!-- settings -->
        <div class="card card-body bg-light" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId]">
            <label class="col-form-label float-right">{{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.tag}}</label>
            <!-- listed language name -->
            <h3 data-ng-show="!$ctrl.isUnlistedLanguage($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language)" id="languageDisplayName">
                {{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].languageDisplayName()}}</h3>
            <!-- unlisted language name -->
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" id="languageName" style="font-size: 1.35em; color: black; font-weight: 700; height: 32px; width: 365px"
                data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.languageName"
                data-ng-show="$ctrl.isUnlistedLanguage($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].language)">
            <div class="form-group">
                <label class="col-form-label" for="abbrev">Display Abbreviation (limited to 4 lowercase characters)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="abbrev" model-transform-limit="4"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.abbreviation">
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.isRightToLeft">
                    Right to left language </label>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="abbrev">Font Name</label>
                <div class="controls">
                    <input type="text" class="form-control" id="fontfamilycss" data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].inputSystem.cssFontFamily">
                </div>
            </div>
            <br>
            <p class="text-warning" data-ng-show="$ctrl.isInputSystemInUse()">
                <small>Some settings are disabled. Please edit these in Fieldworks (FLEx).</small>
            </p>
            <div class="form-group">
                <label class="col-form-label" for="special">Special</label>
                <div class="controls">
                    <input type="text" class="form-control" id="special"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special"
                        data-ng-change="$ctrl.specialChanged($ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special)"
                        disabled>
                    </input>
                </div>
            </div>

            <div class="offset-md-1">
            <!-- IPA transcription -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[1]">
                <label class="col-form-label" for="purpose">Purpose</label>
                <div class="controls">
                    <input type="text" class="form-control" id="purpose"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].purpose"
                        disabled>
                    </input>
                </div>
                <label class="col-form-label" for="ipaVariant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="ipaVariant" size="25"
                          model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                           disabled>
                </div>
            </div>
            <!-- Voice -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[2]">
                <label class="col-form-label" for="voiceVariant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="voiceVariant" size="25"
                           model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                           disabled>
                </div>
            </div>
            <!-- Script / Region / Variant -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[3]">
                <label class="col-form-label" for="script">Script</label>
                <div class="controls">
                    <input type="text" class="form-control" id="script"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].script"
                        disabled>
                    </input>
                </div>
                <label class="col-form-label" for="region">Region</label>
                <div class="controls">
                    <input type="text" class="form-control" id="region"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].region"
                        disabled>
                    </input>
                </div>
                <label class="col-form-label" for="variant">Variant (limited to letters or numbers, no spaces)</label>
                <div class="controls">
                    <input type="text" class="form-control" id="variant" size="25"
                        model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                        data-ng-model="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].variantString"
                        disabled>
                </div>
            </div>
            </div>

            <!-- IPA transcription -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[1]">
                <a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
                    <i class="fa fa-globe"></i> Read more about IPA transcriptions</a>
            </div>
            <!-- Voice -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[2]">
                <small>In applications which support this option, fields with this input system will able to play and record voice.</small>
            </div>
            <!-- Script / Region / Variant -->
            <div class="form-group" data-ng-show="$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId].special == $ctrl.selects.special.optionsOrder[3]">
                <a href="http://www.w3.org/International/questions/qa-choosing-language-tags" target="_blank">
                    <i class="fa fa-globe"></i> Read more about language identifiers</a>
            </div>
        </div>
    </div>
</div>
<!--
<pre data-ng-show="false">
iscInputSystemViewModels['{{$ctrl.selectedInputSystemId}}'] {{$ctrl.iscInputSystemViewModels[$ctrl.selectedInputSystemId] | json}}
</pre>
 -->
