<!-- Table responsive as an experiment to proportion the table, if bothersome remove -->
<div class="form-check row table-responsive-sm">
	<!-- Following code is an attempt at nested tables -->
	<!--<table class="table table-light"> 
	<tbody > -->
	<!--Below is first placeholder for entryfields-->
	<table class="table table-striped" id="EntryFieldsTable">
	<!--Below is second placeholder for entryfields -->
		<tbody id="EntryFieldsBody">
			<tr>
				<th class="text-center table-secondary"> Entry Fields</th>
				<td></td>
				<td></td>
				<th class="text-center">Select All</th>
				<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsObserver" aria-label="..."  type="checkbox"></td>
				<td class="text-center"><input  class="form-check-input position-static" id="EntryFieldsCollab" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsComment" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsManag" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input  class="form-check-input position-static" id="EntryFieldsUser1" aria-label="..." type="checkbox"></td>
			</tr>
			<tr>
			<th class="text-center table-secondary" ></th>
				<td class="text-center"><input  class="form-check-input position-static" id="WordsHiddenIf" aria-label="..." type="checkbox"></td>
				<th class="text-center">Word</th>
				<td class="text-center"><input class="form-check-input position-static" id="WordsSelectAll" aria-label="..."  type="checkbox"></td>
				<td class="text-center"><input  class="form-check-input position-static" id="WordsObserver" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="WordsCollab" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="WordsComment" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="WordsManag" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input  class="form-check-input position-static" id="WordsUser1" aria-label="..." type="checkbox"></td>
			</tr>
			<tr>
				<th class="text-center table-secondary" ></th>
				<td class="text-center"><input  class="form-check-input position-static" id="CitFormHiddenIf" aria-label="..." type="checkbox"></td>
				<th class="text-center">Citation Form</th>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormSelectAll" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormObserver" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormCollab" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormComment" aria-label="..."  type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormManag" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="CitFormUser1" aria-label="..." type="checkbox"></td>
			</tr>
			<tr>
				<th class="text-center table-secondary" ></th>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormHiddenIf" aria-label="..." type="checkbox"></td>
				<th class="text-center">Pronounciation</th>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormSelectAll" aria-label="..."type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormObserver" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormCollab" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormComment" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormManag" aria-label="..." type="checkbox"></td>
				<td class="text-center"><input class="form-check-input position-static" id="PronFormUser1" aria-label="..." type="checkbox"></td>
			</tr>
		</tbody>
	</table>
	<!-- Old attempts at nested fields -->
	<!--</tbody> 
	</table> -->
</div>


