<!-- Table responsive as an experiment to proportion the table, if bothersome remove -->
<div class="form-check row table-responsive-sm">
	<table class="table table-striped" id="Table">
		<thead>
			<tr class="table-secondary">
				<th class="text-center"></th>
				<th class="text-center">Hidden if Empty</th>
				<th class="text-center">Field</th>
				<th></th>
				<th class="text-center">Observer</th>
				<th class="text-center">Commenter</th>
				<th class="text-center">Contributor</th>
				<th class="text-center">Manager</th>
				<th class="text-center">User1</th>
				<th><button type="button" class="btn btn-light">+</button></th>
			</tr>
		</thead>
		<tbody id="Body">
			<tr>
				<tr>
					<th class="text-center table-secondary">Input Systems</th>
					<td></td>
					<td></td>
					<th class="text-center">Select All</th>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsObserver" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsUser1" aria-label="..." type="checkbox"></td>
				</tr>
				<tr>
					<th class="text-center table-secondary" ></th>
					<td class="text-center"></td>
					<th class="text-center">id</th>
					<td class="text-center"><input class="form-check-input position-static" id="WordsSelectAll" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsUser1" aria-label="..." type="checkbox"></td>
					<td></td>
				</tr>
				<tr>
					<th class="text-center table-secondary" ></th>
					<td class="text-center"></td>
					<th class="text-center">en</th>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormSelectAll" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormComment" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormUser1" aria-label="..." type="checkbox"></td>
					<td></td>
					</tr>
				<tr>
					<th class="text-center table-secondary"></th>
					<td class="text-center"></td>
					<th class="text-center">fr</th>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormSelectAll" aria-label="..."type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormUser1" aria-label="..." type="checkbox"></td>
					<td></td>
				</tr>
				<tr>
					<th class="text-center table-secondary"><button type="button" class="btn btn-light">+</button></th>
				</tr>
				<tr>
					<th class="text-center table-secondary"></th>
				</tr>
			</tr>
			<tr>
				<tr>
					<th class="text-center table-secondary">Entry Fields</th>
					<td></td>
					<td></td>
					<th class="text-center">Select All</th>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsObserver" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsUser1" aria-label="..." type="checkbox"></td>
					<td></td>
					</tr>
                <tr data-ng-repeat="entryField in $ctrl.unifiedViewModel.entryFields">
					<th class="text-center table-secondary" ></th>
					<td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.hiddenIfEmpty" aria-label="..." type="checkbox"></td>
					<th class="text-center">{{entryField.name}}</th>
					<td class="text-center"><input class="form-check-input position-static" aria-label="..."type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.observer" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.contributor" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.commenter" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" data-ng-model="entryField.manager" aria-label="..." type="checkbox"></td>
					<td class="text-center" data-ng-repeat="group in entryField.groups"><input class="form-check-input position-static" data-ng-model="group" aria-label="..." type="checkbox"></td>
					<td></td>
				</tr>
				<tr>
					<th class="text-center table-secondary"></th>
				</tr>
			</tr>
			<tr>
				<tr>
					<th class="text-center table-secondary">Example Fields</th>
					<td></td>
					<td></td>
					<th class="text-center">Select All</th>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsObserver" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input  class="form-check-input position-static" id="EntryFieldsCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="EntryFieldsManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input  class="form-check-input position-static" id="EntryFieldsUser1" aria-label="..." type="checkbox"></td>
					<td></td>
				</tr>
				<tr>
					<th class="text-center table-secondary" ></th>
					<td class="text-center"><input class="form-check-input position-static" id="ExampleHide" aria-label="..."  type="checkbox"></td>
					<th class="text-center">Example</th>
					<td class="text-center"><input class="form-check-input position-static" id="WordsSelectAll" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input  class="form-check-input position-static" id="WordsObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="WordsManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input  class="form-check-input position-static" id="WordsUser1" aria-label="..." type="checkbox"></td>
					<td></td>
				</tr>
				<tr>
					<th class="text-center table-secondary" ></th>
					<td class="text-center"><input class="form-check-input position-static" id="TranslationHide" aria-label="..."  type="checkbox"></td>
					<th class="text-center">Translation</th>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormSelectAll" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormComment" aria-label="..."  type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="CitFormUser1" aria-label="..." type="checkbox"></td>
					<td></td>
					</tr>
				<tr>
					<th class="text-center table-secondary"></th>
					<td class="text-center"><input class="form-check-input position-static" id="ReferenceHide" aria-label="..."  type="checkbox"></td>
					<th class="text-center">Reference</th>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormSelectAll" aria-label="..."type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormUser1" aria-label="..." type="checkbox"></td>
					<td></td>				
				</tr>
				<tr>
					<th class="text-center table-secondary"></th>
					<td class="text-center"><input class="form-check-input position-static" id="PubHide" aria-label="..."  type="checkbox"></td>
					<th class="text-center">Publish In</th>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormSelectAll" aria-label="..."type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormObserver" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormCollab" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormComment" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormManag" aria-label="..." type="checkbox"></td>
					<td class="text-center"><input class="form-check-input position-static" id="PronFormUser1" aria-label="..." type="checkbox"></td>
					<td></td>				
				</tr>
				<tr>
					<th class="text-center table-secondary"><button type="button" class="btn btn-light">+</button></th>
				</tr>
			</tr>
		</tbody>
	</table>
</div>