<div class="modal-header">
    <h3>Create a new Custom Field</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="customFieldForm" novalidate>
        <div class="form-group">
            <label class="col-form-label" for="name">Display Name</label>
            <span class="ml-2" data-ng-show="customFieldNameExists(newCustomData.level, newCustomData.code)">
                    <i id="fieldCodeExists" class="fa fa-exclamation-circle text-danger" title="Field Code already exists!"></i></span>
            <div class="controls">
                <input class="form-control" id="name" autofocus
                    required type="text" name="name"
                    placeholder="name"
                    data-ng-model="newCustomData.name">
            </div>
        </div>
        <div class="form-group d-none">
            <label class="col-form-label" for="code">Field Code</label>
            <div class="controls">
                <input class="form-control" id="code"
                    disabled type="text" name="code"
                    placeholder="code"
                    data-ng-model="newCustomData.code">
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="type">Field Type</label>
            <div class="controls">
                <select class="form-control custom-select" id="type" name="type" required
                    data-ng-model="newCustomData.type"
                    data-ng-options="selects.type.options[key] for key in selects.type.optionsOrder">
                    <option value="">-- choose a field type --</option></select>
            </div>
        </div>
        <div class="form-group" data-ng-if="(newCustomData.type == 'optionlist') || (newCustomData.type == 'multioptionlist')">
            <label class="col-form-label" for="optionListCode">Option List</label>
            <div class="controls">
                <select class="form-control custom-select" id="optionListCode" name="optionlistCode" required
                    data-ng-model="newCustomData.listCode"
                    data-ng-options="selects.listCode.options[code] for code in selects.listCode.optionsOrder">
                    <option value="">-- choose an option list --</option></select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="addCustomFieldButton" type="submit"
        data-ng-click="add()"
        data-ng-disabled="customFieldForm.$invalid || customFieldNameExists(newCustomData.level, newCustomData.code)">
        <i class="fa fa-plus"></i> Add <span class="notranslate">{{newCustomData.name}}</span></button>
</div>
