.update-button-spinner {
  float: left;
  margin-top: 0.6em;
  margin-right: 0.5em;
}

.contactMethod-spinner,
.birthday-spinner,
.gender-spinner {
  float: right;
  margin-top: 1.5em;
  margin-right: 0.5em;
}

.check-icon {
  color: green;
}

mat-card button {
  left: 1em;
}

.error-icon {
  color: red;
}

.delete-account mat-card {
  border: 2px solid red;
  #delete-account-button {
    color: red;
    // Help button stay within the card border
    margin-right: 1em;
  }
}

.login-info {
  margin-right: 1em;
}

.nowrap {
  white-space: nowrap;
}

.linked-paratext,
.linked-google,
.delete-account {
  margin-bottom: 1em;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}
