<div class="row justify-content-center">
    <div class="col-md-10">
        <div id="form-container">
            <div class="text-center">

                <h2>Start or join a Translation Project</h2>
                <div class="row justify-content-center" data-ng-show="$ctrl.show.nextButton">
                    <div class="col-md-10">
                        <ul class="list-inline" id="progress-indicator">
                            <li class="list-inline-item">
                                <i data-ng-class="$ctrl.iconForStep(1)"></i>
                                <span data-ng-bind="$ctrl.progressIndicatorStep1Label"></span></li>
                            <li class="list-inline-item">&gt;</li>
                            <li class="list-inline-item">
                                <i data-ng-class="$ctrl.iconForStep(2)"></i>
                                <span data-ng-bind="$ctrl.progressIndicatorStep2Label"></span></li>
                            <li class="list-inline-item" data-ng-show="$ctrl.show.step3">&gt;</li>
                            <li class="list-inline-item" data-ng-show="$ctrl.show.step3">
                                <i data-ng-class="$ctrl.iconForStep(3)"></i>
                                <span data-ng-bind="$ctrl.progressIndicatorStep3Label"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form class="form" id="newLexProjectForm" name="newLexProjectForm" data-ng-pristine data-ng-valid
                  data-ng-scope data-ng-submit="$ctrl.nextStep()">
                <div class="row justify-content-center">
                    <div class="col-md-10" id="form-status" data-ng-class="$ctrl.formStatusClass">{{$ctrl.formStatus}}&nbsp;</div>
                </div>

                <!-- our nested state views will be injected here -->
                <div id="form-views" class="mb-3" data-ui-view></div>

                <div class="row justify-content-center" data-ng-show="$ctrl.show.nextButton">
                    <div class="col-md-10">

                        <a class="btn btn-std" data-ng-class="$ctrl.interfaceConfig.pullNormal"
                           id="backButton" data-ng-click="$ctrl.prevStep()" data-ng-show="$ctrl.show.backButton">
                            <i class="fa fa-arrow-circle-left"></i>
                            Back
                        </a>

                        <button type="submit" class="btn btn-std" data-ng-class="[$ctrl.interfaceConfig.pullToSide, $ctrl.forwardBtnClass]" href="#"
                                id="nextButton" data-ng-disabled="!$ctrl.show.nextButton">
                            {{$ctrl.nextButtonLabel}}&nbsp;
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
