<form [formGroup]="selectTextForm">
  <mat-form-field>
    <mat-select placeholder="Project" formControlName="project" [compareWith]="compareOption">
      <mat-option *ngFor="let project of projects$ | async" [value]="project">
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Book" formControlName="text" [compareWith]="compareOption">
      <mat-option *ngFor="let text of selectedProject?.texts" [value]="text">
        {{ text.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<app-text [textId]="selectedText?.id" class="flex-column flex-grow"></app-text>
