<div class="content container" data-ng-cloak>
    <div class="text-center">
        <h1>Create an account</h1>
        <sil-notices></sil-notices>
    </div>

    <p class="row justify-content-center"><a href="/oauthcallback/google"><img src="/Site/views/shared/image/btn_google_signin_dark_normal_web.png"></a></p>
    <!-- TODO: Replace the PNG button with an HTML+CSS one to allow translation, as in http://tech.yeesiang.com/social-login-button-with-font-awesome-bootstrap/ -->
    <div class="row justify-content-center">
    <div class="hr-and-text col-12 col-lg-8">
        <hr class="thin-line">
        <div class="text-inside-hr">or</div>
    </div>
    </div>
    <form class="row justify-content-center" data-ng-submit="$ctrl.processForm()" id="signupForm" name="signupForm">
        <div class="col-12 col-lg-8 card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-md-4 text-md-right" for="name">Full Name</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" id="name"
                                   required type="text" name="name"
                                   placeholder="your name"
                                   data-ng-model="$ctrl.record.name">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-4 text-md-right" for="email">Email Address</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" id="email"
                                   required type="email" name="email"
                                   placeholder="your email"
                                   data-ng-blur="$ctrl.validateForm()"
                                   data-ng-disabled="$ctrl.emailProvided"
                                   data-ng-model="$ctrl.record.email">
                            <span class="input-group-addon alert-danger" data-ng-if="!$ctrl.emailValid || $ctrl.emailExists">
                                <i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div>
                    <script src="/dist/zxcvbn/zxcvbn.js"></script>
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 text-md-right" for="password">Password</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="password"
                                       required type="{{ $ctrl.showPassword ? 'text' : 'password' }}" name="password"
                                       placeholder="minimum 7 characters"
                                       data-zxcvbn="$ctrl.passwordStrength"
                                       data-ng-change="$ctrl.validateForm()"
                                       data-ng-model="$ctrl.record.password">
                                <span class="input-group-addon" title="Password Strength"
                                      data-ng-if="$ctrl.record.password.length > 0"
                                      data-ng-class="{'alert-danger': ($ctrl.passwordStrength.score < 2 || $ctrl.record.password.length < 7), 'alert-warning': ($ctrl.passwordStrength.score == 2), 'alert-info': $ctrl.passwordStrength.score == 3, 'alert-success': $ctrl.passwordStrength.score == 4 }">
                                    <i class="fa fa-key"></i> {{ ['Too Weak', 'Too Weak', 'Fair', 'Good', 'Strong'][$ctrl.passwordStrength.score]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8 ml-md-auto">
                        <label class="checkbox">
                            <input type="checkbox" data-ng-model="$ctrl.showPassword">
                            Show password</label>
                    </div>
                </div>
                <div class="form-group form-group-last row">
                    <div class="col-md-8 ml-md-auto">
                        <pui-captcha pui-items="$ctrl.captchaData.items" pui-expected-item-name="$ctrl.captchaData.expectedItemName"
                                     pui-selected="$ctrl.record.captcha"></pui-captcha>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="col-12 text-center">
            <span role="alert" class="alert-danger" id="captchaInvalid" data-ng-show="$ctrl.captchaFailed">
                The shape verification failed. Please try again.<br></span>
            <span role="alert" class="alert-danger" id="emailInvalid" data-ng-show="!$ctrl.emailValid">
                Please enter a valid email address. An example of an email address: john@doe.com<br></span>
            <span role="alert" class="alert-danger" id="emailTaken" data-ng-show="$ctrl.emailExists">
                {{$ctrl.takenEmail}} is taken. If this is you, you can <a href="/auth/login">login now</a> or <a href="/auth/forgot_password">reset your forgotten password</a>.<br></span>
            <span role="alert" class="alert-danger" id="passwordIsWeak" data-ng-show="$ctrl.passwordIsWeak">
                Password is too weak.<br></span>
        </div>
        <br>
        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit" id="submit"
                    data-ng-disabled="signupForm.$invalid || $ctrl.passwordIsWeak">
                Sign Up
                <span data-ng-show="$ctrl.submissionInProgress">
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
                <span data-ng-show="!$ctrl.submissionInProgress">
                    <i class="fa fa-thumbs-o-up"></i>
                </span>
            </button>
        </div>
        <div class="text-center">
            <br>
            <small>powered by</small>
            <p class="notranslate">Sign-on Identification List</p>
        </div>
    </form>
</div>
