@import '../../../../../Site/views/shared/_variables';

#form-container h1 {
  font-size: 20pt;
}

/* progress indicator */
#progress-indicator {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #eeeeee;
  margin-left: 0;
  list-style: none;
  li {

    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

    i {
      display: block;
      font-size: 55px;
    }
    i.fa-check-square {
      color: green;
      font-size: 50px;
      height: 56px;
    }

    i.fa-check-square-o {
      color: green;
      font-size: 50px;
      height: 56px;
    }
    i.text-muted {
      color: $theme-disabled;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.hr-and-text {
  text-align: center;
  font-variant: small-caps;
}

.hr-and-text .thin-line {
  position: relative;
  /* top should be roughly half the line-height */
  top: 1.375em;
  margin-bottom: 0;
}

.hr-and-text .text-inside-hr {
  padding: 10px;
  position: relative;
  display: inline-block;
  background: white;
}
