<div data-ng-cloak data-ng-controller="commentsCtrl" id="semDomAppContainer">
	<div style="margin-top:100px; height: 500px" class="container-fluid" >
			 <div class="row">		
		    	<div class="col-md-6" >
		    		<a style="float: left"  ui-sref="edit({position:$parent.itemIndex})">  &#8592; Back to Edit</a>
		    	</div>	 
			</div>
			<div class="row menu" style="border-bottom:solid black 1px">		
		    	<div class="col-md-6" >
		    		<b>{{currentItem.name.source}}</b>
		    	</div>	 
			</div>
			<div class="row">
				<div class="col-md-7"  style="height: 500px; overflow-y: scroll" >
					<sd-term control="control" model="currentEntry" state="comments"></sd-term>
					<sd-questions control="control" model="currentEntry" state="comments"></sd-questions>
				</div>	
				<div class="col-md-5" style="text-align: center;" >
					
                    <comments-right-panel model="comments" control="control"></comments-right-panel>
				</div>
				
				
			</div>
				
		</div>
</div>