<div data-ng-cloak data-ng-controller="commentsCtrl" id="semDomAppContainer">
    <div style="margin-top:100px; margin-bottom:50px; height: 625px" class="container-fluid" >
             <div class="row">      
                <div class="span6" >
                    <a style="float: left"  ui-sref="editor.editItem({position:currentEntryIndex})">  &#8592; Back to Edit</a>
                </div>   
            </div>
            <div class="row menu" style="border-bottom:solid black 1px">        
                <div class="span6" >
                    <b>{{currentEntry.name.source}}</b>
                </div>   
            </div>
        <semdomtrans-comments-view entry="currentEntry" control="control"></semdomtrans-comments-view>
                
    </div>
</div>