<div data-ng-cloak data-ng-controller="editCtrl" id="semDomAppContainer">
		<div style="margin-top:100px; height: 500px" class="container-fluid">
		    <div class="row" style="border-bottom:solid black 1px">		
		    	<div class="col-md-3" >                    
                    <input placeholder="Filter semantic domain items" style="margin-bottom:10px" ng-model="searchText" ng-change="reloadItems(selectedDepth, 100)" />
                    <br />
                    Choose Working Set: 
                    <select style="margin-bottom:10px" ng-model="selectedWorkingSet">
                        <option ng-repeat="ws in workingSets track by $index"  value="{{$index}}">{{ws.name}}</option>
                    </select>
                </div>	   
                 
		    	<div class="col-md-5" >
					<tabset class="pull-center">
					    <tab heading="Terms"  ng-click="setTab(0)"> </tab>     
						<tab heading="Questions" ng-click="setTab(1)"></tab>
                        <tab heading="Filter" ng-click="setTab(2)"></tab>
					</tabset>  
				</div>
				<div class="col-md-4" >
					<a ui-sref="comments({position:currentEntryIndex})"  style="float: right; margin-top:5px"> Comments &#8594;</a>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-3" style="border-right:solid black 1px">
			    <div>
                    <label style="float:left; margin-top:20px; width:30%">Tree Depth: {{selectedDepth}}</label>
                    <input style="width:65%; float:right" class="progress-slider" type="range" min="1"
                    max="{{maxDepth}}" data-ng-model="selectedDepth">
                </div>
			    <div style="overflow-y:scroll; overflow-x:hidden; height:400px; width:100%"  data-pui-when-scrolled="loadMore()">
	                 <div ng-repeat="item in displayedItems track by item.key" ng-class="{selected: (item.key == currentEntry.key)}"  ng-click="changeTerm(item.key)"
	                 	ng-style="{ 'margin-left': (item.key.length-1)/2 * 20 }"   >
				        <a> {{item.key}} {{item.name.source}}</a>
				      </div>
			    </div>
				
			  </div>
			  <div style="text-align: center;" class="col-md-9">
			  	   <div ui-view="editItem"></div>
                   <div ng-if="(selectedTab == 2)" ui-view="editFilter"></div>
			  </div>
			</div>
		</div>	
  </div>
