<div data-ng-cloak data-ng-controller="editCtrl" id="semDomAppContainer">
		<div style="margin-top:100px; height: 500px" class="container-fluid">
		    <div class="row" style="border-bottom:solid black 1px">		
		    	<div class="col-md-4" ></div>	    
		    	<div class="col-md-4" >
					<tabset class="pull-center">
					    <tab heading="Terms"  ng-click="setTab(0)"> </tab>     
						<tab heading="Questions" ng-click="setTab(1)"></tab>
					</tabset>  
				</div>
				<div class="col-md-4" >
					<a ui-sref="comments({position:$parent.itemIndex})"  style="float: right; margin-top:5px"> Comments &#8594;</a>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-4" style="border-right:solid black 1px">
			    <div>
                    <label style="float:left; margin-top:20px">Tree Depth:</label>
                    <input style="width:70%; float:right" class="progress-slider" type="range" min="1"
                    max="{{maxDepth}}" data-ng-model="selectedDepth">
                </div>
			    <div style="overflow-y:scroll; overflow-x:hidden; height:400px; width:100%">
	                 <div ng-repeat="item in displayedItems" ng-class="{selected: (item.key == currentEntry.key)}"  ng-click="changeTerm(item.key)"
	                 	ng-style="{ 'margin-left': (item.key.length-1)/2 * 20 }">
				        <a> {{item.key}} {{item.name.source}}</a>
				      </div>
                      <div ng-show='areItemsReloading'>
                        <h1> Loading </h1>
                      </div>
			    </div>
				
			  </div>
			  <div style="text-align: center;" class="col-md-4">
			  	   <div ui-view="editItem"></div>
			  </div>
			</div>
		</div>	
  </div>
