<div data-ng-cloak data-ng-controller="projectSetupCtrl" style="text-align: center;">
	<div style="margin-top:100px; height: 500px; vertical-align: middle; display:inline-block"" class="container-fluid">
		<div class="modal" ng-show="(modalShowing > 0)" style="display:inline; margin-left:500px" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
   			 <div class="modal-dialog">
        		<div class="modal-content">
		            <div class="modal-header">
		            <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
		            </div>
		            <div class="modal-body">
		                <h3>{{modalBody}}</h3>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" ng-click="modalHide()">No</button>
		                <button type="button" class="btn btn-primary" ng-click="modalAccept()">Yes</button>
        			</div>
    			</div>
  			</div>
		</div>

		<table>
			<tbody>
				<tr> 
					<th style="max-width: 250px;"> Click on language below to <b> JOIN </b> existing project: </th>
					<th style="max-width: 250px;"> Click on language below to <b> CREATE </b> new project: </th>
				</tr>
				<tr> 				
					 <td>
						<div style="overflow-y:scroll; height:400px">
							<ul>
				      			<li ng-repeat="project in startedProjects"  ng-click="showModal(project, 1)" class="thumbnail">
				        			<a href="#"> {{project.language}} ({{project.pctComplete}}% complete) </a>
				      			</li>
				    		</ul>
						</div>
					 </td>
					 <td>
						<div style="overflow-y:scroll; height:400px">
						<ul>
				      		<li ng-repeat="project in unstartedProjects" ng-click="showModal(project, 2)" class="thumbnail">
				        		<a href="#"> {{project.language}} </a>
				      		</li>
				    	</ul>
						</div>
					 </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
