<div data-ng-cloak data-ng-controller="reviewCtrl" id="semDomAppContainer">
        <div style="margin-top:100px; height: 500px;  width:100%; margin-right:0px; margin-left:0px" class="container-fluid">
            <div class="row">      
                <div class="span6" style="margin-bottom:30px">
                    <a style="float: left"  ui-sref="editor.editItem({position:currentEntryIndex})">  &#8592; Back to Edit</a>
                </div>   
            </div>
            <div class="row" style="border:solid black 1px;">      
              <div class="span3" style="text-align: center; float:left; margin-left:-1px; margin-right:0px">
                <b>Items to Review</b>    
              </div>
              <div style="text-align: center; float:right; margin-left:0px; margin-right:0px" class="span9">
                <b>Fields on Current Item to Review</b>
              </div>
            </div>
            <div class="row" style='width:100%; margin-right:0px; margin-left:0px'>
              <div class="span3" style="border-right:solid black 1px; float:left; margin-left:-1px; margin-right:0px">
                <div>
                    <div style="overflow-y:scroll; overflow-x:hidden; height:400px; width:100%; margin-left:0px; margin-right:0px" >
                         <div ng-repeat="item in displayedItems track by item.key" ng-class="{selected: (item.key == currentEntry.key)}"  ng-click="changeTerm(item.key)">
                            <a> {{item.key}} {{item.name.source}}</a>
                          </div>
                    </div>
                </div>                
              </div>
              <div style="text-align: center; float:right; margin-left:0px; margin-right:0px" class="span9">
                <div style="overflow-y:scroll; height:400px;">
                <table style="width:100%"> 
                    <tr>
                        <th>Field Name</th>
                        <th>Field Source</th>
                        <th>Field Translation</th>
                        <th ng-if="rights.canEditProject()">Approve/Send For Review</th>
                    </tr>      
                    <tr ng-repeat="(fieldName, fieldValue) in fieldsForReview">
                        <td style="width:10%"> {{ fieldName }} </td>
                        <td style="width:40%"> {{fieldValue.source}}</td>
                        <td style="width:40%"> 
                             {{fieldValue.translation}}
                        </td>                
                        <td ng-if="rights.canEditProject()" style="width:10%">
                            <button class="btn btn-primary" ng-click="markAsApproved(fieldValue)"> Approve</button>
                            <br />
                            <br />
                            <button class="btn btn-warning" ng-click="markAsNeedsRevision(fieldValue)"> Needs Revision</button>
                        </td>        
                       </tr>               
                   </table>
                </div>
              </div>
            </div>
        </div>  
  </div>
