.add-invite-user {
  max-width: 400px;
}

.add-user-btn {
  margin: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

.invite-user-btn {
  margin: 10px;
  bottom: 10px;
}

.text-entry {
  margin-bottom: 10px;
}
