<div class="add-invite-user">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-entry">
    <form [formGroup]="userSelectionForm">
      <div mdcMenuSurfaceAnchor #userSearchAnchor>
        <mdc-form-field>
          <mdc-text-field
            #userAddInput
            id="user-search"
            formControlName="user"
            label="Search by name, email or phone"
            (input)="updateSearchTerms($event)"
            (blur)="refocusInput()"
          ></mdc-text-field>
          <mdc-menu
            #userSearch
            id="search-menu"
            [anchorElement]="userSearchAnchor"
            anchorCorner="bottomStart"
            (selected)="userSelected($event)"
          >
            <mdc-list>
              <ng-container *ngFor="let user of canBeAddedUsers">
                <mdc-list-item [value]="user.email">{{ user.name }} ({{ user.email }})</mdc-list-item>
              </ng-container>
            </mdc-list>
          </mdc-menu>
        </mdc-form-field>
      </div>
    </form>
    <button mdc-button id="btn-add" class="add-user-btn" outlined (click)="onAdd()" [disabled]="addDisabled">
      <span fxShow fxHide.xs>Add user</span> <span fxHide fxShow.xs>Add</span>
    </button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-entry">
    <form [formGroup]="userInviteForm">
      <mdc-form-field>
        <mdc-text-field
          id="email-input"
          formControlName="email"
          label="Email"
          (input)="searchForExistingEmail($event)"
        ></mdc-text-field>
        <mdc-helper-text validation>
          <span *ngIf="userInviteForm.controls.email.hasError('email')">Email is invalid</span>
        </mdc-helper-text>
      </mdc-form-field>
      <div class="collaborators-form-error">
        <span *ngIf="userInviteForm.hasError('invite-disallowed')" id="invite-error">
          Please use <span fxShow fxHide.xs><b>Add user</b></span
          ><span fxHide fxShow.xs><b>Add</b></span> for existing users
        </span>
      </div>
    </form>
    <button
      mdc-button
      id="btn-invite"
      class="invite-user-btn"
      outlined
      (click)="onInvite()"
      [disabled]="inviteDisabled"
    >
      <span fxShow fxHide.xs>Invite user</span> <span fxHide fxShow.xs>Invite</span>
    </button>
  </div>
</div>
