<div class="add-invite-user">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-entry">
    <form [formGroup]="userSelectionForm">
      <div mdcMenuSurfaceAnchor #userSearchAnchor>
        <mdc-text-field
          id="user-search"
          formControlName="user"
          label="Search by name, email or phone"
          (input)="updateSearchTerms($event)"
        ></mdc-text-field>
        <mdc-menu
          #userSearch
          id="search-menu"
          [anchorElement]="userSearchAnchor"
          anchorCorner="bottomStart"
          *ngIf="usersFound"
          (selected)="userSelected($event)"
        >
          <mdc-list>
            <ng-container *ngFor="let user of users">
              <mdc-list-item>{{ user.name }} ({{ user.email }})</mdc-list-item>
            </ng-container>
          </mdc-list>
        </mdc-menu>
      </div>
    </form>
    <button mdc-button id="btn-add" class="add-user-btn" outlined (click)="onAdd()" [disabled]="addDisabled">
      <span fxShow fxHide.xs>Add user</span> <span fxHide fxShow.xs>Add</span>
    </button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-entry">
    <form [formGroup]="userInviteForm">
      <div mdcMenuSurfaceAnchor #anchor>
        <mdc-form-field>
          <mdc-text-field
            id="email-input"
            formControlName="email"
            label="Email"
            (input)="searchForExistingEmail($event)"
          ></mdc-text-field>
          <mdc-helper-text validation>
            <span *ngIf="userInviteForm.controls.email.hasError('required')">Email is required</span>
            <span
              *ngIf="
                userInviteForm.controls.email.hasError('email') || userInviteForm.controls.email.hasError('pattern')
              "
              >Email is invalid</span
            >
          </mdc-helper-text>
        </mdc-form-field>
        <mdc-menu #inviteError id="invite-error" [anchorElement]="anchor" anchorCorner="bottomStart">
          <mdc-list> <mdc-list-item>Please use "Add" for existing users</mdc-list-item> </mdc-list>
        </mdc-menu>
      </div>
    </form>
    <button
      mdc-button
      id="btn-invite"
      class="invite-user-btn"
      outlined
      (click)="onInvite()"
      [disabled]="inviteDisabled"
    >
      <span fxShow fxHide.xs>Invite user</span> <span fxHide fxShow.xs>Invite</span>
    </button>
  </div>
</div>
