.add-invite-user {
  padding-top: 1rem;
  max-width: 27rem;
}

mdc-text-field {
  min-width: 17rem;
}

.add-user-btn {
  margin: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.invite-user-btn {
  margin: 0.6rem;
  bottom: 0.6rem;
}

.text-entry {
  margin-bottom: 0.6rem;
}
