<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="column" fxLayoutAlign="start start">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()" #formDirective="ngForm" autocomplete="off">
      <mdc-form-field>
        <mdc-text-field formControlName="newPassword" label="New password" type="password" outlined></mdc-text-field>
        <mdc-helper-text validation>
          <span *ngIf="newPasswordControl.hasError('required')">Required</span>
          <span *ngIf="newPasswordControl.hasError('minlength')"
            >Must be at least {{ requiredPasswordLength }} characters</span
          >
        </mdc-helper-text>
      </mdc-form-field>

      <password-strength-meter [password]="newPasswordControl.value"></password-strength-meter>

      <mdc-form-field>
        <mdc-text-field
          formControlName="confirmPassword"
          label="Confirm password"
          type="password"
          outlined
        ></mdc-text-field>
        <mdc-helper-text validation>Required</mdc-helper-text>
      </mdc-form-field>

      <div
        class="notMatchError"
        *ngIf="!passwordsMatch && newPasswordControl.touched && confirmPasswordControl.touched"
      >
        Both password fields must contain the same password.
      </div>

      <button id="submitButton" type="submit" mdc-button primary>Change Password</button>
    </form>
  </div>
</div>
