<div class="contant container">
  <br />
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="newPassword" class="col-3 col-form-label">New Password</label>
      <div class="col-5">
        <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword"
        title="passwords must be at least 7 characters">
          <password-strength-meter [password]="changePasswordForm.value.newPassword"></password-strength-meter>
          <p *ngIf="formControls.newPassword.errors?.minlength" style="color: red">Password must be at least 7 characters</p>
          <p *ngIf="formControls.newPassword.errors?.required && isSubmitted" style="color: red">Password is required</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-3 col-form-label">Confirm Password</label>
      <div class="col-5">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
        title="passwords must be at least 7 characters">
          <p *ngIf="formControls.confirmPassword.errors?.minlength" style="color: red">Confirm Password must be at least 7 characters</p>
          <p *ngIf="formControls.confirmPassword.errors?.required && isSubmitted" style="color: red">Confirm Password is required</p>
          <p *ngIf="errorNotMatchMessage" style="color: red"> Passwords do not match</p>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-3 col-9">
        <button type="submit" id="btnChangePassword" name="btnChangePassword" mat-stroked-button>Change Password</button>
        <br/>  <br/>
        <p id="callBackStatus" name="callBackStatus" *ngIf="callBackMessageDisplay" style="width: 300px;" class="alert alert-success">{{callBackStatusMessage}}</p>
      </div>
    </div>
  </form>
</div>
