.changepassword-title {
  text-align: center;
}

.changepassword-button {
  text-align: center;
}

.submit-button {
  align-self: center;
  margin: 1em;
}

#passwordNotMatch {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 75%;
  align: left;
}
