label
{
    text-align: right;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  width: 100%;
}

.changepassword-title {
  text-align: center;
}

.changepassword-button {
  text-align: center;
  margin: 30px;
}

.submit-button {
  width: 150px;
  height: 40px;
  align-self: center;
}

