<div fxLayout="column">
  <mat-card>
    <mat-card-title class="changepassword-title">Change Password</mat-card-title>
    <mat-card-content fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="changePasswordForm" novalidate autocomplete="off" #changePasswordRef="ngForm">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="New Password"
              type="password"
              id="newPassword"
              name="newPassword"
              formControlName="newPassword"
            />
            <mat-error *ngIf="formControls.newPassword.errors?.minlength && isSubmitted">
              Password must be at least 7 characters
            </mat-error>
            <mat-error *ngIf="formControls.newPassword.errors?.required && isSubmitted">
              Password is required
            </mat-error>
          </mat-form-field>
          <password-strength-meter
            [password]="changePasswordForm.value.newPassword"
            item-width="200px"
          ></password-strength-meter>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Confirm Password"
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="formControls.confirmPassword.errors?.minlength && isSubmitted">
              Confirm Password must be at least 7 characters
            </mat-error>
            <mat-error *ngIf="formControls.confirmPassword.errors?.required && isSubmitted">
              Confirm Password is required
            </mat-error>
          </mat-form-field>

          <!-- The passwordNotMatch error would do well to be part of the confirmPassword mat-form-field, if it would show up at the right time. -->
          <mat-error
            id="passwordNotMatch"
            *ngIf="
              formControls.confirmPassword.value !== '' &&
              formControls.newPassword.value !== '' &&
              formControls.newPassword.value !== formControls.confirmPassword.value &&
              isSubmitted
            "
          >
            Passwords do not match
          </mat-error>

          <div class="changepassword-button">
            <button
              mat-raised-button
              color="primary"
              id="btnChangePassword"
              (click)="onSubmit()"
              type="submit"
              name="btnChangePassword"
              class="submit-button"
            >
              Change Password
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
