#passwordNotMatch {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 75%;
  align: left;
}

.notMatchError {
  font-size: 0.75rem;
  color: #b00020;
  margin-left: 1.35em;
  margin-bottom: 1em;
  width: 18em;
}
