<div ng-show="finishedLoading">
<h2 style="font-weight:normal">{{project.projectname}} Settings</h2>
<tabset>
	<tab heading="Users">
		<div data-ng-controller="ProjectSettingsUsersCtrl">
		<form data-ng-show="rights.showControlBar" class="control-bar form-inline">
			<button data-ng-disabled="selected.length == 0" data-ng-show="rights.deleteOther" class="btn" data-ng-click="removeProjectUsers()"><i class="icon-remove"></i>Remove Members</button>
			<button data-ng-show="rights.create" class="btn" data-ng-click="newUserCollapsed = !newUserCollapsed"><i class="icon-plus"></i>Add Members</button>
			<button data-ng-disabled="selected.length == 0" data-ng-show="rights.create" class="btn" data-ng-click="newMessageCollapsed = !newMessageCollapsed"><i class="icon-envelope"></i>Message Selected Users</button>
		</form>
		<div class="new-item" data-collapse="!newUserCollapsed">
			<form class="well form-inline">
			<typeahead class="typeahead" items="users" term="typeahead.userName" search="queryUser" select="selectUser">
				<ul>
					<li typeahead-item="user" data-ng-repeat="user in users" class="typeahead-item">
						<img width="32px" data-ng-src="{{imageSource(user.avatarRef)}}" class="left">
						<p class="name">{{user.name}}</p>
						<p class="email">{{user.email}}</p>
					</li>
				</ul>
			</typeahead>
			<button data-ng-model="addMode" class="btn" data-ng-disabled="!typeahead.userName" data-ng-click="addProjectUser()"><i data-ng-class="addModeIcon(addMode)"></i>{{addModeText(addMode)}}</button>
			</form>
		</div>
		<div data-collapse="newMessageCollapsed">
			<form class="well" data-ng-submit="sendMessageToSelectedUsers()">
			<fieldset>
				<p style="color:red">All fields are required to message selected users</p>
				<label>Email Subject</label>
				<input name="emailSubject" required type="text" placeholder="Subject" data-ng-model="message.subject"/>
				<label>Email Message</label>
				<textarea name="emailTemplate" required data-ng-model="message.emailTemplate" data-pui-jqte="jqteOptions"></textarea>
				<label>SMS Message <i>({{160 - message.smsTemplate.length}} characters remaining)</i></label>
				<textarea required name="smsTemplate" placeholder="SMS Message" data-ng-model="message.smsTemplate" style="width:400px; height:80px" maxlength="160"></textarea>
			</fieldset>
			<button type="submit" class="btn"><i class="icon-ok"></i>Send Message Now</button>
			
			</form>
		</div>
		<div listview search="queryProjectSettings()" items="list.users" visible-items="list.visibleUsers" select="">
		<!-- <div listview search="queryProjectUsers()" select=""> -->
		<table class="table" style="width: 100%">
			<thead>
			<tr>
				<th></th>
				<th>Username</th>
				<th>Full Name</th>
				<th>Role</th>
			</tr>
			</thead>
			<tbody>
			<tr data-ng-repeat="user in list.visibleUsers" data-ng-class="{active: isSelected(user)}" >
				<td width="16px" align="center"><input data-ng-show="rights.deleteOther" type="checkbox" data-ng-checked="isSelected(user)" data-ng-click="updateSelection($event, user)" /></td>
				<td>{{user.username}}</td>
				<td>{{user.name}}</td>
				<td><select data-ng-model="user.role" data-ng-change="onRoleChange(user)" data-ng-options="role.key as role.name for role in roles"></select></td>
			</tr>
			</tbody>
		</table>		
		</div>
		</div>
	</tab>
	<tab heading="Question Templates">
		<div data-ng-controller="ProjectSettingsQTemplateCtrl" style="overflow:hidden">
			<form class="control-bar form-inline">
				<button class="btn" data-ng-disabled="selected.length == 0" data-ng-click="removeTemplates()"><i class="icon-remove"></i>Remove Templates</button>
				<button class="btn" data-ng-click="toggleTemplateEditor()"><i class="icon-plus"></i>Add New Template</button>
			</form>
			<div class="new-item" data-collapse="!templateEditorVisible">
				<form class="well">
				<fieldset>
				<label>Question Template</label>
				<textarea required data-ng-model="editedTemplate.description" class="span4" rows="4" placeholder="The Question"></textarea>
				<label></label>
				<input type="text" maxlength="35" required data-ng-model="editedTemplate.title" class="span4" rows="4" placeholder="One Line Summary for Title" />
				<label></label>
				<button type="submit" class="btn" data-ng-click="editTemplate()"><i class="icon-ok"></i>Save</button>
				<a data-ng-click="hideTemplateEditor()">Cancel</a>
				</fieldset>
				</form>
			</div>
			<div listview search="queryTemplates()" items="templates" visible-items="visibleTemplates" select="">
			<table style="width: 100%">
				<tr>
					<th></th>
					<th class="span3">Question title</th>
					<th>Question contents</th>
				</tr>
				<tr data-ng-repeat="template in visibleTemplates" data-ng-class="{active: isSelected(template)}" data-ng-click="selectRow($index, template)" >
					<td width="16px" align="center"><input type="checkbox" data-ng-checked="isSelected(template)" data-ng-click="updateSelection($event, template)" /></td>
					<td><a title="Click to edit this template" data-ng-click="showTemplateEditor(template)">{{template.title}}</a></td>
					<td style="text-overflow: ellipsis">{{template.description}}</td>
				</tr>
			</table>
			</div>
		</div>
	</tab>
	<tab heading="Project Properties">
		<div data-ng-controller="ProjectSettingsPropertiesCtrl">
		<form class="well" data-ng-submit="updateProject()">
		<fieldset>
			<label>Project Name</label>
			<input type="text" placeholder="project name" data-ng-model="project.projectname"/>
			<label>Project Code</label>
			<input type="text" placeholder="project code" data-ng-model="project.projectCode"/>
			<label class="checkbox"><input type="checkbox" data-ng-model="project.featured"/> Featured On Website</label>
		</fieldset>
		<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
		</form>
		</div>
	</tab>
	<tab heading="Project Setup">
		<div data-ng-controller="ProjectSettingsSetupCtrl">
		<form class="well" data-ng-submit="updateProject()">
		<div class="row">
		<div class="span4">
		<fieldset class="well picklists">
			<legend>Show in the User's Profile</legend>
			<ul class="unstyled">
  				<li data-ng-click="selectList(listId)" data-ng-repeat="(listId, list) in project.userProperties.userProfilePickLists" data-ng-class="{selected:currentListId == listId}"><div class="checkbox"><input data-ng-model="currentListsEnabled[listId]" type="checkbox"/>{{list.name}}</div></li>
			</ul>
		</fieldset>
		</div><div class="span4">
		<fieldset class="well">
			<legend style="width:auto;">{{project.userProperties.userProfilePickLists[currentListId].name}}</legend>
			<label>Default Value</label>
			<select data-ng-model="project.userProperties.userProfilePickLists[currentListId].defaultKey" data-ng-options="item.key as item.value for item in project.userProperties.userProfilePickLists[currentListId].items"></select>
			<table>
				<thead>
				<tr>
					<td><input data-ng-model="newValue" type="text" placeholder="new value"/></td>
					<td><a data-ng-click="pickAddItem()"><i class="icon-plus"></i></a></td>
				</tr>
				</thead>
				<tbody>
				<tr data-ng-repeat="item in project.userProperties.userProfilePickLists[currentListId].items track by $index">
					<td>{{item.value}}</td>
					<td><a data-ng-click="pickRemoveItem($index)"><i class="icon-remove"></i></a></td>
				</tr>
				</tbody>
			</table>
		</fieldset>
		</div>
		</div>
		<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
		</form>
		</div>
	</tab>
	<tab select="readCommunicationSettings()" data-ng-show="$parent.canEditCommunicationSettings()" heading="Communication Settings">
		<div data-ng-controller="ProjectSettingsCommunicationCtrl">
		<form class="well" data-ng-submit="updateCommunicationSettings()">
		<fieldset>
			<label>Twilio Account Username</label>
			<input type="text" placeholder="(Twilio SID)" data-ng-model="settings.sms.accountId"/>
			<label>Twillio Auth Token</label>
			<input type="text" placeholder="(Twilio Auth Token)" data-ng-model="settings.sms.authToken"/>
			<label>SMS From Number</label>
			<input type="text" placeholder="(From Number)" data-ng-model="settings.sms.fromNumber"/>
			<label>Email From (reply-to) Address</label>
			<input type="email" placeholder="(From Email)" data-ng-model="settings.email.fromAddress"/>
			<label>Email Name</label>
			<input type="text" placeholder="(From Name)" data-ng-model="settings.email.fromName"/>
		</fieldset>
		<button type="submit" class="btn"><i class="icon-ok"></i>Save</button>
		
		</form>
		</div>
	</tab>
</tabset>
</div>