<div data-ng-show="finishedLoading">
    <h2 style="font-weight:normal">{{project.name}} Dashboard</h2>
    <div class="notices">
        <alert data-ng-repeat="message in messages" type="info" close="markMessageRead(message.id)">
            <b>{{message.subject}}</b><br /><span data-ng-bind-html="message.content"></span></alert>
    </div>

    <div id="settingsDropdownButton" class="pull-right" uib-dropdown data-ng-show="rights.edit">
        <a class="btn btn-secondary"
           uib-dropdown-toggle
           tooltip-placement="left"
           uib-tooltip="Settings">
            <i class="fa fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <a class="dropdown-item" data-ng-href="#/settings">Project Settings</a>
            <!--<a class="dropdown-item" ng-href="/app/usermanagement/{{project.id}}" translate="User Management"></a>-->
        </div>
    </div>

    <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
        <button data-ng-disabled="selected.length == 0" data-ng-show="rights.archive" class="btn btn-warning" data-ng-click="archiveTexts()">
            <i class="fa fa-archive fa-lg"></i> Archive Texts</button>
        <button data-ng-show="rights.create" class="btn btn-success" data-ng-click="newTextCollapsed = !newTextCollapsed">
            <i class="fa fa-plus"></i> Add New Text</button>
    </form>
    <div uib-collapse="newTextCollapsed">
        <div class="card new-text">
            <form class="card-block" name="newTextForm">
                <div class="col-md-4">
                    <div>
                        <div class="form-group">
                            <label>Title
                                <input class="form-control" required data-ng-model="title" type="text" placeholder="Title"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Text
                                <textarea class="form-control" textdrop data-ng-model="content" rows="4" placeholder="Paste the USX text here"></textarea>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Font Name (optional)
                                <input class="form-control" data-ng-model="fontfamily" type="text" placeholder="Title" />
                            </label>
                        </div>
                        <div>
                            <a href data-ng-click="toggleRangeSelector()">Select limited verse range</a>
                        </div>
                        <div>
                            <span class="text-info"><a data-ng-href="/sfchecks_usersguide#exportusx" target="_blank">
                                  How can I export a USX file from ParaTExt?</a></span>
                        </div>
                    </div>
                    <div uib-collapse="rangeSelectorCollapsed">
                        <div class="form-group">
                            <label>From
                                <div><input type="number" class="form-control" data-ng-model="startCh" min="1" placeholder="Chap." style="width: 4em; text-align: right" />
                                    &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="startVs" min="1" placeholder="Verse" style="width: 4em" />
                                    <button data-ng-click="startCh = ''; startVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>To
                                <div><input type="number" class="form-control" data-ng-model="endCh" min="1" placeholder="Chap." style="width: 4em; text-align: right" />
                                    &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="endVs" min="1" placeholder="Verse" style="width: 4em" />
                                    <button data-ng-click="endCh = ''; endVs = ''" class="btn btn-link">reset</button>
                                </div>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" data-ng-disabled="newTextForm.$invalid"
                            data-ng-click="addText(); newTextCollapsed = true"><i class="fa fa-check"></i> Save</button>
                </div>
                <fieldset class="col-md-4">
                    <div class="drop-box" data-ngf-drop="readUsx($file)" data-ngf-drag-over-class="'dragover'">
                        <h4>or drop a USX file here</h4>
                        <p>or if you prefer...</p>
                        <button class="btn btn-secondary" id="browseUsxButton" data-ngf-select="readUsx($file)">Browse...</button>
                    </div>
                    <div data-ngf-no-file-drop>
                        <div class="btn" data-ngf-select="readUsx($file)">Browse...</div>
                    </div>
                </fieldset>
                <div style="clear: left"></div>
            </form>
        </div>
    </div>
    <hr />
    <listview hide-if-empty="true" items="texts" visible-items="visibleTexts" select="">
        <table class="texts table">
            <tr data-ng-repeat="text in visibleTexts" data-ng-class="{active: isSelected(text)}">
                <td>
                    <label data-ng-show="rights.archive">
                        <input type="checkbox" data-ng-checked="isSelected(text)" data-ng-click="updateSelection($event, text)">
                    </label>
                </td>
                <td>
                    <span class="larger-text"><a data-ng-href="{{text.url}}"><span>{{text.title}}</span></a></span>
                </td>
                <td>
                    <div class="attention-block"><a data-ng-href="{{text.url}}">{{text.questionCount}} questions</a></div>
                </td>
                <td>{{text.responseCount}} responses</td>
                <td><small class="text-muted">Added {{text.dateCreated | relativetime}}</small></td>
            </tr>
        </table>
    </listview>
</div>
