<div data-ng-show="finishedLoading">
    <h2 style="font-weight:normal">{{project.name}} Dashboard</h2>
    <div class="notices">
        <alert data-ng-repeat="message in messages" type="info" close="markMessageRead(message.id)">
            <b>{{message.subject}}</b><br /><span data-ng-bind-html="message.content"></span></alert>
    </div>
    <div id="settingsDropdownButton" class="btn-group pull-right" data-ng-show="rights.edit">
        <a class="btn dropdown-toggle"
           data-toggle="dropdown"
           data-tooltip-placement="right"
           data-tooltip="Settings" href="#">
            <i class="icon-cog icon-large"></i>
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a data-ng-href="#/settings">Project Settings</a></li>
            <!-- <li><a ng-href="/app/usermanagement/{{project.id}}" translate="User Management"></a></li> -->
        </ul>
    </div>
    <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
        <button data-ng-disabled="selected.length == 0" data-ng-show="rights.archive" class="btn btn-warning" data-ng-click="archiveTexts()">
            <i class="icon-archive icon-large" style="color:black"></i>Archive Texts</button>
        <button data-ng-show="rights.create" class="btn btn-success" data-ng-click="newTextCollapsed = !newTextCollapsed">
            <i class="icon-plus"></i>Add New Text</button>
    </form>
    <div class="new-item" uib-collapse="newTextCollapsed">
        <form class="well" name="newTextForm">
            <div>
                <div>
                    <label>Title</label>
                    <input class="form-control" required data-ng-model="title" type="text" placeholder="Title"/>
                </div>
                <div>
                    <label>Text</label>
                    <textarea class="form-control" textdrop data-ng-model="content" rows="4" placeholder="Paste the USX text here"></textarea>
                </div>
                <div>
                    <label>Font Name (optional)</label>
                    <input class="form-control" data-ng-model="fontfamily" type="text" placeholder="Title" />
                </div>
                <div>
                    <a data-ng-click="toggleRangeSelector()">Select limited verse range</a>
                </div>
                <div>
                    <span class="text-info"><a data-ng-href="/sfchecks_usersguide#exportusx" target="_blank">
                          How can I export a USX file from ParaTExt?</a></span>
                </div>
            </div>
            <div data-collapse="rangeSelectorCollapsed">
                <div>
                    <div>From</div>
                    <div><input type="number" class="form-control" data-ng-model="startCh" min="1" placeholder="Chap." style="width: 4em; text-align: right" />
                        &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="startVs" min="1" placeholder="Verse" style="width: 4em" /></div>
                    <div><a data-ng-click="startCh = ''; startVs = ''" class="btn-link">reset</a></div>
                </div>
                <div>
                    <div>To</div>
                    <div><input type="number" class="form-control" data-ng-model="endCh" min="1" placeholder="Chap." style="width: 4em; text-align: right" />
                        &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="endVs" min="1" placeholder="Verse" style="width: 4em" /></div>
                    <div><a data-ng-click="endCh = ''; endVs = ''" class="btn-link">reset</a></div>
                </div>
            </div>
            <button type="submit" class="btn" data-ng-disabled="newTextForm.$invalid"
                    data-ng-click="addText(); newTextCollapsed = true"><i class="icon-ok"></i>Save</button>
            <fieldset class="span4">
                <div class="drop-box" data-ngf-drop="readUsx($file)" data-ngf-drag-over-class="'dragover'">
                    <br/>
                    <p>or if you prefer...</p>
                    <div class="btn" id="browseUsxButton" data-ngf-select="readUsx($file)">Browse...</div>
                </div>
                <div data-ngf-no-file-drop>
                    <div class="btn" data-ngf-select="readUsx($file)">Browse...</div>
                </div>
            </fieldset>
            <div style="clear: left"></div>
        </form>
    </div>
    <hr />
    <listview hide-if-empty="true" items="texts" visible-items="visibleTexts" select="">
        <table class="texts table">
            <tr data-ng-repeat="text in visibleTexts" data-ng-class="{active: isSelected(text)}">
                <td>
                    <label data-ng-show="rights.archive">
                        <input type="checkbox" data-ng-checked="isSelected(text)" data-ng-click="updateSelection($event, text)">
                    </label>
                </td>
                <td>
                    <span class="larger-text"><a data-ng-href="{{text.url}}"><span>{{text.title}}</span></a></span>
                </td>
                <td>
                    <div class="attention-block"><a data-ng-href="{{text.url}}">{{text.questionCount}} questions</a></div>
                </td>
                <td>{{text.responseCount}} responses</td>
                <td><small class="text-muted">Added {{text.dateCreated | relativetime}}</small></td>
            </tr>
        </table>
    </listview>
</div>
