<h2 style="font-weight: normal">Update {{textTitle}}</h2>
<div data-ng-show="rights.editOther">
    <uib-tabset>
        <uib-tab heading="Edit Text">
            <div>
                <form data-ng-submit="updateText(editedText)">
                    <div class="col-md-4">
                        <div>
                            <div class="form-group">
                                <label>Title
                                    <input class="form-control" required data-ng-model="editedText.title" type="text" placeholder="Title"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Text
                                    <textarea class="form-control" textdrop data-ng-model="editedText.content" rows="4" placeholder="Paste the USX text here"></textarea>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Font Name (optional)
                                    <input class="form-control" data-ng-model="editedText.fontfamily" type="text" placeholder="Title" />
                                </label>
                            </div>
                            <div>
                                <a href="" data-ng-click="editPreviousText()"
                                   class="no-margin">Edit previous text</a>
                                <b>(dangerous!)</b>
                            </div>
                            <div class="form-group">
                                <a href data-ng-click="toggleRangeSelector()">Select limited verse range</a>
                            </div>
                        </div>
                        <div class="verse-range" uib-collapse="rangeSelectorCollapsed">
                            <div class="form-group">
                                <label>From
                                    <div><input type="number" class="form-control" data-ng-model="editedText.startCh" min="1" placeholder="Chap." />
                                        &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="editedText.startVs" min="1" placeholder="Verse" />
                                        <button data-ng-click="editedText.startCh = ''; editedText.startVs = ''" class="btn btn-link">reset</button>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>To
                                    <div><input type="number" class="form-control" data-ng-model="editedText.endCh" min="1" placeholder="Chap." />
                                        &nbsp;:&nbsp;<input type="number" class="form-control" data-ng-model="editedText.endVs" min="1" placeholder="Verse" />
                                        <button data-ng-click="endCh = ''; endVs = ''" class="btn btn-link">reset</button>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" data-ng-disabled="newTextForm.$invalid"
                                data-ng-click="addText(); newTextCollapsed = true"><i class="fa fa-check"></i> Save</button>
                    </div>
                    <fieldset class="col-md-4">
                        <div class="drop-box" data-ngf-drop="readUsx($file)" data-ngf-drag-over-class="'dragover'">
                            <h4>or drop a USX file here</h4>
                            <p>or if you prefer...</p>
                            <button class="btn btn-success" id="browseUsxButton" data-ngf-select="readUsx($file)">Browse...</button>
                        </div>
                        <div data-ngf-no-file-drop>
                            <div class="btn" data-ngf-select="readUsx($file)">Browse...</div>
                        </div>
                    </fieldset>
                    <div style="clear: left"></div>
                </form>
            </div>
        </uib-tab>
        <uib-tab heading="Archived Questions">
            <div data-ng-controller="TextSettingsArchivedQuestionsCtrl">
                <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
                    <button class="btn btn-success"
                            data-ng-disabled="selected.length == 0"
                            data-ng-show="rights.archive" class="btn"
                            data-ng-click="publishQuestions()">
                        <i class="fa fa-globe fa-lg"></i> Re-publish Questions
                    </button>
                </form>
                <hr />
                <listview hide-if-empty="true" search="queryTextSettings()"
                          items="settings.archivedQuestions"
                          visible-items="visibleArchivedQuestions" select="">
                    <table class="questions">
                        <tr data-ng-repeat="question in visibleArchivedQuestions"
                             class="details-row" data-ng-class="{active: isSelected(question)}">
                                <td data-ng-show="rights.archive">
                                    <label><input type="checkbox" data-ng-click="updateSelection($event, question)" /></label></td>
                                <td><a class="span5" data-ng-href="{{question.url}}">
                                    <span class="larger-text">{{question.calculatedTitle}}</span></a></td>
                                <td><a class="attention-block" data-ng-href="{{question.url}}">
                                        {{question.answerCount}} answers
                                    </a></td>
                                <td>{{question.responseCount}} responses</td>
                                <td>Archived on {{question.dateModified | date:'fullDate'}}</td>
                            <hr />
                        </tr>
                    </table>
                </listview>
            </div>
        </uib-tab>
        <uib-tab heading="Audio File">
            <form class="well " data-ng-submit="updateText(editedText)">
                <label>Upload an Audio File</label>
                <div class="drop-box" data-ngf-drop="uploadAudio($file)" data-ngf-drag-over-class="'dragover'">
                    <h4>Drop an MP3 file here</h4>
                    <br/>
                    <p>or if you prefer...</p>
                    <button class="btn btn-success" id="browseButton" data-ngf-select="uploadAudio($file)">Browse...</button>
                </div>
                <div data-ngf-no-file-drop>
                    <div class="btn" data-ngf-select="uploadAudio($file)">Browse...</div>
                </div>
                <br />
                <div data-ng-show="file != null">
                    <p><strong>{{file.name}}</strong> {{file.size | bytes }}</p>
                    <audio controls data-ngf-src="file"></audio>
                </div>
                <label>&nbsp;</label>
                <div data-ng-bind-html="uploadResult"></div>
            </form>
        </uib-tab>
        <uib-tab heading="ParaTExt Export">
            <div class="row-fluid outer-flex" data-ng-controller="ParatextExportTextCtrl">
                <h4>Export Text Answers/Comments to a ParaTExt XML file</h4>
                <form class="span4" name="exportForm">
                    <label><input type="checkbox" checked name="exportAnswers"
                                  id="exportAnswers" disabled /> Export Answers</label>
                    <label><input type="checkbox" name="exportComments"
                                  data-ng-model="exportConfig.exportComments" /> Export Comments</label>
                    <label><input type="checkbox" name="exportFlagged"
                                  data-ng-model="exportConfig.exportFlagged" />
                        Only export flagged Answers</label>
                    <button class="btn btn-success"
                            data-ng-disabled="exportForm.$invalid || download.inprogress"
                            data-ng-click="startExport()" class="btn">
                        Prepare Export</button>
                    <span data-ng-show="download.inprogress">
                <img src="/Site/views/shared/image/loading-small.gif"
                     style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
                    <p data-ng-show="download.complete && download.totalCount == 0"
                       class="text-error" id="noExportMsg">No answers/comments were
                        exported. Make sure you flagged answers for export and try
                        again, or uncheck "Only export flagged Answers" to export all
                        answers/comments</p>
                </form>
                <div class="span5" style="margin-right: 200px"
                     data-ng-show="download.totalCount">
                    <p data-ng-show="download.totalCount > 0" class="text-success">
                        Ready to Download: <span data-ng-show="download.answerCount > 0"
                                                 class="label label-success">{{download.answerCount}}
                    answer(s)</span> <span data-ng-show="download.commentCount > 0"
                                           class="label label-info">{{download.commentCount}}
                    comment(s)</span>
                    </p>
                    <button data-ng-click="downloadExport()" class="btn btn-primary">
                        Download ParaTExt XML File</button>
                </div>
            </div>
        </uib-tab>
        </tabset>
</div>
<div data-ng-hide="rights.editOther">
    <p>You don't have permission to edit this text.</p>
</div>
