<div data-ng-show="finishedLoading">
    <h2 style="font-weight: normal">Questions for {{text.title}}</h2>
    <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
        <button data-ng-show="rights.archive" class="btn btn-warning"
            data-ng-disabled="selected.length == 0"
            data-ng-click="archiveQuestions()">
            <i class="fa fa-archive fa-lg"></i> Archive Questions
        </button>
        <button data-ng-show="rights.createTemplate"
            data-ng-disabled="selected.length == 0 || selected.length > 1"
            class="btn btn-secondary" data-ng-click="makeQuestionIntoTemplate()">
            <i class="fa fa-thumb-tack"></i> Make Template
        </button>
        <button data-ng-show="rights.create" class="btn btn-success"
            data-ng-click="newQuestionCollapsed = !newQuestionCollapsed">
            <i class="fa fa-plus"></i> Add New Question
        </button>
        <a id="text_settings_button" data-ng-show="rights.editOther"
            class="btn pull-right" data-ng-href="#/{{textId}}/settings">
            <i class="fa fa-cog fa-lg" uib-tooltip="Text Settings"></i></a>
    </form>
    <div class="new-item" uib-collapse="newQuestionCollapsed">
        <form class="card span11" name="newQuestionForm">
            <div class="card-block">
                <fieldset class="col-md-4">
                    <label class="form-group">Question
                        <textarea required data-ng-model="questionDescription" class="form-control" rows="4"
                              placeholder="The Question"></textarea>
                    </label>
                    <label class="form-group">Title
                        <input type="text" data-ng-model="questionTitle" class="form-control" maxlength="70"
                            placeholder="One-line Summary For Title" />
                    </label>
                    <label class="form-group">
                        <input title="A summary title is required for templates"
                            data-ng-disabled="!questionTitle" type="checkbox"
                            data-ng-model="saveAsTemplate"
                            data-ng-show="rights.createTemplate" />
                        Also save as template</label>
                    <a href class="pull-right"
                        data-ng-click="newQuestionCollapsed = !newQuestionCollapsed">Cancel</a>
                    <button type="submit" class="btn btn-success save-new-question"
                        data-ng-disabled="newQuestionForm.$invalid"
                        data-ng-click="addQuestion()">
                        <i class="fa fa-check"></i> Add Question
                    </button>
                </fieldset>
                <fieldset class="col-md-4">
                    <label for="templates">Templates</label>
                    <select class="form-control" data-ng-model="template" id="templates"
                        data-ng-options="t.title for t in templates"></select>
                </fieldset>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5" oncopy="return false;">
            <h2 class="pull-left" data-ng-show="text.audioFileName && audioReady">
                <a data-sgw-sound-player href="audioPlayUrl" data-sgw-state="state">
                    <i data-ng-class="audioIcon()" uib-tooltip="Play audio"></i></a>
                <a data-ng-show="project.allowAudioDownload" data-ng-href="{{audioDownloadUrl}}">
                    <i class="fa fa-arrow-circle-o-down" uib-tooltip="Download audio"></i></a>
            </h2>
            <h2>{{text.title}}</h2>
            <div id="text" style="font-family: {{text.fontfamily}}" data-ng-bind-html="text.content"></div>
        </div>
        <div class="col-md-7">
            <listview hide-if-empty="true" search="queryQuestions()"
                items="questions" visible-items="visibleQuestions" select="">
                <table class="texts table">
                    <tr data-ng-repeat="question in visibleQuestions" data-ng-class="{active: isSelected(question)}">
                        <td>
                            <label data-ng-show="rights.archive">
                                <input type="checkbox" data-ng-checked="isSelected(question)" data-ng-click="updateSelection($event, question)">
                            </label>
                        </td>
                        <td>
                            <a data-ng-href="{{question.url}}"><div class="larger-text">{{question.calculatedTitle}}</div></a>
                        </td>
                        <td>
                            <a class="attention-block" data-ng-href="{{question.url}}">{{question.answerCount}} answers</a>
                        </td>
                        <td>{{question.responseCount}} responses</td>
                    </tr>
                </table>
            </listview>
        </div>
    </div>
</div>
