<h2 style="font-weight: normal">Update {{textTitle}}</h2>
<div data-ng-show="rights.editOther">
    <tabset>
    <tab heading="Edit Text">
    <form class="well " data-ng-submit="updateText(editedText)">
        <fieldset class="span4">
            <table class="tableform">
                <tr>
                    <td>
                        <label>Title</label>
                        <input required
                        data-ng-model="editedText.title" type="text"
                        placeholder="Title" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>USX Text</label>
                        <textarea textdrop
                            data-ng-model="editedText.content" rows="4"
                            placeholder="Paste the USX text here"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Font Name (optional)</label>
                        <input data-ng-model="editedText.fontfamily" type="text"
                               placeholder="Title" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="" data-ng-click="editPreviousText()"
                            class="no-margin">Edit previous text</a>
                        <b>(dangerous!)</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-ng-click="toggleRangeSelector()">
                            Select limited verse range</a>
                    </td>
                </tr>
            </table>
            <div data-collapse="rangeSelectorCollapsed">
                <table>
                    <tr>
                        <td>From</td>
                        <td>
                            <input type="number"
                                data-ng-model="editedText.startCh" min="1"
                                placeholder="Chap."
                                style="width: 4em; text-align: right"></input>&nbsp;:&nbsp;
                            <input type="number" data-ng-model="editedText.startVs"
                                min="1" placeholder="Verse" style="width: 4em"></input>
                        </td>
                        <td>
                            <a data-ng-click="editedText.startCh = ''; editedText.startVs = ''"
                            class="btn-link">reset</a>
                        </td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>
                            <input type="number"
                                data-ng-model="editedText.endCh" min="1"
                                placeholder="Chap."
                                style="width: 4em; text-align: right"></input>&nbsp;:&nbsp;
                            <input type="number" data-ng-model="editedText.endVs"
                                min="1" placeholder="Verse" style="width: 4em"></input>
                        </td>
                        <td>
                            <a data-ng-click="editedText.endCh = ''; editedText.endVs = ''"
                            class="btn-link">reset</a>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="btn">
                <i class="icon-ok"></i>Save
            </button>
        </fieldset>
        <fieldset class="span4">
            <div class="drop-box" data-ng-file-drop="onUsxFile($files)"
                data-ng-file-drop-available="dropSupported=true">
                <h4>or drop a USX file here</h4>
                <br />
                <p>or if you prefer...</p>
                <input type="button" class="btn" value="Browse..."
                    onclick="javascript:document.getElementById('usxfile').click();">
                <input id="usxfile" type="file" style="display: none;"
                    data-ng-file-select="onUsxFile($files)">
            </div>
            <div data-ng-show="!dropSupported">
                HTML5 Drop File is not supported on this browser</div>
        </fieldset>
        <div style="clear: left"></div>
    </form>
    </tab>
    <tab heading="Archived Questions" data-ng-controller="TextSettingsArchivedQuestionsCtrl">
    <form data-ng-show="rights.showControlBar" class="control-bar form-inline">
        <button data-ng-disabled="selected.length == 0"
            data-ng-show="rights.archive" class="btn"
            data-ng-click="publishQuestions()">
            <i class="icon-globe icon-large"></i>Re-publish Questions
        </button>
    </form>
    <hr />
    <listview hide-if-empty="true" search="queryTextSettings()"
        items="settings.archivedQuestions"
        visible-items="visibleArchivedQuestions" select="">
        <div data-ng-repeat="question in visibleArchivedQuestions"
            class="details-row">
            <ul class="inline" data-ng-class="{active: isSelected(question)}">
                <li data-ng-show="rights.archive">
                    <input type="checkbox" data-ng-click="updateSelection($event, question)" /></li>
                <li><a class="span5" href="{{question.url}}">
                    <span class="larger-text">{{question.calculatedTitle}}</span></a></li>
                <li><a href="{{question.url}}">
                    <div class="attention-block">
                        <span class="subtitle">{{question.answerCount}}
                            answers</span>
                    </div></a></li>
                <li>{{question.responseCount}} responses</li>
                <li>Archived on {{question.dateModified | date:'fullDate'}}</li>
            </ul>
            <hr />
        </div>
    </listview>
    </tab>
    <tab heading="Audio File">
    <form class="well " data-ng-submit="updateText(editedText)">
        <label>Upload an Audio File</label>
        <div class="drop-box" data-ng-file-drop="onFileSelect($files);"
            data-ng-file-drop-available="dropSupported=true">
            <h4>Drop an MP3 file here</h4>
            <br />
            <p>or if you prefer...</p>
            <input type="button" class="btn" value="Browse..."
                onclick="javascript:document.getElementById('audiofile').click();">
            <input id="audiofile" type="file" style="display: none;"
                data-ng-file-select="onFileSelect($files)">
        </div>
        <div data-ng-show="!dropSupported">
            HTML5 Drop File is not supported on this browser</div>
        <br />
        <div data-ng-show="file != null">
            <p><strong>{{file.name}}</strong> {{file.size | bytes }}</p>
            <div class="span4">
                <progressbar data-value="progress" data-max="100.0"></progressbar>
            </div>
            &nbsp;
        </div>
        <label>&nbsp;</label>
        <div data-ng-bind-html="uploadResult"></div>
    </form>
    </tab>
    <tab heading="ParaTExt Export" data-ng-controller="ParatextExportTextCtrl">
    <div class="row-fluid outer-flex">
        <h4>Export Text Answers/Comments to a ParaTExt XML file</h4>
        <form class="span4" name="exportForm">
            <label><input type="checkbox" checked name="exportAnswers"
                id="exportAnswers" disabled /> Export Answers</label>
            <label><input type="checkbox" name="exportComments"
                data-ng-model="exportConfig.exportComments" /> Export Comments</label>
            <label><input type="checkbox" name="exportFlagged"
                data-ng-model="exportConfig.exportFlagged" />
                Only export flagged Answers</label>
            <button data-ng-disabled="exportForm.$invalid || download.inprogress"
                data-ng-click="startExport()" class="btn">
                Prepare Export</button>
            <span data-ng-show="download.inprogress">
                <img src="/Site/views/shared/image/loading-small.gif"
                    style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
            <p data-ng-show="download.complete && download.totalCount == 0"
                class="text-error" id="noExportMsg">No answers/comments were
                exported. Make sure you flagged answers for export and try
                again, or uncheck "Only export flagged Answers" to export all
                answers/comments</p>
        </form>
        <div class="span5" style="margin-right: 200px"
            data-ng-show="download.totalCount">
            <p data-ng-show="download.totalCount > 0" class="text-success">
                Ready to Download: <span data-ng-show="download.answerCount > 0"
                    class="label label-success">{{download.answerCount}}
                    answer(s)</span> <span data-ng-show="download.commentCount > 0"
                    class="label label-info">{{download.commentCount}}
                    comment(s)</span>
            </p>
            <button data-ng-click="downloadExport()" class="btn btn-primary">
                Download ParaTExt XML File</button>
        </div>
    </div>
    </tab>
    </tabset>
</div>
<div data-ng-hide="rights.editOther">
    <p>You don't have permission to edit this text.</p>
</div>
