<div class="span5" oncopy="return false;">
    <h2 class="pull-left" data-ng-show="text.audioFileName && audioReady">
        <a data-sgw-sound-player data-href="audioPlayUrl" data-sgw-state="state">
            <i data-ng-class="$parent.audioIcon()" data-tooltip="Play audio"></i></a>
        <a data-ng-show="project.allowAudioDownload" data-ng-href="{{audioDownloadUrl}}">
            <i class="icon-download" data-tooltip="Download audio"></i></a>
    </h2>
    <h2>{{text.title}}</h2>
    <div id="text" style="font-family: {{text.fontfamily}}" data-sil-selection data-sil-selected-text="selectedText" content="text.content"></div>
</div>
<div id="comments" class="span6" data-ng-show="finishedLoading">
    <div class="question">
        <h2>{{questionTitleCalculated}}</h2>
        <h4 data-ng-show="questionIsClosed()"
            style="color: gray; font-style: italic">This question is marked
            closed</h4>
        <div>{{question.description}}</div>
        <a class="btn-link" data-ng-show="rightsEditQuestion()"
            data-ng-click="toggleQuestionEditor()">Edit Question Settings</a>
        <div class="edit-question" data-collapse="editQuestionCollapsed">
            <form class="well">
                <fieldset>
                    <label>Question</label>
                    <textarea required data-ng-model="editedQuestion.description" class="span4"
                        rows="4" placeholder="The Question"></textarea>
                    <label></label>
                    <input type="text" data-ng-model="editedQuestion.title" class="span4"
                        maxlength="35" placeholder="One-line Summary For Title" />
                    <label></label>
                    <label for="workflow">Workflow</label>
                    <select id="workflow" data-ng-model="editedQuestion.workflowState"
                        data-ng-options="s.state as s.label for s in workflowStates"
                        name="workflowState"></select>
                    <label></label>
                    <button class="btn"
                        data-ng-click="updateQuestion(editedQuestion); hideQuestionEditor()">
                        <i class="icon-ok"></i>Save</button>
                    <button class="btn" data-ng-click="hideQuestionEditor()">
                        <i class="icon-reply"></i>Cancel</button>
                </fieldset>
            </form>
        </div>
        <div data-ng-show="question.answerCount == 0 && !questionIsClosed()">
            There are no answers yet for this question. You could be the first one to reply!</div>
        <br />
        <div data-ng-hide="questionIsClosed()">
            Add your own answer<span data-ng-show="newAnswer.textHighlight">
                about this part of the text</span>:
            <div class="scripture-quote" oncopy="return false;" data-ng-show="newAnswer.textHighlight"
                data-ng-bind-html="newAnswer.textHighlight"></div>
            <form data-ng-submit="submitAnswer()">
                <textarea required data-ng-model="newAnswer.content" class="newAnswer"
                    placeholder='Type your answer here. Click "Done" when finished.'></textarea>
                <div data-ng-hide="unreadResponseCount() == 0" class="right badge badge-important">
                    {{unreadResponseCount()}} new response<span data-ng-show="unreadResponseCount() > 1">s</span>
                </div>
                <button type="submit" class="btn" id="doneBtn">Done</button>
            </form>
        </div>
    </div>
    <table id="answers">
        <tr data-ng-repeat="(answerId, answer) in question.answers">
            <td>
                <div class="vote" style="display: inline-block;">
                    <a data-ng-class="{disabled: votes[answerId] == true || questionIsClosed()}"
                        data-ng-click="voteUp(answerId)"><i class="icon-caret-up"></i></a>
                    <span>{{answer.score}}</span>
                    <a data-ng-class="{disabled: votes[answerId] != true || questionIsClosed()}"
                        data-ng-click="voteDown(answerId)"><i class="icon-caret-down"></i></a>
                </div>
            </td>
            <td>
                <div data-ng-class="{unread: isUnreadAnswer(answerId)}" class="answer">
                    <!--<b>DEBUG:</b>answerId = {{answerId}}, answer.id = {{answer.id}}<br/>-->
                    <!--<b>DEBUG:</b>answer = {{answer}}<br/>-->
                    <div data-ng-show="answer.textHighlight" data-ng-bind-html="answer.textHighlight"
                        class="scripture-quote"></div>
                    <div class="answerContent" data-ng-bind-html="answer.content"></div>
                    <div data-view-tags data-ng-show="$parent.rightsCreateTag()"
                        data-tags="answer.tags" data-on-delete="deletedTags(answer)"
                        data-rights-delete="rightsDeleteTag()"></div>
                    <div class="by">
                        <img data-ng-src="{{getAvatarUrl(answer.userRef.avatar_ref)}}" width="32" height="32" />
                        <div>
                            answered {{answer.dateCreated | date:mediumDate}}<br />
                            by {{answer.userRef.username}}
                        </div>
                    </div>
                    <div id="answerControls">
                        <div class="overlay" data-ng-show="tagEditorVisible">
                            <div class="overlay-bg">
                                <form
                                    data-ng-submit="addTags(tags, answer);tagEditorVisible=false">
                                    <label>Add tags (comma-separated)</label>
                                    <add-tags tags="tags"></add-tags>
                                    <label></label>
                                    <button type="submit" class="tagBtn">
                                        <i class="icon-ok"></i>Save</button>
                                    <a data-ng-click="tagEditorVisible=false">Cancel</a>
                                </form>
                            </div>
                        </div>
                        <a data-ng-show="rightsCreateTag() && !questionIsClosed()" class="btn-link"
                            data-ng-click="tagEditorVisible=true">tag</a>&nbsp;&nbsp;
                        <a data-ng-show="rightsEditResponse(answer.userRef.userid) && !questionIsClosed()"
                            class="btn-link" data-ng-click="showAnswerEditor(answerId)">edit</a>&nbsp;&nbsp;
                        <a data-ng-show="rightsDeleteResponse(answer.userRef.userid) && !questionIsClosed()"
                            data-ng-click="answerDelete(answerId)" class="btn-link">delete</a>&nbsp;&nbsp;
                        <a data-ng-show="rightsExport() && !questionIsClosed()"
                            data-ng-click="flagForExport(answer)" class="btn-link">
                            <i data-ng-show="answer.isToBeExported" class="icon-flag" data-tooltip="Flagged for export"
                                style="color: red"></i>
                            <i data-ng-show="!answer.isToBeExported" class="icon-flag-alt"
                                data-tooltip="Click to flag for export"></i></a>
                        <div data-ng-switch data-on="answerEditorVisible(answerId)">
                        <form data-ng-submit="editAnswer(editedAnswer)" data-ng-switch-when="true">
                            <label><textarea required data-ng-model="editedAnswer.content" class="editAnswer">
                            </textarea></label>
                            <button type="submit" class="btn answerBtn"> <i class="icon-ok"></i>Save </button>
                            <a class="btn-link" data-ng-click="hideAnswerEditor()">Cancel</a>
                        </form>
                        </div>
                    </div>
                </div>
                <table class="comments">
                    <tr data-ng-repeat="comment in answer.comments">
                        <td></td>
                        <td data-ng-class="{unread: isUnreadComment(comment.id)}">
                            {{comment.content}} - 
                            {{comment.userRef.username}} -
                            {{comment.dateCreated | date:mediumdate}}
                            <a data-ng-show="rightsEditResponse(comment.userRef.userid) && !questionIsClosed()"
                                class="btn-link" data-ng-click="showCommentEditor(comment.id)">edit</a>&nbsp;
                            <a data-ng-show="rightsDeleteResponse(comment.userRef.userid) && !questionIsClosed()"
                                data-ng-click="commentDelete(answer, comment.id)" class="btn-link">delete</a>
                            <div data-ng-switch data-on="commentEditorVisible(comment.id)">
                            <form data-ng-submit="editComment(answerId, answer, editedComment)"
                                data-ng-switch-when="true">
                                <label><textarea required data-ng-model="editedComment.content"></textarea></label>
                                <button type="submit" class="btn">Save</button>
                                <a class="btn-link" data-ng-click="hideCommentEditor()">Cancel</a>
                            </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div data-ng-hide="questionIsClosed()">
                                <a data-ng-click="collapsed = !collapsed" class="btn btn-link addCommentLink">
                                    add comment</a>
                                <div data-collapse="!collapsed">
                                    <form data-ng-submit="submitComment(answerId, answer); collapsed = !collapsed;">
                                        <label><textarea required data-ng-model="newComment.content"></textarea></label>
                                        <br />
                                        <button type="submit" class="btn btn-small">Add Comment</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
