<form ng-submit="updateRecord(record)" ng-hide="(vars.editButtonName=='')">
	<fieldset>
		<legend>Project data</legend>
		<div class="row">
			<div class="large-12">
				<label>Project name</label>
				<input type="text" placeholder="(unnamed)" ng-model="record.projectname" ng-focus="vars.inputfocus"/>
			</div>
			<div class="large-12">
				<label>Language</label>
				<!-- TODO: This needs to be validated. -->
				<input type="text" placeholder="(unknown)" ng-model="record.language"/>
			</div>
		</div>
		<ul class="button-group">
			<li>
				<a href="#" class="small button round" ng-click="updateRecord(record)">
					<i class="icon-{{vars.editButtonIcon}}"></i> {{vars.editButtonName}}
				</a>
			</li>
		</ul>
	</fieldset>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>