/* semdomtrans css */
div.hdrnav {
    clear: both;    
}
.approved {
    background-color: #5CB85C;
}
.approved:hover { 
    background-color: #5CB85C;
}
.needsrevision {
    background-color: #FFFF66;
}
.needsrevision:hover { 
    background-color: #FFFF66;
}

.suggested {
    background-color: #CCFFFF;
}
.suggested:hover {
    background-color: #CCFFFF;
}
.displayedAsAncestor {
    color: gray;
}