/* semdomtrans css */
div.hdrnav {
    clear: both;    
}
.approved {
    background-color: #5CB85C;
}
.approved:hover { 
    background-color: #5CB85C;
}
.needsrevision {
    background-color: #FFFF66;
}
.needsrevision:hover { 
    background-color: #FFFF66;
}

.suggested {
    background-color: #CCFFFF;
}
.suggested:hover {
    background-color: #CCFFFF;
}
.displayedAsAncestor {
    color: gray;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */