{% extends isBootstrap4 ? app.website.base~'Bootstrap4.html.twig': app.website.base~'.html.twig' %}

{% block content %}
    <div id="app-container-for-bootstrap">
        {% include bootstrapFolder~'/'~appName~'.html' %}
    </div>

    <script src="/dist/manifest.bundle.js"></script>
    <script src="/dist/vendor.bundle.js"></script>
    <script src="/dist/main.bundle.js"></script>
    <script>angular.bootstrap(document.getElementById('app-container-for-bootstrap'), ['{{ appName }}']);</script>
{% endblock %}
