{% extends app.website.base~'.html.twig' %}

{% block content %}
    <div class="content container" style="margin-top:80px">
        <div class="row">
            <div class ="col-sm-10">
                {% markdown %}
                {% include '/releasenotes/'~app.website.base~'.md' %}
                {% endmarkdown %}
            </div>
      </div>
  </div>
{% endblock %}
