{% extends isBootstrap4 ? app.website.base~'Bootstrap4.html.twig': app.website.base~'.html.twig' %}

{% block content %}
    <div class="content container termsofservice">
        <div class="row">
            <div class ="col-sm-10">
                <h1>Website Terms of Use</h1>
                <div class="card">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                          <p>PLEASE REVIEW BEFORE USING THIS WEBSITE - IF YOU DO NOT AGREE TO THESE TERMS OF USE, DO NOT USE THIS WEBSITE.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>General Description</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>Welcome to the {{ app.website.domain }} website.<br />  We have to set out some ground rules for using the Site in this document (the "Terms").  By accessing, using, or contributing to the Site you agree to abide by the Terms. We may change the Terms from time to time, at our sole discretion. Your continued use  of the Site following the posting of such changes will constitute your assent to all such  changes. Please periodically visit this section of the Site to review the current version of  the Terms.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>DISCLAIMER OF WARRANTY and LIMITATION OF LIABILITIES</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>THE SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS  WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED,  INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY,  FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR  OTHERWISE. WITHOUT LIMITATION, WE DISCLAIM ANY AND ALL  WARRANTIES REGARDING THE ACCURACY, SECURITY, RELIABILITY,  TIMELINESS, AND PERFORMANCE OF ALL SERVICES ASSOCIATED WITH  USE OF THE SITE. WE MAKE NO WARRANTY, EXPRESS OR IMPLIED, THAT  YOUR USE OF THE SITE WILL BE UNINTERRUPTED, TIMELY, OR ERROR- FREE. SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF CERTAIN  WARRANTIES, SO PORTIONS OF THE ABOVE DISCLAIMER MAY NOT APPLY  TO YOU. <br />
                             TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, WE WILL NOT  BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF  OR INABILITY TO USE THE SITE. YOU EXPRESSLY AGREE THAT YOUR USE  OF THE SITE IS SOLELY AT YOUR OWN RISK. UNDER NO CIRCUMSTANCES  SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, OR  CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF  PROFITS, INCOME, BUSINESS OPPORTUNITIES, AND ANY OTHER INJURY  REGARDLESS OF THE NATURE OF THE CLAIM OR THE FORM OF ACTION,  ARISING OUT OF OR CONNECTED WITH THE SITE (INCLUDING BUT NOT  LIMITED TO ITS OPERATION, ITS CONTENTS, OR THE INFORMATION OR  MATERIALS CONTAINED THEREIN, OR THE USE OR INABILITY TO USE ANY  OTHER SITE LINKED TO THE SITE, OR ANY CONTENT CONTAINED IN ANY  SUCH SITE, OR THESE TERMS, OR THE PRIVACY POLICY APPLICABLE TO  THE SITE) EVEN IF CROWDMAP, ITS SUPPLIERS, OR LICENSORS HAVE BEEN  NOTIFIED OF THE POSSIBILITY OF ANY DAMAGES.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Account Registration</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>To utilize the Site, or certain portions thereof, you may be required to complete a  registration process and establish an account with the Site (a "Site Account"). You  represent and warrant that all information provided by you to the Site is current,  accurate, and complete, and that you will maintain the accuracy and completeness of this  information on a prompt, timely basis.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Password and Security</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>As a registered user of the Site, you may receive or establish one or more passwords.  You are solely responsible for maintaining the confidentiality and security of your  password(s) and Site Account(s). Any accounts you create are not transferable. You agree  to notify the Site Administrator immediately if you become aware of any unauthorized  use of your Site Account(s).</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Termination</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>We reserve the right to terminate your Site Account(s) or restrict access to your Site  Account(s), or to delete any content posted through your Site Account(s), with or without  notice, for any or for no reason, and without any liability to you.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Community Participation</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Content</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <h4>For the purposes of this agreement, "Content" includes any posting or submission to the Site.</h4>
                          <p>Content contributed to the Site should be relevant to the subject scope of the Site. Content  may not be illegal, obscene, defamatory, threatening, infringing of intellectual property  rights, invasive of privacy or otherwise injurious or objectionable.  Unacceptable Content includes, but is not limited to, the following:</p>
                      </blockquote>
                      <blockquote class="card-blockquote">
                          <ol class="list-group">
                              <li class="list-group-item">Statements that are intended as a personal attack or are abusive, harassing, or  threatening</li>
                              <li class="list-group-item">Defamatory or knowingly false statements</li>
                              <li class="list-group-item">Irrelevant statements, commercial solicitations, or SPAM</li>
                              <li class="list-group-item">Materials that violate the copyright, trademark, or trade secret rights of others that  are not otherwise authorized by law, such as fair use</li>
                          </ol>
                      </blockquote>
                      <blockquote class="card-blockquote">
                          <p>We will determine what is "unacceptable Content" on a case-by-case basis, in our sole  and absolute discretion. We reserve the right to change these standards at any time. We  also reserve the right to remove links to unacceptable off-site content at any time and  may terminate any Site Account, with or without notice, for posting such Content.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Licenses Applicable to Contributed Content</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <ol style="list-style-type:lower-alpha;">
                              <li>By contributing Content to the Site, you are granting a non-exclusive, royalty- free, perpetual, irrevocable, worldwide license to use that Content in connection  with the operation of the Site, including, without limitation, the license rights to  copy, distribute, transmit, publicly display, publicly perform, reproduce, edit,  translate and reformat your Content, and/or to incorporate it into a collective  work.</li>
                              <li>By contributing Content to the Site, you are also granting other users of the Site a  non-exclusive, royalty-free, perpetual, irrevocable, worldwide license to use that  Content without limitation.</li>
                          </ol>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Browsing</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>You understand that material made available on the Site is a product of a community  effort and does not necessarily represent our views. We assume no responsibility for the  accuracy, suitability, or completeness of any content provided.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Linking</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>You understand that the Site does not and cannot review all material made available  through websites linked or linking to any part of the Site. You also understand that no  such linking implies in any way that we endorse or are affiliated with any third-party  website.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Acts Against the Site/Services</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>You shall not attempt or engage in potentially harmful acts that are directed against the  Site including, without limitation, the following:
                              <ul>
                                  <li>Using the Site in contravention of any other agreement to which you are a party,  including without limitation any employment agreement to which you may be a  party;</li>
                                  <li>causing, allowing, or assisting any other person to use your Site Account(s) or  impersonate you, or logging onto a server or Site Account(s) that you are not  authorized to access;</li>
                                  <li>forging user names, manipulating identifiers, or otherwise impersonating any  other person or misrepresenting your identity or affiliation with any person or  entity;</li>
                                  <li>emulating or faking Site visits or usage;</li>
                                  <li>tampering, disrupting or otherwise interfering or attempting to interfere with  the operation, functionality, or the security of the Site or Services, including,  but not limited to, introducing viruses, worms, software, Trojan horses or  other similar harmful code into the Site, or attempting to probe, scan or  test the vulnerability of the Site or any associated system or network, or  breach any security, authentication or material usage rules or measures, or  overloading, "flooding," "spamming," "mail bombing," "pinging" or "crashing"  the Site;</li>
                                  <li>harvesting or collecting email addresses or other contact information of other  users or clients from the Site by electronic or other means;</li>
                                  <li>reverse engineering, decompiling, disassembling, deciphering, or otherwise  attempting to derive the source code for any underlying intellectual property used  to provide the Site;</li>
                                  <li>engaging in "framing," "mirroring," or otherwise simulating the appearance or  function of the Site; and</li>
                                  <li>forging any TCP/IP packet header or any part of the header information in any e- mail or newsgroup posting.</li>
                              </ul>
                          </p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Modifications</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>We reserve the right to change, at any time, at our sole discretion, the Terms under which  these Services are offered. You are responsible for regularly reviewing the Terms. Your  continued use of the Site constitutes your agreement to all such Terms.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>Termination of Service</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>We disclaim all responsibility and liability for the availability, timeliness, security or  reliability of the Site, or any software provided through the Site. We also reserve the right  to modify, suspend, or discontinue access to the Site without any notice at any time and  without any liability to you.</p>
                      </blockquote>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <h3>No Waiver of Terms</h3>
                  </div>
                  <div class="card-block">
                      <blockquote class="card-blockquote">
                          <p>Failure to exercise or enforce any right or provision of these Terms shall not be deemed a  waiver of such right or provision in that or any other instance.</p>
                      </blockquote>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
