@import '~quill/dist/quill.snow.css';

quill-editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}

.highlight-source {
  background-color: #ffffce;
}

.template-editor .ql-container.ql-snow {
  background-color: lightgray;
}

.template-editor span[data-segment] {
  background-color: white;
}
