@import '~quill/dist/quill.snow.css';

quill-editor {
  height: 100%;
  .ql-editor {
    line-height: 1.6;
    width: 100%;
  }
}

.highlight-source {
  background-color: #ffffce;
}

.template-editor .ql-container.ql-snow {
  background-color: #ededed;
}

.template-editor span[data-segment] {
  background-color: white;
  border-radius: 3px;
  padding: 0px 2px;
}
