usx-para {
  display: block;

  &[data-style='toc1'] {
    font-weight: bold;
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc2'] {
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc3'] {
    font-weight: bold;
    font-style: italic;
    color: #800000;
  }

  &[data-style='mt'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.66em;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='mt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.66em;
    margin-top: 0.16em;
    margin-bottom: 0.33em;
  }

  &[data-style='mt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.33em;
    margin-bottom: 0.16em;
  }

  &[data-style='mt3'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.33em;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='mt4'] {
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='imt'],
  &[data-style='imt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.16em;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='imt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.08em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  &[data-style='imt3'] {
    font-weight: bold;
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='imt4'] {
    font-style: italic;
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='s'],
  &[data-style='s1'] {
    font-weight: bold;
    text-align: center;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='s2'] {
    font-style: italic;
    text-align: center;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='s3'],
  &[data-style='s4'] {
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  &[data-style='li'] {
    padding-left: 3em;
  }
}

usx-chapter {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.66em;
  margin-bottom: 0.33em;
}

usx-verse span {
  // superscript
  top: -0.5em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  padding-right: 0.12em;
}

usx-note span {
  // superscript
  top: -0.5em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
