usx-para {
  display: block;

  &[data-style='p'] {
    text-indent: 0.125em;
  }

  &[data-style='toc1'] {
    font-weight: bold;
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc2'] {
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc3'] {
    font-weight: bold;
    font-style: italic;
    color: #800000;
  }

  &[data-style='mt'],
  &[data-style='mt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.66em;
    margin-top: 0.16em;
    margin-bottom: 0.33em;
  }

  &[data-style='mt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.33em;
    margin-bottom: 0.16em;
  }

  &[data-style='mt3'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.33em;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='mt4'] {
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='imt'],
  &[data-style='imt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.16em;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='imt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.08em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  &[data-style='imt3'] {
    font-weight: bold;
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='imt4'] {
    font-style: italic;
    text-align: center;
    margin-top: 0.16em;
    margin-bottom: 0.16em;
  }

  &[data-style='iot'] {
    font-weight: bold;
    text-align: center;
  }

  &[data-style='io'],
  &[data-style='io1'] {
    margin-left: 0.5em;
  }

  &[data-style='io2'] {
    margin-left: 0.75em;
  }

  &[data-style='io3'] {
    margin-left: 1em;
  }

  &[data-style='io4'] {
    margin-left: 1.25em;
  }

  &[data-style='s'],
  &[data-style='s1'] {
    font-weight: bold;
    text-align: center;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='s2'] {
    font-style: italic;
    text-align: center;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
  }

  &[data-style='s3'],
  &[data-style='s4'] {
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  &[data-style='li'] {
    padding-left: 3em;
  }

  &[data-style='q'],
  &[data-style='q1'] {
    margin-left: 1.25em;
    text-indent: -1em;
  }

  &[data-style='q2'] {
    margin-left: 1.25em;
    text-indent: -0.75em;
  }

  &[data-style='q3'] {
    margin-left: 1.25em;
    text-indent: -0.5em;
  }

  &[data-style='q4'] {
    margin-left: 1.25em;
    text-indent: -0.25em;
  }

  &[data-style='qc'] {
    text-align: center;
  }

  &[data-style='qr'] {
    text-align: right;
  }

  &[data-style='qa'] {
    font-style: italic;
  }

  &[data-style='qm'],
  &[data-style='qm1'] {
    margin-left: 1em;
    text-indent: -0.75em;
  }

  &[data-style='qm2'] {
    margin-left: 1em;
    text-indent: -0.5em;
  }

  &[data-style='qm3'] {
    margin-left: 1em;
    text-indent: -0.25em;
  }

  &[data-style='b'] {
    font-size: 0.8em;
  }

  &[data-style='r'] {
    font-style: italic;
    text-align: center;
  }
}

usx-char {
  &[data-style='it'] {
    font-style: italic;
  }
}

usx-chapter {
  user-select: none;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.66em;
  margin-bottom: 0.33em;
}

usx-verse {
  user-select: none;
  > span {
    // superscript
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    padding-right: 0.12em;
  }
}

usx-note {
  > span {
    // superscript
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }
}
