<form ng-submit="updateRecord(record)" ng-hide="(vars.editButtonName=='')">
	<fieldset>
		<legend>Project data</legend>
		<div class="well">
			<div>
				<label>Project name</label>
				<input type="text" placeholder="(unnamed)" ng-model="record.projectname" ng-focus="vars.inputfocus"/>
			</div>
			<div>
				<label>Language</label>
				<!-- TODO: This needs to be validated. -->
				<input type="text" placeholder="(unknown)" ng-model="record.language"/>
			</div>
		</div>
		<button class="btn btn-small" ng-click="updateRecord(record)">
			<i class="icon-{{vars.editButtonIcon}}"></i> {{vars.editButtonName}}
		</button>
	</fieldset>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>