<form ng-submit="updateRecord(record)" ng-hide="(vars.editButtonName=='')">
	<fieldset>
		<legend>User data</legend>
		<div class="row">
			<div class="large-12">
				<label>User Name</label>
				<input type="text" placeholder="(username)" ng-model="record.username"/>
			</div>
			<div class="large-12">
				<label>Name</label>
				<input type="text" placeholder="(your name here)" ng-model="record.name"/>
			</div>
			<div class="large-12">
				<label>Email</label>
				<input type="text" placeholder="(no email)" ng-model="record.email"/>
			</div>
			<a href="" ng-click="togglePasswordForm(); vars.inputfocus = false">Click to change password</a>
			<div class="large-12" ng-show="vars.showPasswordForm">
				<label>Password</label>
				<input type="password" ng-model="record.password" ng-focus="vars.inputfocus" name="password"/>
			</div>
			<div class="large-12" ng-show="vars.showPasswordForm">
				<label>Confirm password</label>
				<input type="password" ng-model="record.confirm_password" require-equal="record.password" name="confirmPassword"/>
				<label ng-show="passwordForm.confirmPassword.$error.match">Passwords do not match</label>
			</div>
			<div class="large-12">
				<label><input type="checkbox" ng-model="record.active"/> Is Active</label>
			</div>
			<div class="panel">
			<div ng-show="record.created_on" class="large-12"><label style="cursor:default">Created On: {{ record.created_on * 1000 | date:shortDate }}</label></div>
			<div ng-show="record.last_login" class="large-12"><label style="cursor:default">Last Login: {{record.last_login * 1000 | date:shortDate}}</label></div>
			</div>
		</div>
		<ul style="margin-top:20px" class="button-group">
			<li>
				<a href="#" class="small button round" ng-click="updateRecord(record)" ng-disabled="(passwordForm.password.$pristine != passwordForm.confirmPassword.$pristine) || passwordForm.$invalid">
					<i class="icon-{{vars.editButtonIcon}}"></i> {{vars.editButtonName}}
				</a>
			</li>
		</ul>
	</fieldset>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" ng-disabled="(passwordForm.password.$pristine != passwordForm.confirmPassword.$pristine) || passwordForm.$invalid"/>
</form>
