<div id="invite-member-form">
  <b>Invite a new member</b>
  <div class="inline-form" style="margin-top: 8px;">
    <label>via: </label>
    <input type="email" class="form-control" placeholder="Email" ng-model="inviteUserEmail"
           ng-change="$ctrl.setEmailInviteUserAttr('email', this.value)">
    <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
    <permissions-dropdown permission-target="$ctrl.specialPermissionTargets.INVITE_USER_VIA_EMAIL" on-permission-changed="$ctrl.onPermissionChanged"></permissions-dropdown>
    <div class="permissions-spacer"></div>
  </div>

  <b>or</b>
  <div class="inline-form">
    <label>via: </label>
    <div class="input-group">
      <input type="text" class="form-control" value="{{$ctrl.inviteLink}}" ng-readonly="true" onfocus="this.select();">
    </div>
    <permissions-dropdown permission-target="$ctrl.specialPermissionTargets.ANONYMOUS_USERS"></permissions-dropdown>
    <div class="permissions-spacer"></div>
  </div>
</div>
