<div id="invite-member-form">
  <b>Invite a new member</b>
  <div class="inline-invite-form" style="margin-top: 8px;">
    <label>via: </label>
    <input type="email" ng-form="email" class="form-control" placeholder="Email" ng-model="$ctrl.inviteEmail">
    <role-dropdown class="sm-no-margin"
                   ng-if="$ctrl.currentUserIsManager"
                   target="'email_invite'"
                   roles="$ctrl.emailInviteRoles"
                   selected-role="$ctrl.emailInviteRole"
                   on-role-changed="$ctrl.onRoleChanged($event)"></role-dropdown>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.sendEmailInvite()" data-ng-disabled="! (email.$dirty && email.$valid)">
      <i class="fa fa-paper-plane pr-1"></i> Send
    </button>
  </div>

  <div ng-if="$ctrl.currentUserIsManager || !$ctrl.inviteLink">
    <b>or</b>
    <div class="inline-invite-form">
      <label>via: </label>
      <div class="input-group">
        <input type="text" class="form-control"
              ng-model="$ctrl.inviteLink"
              ng-readonly="true"
              ng-disabled="!$ctrl.inviteLink"
              placeholder="Reusable Invite Link"
              onfocus="this.select();">
      </div>
      <role-dropdown class="sm-no-margin"
                    ng-if="$ctrl.currentUserIsManager"
                    target="'reusable_invite_link'"
                    roles="$ctrl.reusableInviteLinkRoles"
                    selected-role="$ctrl.getInviteRole()"
                    on-role-changed="$ctrl.onRoleChanged($event)"></role-dropdown>
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.copy()" data-ng-disabled="! $ctrl.inviteLink">
        <i class="fa fa-clipboard pr-1"></i> Copy
      </button>
    </div>
  </div>
</div>
