<div class="btn-group" uib-dropdown dropdown-append-to-body is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary text-dark bg-light role-indicator"
    uib-dropdown-toggle>
    <i class="fa fa-{{ $ctrl.selectedRoleDetail.icon }}"></i> <span class="caret"></span>
  </button>
  <div class="dropdown-menu dropdown-menu-right modal-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <a href class="dropdown-item" role="menuitem" ng-repeat="roleDetail in $ctrl.roleDetails" ng-click="$ctrl.selectRoleDetail(roleDetail)">
      <i class="fa fa-{{ roleDetail.icon }}"></i>
      {{ roleDetail.description }} <i class="fa fa-check" ng-show="$ctrl.selectedRoleDetail == roleDetail"></i>
    </a>
    <div class="dropdown-divider" ng-if="$ctrl.currentUserIsOwnerOrAdmin() && !userIsInvitee({$event: {target: $ctrl.target}})"></div>
    <a class="dropdown-item" role="menuitem" ng-if="$ctrl.currentUserIsOwnerOrAdmin()" ng-click="$ctrl.onOwnershipTransfer({$event: {target: $ctrl.target}})">
        <i class="fa fa-arrow-circle-o-up"></i>
        make owner
    </a>
    <div class="dropdown-divider" ng-if="$ctrl.allowDelete" ></div>
    <a class="dropdown-item text-danger" role="menuitem" ng-if="$ctrl.allowDelete" ng-click="$ctrl.onDeleteTarget({$event: {target: $ctrl.target}})">
      <i class="fa fa-times"></i>
      remove
    </a>
  </div>
</div>
