<div class="btn-group" uib-dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary text-dark bg-light role-indicator"
    uib-dropdown-toggle>
    <i class="fa fa-{{ $ctrl.selectedRoleDetail.icon }}"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li class="dropdown-item" role="menuitem"
      ng-repeat="roleDetail in $ctrl.roleDetails">
      <div ng-click="$ctrl.selectRoleDetail(roleDetail)">
          {{ roleDetail.description }} <i class="fa fa-check" ng-show="$ctrl.selectedRoleDetail == roleDetail"></i>
      </div>
    </li>
    <div class="dropdown-divider" ng-if="$ctrl.allowDelete"></div>
    <li class="dropdown-item" role="menuitem" ng-if="$ctrl.allowDelete">
      <div ng-click="$ctrl.onDeleteTarget({$event: {target: $ctrl.target}})" class="text-danger">remove</div>
    </li>
  </ul>
</div>
