<div class="row justify-content-center" data-ng-cloak dir="{{$ctrl.interfaceConfig.direction}}">
    <div class="col-12">
        <div id="form-container">
            <div class="text-center">
                <br>
                <div class="row justify-content-center" data-ng-show="$ctrl.$state.current.data.show.nextButton">
                    <div class="col-12 col-lg-8">
                        <ul id="progress-indicator">
                            <li>
                                <i data-ng-class="$ctrl.iconForStep(1)"></i>
                                <span data-ng-bind="$ctrl.$state.current.data.progressIndicatorStep1Label"></span></li>
                            <li>&gt;</li>
                            <li>
                                <i data-ng-class="$ctrl.iconForStep(2)"></i>
                                <span data-ng-bind="$ctrl.$state.current.data.progressIndicatorStep2Label"></span></li>
                            <li data-ng-show="$ctrl.$state.current.data.show.step3">&gt;</li>
                            <li data-ng-show="$ctrl.$state.current.data.show.step3">
                                <i data-ng-class="$ctrl.iconForStep(3)"></i>
                                <span data-ng-bind="$ctrl.$state.current.data.progressIndicatorStep3Label" id="progress-indicator-step3-label"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form class="form" id="new-lex-project-form" name="newLexProjectForm" novalidate>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8" id="form-status" data-ng-class="$ctrl.formStatusClass">{{$ctrl.formStatus}}&nbsp;</div>
                </div>

                <!-- our nested state views are injected here -->
                <div id="form-views" data-ui-view></div>
            </form>

            <br>
            <div class="row justify-content-center" data-ng-show="$ctrl.$state.current.data.show.nextButton">
                <div class="col-12 col-lg-8">
                    <a class="btn btn-std" data-ng-class="$ctrl.interfaceConfig.pullNormal"
                       id="back-button" data-ng-click="$ctrl.previousStep()" data-ng-show="$ctrl.$state.current.data.show.backButton">
                        <i class="fa fa-arrow-circle-left"></i>
                        Back
                    </a>
                    <button class="btn" data-ng-class="[$ctrl.interfaceConfig.pullToSide, $ctrl.forwardBtnClass]"
                            id="next-button" data-ng-click="$ctrl.nextStep()" data-ng-disabled="!$ctrl.$state.current.data.show.nextButton">
                        {{$ctrl.$state.current.data.nextButtonLabel}}&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
