@import "../../../../Site/views/languageforge/theme/default/sass/_variables.scss";
/* progress indicator */
#progress-indicator {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #eeeeee;
  margin-left: 0;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

    i {
      display: block;
      font-size: 55px;
    }
    i.fa-check-square {
      color: green;
      font-size: 50px;
      height: 56px;
    }
    i.text-muted {
      color: $theme-disabled;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

#send-receive-button {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 1em;
  white-space: normal;
}

#create-button {
  margin-bottom: 20px;
  font-size: 1em;
  white-space: normal;
}

a#flex-help-link {
  text-decoration: none;
  color: #e67345;
}

#flex-help-link:hover {
  color: #0088cc !important;
}

.centerBlock {
  margin: auto;
}

#import-errors {
  height: 300px;
  overflow-y: scroll;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
