<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="form-group">
            <a class="btn btn-std btn-block" data-ng-class="$ctrl.npcInterfaceConfig.pullNormal"
                id="send-receive-button" data-ng-click="$ctrl.npcGetProjectFromInternet()">
                <i class="fa fa-cloud-download fa-lg fa-fw text-info"></i>
                Get project from LanguageDepot.org...</a>
        </div>
        <div class="form-group text-center">
            <a class="w-100" id="create-button" style="text-decoration: underline"
               data-ng-class="$ctrl.npcInterfaceConfig.pullNormal" data-ng-click="$ctrl.createNew()">
                Create a non-send/receive project (not recommended)</a>
        </div>
    </div>
</div>
