.logo-spacer {
    float: left;
    width: 110px;
    margin-left: 20px;
    min-height: 80px;
}

/* form styling */
.form-container.wizard .page-header {
    margin-bottom: 20px;
    border-bottom: 0;
}

#form-status {
    /* See http://css-tricks.com/box-sizing/ */
    box-sizing: border-box;
}
#form-status.neutral {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    /* Replace 1px border so div is same size */
    padding: 8px;
    padding-left: 31px;
}
#form-status.alert {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 7px;
}

a.btn {
    font-weight: normal;
}

.newProjectChooserBtn {
    width: 290px;
}

/* Initial Data */
.drop-box {
    border: 4px dashed #e67345;
    width: 290px;
}

a#flexHelpLink {
   text-decoration: none; 
}

#importErrors {
    height: 300px;
    overflow-y: scroll;
}

/* progress indicator */
.form-container.wizard .page-header .row {
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}
.form-container.wizard .page-header .span2 {
    padding-top: 44px;
}
#progress-indicator {
    padding-bottom: 0;
    border-bottom: 0;
}
#progress-indicator i {
    display: block;
    font-size: 55px;
}
#progress-indicator i.icon-check-sign {
    color: green;
    font-size: 50px;
    height: 56px;
}
#progress-indicator a:hover {
    text-decoration: none;
}

/* new project name page */
#newLexProjectForm .uneditable-input {
    width: 170px;
    background-color: inherit;
}

.validator {
     position: absolute;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 8px;
}
