<div class="content container" data-ng-cloak>
    <sil-notices></sil-notices>

    <div data-ng-show="$ctrl.activities.length > 0" style="margin-top:20px">
        <button class="btn btn-secondary" data-ng-disabled="$ctrl.showAllActivity" data-ng-click="$ctrl.filterAllActivity()">
            All Activity</button>
        <button class="btn btn-secondary" data-ng-disabled="!$ctrl.showAllActivity" data-ng-click="$ctrl.filterMyActivity()">
            Show Only My Activity</button>
    </div>

    <div data-ng-show="$ctrl.filteredActivities.length > 0" data-ng-repeat="item in $ctrl.filteredActivities">
        <ng-switch on="item.action + '-' + item.type">

            <div data-ng-switch-when="add_comment-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <!--<i class="fa fa-user-o" aria-hidden="true"></i>-->
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">i]
                        <span><span class="notranslate">{{item.userRef.username}}</span> commented on <span class="notranslate">{{item.userRef2.username}}</span>'s answer to
                            &ldquo;<a class="notranslate" href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;
                            on <a class="notranslate" href="{{item.textHref}}">{{item.content.text}}</a>
                            in <a class="notranslate" href="{{item.projectHref}}">{{item.content.project}}</a></span>
                        <p class="indented" data-ng-bind-html="item.content.answer"></p>
                        <hr>
                        <p class="indented notranslate">{{item.content.comment}} - {{item.userRef.username}}</p>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="update_comment-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> updated their comment on <span class="notranslate">{{item.userRef2.username}}</span>'s
                            answer to &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;
                            on <a href="{{item.textHref}}">{{item.content.text}}</a>
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                        <p class="indented" data-ng-bind-html="item.content.answer"></p>
                        <hr>
                        <p class="indented">{{item.content.comment}} - {{item.userRef.username}}</p>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="message-global" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <i class="fa fa-exclamation-triangle" style="font-size:3em"></i>
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span>{{item.content.message}}</span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="add_question-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <i class="fa fa-question-circle" style="font-size:3em"></i>
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span><a href="{{item.textHref}}">{{item.content.text}}</a> has a new question in the
                            <a href="{{item.projectHref}}">{{item.content.project}}</a> project</span>
                        <p class="indented">&ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;</p>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="add_user_to_project-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span><span class="notranslate">{{item.content.user}}</span> is now a member of
                            <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="add_text-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <i class="fa fa-file-text" style="font-size:3em"></i>
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span>The <a href="{{item.projectHref}}">{{item.content.project}}</a> project has added
                            <a href="{{item.textHref}}">{{item.content.text}}</a> for checking</span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="add_answer-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-md-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-md-8 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> answered
                            &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;
                            on <a href="{{item.textHref}}">{{item.content.text}}</a>
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                        <p class="indented" data-ng-bind-html="item.content.answer"></p>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="update_answer-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-md-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-sm-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-sm-8 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> updated their answer to
                            &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;
                            on <a href="{{item.textHref}}">{{item.content.text}}</a>
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                        <div data-ng-bind-html="item.content.answer"></div>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="increase_score-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-sm-1 activity-icon">
                        <i class="fa fa-thumbs-up" style="font-size:3em"></i>
                    </div>
                    <div class="col-sm-1 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-sm-8 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> +1'd your answer to
                            &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;
                            on <a href="{{item.textHref}}">{{item.content.text}}</a>
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="add_entry-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-sm-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-sm-2 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-sm-9 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> created the entry
                            &ldquo;<a href="{{item.entryHref}}">{{item.content.entry}}</a>&rdquo;
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="update_entry-project" class="activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-sm-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-sm-2 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-sm-9 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> updated the entry for
                            &ldquo;<a href="{{item.entryHref}}">{{item.content.entry}}</a>&rdquo;
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="delete_entry-project" class="col-sm-12 activity-row">
                <hr>
                <div class="row" data-ng-class="{unread: $ctrl.isUnread(item.id)}">
                    <div class="col-sm-1 activity-icon">
                        <img width="50px" height="50px" data-ng-src="{{$ctrl.getAvatarUrl(item.userRef.avatar_ref)}}">
                    </div>
                    <div class="col-sm-2 activity-date">
                        {{item.date | relativetime}}
                    </div>
                    <div class="col-sm-9 activity-content">
                        <span><span class="notranslate">{{item.userRef.username}}</span> deleted the entry &ldquo;<span class="notranslate">{{item.content.entry}}</span>&rdquo;
                            in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-switch-default>
                <hr>
                The <span class="notranslate">{{item.action + '-' + item.type}}</span> activity type is unimplemented
            </div>

        </ng-switch>
    </div>
    <div class="row">
        <div class="col-sm-12"><hr></div>
        <div class="col-sm-12 activity-row mt-2 text-center" data-ng-show="$ctrl.filteredActivities.length > 0">
            <button disabled class="btn btn-secondary">Show More Activity</button>
        </div>
        <div class="activity-row mt-5" data-ng-show="$ctrl.filteredActivities.length === 0">
            No activity to show :(
        </div>
    </div>

</div>
