@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

// Styles to use for entry view as well as small screens
@mixin activitySmallView {
  .activity-group {
    h2 {
      margin: 20px 0 10px;
    }
    .activity-user-group {
      .activity-group-meta {
        margin-bottom: 10px;
        .meta-summary {
          .meta-time {
            display: block;
            flex: 1;
            text-align: left;
          }
        }
        .meta-toggle {
          flex: 0 0 50px;
        }
        .meta-time {
          display: none;
        }
        .meta-avatar {
          flex: 0 0 40px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .activity-container {
        .activity-row > div {
          .activity-icon {
            margin-left: 40px;
            flex: 0 0 25px;
            font-size: 18px;
          }
          .activity-content {
            .activity-date {
              display: block;
              flex: 1;
              text-align: left;
              margin-left: 0;
              visibility: visible;
            }
          }
          .activity-date {
            display: none;
          }
        }
      }
    }
  }
}

#activity-app {
  .activity-header {
    margin-bottom: 20px;
  }
  .activity-groups {
    .activity-group {
      &:first-child {
        h2 {
          margin-top: 0;
        }
      }
      h2 {
        text-align: center;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 40px 0 20px;
        padding: 0;
      }
      .activity-user-group {
        font-size: 14px;
        border-top: 1px solid rgba(138, 138, 138, 0.5);
        padding: 11px 0;
        &:first-child {
          border-top: 0;
        }
        .activity-group-meta {
          display: flex;
          align-items: center;
          cursor: pointer;
          .meta-summary {
            flex: 1;
            .activity-username {
              font-weight: bold;
            }
            .activity-unread {
              font-weight: bold;
              font-style: italic;
            }
            .meta-time {
              display: none;
            }
          }
          .meta-toggle {
            flex: 0 0 75px;
            font-size: 26px;
            text-align: center;
            i {
              font-weight: bold;
              transition: all 0.25s;
            }
          }
          .meta-time {
            flex: 0 1 150px;
            color: #adadad;
            @include media-breakpoint-down(md) {
              flex: 0 1 75px;
              text-align: right;
              line-height: 16px;
            }
          }
          .meta-avatar {
            flex: 0 0 65px;
            img {
              border-radius: 50%;
              width: 40px;
              height: 40px;
            }
          }
        }
        .activity-container {
          display: none;
          &.showActivities {
            display: block;
            animation: showActivities 0.5s;
          }
          @keyframes showActivities {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          .activity-row > div {
            display: flex;
            padding: 7px 0;
            .activity-icon {
              margin-left: 65px;
              flex: 0 0 55px;
              color: #c0c0c0;
              font-size: 24px;
              display: flex;
            }
            .activity-content {
              flex: 1;
              .activity-date {
                display: none;
              }
              a {
                text-decoration: underline;
                &:hover {
                  color: #1d64f0;
                }
              }
              .activity-label {
                font-style: italic;
              }
              .activity-values {
                .activity-value {
                  font-weight: bold;
                  &:before {
                    content: '"';
                  }
                  &:after {
                    content: '"';
                  }
                }
              }
              .activity-reply {
                padding: 6px;
                border: 1px solid rgba(138, 138, 138, 0.5);
                background-color: rgba(138, 138, 138, 0.1);
                border-radius: 4px;
                margin: 5px 0;
                .activity-reply-meta {
                  display: flex;
                  font-weight: bold;
                  img {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                  }
                }
              }
              .activity-reply-content,
              .activity-comment {
                display: flex;
                margin-top: 5px;
                &.activity-reply-content {
                  margin-left: 28px;
                }
                div {
                  padding: 0 3px;
                  & + i {
                    align-self: flex-end;
                  }
                }
                i {
                  opacity: 0.3;
                  font-size: 10px;
                }
              }
            }
            .activity-date {
              margin-left: 50px;
              flex: 0 1 150px;
              color: #adadad;
              @include media-breakpoint-down(md) {
                flex: 0 1 75px;
                text-align: right;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
  }
  &.entry-view {
    @include activitySmallView;
    background: #e6eff5;
    overflow: auto;
    .activity-header {
      display: none;
    }
    .activity-group {
      h2 {
        background: #cddeeb;
        color: #104060;
        margin: 0 -15px;
        padding: 4px 56px;
        font-size: 14px;
        text-align: left;
      }
      .activity-user-group {
        border-top: 1px solid #cddeeb;
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px;
        .activity-group-meta {
          .meta-time {
            color: #104060;
            font-size: 12px;
            opacity: 0.75;
          }
        }
        .activity-container .activity-row > div {
          &.unread {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
          }
          .activity-date {
            color: #104060;
            font-size: 12px;
            opacity: 0.75;
          }
          .activity-icon {
            color: #104060;
          }
        }
      }
    }
    #activity-show-more {
      &:before {
        display: none;
      }
      span {
        background: #cddeeb;
        margin: 10px 0;
      }
    }
  }
  &:not(.entry-view) {
    @include media-breakpoint-down(sm) {
      @include activitySmallView;
    }
  }
  #activity-show-more {
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.25s;
    opacity: 0.75;
    span {
      background: #fff;
      padding: 5px 10px;
      position: relative;
      z-index: 2;
      font-size: 13px;
      color: #363636;
    }
    &:before {
      z-index: 1;
      position: absolute;
      border-top: 1px solid #b2b2b2;
      margin-top: 16px;
      content: "";
      width: 100%;
    }
    &:hover {
      opacity: 1;
    }
  }
  .activity-filter-options {
    display: flex;
    justify-content: flex-end;
    > * {
      margin-left: 10px;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        margin-left: 5px;
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          flex: 1 1 40px;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  #activity-filter-calendar {
    display: inline-block;
    position: relative;
    > button {
      span {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    #activity-calendar-view {
      position: absolute;
      z-index: 1;
      border: 1px solid #b2b2b2;
      background: #fff;
      padding: 5px;
      right: 0;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
      .btn {
        cursor: pointer;
      }
      > div {
        > div label {
          display: none;
          @include media-breakpoint-down(xs) {
            display: block;
            background: #b2b2b2;
            margin: -5px -5px 5px;
            text-align: center;
            font-weight: bold;
          }
        }
        display: flex;
        @include media-breakpoint-down(xs) {
          flex-direction: column;
        }
        input {
          visibility: hidden;
          padding: 0;
          height: 0;
          + .moment-picker {
            margin-right: 10px;
          }
        }
        .moment-picker {
          @include media-breakpoint-down(xs) {
            margin-bottom: 5px;
          }
          .moment-picker-container {
            border: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
}
