<div class="content container" ng-controller="ActivityCtrl" ng-cloak>
	<div id="sfchecks-hmenu" class="hdrnav">
		<ul class="topNav">
			<li><a href="/app/projects">My Projects</a></li>
			<li class="here"><a href="/app/activity">Activity<span ng-hide="unread.length == 0" style="margin-left:10px" class="badge badge-important">{{unread.length}}</span></a></li>
			
		</ul>
		<ul id="top" class="topCrumbs" breadcrumbs></ul>
	</div>
	<sil-notices></sil-notices>
	<!-- <div data-wc-overlay="" data-wc-overlay-delay="6000">
    <img src="/images/shared/loading.gif" />&nbsp; Loading...
    </div> -->
	<div >
		<div ng-show="activities.length > 0" style="margin-top:20px"><button class="btn" ng-disabled="showAllActivity" ng-click="filterAllActivity()">All Activity</button> <button class="btn" ng-disabled="!showAllActivity" ng-click="filterMyActivity()">Show Only My Activity</button></div>
		
		<div ng-show="filteredActivities.length > 0" ng-repeat="item in filteredActivities">
			<ng-switch on="item.action + '-' + item.type">
			
				<div ng-switch-when="add_comment-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.userRef.username}}</a> commented on <a href="{{item.userHref2}}">{{item.userRef2.username}}'s</a> answer to &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo; on <a href="{{item.textHref}}">{{item.content.text}}</a> in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
						<p class="indented" ng-bind-html="item.content.answer"></p>
						<hr />
						<p class="indented">{{item.content.comment}} - <a href="{{item.userHref}}">{{item.userRef.username}}</a></p>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="update_comment-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.userRef.username}}</a> updated their comment on <a href="{{item.userHref2}}">{{item.userRef2.username}}'s</a> answer to &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo; on <a href="{{item.textHref}}">{{item.content.text}}</a> in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
						<p class="indented" ng-bind-html="item.content.answer"></p>
						<hr />
						<p class="indented">{{item.content.comment}} - <a href="{{item.userHref}}">{{item.userRef.username}}</a></p>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="message-global" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
						<i class="icon-warning-sign" style="font-size:3em"></i>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.content.message}}</span>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_question-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
						<i class="icon-question-sign" style="font-size:3em"></i>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.textHref}}">{{item.content.text}}</a> has a new question in the <a href="{{item.projectHref}}">{{item.content.project}}</a> project</span>
						<p class="indented">&ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo;</p>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_user_to_project-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
						<i class="icon-user" style="font-size:3em"></i>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.content.user}}</a> is now a member of <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_text-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
						<i class="icon-file-text" style="font-size:3em"></i>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>The <a href="{{item.projectHref}}">{{item.content.project}}</a> project has added <a href="{{item.textHref}}">{{item.content.text}}</a> for checking</span>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_answer-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.userRef.username}}</a> answered &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo; on <a href="{{item.textHref}}">{{item.content.text}}</a> in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
						<p class="indented" ng-bind-html="item.content.answer"></p>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="update_answer-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.userRef.username}}</a> updated their answer to &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo; on <a href="{{item.textHref}}">{{item.content.text}}</a> in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
						<div ng-bind-html="item.content.answer"></div>
					</div>
					</div>
				</div> 
				
				
				<div ng-switch-when="increase_score-project" class="span12 activity-row">
					<hr>
					<div class="span12" ng-class="{unread: isUnread(item.id)}">
					<div class="span1 activity-icon">
						<i class="icon-thumbs-up" style="font-size:3em"></i>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span><a href="{{item.userHref}}">{{item.userRef.username}}</a> +1'd your answer to &ldquo;<a href="{{item.questionHref}}">{{item.content.question}}</a>&rdquo; on <a href="{{item.textHref}}">{{item.content.text}}</a> in <a href="{{item.projectHref}}">{{item.content.project}}</a></span>
					</div>
					</div>
				</div> 
				
				
				<div class="span12 activity-row" ng-switch-default>
					<hr>
					The {{item.action + '-' + item.type}} activity type is unimplemented
				</div>
				
			</ng-switch>
		</div>
			<div class="span12"><hr /></div>
		<div class="span12 activity-row" style="margin-top:20px;text-align:center" ng-show="filteredActivities.length > 0 && true"><button disabled class="btn btn-primary">Show More Activity</button></div>
		<div style="margin-top:50px" class="span12 activity-row" ng-show="filteredActivities.length == 0">No activity to show :(</div>
	</div>
</div>