<span class="ql-suggest d-flex">
    <a data-ng-click="$ctrl.selectAll()" data-ng-style="$ctrl.suggestionStyle">{{$ctrl.wordCombine($ctrl.qlSuggestions)}}</a>&nbsp;&nbsp;
    <span><small class="text-muted">{{$ctrl.confidencePercent}}%</small></span>&nbsp;
    <a data-ng-click="$ctrl.showSuggestionHelp = !$ctrl.showSuggestionHelp"><i class="suggestion-help fa fa-info-circle"></i></a>
</span>
<div class="ql-suggest text-muted" data-ng-show="$ctrl.showSuggestionHelp">
    <small>How to insert suggestions:</small>
    <ul>
        <li><small><strong>Ctrl + 0</strong> or <strong>click</strong> to insert the entire phrase.</small></li>
        <li><small><strong>Ctrl + <em>number</em></strong> to insert that word.</small></li>
    </ul>
</div>
