@import '~src/global';

.card-content {
  padding: 1rem;
}

#btn-log-in-settings {
  background-color: $pt-button-green;
  color: white;
  height: 2.5rem;
}

.paratext-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

p.helper-select,
.indented-field-row {
  margin-top: 1rem;
}

.helper-text {
  color: var(--mdc-theme-text-hint-on-background);
  margin: 0;
}

.more-options {
  margin-left: 1rem;
}

.invalid-feedback {
  color: var(--mdc-theme-error);
}

.status {
  margin-left: 2rem;
}

#delete-project {
  border: 2px solid red;
}

#delete-btn {
  @include mdc-button-container-fill-color(red);
}
