.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name {
  padding-right: 0.5em;
  word-break: break-word;
}

.mat-column-projects {
  word-break: break-word;
}

mat-form-field {
  margin-top: 10px;
}

#no-users-label {
  padding-top: 14px;
}

.loading-spinner {
  align-self: center;
  margin: 30px 0px;
}

.remove-cell {
  text-align: right;
}
