<mat-card>
  <mat-card-title class="account-title"> {{ headerTitle }} </mat-card-title>
  <mat-card-content fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="fields-container">
        <form
          [formGroup]="accountUserForm"
          #accountUserFormReset="ngForm"
          fxLayout="column"
          novalidate
          autocomplete="off"
        >
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="FullName" />
            <mat-error *ngIf="formControls.FullName.errors?.required && isSubmitted">Name is required</mat-error>
          </mat-form-field>

          <mat-form-field> <input matInput placeholder="Username" formControlName="Username" /> </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="Email" />
            <mat-error *ngIf="formControls.Email.errors?.required && isSubmitted"> Email is required </mat-error>
            <mat-error *ngIf="formControls.Email.errors?.email && isSubmitted"> Email is invalid </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="System role" formControlName="Role">
              <mat-option *ngFor="let item of roleList" value="{{ item.id }}">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formControls.Role.errors?.required && isSubmitted"> System Role is required </mat-error>
          </mat-form-field>
          <div *ngIf="showPasswordPanel">
            <mat-form-field class="example-full-width password">
              <input
                matInput
                placeholder="Password"
                type="password"
                id="Password"
                name="Password"
                formControlName="Password"
                minlength="7"
              />
              <mat-error *ngIf="formControls.Password.errors?.minlength"
                >Password must be at least 7 characters</mat-error
              >
              <mat-error *ngIf="formControls.Password.errors?.required && isSubmitted"
                >Password is required</mat-error
              > </mat-form-field
            ><br />
            <password-strength-meter
              [password]="accountUserForm.value.Password"
              item-width="200px"
            ></password-strength-meter>
          </div>
          <div *ngIf="showActivateDeActivatePanel">
            <p mat-line>Last login {{ userLastLoginDate }}</p>
            <p mat-line>User created {{ userCreatedDate }}</p>
            <section class="example-section">
              <mat-slide-toggle class="example-margin" formControlName="ActivateStatus" (change)="onChange($event)">
                {{ userActivateDeactive }}
              </mat-slide-toggle>
            </section>
          </div>
          <mat-card-actions align="end">
            <button
              mat-raised-button
              color="primary"
              *ngIf="btnUserAdd"
              type="submit"
              class="add-button"
              (click)="onUserAdd()"
            >
              Add
            </button>
            <button
              mat-raised-button
              color="primary"
              *ngIf="btnUserUpdate"
              type="button"
              class="update-button"
              (click)="onUpdate()"
            >
              Update
            </button>
            <button
              mat-raised-button
              *ngIf="btnChangePassword"
              type="button"
              class="changepassword-button"
              (click)="onChangePassword()"
            >
              Change Password
            </button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
