.container {
  width: 100%;
  display: block;
}

.form-label {
  padding-top: 29px;
}

.search-label {
  padding-top: 2px;
}

.show-addlayout-button {
  width: 120px;
  height: 40px;
  align-self: center;
}

table {
  width: 100%;
}

.grid-update-field {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.mat-form-field {
  font-weight: 400;
  line-height: 1.125;
  width: 400px;
}

.projectsNames {
  cursor: pointer;
  color: aqua;
  text-decoration: underline;
}
