<div fxLayout="column">
  <div fxFlex="100%">
    <div fxFlex="50%">
      <mat-card>
        <mat-card-title class="account-title">System Administration</mat-card-title>
        <mat-card-content fxLayout="column">
          <div class="container" fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="left">
            <mat-form-field fxLayout="row" fxFlex="33%" appearance="standard">
              <label class="search-label">Search</label>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Username" />
            </mat-form-field>
            <label fxFlex="33%" class="form-label"> {{ userCount }} &nbsp; Users</label>
            <button
              fxLayoutAlign="center"
              mat-raised-button
              id="btnAddUser"
              class="show-addlayout-button"
              (click)="addUser()"
            >
              Add User
            </button>
          </div>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row; let i = index">
                <ngx-avatar name="{{row.user.name}}" src="#" value="20%" size="32" [round]="true"> </ngx-avatar>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.user.name }}</td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef>Username</th>
              <td mat-cell *matCellDef="let row" class="grid-update-field" (click)="editUser(row.user.id)">
                {{ row.user.username }}
              </td>
            </ng-container>

            <!-- projectNames Column -->
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef>Projectname</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.projectNames?.length > 0">
                  {{ row.projectNames?.length }} &nbsp; &nbsp;
                  <span *ngIf="row.projectNames?.length > 1"> Projects </span>
                  <span *ngIf="row.projectNames?.length == 1"> Project </span> &nbsp; - &nbsp;
                  <span class="projectsNames" *ngFor="let item of row.projectNames; last as isLast">
                    <span *ngIf="row.projectNames?.length > 1"> {{ item }} <span *ngIf="!isLast">,&nbsp;</span> </span>
                    <span *ngIf="row.projectNames?.length == 1"> {{ item }} </span>
                  </span>
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button *ngIf="!row.user.active" class="cancel-invite" id="cancel-invite" mat-stroked-button>
                  Cancel Invite
                </button>
                &nbsp;
                <button
                  *ngIf="row.user.active"
                  class="remove-user"
                  id="remove-user"
                  mat-stroked-button
                  (click)="openDialog(row.user.id)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
            </ng-container>

            <div hidden="true">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Userid</th>
                <td mat-cell *matCellDef="let row">{{ row.user.id }}</td>
              </ng-container>
            </div>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div *ngIf="enablePagination">
            <mat-paginator #MatPaginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
      <div></div>
    </div>
    <div fxFlex="50%" *ngIf="addEditPanel" class="addEditPanel">
      <app-user-entry (outputUserList)="outputUserList($event)" [editUserId]="editUserId"></app-user-entry>
    </div>
  </div>
</div>
