.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-dialog-content {
  overflow: unset;
}

@media (max-width: 416px) {
  #invitation-close-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
