.dialog-size {
  min-height: 230px;
  max-width: 350px;
}

.content-padding {
  padding-bottom: 0px;
}

@media (max-width: 416px) {
  .dialog-size {
    min-height: 280px;
    width: 90%;
  }

  #invitation-close-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
