<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface class="dialog-size">
      <mdc-dialog-title> Invite a friend to {{ siteName }} </mdc-dialog-title>
      <mdc-dialog-content class="content-padding">
        <mdc-form-field [formGroup]="sendInviteForm" id="send-invite-form">
          <mdc-text-field id="email" label="Email" type="email" formControlName="email" [helperText]="emailHelperText">
          </mdc-text-field>
          <mdc-text-field-helper-text #emailHelperText="mdcHelperText" validation>
            <span *ngIf="email.hasError('pattern') || (email.hasError('email') && !email.hasError('required'))">
              Please enter a valid email address, e.g. me@example.com
            </span>
            <span *ngIf="email.hasError('required') && isSubmitted"> Email is <strong>required</strong> </span>
          </mdc-text-field-helper-text>
        </mdc-form-field>
      </mdc-dialog-content>
      <mdc-dialog-actions align="end">
        <mat-spinner *ngIf="isSubmitted" strokeWidth="3" diameter="20"></mat-spinner>
        <button id="invitation-close-btn" mdcDialogButton mdcDialogAction="close">Close</button>
        <button id="invitation-send-btn" mdc-button primary (click)="onSubmit()" [disabled]="isSubmitted">
          Send Invitation
        </button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
