<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface class="dialog-size">
      <mdc-dialog-title>Invite a friend to {{ siteName }}</mdc-dialog-title>
      <mdc-dialog-content class="content-padding">
        <mdc-form-field [formGroup]="sendInviteForm" id="send-invite-form">
          <mdc-text-field id="email" label="Email" type="email" formControlName="email" fullwidth></mdc-text-field>
          <mdc-helper-text validation>
            <span *ngIf="email.hasError('pattern') || email.hasError('email')">Email address is invalid</span>
            <span *ngIf="email.hasError('required')">Email address is required</span>
          </mdc-helper-text>
        </mdc-form-field>
      </mdc-dialog-content>
      <mdc-dialog-actions align="end">
        <mat-spinner *ngIf="isSubmitted" strokeWidth="3" diameter="20"></mat-spinner>
        <button id="invitation-close-btn" mdcDialogButton mdcDialogAction="close">Close</button>
        <button id="invitation-send-btn" mdc-button primary (click)="onSubmit()" [disabled]="isSubmitted">
          Send Invitation
        </button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
