<h3 mat-dialog-title>Invite a friend to {{ siteName }}</h3>
<mat-dialog-content>
  <mat-form-field [formGroup]="sendInviteForm" id="send-invite-form">
    <input matInput placeholder="Email" id="email" name="email" formControlName="email" />
    <mat-error *ngIf="email.hasError('pattern') || (email.hasError('email') && !email.hasError('required'))">
      Please enter a valid email address, e.g. me@example.com
    </mat-error>
    <mat-error *ngIf="email.hasError('required') && isSubmitted"> Email is <strong>required</strong> </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-spinner *ngIf="isSubmitted" strokeWidth="3" diameter="20"></mat-spinner>
  <button mat-raised-button (click)="onClose()" id="invitation-close-btn">Close</button>
  <button mat-raised-button class="mat-primary" [disabled]="isSubmitted" (click)="onSubmit()" id="invitation-send-btn">
    Send Invitation
  </button>
</mat-dialog-actions>
