@import '../checking-global';

:host {
  display: flex;
  align-items: center;
  border: 1px solid $sf-grey;
  border-radius: 4px;
  background-color: lighten($sf_grey, 70%);
  span {
    padding: 0 5px;
  }
  .mdc-button {
    margin-right: 0;
  }
}
