<fieldset>
	<legend>Users (total: {{data.result.entries.length}})</legend>
	<table>
		<tr ng-repeat="user in data.result.entries">
			<td><a ng-click="vars.userid = user.id">{{user.username}}</a></td>
			<td>{{user.email}}</td>
		</tr>
	</table>
	<div class="left"><a href="#" ng-click="addUser()" class="small button"><i class="icon-plus"></i>Add</a></div>
	<div class="right"><a href="#" ng-click="addUser()" class="disabled small button"><i class="icon-minus"></i>Delete</a></div>
</fieldset>