/* Generic styles for the main html/body page itself */
@import '~src/global';

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-max {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cdk-overlay-pane.inviteDialogComponent {
  width: 80%;
  max-width: 400px !important;
}

.cdk-overlay-pane.inviteDialogComponent > .mat-dialog-container {
  padding-top: 5px !important;
}

.snackbar-above-footer {
  bottom: 63px;
  @include media-breakpoint-only(xs) {
    bottom: 45px;
  }
}

.mdc-select__selected-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
