/* form styling */
#form-container .page-header h1 {
  margin-left: 0;
}

#form-container #forgot_password {
  margin-left: 10px;
}

.social-button {
  height: 40px;
  border-width: 0;

  &.google {
    background: #4285f4;
  }
  &.facebook {
    background: #4267b2;
  }

  color: #737373;
  //   border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.social-button__icon {
  display: inline-block;
  background: white;
  vertical-align: middle;
  padding: 8px 8px 8px 8px;
  margin-left: 1px;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.social-button__text {
  display: inline-block;
  vertical-align: middle;
  &.google {
    padding: 0 42px 0 24px;
  }
  &.facebook {
    padding: 0 24px;
  }

  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

button.social-button ~ button.social-button {
  margin-top: 8px;
}
