<div class="content container cf">
    {% verbatim %}
    {% endverbatim %}

    <h1>Login</h1>
    <p>Please login with your username and password below.</p>
    {% if alertMessage %}
        <div class="alert alert-info">{{ alertMessage }}</div>
    {% endif %}
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form action="{{ path('app_login_check') }}" method="post" accept-charset="utf-8">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="_username" value="{{ last_username }}" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="_password" value="" id="password">
        </p>
        <p>
            <label for="remember">Remember Me:</label>
            <input type="checkbox" id="remember" name="_remember_me" />
        </p>
        <p><input type="submit" name="submit" value="Login"></p>
    </form>
    <p><a href="forgot_password">Forgot your password?</a></p>
</div>
