<mdc-dialog class="broad">
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title> <mdc-icon>warning</mdc-icon> Are you sure you want to delete your account? </mdc-dialog-title>
      <mdc-dialog-content>
        <p>
          This action <strong>cannot</strong> be undone. This will permanently delete the
          <strong>{{ data.name.replace(" ", "&nbsp;") }}</strong> account and remove you from all your projects.
        </p>
        <br />
        <p>Please type your name to confirm.</p>
        <mdc-form-field>
          <mdc-text-field label="Enter your name" [formControl]="userNameEntry"></mdc-text-field>
        </mdc-form-field>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton mdcDialogAction="close" class="cancel-button">Cancel</button>
        <button mdcDialogButton mdcDialogAction="confirmed" id="confirm-delete-button" [disabled]="deleteDisabled">
          <span fxHide.lt-sm>I understand the consequences;&nbsp;</span>delete my account
        </button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
