<a href data-ng-click="$ctrl.runInsights()">Run project insights</a>

<table data-ng-if="$ctrl.projects.length > 0" border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Project name</th>
      <th>Project code</th>
      <th>Owner</th>
      <th>Email</th>
      <th>Owner name</th>
      <th>Owner role</th>
      <th>URL</th>
      <th>Users</th>
      <th>Active users*</th>
      <th>Active recently**</th>
      <th>Activity events</th>
      <th>Last activity</th>
      <th>Interface Language Code</th>
      <th>Archived</th>
      <th>Managers</th>
      <th>Contributors</th>
      <th>Tech support</th>
      <th>No role</th>
      <th ng-if-start="$ctrl.appName === 'lexicon'">Commenters</th>
      <th>Observers</th>
      <th>Entries with pictures</th>
      <th>Language code</th>
      <th>Entries</th>
      <th>Entries with pictures</th>
      <th>Comments</th>
      <th>Last send/receive</th>
      <th>Input systems</th>
      <th ng-if-end>Last Entry Modified</th>
      <th ng-if-start="$ctrl.appName === 'sfchecks'">Open questions</th>
      <th>Total questions</th>
      <th>Open answers</th>
      <th>Total answers</th>
      <th>Open comments</th>
      <th>Total comments</th>
      <th>Open texts</th>
      <th ng-if-end>Total texts</th>
      <th>Date modified</th>
      <th>Date created</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="project in $ctrl.projects">
      <td>{{ project.projectName }}</td>
      <td>{{ project.projectCode }}</td>
      <td>{{ project.ownerUserName }}</td>
      <td>{{ project.ownerEmail }}</td>
      <td>{{ project.ownerName }}</td>
      <td>{{ project.ownerRole }}</td>
      <td>{{ project.url }}</td>
      <td>{{ project.userCount }}</td>
      <td>{{ project.activeUsers }}</td>
      <td>{{ project.recentUsers }}</td>
      <td>{{ project.activityCount }}</td>
      <td>{{ project.lastActivityDate }}</td>
      <td>{{ project.interfaceLanguageCode }}</td>
      <td>{{ project.isArchived }}</td>
      <td>{{ project.managers }}</td>
      <td>{{ project.contributors }}</td>
      <td>{{ project.techSupport }}</td>
      <td>{{ project.noRole }}</td>
      <td ng-if-start="$ctrl.appName === 'lexicon'">{{ project.commenters }}</td>
      <td>{{ project.observers }}</td>
      <td>{{ project.pictures }}</td>
      <td>{{ project.languageCode }}</td>
      <td>{{ project.entries }}</td>
      <td>{{ project.pictures }}</td>
      <td>{{ project.comments }}</td>
      <td>{{ project.lastSyncedDate }}</td>
      <td>{{ project.inputSystems }}</td>
      <td ng-if-end>{{ project.lastEntryModifiedDate }}</td>
      <td ng-if-start="$ctrl.appName === 'sfchecks'">{{ project.openQuestions }}</td>
      <td>{{ project.questions }}</td>
      <td>{{ project.openAnswers }}</td>
      <td>{{ project.answers }}</td>
      <td>{{ project.openComments }}</td>
      <td>{{ project.comments }}</td>
      <td>{{ project.openTexts }}</td>
      <td ng-if-end>{{ project.texts }}</td>
      <td>{{ project.dateModified }}</td>
      <td>{{ project.dateCreated }}</td>
    </tr>
  </tbody>
</table>

<div data-ng-if="$ctrl.projects.length > 0">
  <p>
    Note: results only apply to {{ $ctrl.appName }} projects.
  </p>
  <p ng-if="$ctrl.appName === 'sfchecks'">
    Questions are considered archived if they are archived or belong to a text that has been archived.
    Answers and comments are considered archived if their parent is considered archived.
  </p>
  <p>
    * Refers to users with two or more activity events.<br>
    ** Refers to users with an activity event in the last 180 days.
  </p>
</div>
