<div class="content container-fluid" data-ng-cloak>
    <sil-notices></sil-notices>

    <uib-tabset>
        <uib-tab heading="Users" id="users">
            <site-admin-users></site-admin-users>
        </uib-tab>

        <uib-tab heading="Archived Projects" id="archivedprojects">
            <site-admin-archived-projects></site-admin-archived-projects>
        </uib-tab>

        <uib-tab heading="Project Insights" id="projectInsights">
            <site-admin-project-insights></site-admin-project-insights>
        </uib-tab>

        <uib-tab heading="LD Projects" id="ldProjects">
            <site-admin-ldprojects></site-admin-ldprojects>
        </uib-tab>

        <uib-tab heading="LD Users" id="ldUsers">
            <site-admin-ldusers></site-admin-ldusers>
        </uib-tab>
    </uib-tabset>
</div>
