<h1>Reset Password for <span class="notranslate">{{user.name}}</span></h1>

<p>Please click this link to <a href="{{link}}" target="_blank">Reset Your Password</a>.</p>
<p>This link will be valid for 1 week only.</p>
<p>Regards,<br/>The Language Forge team</p>
