<h2>Translate</h2>
<div class="row">
    <div class="col-xs-5">
        <label>{{getLabel(left.label, left.languageTag)}}</label>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-secondary" data-ng-click="swapEditors()">
            <i class="fa fa-exchange"></i></button>
    </div>
    <div class="col-xs-5">
        <label>{{getLabel(right.label, right.languageTag)}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" lang="{{left.languageTag}}">
        <ng-quill-editor
            id="editorLeft" data-modules="modulesConfig" data-theme="bubble-suggest"
            data-on-editor-created="editorCreated(editor, left.docType, 'left')"
            data-on-content-changed="contentChanged(editor, html, text, left.docType, 'left')"
            data-ng-model="left.data" data-read-only="false"
            data-placeholder="&#8203;enter text here"></ng-quill-editor>
        <div class="ql-suggestions">
            <ql-suggestion data-ql-suggestions="left.suggestions"
                           data-ql-insert-suggestion="insertSuggestion('left', text)"></ql-suggestion>
        </div>
        <!--<pre>left {{left | json}}</pre>-->
    </div>
    <div class="col-xs-6" lang="{{right.languageTag}}">
        <ng-quill-editor
            id="editorRight" data-modules="modulesConfig" data-theme="bubble-suggest"
            data-on-editor-created="editorCreated(editor, right.docType, 'right')"
            data-on-content-changed="contentChanged(editor, html, text, right.docType, 'right')"
            data-ng-model="right.data" data-read-only="false"
            data-placeholder="&#8203;enter text here"></ng-quill-editor>
        <div class="ql-suggestions">
            <ql-suggestion data-ql-suggestions="right.suggestions"
                           data-ql-insert-suggestion="insertSuggestion('right', text)"></ql-suggestion>
        </div>
        <!--<pre>right {{right | json}}</pre>-->
    </div>
</div>
