<span ng-show="($parent.selectedTab == 1)">
  	<h2> Question {{$parent.currentItem.questions.position + 1}}/{{$parent.currentItem.questions.termQuestions.length}} </h2>
  	<table style="width:600px">
  		<tr>
  			<th> </th>
  			<th> Source </th>
  			<th> Translation </th>
  		</tr>
	    <tr>
		    <td> Question: </td>
		    <td> {{$parent.currentItem.questions.termQuestions[$parent.currentItem.questions.position].question}} </td>
		    <td> <textarea rows="4" ng-model="$parent.currentItem.questions.termQuestions[$parent.currentItem.questions.position].questTranslation"></textarea> </td> 
	    </tr>	
	     <tr>
		    <td> Question Terms: </td>
		    <td> {{$parent.currentItem.questions.termQuestions[$parent.currentItem.questions.position].terms}}</textarea> </td>
	        <td> <textarea rows="4" ng-model="$parent.currentItem.questions.termQuestions[$parent.currentItem.questions.position].termsTranslation"></textarea> </td>    
	    </tr>				    
	</table>
	<td> 
	Translated: <input type='checkbox'  ng-model="$parent.currentItem.questions.translated" /> 
  
	<button ng-show="($parent.currentItem.questions.position > 0)" ng-click="$parent.getPreviousQuestion()" class="pull-left btn btn-success">Previous Question</button>
	<button ng-show="($parent.currentItem.questions.position < $parent.currentItem.questions.termQuestions.length - 1)" ng-click="$parent.getNextQuestion()" class="pull-right btn btn-success">Next Question</button>
</span>