<div ng-show="($parent.selectedTab == 0)">
	    	<table style="width:600px">
	    		<tr>
	    			<th> </th>
	    			<th> Source </th>
	    			<th> Translation </th>
	    		</tr>
			    <tr>
				    <td> Name: </td>
				    <td> {{$parent.currentItem.name.source}}</td>
				    <td> <input ng-model="$parent.currentItem.name.translation"  ng-keypress="$parent.updateItem($event.which)" ng-blur="$parent.updateItem()" > </td>
			    </tr>
			     <tr>
			     <tr>
				    <td> Description: </td>
				    <td> {{$parent.currentItem.description.source}}</td>
			        <td> <textarea rows="4" ng-model="$parent.currentItem.description.translation" ng-keypress="$parent.updateItem($event.which)" ng-blur="$parent.updateItem()"> </textarea></td>    
			    </tr>
			   			   
			</table>
			<br />
			<br />
			<table style="width:600px">
		    	<caption><h4> Search Keys </h4></caption>
		    	<tr>
		    		<th> Source </th>
		    		<th> Translation </th>
		    	<tr ng-repeat="searchKey in $parent.currentItem.searchKeys">
		    		<td>{{searchKey.source}}</td>
		    		<td><textarea rows="2" ng-model="searchKey.translation" ng-keypress="$parent.updateItem($event.which)" ng-blur="$parent.updateItem()"> </textarea></td>
		    	</tr>
		    	
		    </table>
		    
		    <br />
		    <br /> 
</div>	