<div ng-if="(!$parent.isEditingWorkingSet)">
    <h3> Working Sets - Select To Edit</h3>
    <div style="overflow-y:scroll; height:300px; width:400px; border: 1px solid black; display: inline-block;"">
        <ul style="padding: 5px">
            <li ng-repeat="ws in $parent.workingSets track by $index"class="thumbnail">
                <a ng-click="$parent.editWorkingSet(ws.id)"> {{ws.name}} </a>
            </li>
        </ul>
    </div>     
    <br />
    
    <div>
        <button class="btn btn-primary" ng-click="createNewWorkingSet()" ng-disabled="($parent.newWorkingSet != undefined)"> Create New Working Set</button>  
    </div>
</div>
<div ng-if="($parent.isEditingWorkingSet)">    
    <span ng-if="$parent.newWs == undefined">
        <h3> Edit Working Set</h3>
        <working-set control="$parent" model="$parent.workingSets[$parent.selectedWorkingSet]"></working-set>
    </span>
     <span ng-if="$parent.newWs != undefined">
        <h3> Create New Set</h3>
        <working-set control="$parent" model="$parent.newWs"></working-set>
    </span>
</div>