<span ng-show="($parent.selectedTab == 1)">
  	<h2> Question {{$parent.currentQuestionPos+1}}/{{$parent.currentItem.questions.length}} </h2>
  	<table style="width:600px">
  		<tr>
  			<th> </th>
  			<th> Source </th>
  			<th> Translation </th>
  		</tr>
	    <tr>
		    <td> Question: </td>
		    <td> {{$parent.currentItem.questions[$parent.currentQuestionPos].question.source}} </td>
		    <td> <textarea rows="4" ng-model="$parent.currentItem.questions[$parent.currentQuestionPos].question.translation" ng-keypress="$parent.updateItem($event.which)" ng-blur="$parent.updateItem()"></textarea> </td> 
	    </tr>	
	     <tr>
		    <td> Terms: </td>
		    <td> {{$parent.currentItem.questions[$parent.currentQuestionPos].terms.source}}</textarea> </td>
	        <td> <textarea rows="4" ng-model="$parent.currentItem.questions[$parent.currentQuestionPos].terms.translation" ng-keypress="$parent.updateItem($event.which)" ng-blur="$parent.updateItem()"></textarea> </td>    
	    </tr>				    
	</table>
	<td> 
	
	<button ng-show="($parent.currentQuestionPos > 0)" ng-click="$parent.getPreviousQuestion()" class="pull-left btn btn-success">Previous Question</button>
	<button ng-show="($parent.currentQuestionPos < $parent.currentItem.questions.length - 1)" ng-click="$parent.getNextQuestion()" class="pull-right btn btn-success">Next Question</button>
</span>