<div  ng-show="($parent.selectedTab == 2)" data-ng-controller="editSettingsCtrl">
	<div style="text-align:left">
	  What do you want to translate?
	  <br />
	  <input type="radio" ng-model="tabDisplay.val" value="0">  Both <br/>
  	  <input type="radio" ng-model="tabDisplay.val" value="1"> Only Terms <br/>
  	  <input type="radio" ng-model="tabDisplay.val" value="2"> Only Questions <br/>
	</div>
	
	<br />
	<div style="float:left">
		<span ng-repeat="item in breadCrumb" ng-click="drillUp($index)"> <a>{{item}} </a> <span ng-show="$index != breadCrumb.length - 1"> >> </span></span>
	</div>
	<table style="width:600px">
	<tr>
		<th> Domain </th>
		<th> Display </th>
	</tr>
	<tr ng-repeat="item in domainsFiltered">
		<td ng-click="drillDown(item.key)"> <a> {{item.display}} </a></td>
		<td> <input type='checkbox'  ng-model="item.included" ng-change="updateIncluded(item.key)" /> </td>
	</tr>
	</table>
	
</div>