<span ng-show="($parent.selectedTab == 0)">
	    	<table style="width:400px">
			    <tr>
				    <td> Name: </td>
				    <td><input ng-model="$parent.currentItem.term.name"></td>
			    </tr>
			     <tr>
				    <td> Translation: </td>
				    <td> <input ng-model="$parent.currentItem.term.nameTrans"> </td>
				    
			    </tr>
			     <tr>
				    <td> Description: </td>
				    <td> {{$parent.currentItem.term.description}}</td>
			    </tr>
			     <tr>
				    <td> Translation: </td>
				    <td> <textarea rows="4" ng-model="$parent.currentItem.term.translation"> </textarea></td>
				    
			    </tr>
			    <tr> 
			    	<td> Comments: </td>
			    	<td> <input ng-model="$parent.currentItem.term.comments">	</td>
			    </tr> 
			</table>
</span>	