<div ng-show="($parent.selectedTab == 0)">
	    	<table style="width:600px">
	    		<tr>
	    			<th> </th>
	    			<th> Source </th>
	    			<th> Translation </th>
	    		</tr>
			    <tr>
				    <td> Name: </td>
				    <td> {{$parent.currentItem.term.name}}</td>
				    <td> <input ng-model="$parent.currentItem.term.nameTrans"> </td>
			    </tr>
			     <tr>
			     <tr>
				    <td> Description: </td>
				    <td> {{$parent.currentItem.term.description}}</td>
			        <td> <textarea rows="4" ng-model="$parent.currentItem.term.translation"> </textarea></td>    
			    </tr>
			   			   
			</table>
			<br />
			<br />
			<table style="width:600px">
		    	<caption><h4> Search Keys </h4></caption>
		    	<tr>
		    		<th> Source </th>
		    		<th> Translation </th>
		    	<tr ng-repeat="searchKey in $parent.currentItem.term.searchKeys">
		    		<td>{{searchKey.searchKey}}</td>
		    		<td><textarea rows="2" ng-model="searchKey.translation"> </textarea></td>
		    	</tr>
		    	
		    </table>
		    
		    <br />
		    <br />
    		Translated: <input type='checkbox'  ng-model="$parent.currentItem.term.translated" /> 
</div>	