{% extends 'container/scriptureforge.html.twig' %}

{% block footer %}
    <footer class="footer">
        <div class="d-flex">
            <div class="d-none d-sm-flex align-items-end" style="margin-left: 120px">
            </div>
            <div class="d-flex flex-grow justify-content-end align-items-end">
                <small>
                    v {{ version }}.
                    <a href="/terms_and_conditions" class="links">Terms and conditions</a>.
                </small>
            </div>
        </div>
    </footer>
{% endblock %}
