<div class="container">
	<h3>My Dashboard</h3>
	<div class="container">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Decks in Progress</span>
				<div class="row">
					<div class="col">
						<div class="card-panel">
							<span>Spelling</span>
						</div>
					</div>
					<div class="col">
						<div class="card-panel">
							<span>Definitions</span>
						</div>
					</div>
				</div>
				<div class="progress orange">
					<div class="determinate purple" style="width: 70%"></div>
				</div>
				<div class="card-action">
					<a routerLink="/spelling" class="btn grey darken-1 waves-effect waves-light">Change Deck</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<span class="card-title">Completed Achievements</span>
				<div class="row">
					<div class="col">
						<div class="card-panel">
							<span>Cool guy</span>
						</div>
					</div>
					<div class="col">
						<div class="card-panel">
							<span>Work horse</span>
						</div>
					</div>
					<div class="col">
						<div class="card-panel">
							<span>Power typer</span>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button class="btn grey darken-1 waves-effect waves-light">See all achievements</button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<span class="card-title">Previously Completed Decks</span>
				<div class="row">
					<div class="col">
						<div class="card-panel">
							<span>Deck 4</span>
						</div>
					</div>
					<div class="col">
						<div class="card-panel">
							<span>Deck 243</span>
						</div>
					</div>
					<div class="col">
						<div class="card-panel">
							<span>Deck 1</span>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button class="btn grey darken-1 waves-effect waves-light">See all completed decks</button>
				</div>
			</div>
		</div>
	</div>
</div>