<mdc-list>
  <mdc-list-item
    (click)="activateQuestion(question)"
    *ngFor="let question of questions"
    [ngClass]="{
      'question-read': question.read,
      'question-unread': !question.read,
      'question-answered': hasUserAnswered(question),
      'question-has-answers': getUnreadAnswers(question),
      'mdc-list-item--activated': activeQuestion && activeQuestion.id === question.id
    }"
  >
    <div class="question-title">{{ question.text }}</div>
    <a class="view-answers" mdcListItemMeta title="View Answers">
      <i mdcIcon>forum</i> <span>{{ getUnreadAnswers(question) }}</span>
    </a>
  </mdc-list-item>
</mdc-list>
