<div class="container" ng-app="activity" ng-cloak style="margin-top:10px">
	<div id="sfchecks-hmenu" class="hdrnav">
		<img src="/images/sf_logo_medium.png" class="left" width="48px" height="60px" />
		<ul style="margin:0; clear:right; overflow:auto">
			<li><a href="/app/sfchecks">My Projects</a></li>
			<li class="here"><a href="#">Activity</a></li>
		</ul>
	</div>
	<div ng-controller="ActivityCtrl">
		<div><a href="#" ng-click="filterAllActivity()">All Activity</a> <a href="#" ng-click="filterMyActivity()">Show Only My Activity</a></div>
		<div ng-repeat="activity in activities">
			<activity item="activity">
		</div>
	</div>
</div>