<div class="container" ng-app="activity" ng-cloak style="margin-top:10px">
	<div id="sfchecks-hmenu" class="hdrnav">
		<img src="/images/sf_logo_medium.png" class="left" width="48px" height="60px" />
		<ul style="margin:0; clear:right; overflow:auto">
			<li><a href="/app/sfchecks">My Projects</a></li>
			<li class="here"><a href="#">Activity</a></li>
		</ul>
	</div>
	<div ng-controller="ActivityCtrl">
		<div><a href="#" ng-click="filterAllActivity()">All Activity</a> <a href="#" ng-click="filterMyActivity()">Show Only My Activity</a></div>
		
		<div ng-show="activities.length > 0" ng-repeat="item in activities">
			<ng-switch on="item.action + '-' + item.type">
			
			
				<div ng-switch-when="add_comment-project" class="span12 activity-row">
					<hr>
					<div class="span1">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.userRef.username}} commented on {{item.userRef2.username}}'s answer to "<a href="{{item.questionHref}}">{{item.content.question}}</a>" on {{item.content.text}}</span>
						<p class="indented">{{item.content.answer}}</p>
						<hr />
						<p class="indented">{{item.content.comment}} - <a href="{{item.userProfileHref}}">{{item.userRef.username}}</a></p>
					</div>
				</div> 
				
				
				<div ng-switch-when="update_comment-project" class="span12 activity-row">
					<hr>
					<div class="span1">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.userRef.username}} updated their comment on {{item.userRef2.username}}'s answer to "<a href="{{item.questionHref}}">{{item.content.question}}</a>" on {{item.content.text}}</span>
						<p class="indented">{{item.content.answer}}</p>
						<hr />
						<p class="indented">{{item.content.comment}} - <a href="{{item.userProfileHref}}">{{item.userRef.username}}</a></p>
					</div>
				</div> 
				
				
				<div ng-switch-when="message-global" class="span12 activity-row">
					<hr>
					<div class="span1">
						<div style="margin-left:5px"><i class="icon-warning-sign" style="font-size:3em"></i></div>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.content.message}}</span>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_question-project" class="span12 activity-row">
					<hr>
					<div class="span1">
						<div style="margin-left:5px"><i class="icon-question-sign" style="font-size:3em"></i></div>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.content.text}} has a new question in the {{item.content.project}} project:</span>
						<p class="indented"><i class="icon-quote-left"></i> <a href="{{item.questionHref}}">{{item.content.question}}</a> <i class="icon-quote-right"></i></p>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_text-project" class="span12 activity-row">
					<hr>
					<div class="span1">
						<div style="margin-left:5px"><i class="icon-file-text" style="font-size:3em"></i></div>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>The {{item.content.project}} project has added a new text <a href="{{item.textHref}}">{{item.content.text}}</a></span>
					</div>
				</div> 
				
				
				<div ng-switch-when="add_answer-project" class="span12 activity-row">
					<hr>
					<div class="span1">
					    <img width="50px" height="50px" ng-src="{{item.userRef.avatar_ref}}" />
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.userRef.username}} answered <i class="icon-quote-left"></i> <a href="{{item.questionHref}}">{{item.content.question}}</a> <i class="icon-quote-right"></i> on {{item.content.text}}</span>
						<p class="indented">{{item.content.answer}}</p>
					</div>
				</div> 
				
				
				<div ng-switch-when="increase_score-project" class="span12 activity-row">
					<hr>
					<div class="span1">
						<div style="margin-left:5px"><i class="icon-thumbs-up" style="font-size:3em"></i></div>
					</div>
					<div class="span1 activity-date">
					    {{item.date|relativetime}}
					</div>
					<div class="span8 activity-content">
						<span>{{item.userRef.username}} +1'd your answer to <i class="icon-quote-left"></i> <a href="{{item.questionHref}}">{{item.content.question}}</a> <i class="icon-quote-right"></i> on {{item.content.text}}</span>
					</div>
				</div> 
				
				
				<div class="span12 activity-row" ng-switch-default>
					<hr>
					The {{item.action + '-' + item.type}} activity type is unimplemented
				</div>
				
			</ng-switch>
		</div>
		<div ng-show="activities.length == 0">You don't have any activities yet ... how did that happen?'</div>
	</div>
</div>