{% verbatim %}
{% endverbatim %}

<div class="content container" data-ng-controller="ResetPasswordCtrl">
    <div class="row outer-flex">
    <div class="span8 offset2">
    <div id="form-container">
        <div class="page-header" align="center">
            <h1>Reset Password</h1>
            <p>Please reset your password.</p>
            {% for infoMessage in app.session.getFlashBag.get('infoMessage') %}
                <div class="alert alert-info">{{ infoMessage }}</div>
            {% endfor %}
            {% for errorMessage in app.session.getFlashBag.get('errorMessage') %}
                <div class="alert alert-error">{{ errorMessage }}</div>
            {% endfor %}
        </div>

        <form class="form-horizontal" data-ng-submit="resetPassword()" name="resetPasswordForm" novalidate>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="password" data-translate="New Password"></label>
                    <div class="controls">
                        <input class="span3" id="password"
                               required type="password" name="_password"
                               title="Passwords must be at least 7 characters"
                               data-ng-model="record.password" />
                        <span data-ng-show='record.password && record.password.length < 7'>
                            <img src="/Site/views/shared/image/exclamation.png" title="Passwords must be at least 7 characters!" style="position: absolute; padding-left: 5px; padding-top: 8px;"/>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirmPassword" data-translate="Confirm New Password"></label>
                    <div class="controls">
                        <input class="span3" id="confirmPassword"
                               type="password" name="_confirmPassword"
                               title="Passwords must be at least 7 characters"
                               required data-ng-model="confirmPassword" />
                        <span data-ng-show='record.password && record.password != confirmPassword'>
                            <img src="/Site/views/shared/image/exclamation.png" title="Passwords do not match!" style="position: absolute; padding-left: 5px; padding-top: 8px;"/>
                        </span>
                        <span data-ng-show='record.password && record.password == confirmPassword'>
                            <img src="/Site/views/shared/image/tick.png" title="Passwords match" style="position: absolute; padding-left: 5px; padding-top: 8px;"/>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn" name="submit"
                                data-ng-disabled="submissionInProgress || resetPasswordForm.$invalid || record.password != confirmPassword || record.password.length < 7">
                            Reset Password
                        </button>
                        <span data-ng-show="submissionInProgress">
                            <img src="/Site/views/shared/image/loading-small.gif" style="position: absolute; padding-left: 5px; padding-top: 8px;" />
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    </div>
</div>
