<div class="content container-fluid d-flex flex-column flex-grow" data-ng-cloak dir="{{$ctrl.interfaceConfig.direction}}">
    <div class="hdrnav">
        <div class="col-12">
            <div class="hdrnav-container">
                <div class="btn-group" uib-dropdown data-ng-class="$ctrl.interfaceConfig.pullToSide"
                     data-ng-show="$ctrl.rights.showSettingsDropdown()">
                    <button class="btn btn-std pui-no-caret" uib-dropdown-toggle data-ng-class="$ctrl.interfaceConfig.pullToSide"
                       data-toggle="tooltip" data-placement="{{$ctrl.interfaceConfig.placementToSide}}"
                       title="Settings">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu data-ng-class="$ctrl.interfaceConfig.pullToSide">
                        <a class="dropdown-item" ui-sref="settings" data-ng-show="$ctrl.rights.canEditProject()">
                            Project Settings</a>
                        <a id="userManagementLink" class="dropdown-item" data-ng-href="/app/usermanagement/{{$ctrl.project.id}}"
                           data-ng-show="$ctrl.rights.canEditUsers()">User Management</a>
                    </div>
                </div>
                <div class="float-right return-button">
                    <button class="btn btn-std" title="View the translation" data-toggle="tooltip"
                            data-placement="{{$ctrl.interfaceConfig.placementToSide}}"
                            data-ng-show="$ctrl.showTranslationButton()"
                            data-ng-click="$ctrl.gotoTranslation()">
                        <i class="fa fa-arrow-circle-left"></i> Translation
                    </button>
                </div>
                <breadcrumbs id="top" class="breadcrumb d-none d-md-block"></breadcrumbs>
            </div>
        </div>
    </div>

    <div id="lexicon-hmenu">
        <div class="lexnav form-group"></div>
    </div>

    <sil-notices></sil-notices>
    <div data-ui-view class="d-flex flex-column flex-grow"></div>
</div>
