<form class="col-md-6 offset-md-3 col-lg-4 offset-lg-3" ng-submit="addProject()">
    <h3>Choose a project name</h3>

    <div class="alert alert-danger" ng-show="projectCodeState == 'invalid'">Project Code must begin with a letter, and only contain lower-case letters, numbers, dashes and underscores!</div>
    <div class="alert alert-danger" ng-show="projectCodeState == 'exists'">Project Code already exists!</div>
    <div class="alert alert-danger" ng-show="projectCodeState == 'empty'">The Project Code cannot be empty</div>

    <div class="control-group">
    <div class="controls">
        <label>Project Name
        <input class="form-control" type="text" data-ng-model="newProject.projectName"
            set-focus="!newProjectCollapsed" maxlength="50" required placeholder="Project Name"
            data-idle-validate="checkProjectCode()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        </label>
    </div>
</div>
<br />
<div class="control-group">
    <label class="control-label text-muted" for="projectCode">Project Code</label>
    <div class="controls input-group">
        <input class="form-control" type="text" data-ng-model="newProject.projectCode" id="projectCode" data-ng-trim="false"
               data-ng-disabled="!newProject.editProjectCode" maxlength="50" required
               data-idle-validate="checkProjectCode()" data-idle-validate-keypress="resetValidateProjectForm()" />
        <span class="input-group-addon ng-hide" data-ng-show="projectCodeState == 'loading'">
            <i class="validator fa fa-spin fa-spinner" id="projectCodeLoading"></i>
        </span>
        <span class="input-group-addon ng-hide" data-ng-show="projectCodeState == 'exists'">
            <i class="validator fa fa-exclamation-triangle" id="projectCodeExists"></i>
        </span>
        <span class="input-group-addon ng-hide" data-ng-show="projectCodeState == 'invalid'">
            <i class="validator fa fa-exclamation-triangle" id="projectCodeAlphanumeric"></i>
        </span>
        <span class="input-group-addon ng-hide" data-ng-show="projectCodeState == 'ok'">
            <i class="validator fa fa-check" id="projectCodeOk"></i>
        </span>
    </div>
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="newProject.editProjectCode"/>
            Edit project code
            <br /><span class="muted">(Not usually necessary)</span>
        </label>
    </div>
</div>
<button type="submit" class="btn btn-primary" data-ng-disabled="isSubmitting">Create Project</button>
</form>
