/**
 * Language Forge
 *
 * Version      Version 1.0
 * Date			15th September 2012
 * File Info	Homepage template CSS sheet
 */

/* Reset */
/* Bootstrap
body, html, div, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, a, input, th, td {  
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: none; 
}  
*/
/* Bootstrap
body {  
	line-height: 1;  
	font-size: 87.5%;
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	color: #404040;
}  
*/
/* Bootstrap
h1, h2, h3, h4, h5, h6 {  
	font-size: 100%; 
}
*/
/* Bootstrap
ul, ol {  
	list-style: none;  
}
*/

body {
	padding-top: 0px !important;
}
a {  
	color: #e67345;  
	text-decoration: none;  
	font-weight: bold;
}

a.arrowed {
	background: url(/images/languageforge/default/sf_sprite.png) no-repeat top right;
	*background: url(/images/languageforge/default/sf_sprite.gif) no-repeat top right;
	padding-right: 12px;
}
  
a:hover {  
	text-decoration: underline;  
	cursor: pointer;
}
  
.left {  
	float: left;   
}  
  
.right {  
	float: right;   
} 

.debug {
	border: 1px dashed #f95a79;
}


/* Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }


/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 2.28em;
	letter-spacing: -0.024em;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 1.73em;
	letter-spacing: -0.03em;
	margin-bottom: 0.6em;
}

h3 {
	font-size: 1.35em;
	letter-spacing: -0.015em;
	margin-bottom: 0.6em;
}

h4 {
	font-size: 1.15em;
	margin-bottom: 0.6em;
}

h5 {
	font-size: 0.95em;
	margin-bottom: 0.6em;
}

h6 {
	font-size: 0.71em;
	margin-bottom: 0.6em;
}

p {
	font-size: 0.9em;
	line-height: 1.4em;
	margin-bottom: 1.1em;
}

p.small {
	font-size: 0.8em; 
}


/* Layout */
div#header {
	position: relative;
	margin-top: 32px;
	width: 100%;
	height: 42px;
	background: #fff url(/images/languageforge/default/lf_header-bar-bkg.png) repeat-x 0 0;
	color: #fff;
	z-index: 10; /* IE6-7 hack for logo */
}

div#header > div.sfcontainer {
	overflow: visible;
}

div#header, div#header a {
	color: #eeeff0;
}

div#header-nav {
	position: relative;
	width: auto;
	height: 39px;
	padding-left: 130px;
	border-right: 1px solid #469bc2;
}

div#account{
	padding-top: 7px;
	font-size: 0.85em; 
	line-height: 24px;
}

div.sfcontainer {
	position: relative;
	width: 960px;
	height: auto;
	margin: 0 auto;
}
/* Bootstrap
*/

div.lf-logo {
	position: absolute;
	width: 96px;
	height: 11px;
	top: -25px;
	left: 6px;
	z-index: 10;
}

div.sf-logo-medium {
	position: absolute;
	width: 96px;
	height: 122px;
	top: -38px;
	left: -4px;
	z-index: 10;
}

div.darkTextLogo {
	width: 166px;
	height: 14px;
	background: transparent url(/images/languageforge/default/sf_sprite.png) no-repeat 0 -22px;
}

div#promotion {
	position: relative;
	width: 958px;
	height: 400px;
	margin-top: 12px;
	margin-bottom: 48px;
	border: 1px solid #e5f0fc;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: #f4f8fc url(/images/languageforge/default/promotion-hl.png) no-repeat 0 0;
	*background-image: none;
}

div#promotionCutout {
	position: absolute;
	display: block;
	*display: none; /* IE6-7 hack */
	width: 47px;
	height: 21px;
	bottom: -1px;
	right: -1px;
	background: transparent url(/images/languageforge/default/sf_sprite.png) no-repeat -24px 0;
	z-index: 2;
}

div#promotion-ribbon {
	position: absolute;
	width: 99px;
	height: 102px;
	top: -6px;
	right: -6px;
	background: transparent url(/images/languageforge/default/sf_sprite.png) no-repeat right -36px;
}

div.sub-promotion {
	position: relative;
	width: 940px;
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #F4F8FC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

div.sub-promotion img {
	padding-right: 20px;
}

div#footer {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 40px;
	padding: 40px 0 40px 0;
	background-color: #104060;
	/* background: #104060 url(/images/languageforge/default/sf_sprite.png) no-repeat center -139px; */
	color: #fff;
}

div#footer, div#footer a {
	color: #f4f4f6;
}

div#footerBaseline {
	position: relative;
	width: 100%;
	height: 26px;
	padding-top: 14px;
	background-color: #104060;
}

div.footer-nav {
	margin-left: 60px;
}

div.three-col {
	position: relative;
	width: 320px;
	height: auto;
	float: left;
}

div.three-col-1, div.three-col-2 {
	padding-right: 10px;
}

div.three-col-2, div.three-col-3 {
	padding-left: 10px;
}

hr {
	width: auto;
	height: 1px;
	background-color: #dcdcdc;
	border: 0;
	margin: 20px 0;
}

/* Form Elements */
input, textarea {
	width: auto;
	height: auto;
	font-size: 0.9em;
	font-weight: normal;
	border: 1px solid #c9c9c9;
	padding: .6em .7em;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

input:focus, textarea:focus {
	border: 1px solid #b7b6b6;
	-moz-box-shadow: 0px 1px 4px #ddd;
	-webkit-box-shadow: 0px 1px 4px #ddd;
	box-shadow: 0px 1px 4px #ddd;
}

input::-webkit-input-placeholder {
	font-weight: normal;
	font-size: 12px;
	padding-top: 1px;
	color: #bcbcbc;
}

input.error, textarea.error {
	border: 1px solid #e5999c;
	background-color: #fff8f8;
	-moz-box-shadow: 0px 1px 4px #ddd;
	-webkit-box-shadow: 0px 1px 4px #ddd;
	box-shadow: 0px 1px 4px #ddd;
}

.error-msg {
	color: #c9262d;
}

/* Bootstrap
.btn {
	width: auto;
	height: auto;
	font-size: 0.9em;
	font-weight: normal;
	padding: .6em 1.4em;
	cursor: pointer;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
*/
/* Bootstrap
.standard-btn {
	width: auto;
	height: auto;
	text-shadow: #fff 0 1px 2px;
	border: 1px solid #c4c4c5;
	background: #fdfdff;
	background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
	background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
	-webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
	-moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
	box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
}
*/
/* Bootstrap
.standard-btn-big {
	color: #e67345;
	font-size: 1.3em;
	margin: 15px 0;
}
*/
/*
.standard-btn:hover {
	border: 1px solid #a4a4a5;
	-webkit-box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
	-moz-box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
	box-shadow: 0 0 3px #ccc, inset 0 0 1px #fff;
}
*/
.darker-btn {
	width: auto;
	height: auto;
	color: #eee;
	border: 1px solid #1a1a1a;
	background: #606060;
	background: -moz-linear-gradient(top,  #606060 0%, #3b3b3b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#3b3b3b));
	background: -webkit-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
	background: -o-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
	background: -ms-linear-gradient(top,  #606060 0%,#3b3b3b 100%);
	background: linear-gradient(to bottom,  #606060 0%,#3b3b3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#3b3b3b',GradientType=0 );
	-webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
	-moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
	box-shadow: 0 0 3px #eee, inset 0 0 1px #d4d4d4;
}

.darker-btn:hover {
	color: #fff;
	border: 1px solid #000;
	-webkit-box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
	-moz-box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
	box-shadow: 0 0 3px #999, inset 0 0 1px #d4d4d4;
}


.blue-btn {
	width: auto;
	height: auto;
	color: #fff;
	border: 1px solid #0481aa;
	background: #1bc5fc;
	background: -moz-linear-gradient(top,  #1bc5fc 0%, #049dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc5fc), color-stop(100%,#049dcf));
	background: -webkit-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: -o-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: -ms-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: linear-gradient(to bottom,  #1bc5fc 0%,#049dcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc5fc', endColorstr='#049dcf',GradientType=0 );
	-webkit-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
	-moz-box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
	box-shadow: 0 0 3px #eee, inset 0 0 1px #fff;
}

.blue-btn:hover {
	border: 1px solid #03607e;
	-webkit-box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
	-moz-box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
	box-shadow: 0 0 3px #bbb, inset 0 0 1px #fff;
}

.login-btn {
	width: auto;
	height: auto;
	padding: 0.3em 1.2em 0.4em 1.2em;
	color: #eee;
	font-size: 1.0em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #102030;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
	-moz-box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
	box-shadow: 0 0 3px #494949, inset 0 0 1px #aaa;
	background: #285f78; /* Old browsers */
	background: -moz-linear-gradient(top, #285f78 0%, #102630 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#285f78), color-stop(100%,#102630));
	background: -webkit-linear-gradient(top, #285f78 0%,#102630 100%);
	background: -o-linear-gradient(top, #285f78 0%,#102630 100%);
	background: -ms-linear-gradient(top, #285f78 0%,#102630 100%);
	background: linear-gradient(to bottom, #285f78 0%,#102630 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#285f78', endColorstr='#102630',GradientType=0 );
}

.login-btn:hover {
	color: #fff;
	border: 1px solid #000;
	-webkit-box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
	-moz-box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
	box-shadow: 0 0 3px #494949, inset 0 0 1px #777;
}

/* Tables */
table {
	width: auto;
	text-align: left;
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid #c9c9cb;
	vertical-align: middle;
	padding: 0.7em 1.2em;
}

table th {
	background-color: #404040;
	color: #f4f4f6;
	font-size: 0.9em;
}

table td {
	font-size: 14px;
}

table tbody tr.altrow {
	background-color: #f9f9fa;
}

table tbody tr:hover, table tbody tr.altrow:hover {
	background-color: #e1f8ff;
}

/* Tabs */
.tab {
	position: relative;
	width: 158px;
	margin-right: 2px;
	float: left;
	font-size: 0.9em;
	text-align: center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.tab-off {
	height: 29px;
	line-height: 29px;
	text-shadow: #fff 0 1px 2px;
	cursor: pointer;
	border: 1px solid #c4c4c5;
	background: #fdfdff;
	background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
	background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
}

.tab-off:hover {
	border: 1px solid #a4a4a5;
}

.tab-on {
	height: 35px;
	line-height: 35px;
	margin-top: -6px;
	color: #fff;
	border: 1px solid #0481aa;
	background: #1bc5fc;
	background: -moz-linear-gradient(top,  #1bc5fc 0%, #049dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc5fc), color-stop(100%,#049dcf));
	background: -webkit-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: -o-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: -ms-linear-gradient(top,  #1bc5fc 0%,#049dcf 100%);
	background: linear-gradient(to bottom,  #1bc5fc 0%,#049dcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc5fc', endColorstr='#049dcf',GradientType=0 );
}

/* Notifications */
.alert {
	margin-top: 8px;
	margin-bottom: 4px;
	padding: 7px 10px 7px 35px;
}

.alert .close {
	top: 0px;
	right: 0px;
}

.notification {
	position: relative;
	margin: 0 0 10px;
	padding: 7px 10px 7px 35px;
	line-height: 15px;
	font-size: 0.9em;
}

.alert-error {
	background: url(/images/shared/exclamation.png) no-repeat scroll 8px 8px #ffeeee;
	border: 1px solid #e47b7b;
}

.alert-warn {
	background: url(/images/shared/error.png) no-repeat scroll 8px 8px #FFFDF1;
	border: 1px solid #FFE578;
}

.alert-success {
	background: url(/images/shared/tick.png) no-repeat scroll 8px 8px #f4fff2;
	border: 1px solid #81ca76;
}

.alert-info {
	background: url(/images/shared/information.png) no-repeat scroll 8px 8px #F4FAFF;
	border: 1px solid #AECEEF;
}

/* Container Windows */
div.application {
	width: auto;
	height: auto;
	border: 1px solid #c4c4c5;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

div.applicationTitle {
	width: auto;
	height: 16px;
	padding: .5em .7em .3em .7em;
	font-size: 0.9em;
	text-shadow: #fff 0 1px 2px;
	border-bottom: 1px solid #c4c4c5;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #fdfdff;
	background: -moz-linear-gradient(top, #fdfdff 0%, #e1e1e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#e1e1e3));
	background: -webkit-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -o-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: -ms-linear-gradient(top, #fdfdff 0%,#e1e1e3 100%);
	background: linear-gradient(to bottom, #fdfdff 0%,#e1e1e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#e1e1e3',GradientType=0 );
}

p.applicationContent {
	padding: .7em;
}

.banner {
	padding: 30px 0 30px 0;
}

/* icons */
button i{
	margin-right: 8px;
}

i.icon-remove {
	color: #f66
}

/* Top navigation */
div.hdrnav {
	overflow: visible;
	padding-left: 130px;
	width: 100%;
}


div.hdrnav ul {
	margin-left: 0px;
	margin-top: 15px;
}

div.hdrnav img {
	margin-right: 12px;
}

.hdrnav li {
  display: inline;
  padding: 0.5em;
  margin-right: 5px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.hdrnav a {
  font-family: Helvetica Arial sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #3f7ca4;
}

.hdrnav .submenu {
	position: relative;
	z-index: 99;
}

.hdrnav .submenu a {
	cursor: pointer;
}

.hdrnav .submenu > a:hover {
	text-decoration: none;
}

.hdrnav .submenu ul {
	position: absolute;
	padding-left: 0px;
	left: 0em;
	top: 1.1em;
	line-height: 1.2em;
}

.hdrnav .submenu ul li {
	display: block;
	border-radius: 0px;
}

ul.topNav > li {
	background: #777777;
	display: inline-block;
	margin-top: 2px;
	margin-right: 7px;
}

ul.topNav li:hover {
	background: #F08030;
}

ul.topNav li.here {
	background-image: url(http://languageforge.local/images/lf_header-bar-bkg.png);
}

ul.topNav a {
	color: #fff;
	display: block;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
}

div#logo-small {
	width: 27px;
	height: 36px;
	background: url(/images/languageforge/default/sf_logo_small.png) no-repeat;
}

/* Breadcrumbs */
.breadcrumb > li .divider {
	padding: 0 5px;
	xcolor: #ccc;
}

ul.topCrumbs {
	margin: 5px 0 0 0;
	font-weight:bold;
	color: gray;
	padding: 0 0;
	list-style: none;
	background-color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div.topCrumbs a {
	color: gray;
}

ul.topCrumbs .active {
	color: #202020;
}

/* jqte fixes and overrides */
.jqte_placeholder {
	display: block;	
}

.jqte {
	margin: 20px 0;
}

/* Question Page */
table#answers tbody tr:hover, table tbody tr.altrow:hover {
	background-color: #fff;
}

div#text {
	overflow: auto;
	min-height: 400px;
	max-height: 600px;
}

div#comments {
	width: 512px;
	min-height: 400px;
}

div#comments table {
	width: 100%;
}

div#comments table td {
	border: 0;
	padding: 0;
	vertical-align: top;
}

div.scripture-quote {
	background-color: #dddddd;
	padding: 5px;
	font-size: 90%;
}

div.vote {
	text-align: center;
	line-height: 1.0em;
	margin-right: 16px;
	margin-top: -8px;
}

div.vote a {
	display: block;
	font-size: 42px;
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

div.vote a.disabled {
	color: #eee;
}

div.vote span {
	font-size: 24px;
	font-weight: bold;
	color: #999;
}
/*
div.answer {
	vertical-align: top;
	margin: 12px 0 0 18px;
}
*/
div.answer div.by {
	background: #eee;
	margin: 8px 0 0 0;
	vertical-align: top;
	width: 260px;
}

div.answer div.by img {
	xdisplay: inline-block;
	border: 2px solid white;
	margin: 4px;
	vertical-align: top;
}

div.answer div.by div {
	display: inline-block;
	margin: 6px 0 4px 4px;
	vertical-align: middle;
	line-height: 1.2em;
	color: #666;
}

div#comments table.comments textarea {
	width: 95%;
}

div#comments table.comments td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* Settings */
div.picklists li {
	cursor: pointer;
	padding-left: 5px;
}
div.picklists li:hover {
	background-color: #EEE;
}
div.picklists li.selected {
	background-color: #DDD;
}

dl.picklists div {
	cursor: pointer;
}
dl.picklists div div div:hover {
	background-color: #EEE;
}
dl.picklists div.selected {
	background-color: #DDD;
}

dl#fields {
	margin-top: 5px;
	padding-left: 20px;
}

/* New Item under ribbon bar */
div.new-item form {
	margin: 20px 0 0 0;
}

.activity-date {
	font-size:12px;
}

.activity-icon {
	text-align:center;
}

.activity-content i.icon-quote-left {
	font-size: 12px;
	margin-left:5px;
	position:relative;
	top: -5px;
}

 .activity-content i.icon-quote-right {
	font-size: 12px;
	position:relative;
	margin-right: 5px;
	top: -5px;
}

.activity-content p {
	margin-top:10px;
}

.activity-content hr {
	margin: 5px 0 5px 0;
}

.activity-content .indented {
	margin-left:20px;
}

/* Table / Grid styles */
table select {
	margin-bottom: 0px;
}

li.typeahead-item {
	height:1.8em;
	min-width:170px;
}

.img-typeahead-item {
	width:32px;
}
