<div class="container" ng-app="dbe" ng-cloak ng-controller="dbeCtrl">
	<div class="row">
	    <div class="span6 offset4">
        <h2>Dictionary Browse and Edit</h2>
	    </div>
	</div>
	<div class="row" style="margin-top:20px">
        <div class="span4" ng-show="entries.length > 0">
            <div style="margin-bottom:10px">
                <input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText" />
                <span style="margin-left:10px" title="Clear Filter" ng-click="searchText = ''" ng-show="searchText && searchText != ''">
                    <i class="icon-remove" style="color:black; cursor: pointer"></i>
                </span>
            </div>
            <div id="entryList">
                <table class="table table-condensed ">
                    <tbody>
                        <tr ng-class="{selected: e.id == currentEntry.id}" class="animate-repeat" ng-repeat="e in entries | filter:searchText">
                            <td ng-click="editEntry(e.id)">{{e.title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="span8">
            <div class="row">
                <div class="span3">
                    <div ng-show="entryLoaded()" style="margin-bottom:20px; font-size:20px; font-weight:bold;">{{entryTitle()}}</div>
                </div>
                <div class="span2">
            	    <button class="btn" ng-click="newEntry()"><i class="icon-plus"></i>New Word</button>
                </div>
                <div class="span3">
            	    <button class="btn" ng-disabled="!canSave()" ng-show="entries.length > 0" ng-click="saveNow()"><i class="icon-save"></i>{{saveButtonTitle()}}</button>
                </div>
            </div>
            <div class="animate-show" ng-show="entryLoaded()" id="entryItemView">
                <dc-entry config="config" model="currentEntry"></dc-entry>
            </div>
        </div>

<!--
        <div class="span5">
            <pre>serverEntries
                {{serverEntries()|json}}</pre>
            <pre>dirtyEntries
                {{dirtyEntries()|json}}</pre>
            <pre>currentEntry
                {{currentEntry|json}}</pre>
            <pre>pristineEntry
                {{pristineEntry|json}}</pre>
                <pre>entries list
                    {{entries|json}}</pre>
        </div>
        -->
	</div>
	<div class="row" ng-show="entryLoaded()">
	    <div class="span3">
                <button ng-click="deleteEntry(currentEntry)" class="btn btn-small"><i class="icon-remove"></i>Delete Word</button>
	    </div>
	</div>
</div>
