<form [formGroup]="formControl" (ngSubmit)="onSubmit()">
  <label *ngIf="showOldPasswordField" for="oldPassword">Old password
    <input #oldPassword *ngIf="showOldPasswordField" type="password" formControlName="oldPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <label for="newPassword">New password
    <input #newPassword type="password" formControlName="newPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <label for="confirmNewPassword">Confirm new password
    <input #confirmNewPassword type="password" formControlName="confirmNewPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <button type="submit" [disabled]="!formControl.valid">Change password</button>
  <button type="reset" [disabled]="!(formControl.touched || formControl.dirty)">Reset</button>
  <button type="cancel" (click)="onCancel()">Cancel</button>
</form>
<div *ngIf="formControl.errors?.confirmMismatch && formControl.get('newPasswordControl')?.value && formControl.get('confirmNewPasswordControl')?.value">
  "New password" and "Confirm new password" inputs must match
</div>
