<div>
    <div class="text-xs-right pagination-upper-container">
        <ul class="pagination pagination-sm wl-pagination upper-controls">
            <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                <a (click)="decrementCurrentPage()" class="page-link page-button" tabindex="-1">Previous</a>
            </li>
            <li *ngIf="currentPage > 1" class="page-item">
                <a (click)="decrementCurrentPage()" class="page-link page-button">{{currentPage-1}}</a>
            </li>
            <li class="page-item">
                <a class="page-link">{{currentPage}}</a>
            </li>
            <li *ngIf="entries && currentPage * entriesPerPage <= entries.length" class="page-item">
                <a (click)="incrementCurrentPage()" class="page-link page-button">{{currentPage+1}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: entries && currentPage * entriesPerPage >= entries.length}">
                <a (click)="incrementCurrentPage()" class="page-link page-button">Next</a>
            </li>
        </ul>
    </div>
    <div class="card word-list-container">
        <div class="list-group-item rw-group-item word-block"
        *ngFor="let entry of getEntriesForPage()"
        (click)="selectEntry(entry)"
        [ngClass]="{'selected': entry == selectedEntry}">
            <div class="list-item-primary">{{getPreviewWord(entry)}}</div>
            <div class="list-item-secondary">{{getPreviewDefinition(entry)}}</div>
        </div>
    </div>
    <div class="text-xs-right">
        <ul class="pagination pagination-sm wl-pagination lower-controls">
            <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                <a (click)="decrementCurrentPage()" class="page-link page-button" tabindex="-1">Previous</a>
            </li>
            <li *ngIf="currentPage > 1" class="page-item">
                <a (click)="decrementCurrentPage()" class="page-link page-button">{{currentPage-1}}</a>
            </li>
            <li class="page-item">
                <a class="page-link">{{currentPage}}</a>
            </li>
            <li *ngIf="entries && currentPage * entriesPerPage <= entries.length" class="page-item">
                <a (click)="incrementCurrentPage()" class="page-link page-button">{{currentPage+1}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: entries && currentPage * entriesPerPage >= entries.length}">
                <a (click)="incrementCurrentPage()" class="page-link page-button">Next</a>
            </li>
        </ul>
    </div>
</div>