.word-list-container {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.word-block {
    border-bottom: 1px;
    border-style: solid;
    padding: .5rem .5rem .5rem .5rem;
}

.word-block p, .word-block h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rw-group-item {
    display: block;
}

.list-item-primary {
    z-index: 2;
    font-size: 1.0em;
    font-weight: bold;
    overflow: hidden;
}

.list-item-secondary {
    z-index: 2;
    font-size: 0.8em;
    overflow: hidden;
}