@import '../../../../Site/views/languageforge/theme/default/sass/_variables.scss';
@import '../../../../vendor_bower/bootstrap/scss/_variables';
@import '../../../../vendor_bower/bootstrap/scss/_mixins';
@import '../views/_editor.scss';
@import '../directive/_dc-audio';
@import '../directive/_dc-formattedtext';
@import '../directive/_dc-multioptionlist.scss';
@import '../directive/_dc-multiparagraph.scss';
@import '../directive/_dc-multitext.scss';
@import '../directive/_dc-picture.scss';
@import '../directive/_dc-rendered.scss';
@import '../directive/_dc-semanticdomain.scss';
@import '../../../bellows/directive/bootstrap4/palaso.ui.comments.dc-comment';

#lexAppListView {
  margin-top: 20px;
  .lexiconListItem {
    cursor: pointer;
    h5 {
      margin: 0;
    }
  }
  .lexiconListItem.active {
    cursor: default;
  }
  .no-entries .btn {
    margin: 0 20px 10px 0;
  }
  .no-entries .btn:last-child {
    margin-right: 0;
  }
}
#lexAppEditView {
  h5 {
    margin: 0;
  }
}
.lexAppToolbar {
  border: 1px solid $lf-lines;
  margin: 10px 0 20px;
  padding: 4px;
  width: 100%;
  float: left;
  background-color: #f6f6f6;
  border-radius: $border-radius;
}
.hdrnav .hdrnav-container {
  float: left;
  width: 100%;
  .btn-group {
    margin-left: 10px;
  }
}
form .wsid {
  width: 60px;
  max-width: 60px;
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .dc-rendered-word {
    display: block;
  }
  .hdrnav .return-button {
    float: left;
  }
  #lexAppCommentView .entryItemView, #lexAppCommentView .commentListView {
    max-height: none ;
    height: auto;
  }
}
