<div class="container" data-ng-cloak data-ng-controller="ConfigCtrl">
<br><h2 style="font-weight:normal">{{'Configuration' | translate}}</h2>
<form name="configForm" novalidate>
<fieldset data-ng-disabled="isSaving">
<button class="btn btn-primary {{interfaceConfig.pullToSide}}" data-ng-click="configurationApply()"
    data-ng-disabled="configForm.$pristine || isSaving">
    <i class="icon-ok"></i>{{'Apply' | translate}}</button>
<tabset>
    <tab heading="Input Systems" class="{{interfaceConfig.pullNormal}}">
        <div data-ng-include="'/angular-app/languageforge/lexicon/views/configuration-input-systems.html'"></div>
    </tab>
    <tab heading="Fields" class="{{interfaceConfig.pullNormal}}">
        <div data-ng-controller="FieldConfigCtrl">
        <div class="row outer-flex">

        <!-- Left column: field list -->
        <div class="span3 control-group">
            <!-- control buttons -->
            <div class="control-group">
                <button data-ng-click="showAllFields = ! showAllFields" class="btn btn-small">{{showAllFields ? 'Show Only Common Fields' : 'Show All Fields' | translate}}</button>
            </div>

            <!-- picklist -->
            <dl class="picklists" style="height: 300px; overflow: auto;">
                <dt data-translate="Entry Level Fields"></dt>
                <dd><div class="controls">
                    <div data-ng-repeat="fieldName in configDirty.entry.fieldOrder" 
                        data-ng-class="{selected:currentField.name == fieldName}" data-ng-click="selectField(fieldName)">
                        <span data-ng-hide="fieldIsHidden(fieldName)"
                            data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{fieldConfig[fieldName].label}}
                        </span>
                    </div>
                </div></dd>
                <dt data-translate="Meaning Level Fields"></dt>
                <dd><div class="controls">
                    <div data-ng-repeat="fieldName in configDirty.entry.fields.senses.fieldOrder" 
                        data-ng-class="{selected:currentField.name == fieldName}" data-ng-click="selectField(fieldName)">
                        <span data-ng-hide="fieldIsHidden(fieldName)"
                            data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{fieldConfig[fieldName].label}}
                        </span>
                    </div>
                </div></dd>
                <dt data-translate="Example Level Fields"></dt>
                <dd><div class="controls">
                    <div data-ng-repeat="fieldName in configDirty.entry.fields.senses.fields.examples.fieldOrder" 
                        data-ng-class="{selected:currentField.name == fieldName}" data-ng-click="selectField(fieldName)">
                        <span data-ng-hide="fieldIsHidden(fieldName)"
                            data-ng-style="{'font-style': isCustomField(fieldName) ? 'italic' : 'normal'}">
                            {{fieldConfig[fieldName].label}}
                        </span>
                    </div>
                </div></dd>
            </dl>
            <small data-translate="Custom Fields shown in <i>italics</i>"></small>
            <div class="control-group">
                <button class="btn btn-small" data-ng-click="openNewCustomFieldModal()"><i class="icon-plus"></i>{{'New Custom Field' | translate}} </button>
            </div>
        </div>

        <!-- Right column: field setup -->
        <div class="span9">
            <!-- control buttons -->
            <div class="control-group" style="height: 30px">
                <button class="btn" data-ng-click="removeSelectedCustomField()"
                    data-ng-show="showRemoveCustomField(currentField.name)">
                    <i class="icon-remove"></i>{{'Remove Custom Field' | translate}} </button>
            </div>

            <!-- settings -->
            <div class="well">
                <h3 id="fieldSetupLabel">{{fieldConfig[currentField.name].label}} {{'Field Setup' | translate}}</h3>
                <div class="control-group"
                    data-ng-show="isCustomField(currentField.name)">
                    <label class="control-label" for="displayName">{{'Display Name' | translate}}</label>
                    <div class="controls">
                        <input type="text" id="displayName" 
                            data-ng-model="fieldConfig[currentField.name].label"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox {{interfaceConfig.pullNormal}}">
                            <input type="checkbox" id="hideIfEmpty"
                                data-ng-model="fieldConfig[currentField.name].hideIfEmpty"/>
                            {{'Hidden if empty' | translate}}</label>
                    </div>
                    <br />
                </div>
                <div class="control-group"
                    data-ng-if="fieldConfigItemExists('width') && fieldConfig[currentField.name].type != 'pictures'">
                    <label class="control-label" for="width">{{'Width' | translate}}</label>
                    <div class="controls">
                        <input type="number" id="width" min="20" max="40"
                            data-ng-model="fieldConfig[currentField.name].width"/>
                    </div>
                </div>

                <div data-ng-if="fieldConfigItemExists('captionLabel')">
                    <hr />
                    <h3>{{fieldConfig[currentField.name].captionLabel}} {{'Field Setup' | translate}}</h3>
                </div>
                <div class="control-group"
                    data-ng-if="fieldConfigItemExists('captionHideIfEmpty')">
                    <div class="controls">
                        <label class="checkbox {{interfaceConfig.pullNormal}}">
                            <input type="checkbox" id="captionHideIfEmpty"
                                data-ng-model="fieldConfig[currentField.name].captionHideIfEmpty"/>
                            {{'Hidden if empty' | translate}}</label>
                    </div>
                    <br />
                </div>

                <div data-ng-if="fieldConfigItemExists('inputSystems')">
                    <hr />
                    <div class="row outer-flex control-group" data-ng-show="editInputSystems.collapsed">
                        <div class="span3 picklists">
                            <label class="control-label" for="inputSystem">{{'Input Systems' | translate}}</label>
                            <ul class="unstyled indent1"  id="inputSystem">
                                <li data-ng-click="currentField.inputSystems.tag = inputSystemTag"
                                    data-ng-repeat="inputSystemTag in currentField.inputSystems.fieldOrder"
                                    data-ng-class="{selected:currentField.inputSystems.tag == inputSystemTag}">
                                    <div class="checkbox"><!--suppress HtmlFormInputWithoutLabel -->
                                        <input data-ng-model="currentField.inputSystems.selecteds[inputSystemTag]" type="checkbox"/>
                                        {{configDirty.inputSystems[inputSystemTag].abbreviation}}</div>
                            </ul>
                            <a href="" data-ng-click="editInputSystems.collapsed = false">{{'Edit input systems' | translate}}</a>
                        </div>
                        <div class="span1 btn-group btn-group-vertical">
                            <button class="btn" id="upButton"
                                data-ng-click="moveUp(currentField.inputSystems.tag)"
                                data-ng-disabled="currentField.inputSystems.fieldOrder[0] == currentField.inputSystems.tag || !currentField.inputSystems.tag">
                                &nbsp;&nbsp;<i class="icon-arrow-up"></i></button>
                            <button class="btn" id="downButton" 
                                data-ng-click="moveDown(currentField.inputSystems.tag)" 
                                data-ng-disabled="currentField.inputSystems.fieldOrder[currentField.inputSystems.fieldOrder.length - 1] == currentField.inputSystems.tag || !currentField.inputSystems.tag">
                                &nbsp;&nbsp;<i class="icon-arrow-down"></i></button>
                        </div>
                    </div>
                    <div data-collapse="editInputSystems.collapsed">
                        <button class="btn btn-primary {{interfaceConfig.pullToSide}}" 
                            data-ng-click="editInputSystems.done()"><i class="icon-ok"></i>{{'Done' | translate}}</button>
                        <h3 style="font-weight:normal" data-translate="Edit Input Systems"></h3>
                        <div data-ng-include="'/angular-app/languageforge/lexicon/views/configuration-input-systems.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        </div>
<!-- 
<pre>
currentField {{currentField | json}}
configDirty.entry {{configDirty.entry | json}}
</pre>
 -->
        </div>
    </tab>
    <!-- hide Tasks tab
    <tab heading="Tasks" class="{{interfaceConfig.pullNormal}}">
        <div data-ng-controller="TaskConfigCtrl">
        <div class="row outer-flex">

        <!-- Left column: task list -->
        <!-- hide Tasks tab
        <div class="span3 control-group">
            <dl class="picklists">
                <dt data-translate="Dashboard"></dt>
                <dd><div class="controls">
                    <div data-ng-click="selectTask('dashboard')"
                        data-ng-class="{selected:currentTaskName == 'dashboard'}"
                        data-translate="Dashboard">
                    </div>
                </div></dd>
                <!--
                <dt data-translate="Dictionary"></dt>
                <dd><div class="controls">
                    <div data-ng-click="selectTask('dbe')"
                        data-ng-class="{selected:currentTaskName == 'dbe'}"
                        data-translate="Browse &amp; Edit">
                    </div>
                </div></dd>
                <dt data-translate="Add Information"></dt>
                <dd><div class="controls">
                    <div data-ng-click="selectTask('addMeanings')"
                        data-ng-class="{selected:currentTaskName == 'addMeanings'}"
                        data-translate="Add Meanings">
                    </div>
                    <div data-ng-click="selectTask('addGrammar')"
                        data-ng-class="{selected:currentTaskName == 'addGrammar'}"
                        data-translate="Add Parts of Speech">
                    </div>
                    <div data-ng-click="selectTask('addExamples')"
                        data-ng-class="{selected:currentTaskName == 'addExamples'}"
                        data-translate="Add Example Sentences">
                    </div>
                </div></dd>
                 -->
                <!-- hide Tasks tab
                <dt data-translate="Gather Words"></dt>
                <dd><div class="controls">
                    <!-- 
                    <div data-ng-click="selectTask('gatherTexts')" 
                        data-ng-class="{selected:currentTaskName == 'gatherTexts'}" 
                        data-translate="From Texts">
                    </div>
                    <div data-ng-click="selectTask('wordlist')" 
                        data-ng-class="{selected:currentTaskName == 'wordlist'}" 
                        data-translate="From a Word List">
                    </div>
                     -->
                    <!-- hide Tasks tab
                    <div data-ng-click="selectTask('semdom')"
                        data-ng-class="{selected:currentTaskName == 'semdom'}" 
                        data-translate="From Semantic Domains">
                    </div>
                </div></dd>
                <!-- 
                <dt data-translate="Review"></dt>
                <dd><div class="controls">
                    <div data-ng-click="selectTask('review')" 
                        data-ng-class="{selected:currentTaskName == 'review'}" 
                        data-translate="Review">
                    </div>
                </div></dd>
                <dt data-translate="Settings"></dt>
                <dd><div class="controls">
                    <div data-ng-click="selectTask('importExport')" 
                        data-ng-class="{selected:currentTaskName == 'importExport'}" 
                        data-translate="Import/Export">
                    </div>
                    <div data-ng-click="selectTask('configuration')" 
                        data-ng-class="{selected:currentTaskName == 'configuration'}" 
                        data-translate="Configuration">
                    </div>
                </div></dd>
                 -->
                <!-- hide Tasks tab
            </dl>
        </div>

        <!-- Right column: task setup -->
        <!-- hide Tasks tab
        <div class="span9">
            <div class="well" data-ng-show="currentTaskName == 'dashboard'">
                <h3 data-translate="Dashboard"></h3>
                <div class="control-group">
                    <label class="control-label" for="timeRange" data-translate="Activity time range"></label>
                    <div class="controls">
                        <select class="form-control" id="timeRange" 
                            data-ng-model="configDirty.tasks['dashboard'].timeRange" 
                            data-ng-options="selects.timeRange.options[key] for key in selects.timeRange.optionsOrder">
                            <option value="">-- {{'choose a time range' | data-translate}} --</option></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="wordCount" data-translate="Target word count"></label>
                    <div class="controls">
                        <input type="number" min="0" id="wordCount" 
                            data-ng-model="configDirty.tasks['dashboard'].targetWordCount">
                    </div>
                </div>
            </div>
            <div class="well" data-ng-show="currentTaskName == 'semdom'">
                <h3 data-translate="Gather Words from Semantic Domains"></h3>
                <div class="control-group">
                    <label class="control-label" for="language" data-translate="Language"></label>
                    <div class="controls">
                        <select class="form-control" id="language" 
                            data-ng-model="configDirty.tasks['semdom'].language" 
                            data-ng-options="key as option for (key, option) in selects.language.options">
                            <option value="">-- {{'choose a language' | data-translate}} --</option></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="fields" data-translate="Fields to gather along with the Word"></label>
                    <dl class="indent1" id="fields">
                        <dt data-translate="Meaning"></dt>
                        <dd><div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="configDirty.tasks['semdom'].visibleFields.definition">
                                 {{'Definition' | data-translate}}</label>
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="configDirty.tasks['semdom'].visibleFields.partOfSpeech">
                                 {{'Part Of Speech' | data-translate}}</label>
                        </div></dd>
                        <dt data-translate="Examples"></dt>
                        <dd><div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="configDirty.tasks['semdom'].visibleFields.sentence">
                                 {{'Example Sentence' | data-translate}}</label>
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="configDirty.tasks['semdom'].visibleFields.translation">
                                 {{'Example Translation' | data-translate}}</label>
                        </div></dd>
                    </dl>
                </div>
            </div>
        </div>
        
        </div>
<!-- 
<pre>
configDirty.tasks['{{currentTaskName}}'] = {{configDirty.tasks[currentTaskName] | json}}
</pre>
 -->
        <!-- hide Tasks tab
        </div>
    </tab>
    hide Tasks tab -->
    <tab heading="Option Lists" class="{{interfaceConfig.pullNormal}}">
        <div data-ng-controller="OptionListCtrl">
        <div class="row outer-flex">

        <!-- Left column: task list -->
        <div class="span3 control-group">
            <dl class="picklists">
                <dt data-translate="Select a list" id="editListValuesFieldset"></dt>
                <dd>
                    <div data-ng-repeat="optionList in optionlistDirty" 
                        data-ng-class="{selected:currentListIndex == $index}" data-ng-click="selectList($index)">
                        {{optionList.name}}
                    </div>
                </dd>
                <!-- future lists go here -->
            </dl>
        </div>

        <!-- Right column: task setup -->
        <div class="span9">
            <div class="well" id="picklistEditorFieldset">
                <h3 class="control-label">{{optionlistDirty[currentListIndex].name}}</h3>
                <div class="controls">
                    <picklist-editor items="optionlistDirty[currentListIndex].items" 
                        pristine-items="optionlistPristine[currentListIndex].items"></picklist-editor>
                </div>
            </div>

        </div>

        </div>
        </div>
    </tab>
</tabset>
</fieldset>
</form>
</div>
