<div>
<div class="row-fluid outer-flex">
    <!-- Left column: input system list -->
    <div class="span3">
        <!-- control buttons -->
        <div class="control-group">
            <button class="btn btn-success" data-ng-click="openNewLanguageModal(suggestedLanguageCodes)"><i class="icon-plus"></i>{{'New' | translate}} </button>
        </div>

        <!-- picklist -->
        <dl class="picklists" style="height: 300px; overflow: auto;">
            <dt translate="Language Names"></dt>
            <dd><div class="controls">
                <div data-ng-click="selectInputSystem(inputSystem.uuid)" data-ng-repeat="inputSystem in inputSystemsList |orderBy: 'inputSystem.languageName'"
                    data-ng-class="{selected:selectedInputSystemId == inputSystem.uuid}" >
                    <span data-ng-style="{'font-style': (isUnlistedLanguage(inputSystem.language) ? 'italic' : 'normal')}; ">{{inputSystem.languageDisplayName()}}</span>
                </div>
                </div>
            </dd>
        </dl>
        <small translate="Unlisted language names shown in <i>italics</i> can be renamed"></small>
    </div>

    <!-- Right column: input system setup -->
    <div class="span9">
        <!-- control buttons -->
        <div class="control-group">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight:normal"> 
                    {{'More' | translate}}&nbsp;&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-ng-class="{disabled: newExists(selects.special.optionsOrder[1])}">
                        <a tabindex="-1" data-ng-click="addInputSystem(inputSystemViewModels[selectedInputSystemId].language, inputSystemViewModels[selectedInputSystemId].inputSystem.languageName, selects.special.optionsOrder[1])">
                        <i class="icon-plus"></i> {{'Add IPA for' | translate}} {{inputSystemViewModels[selectedInputSystemId].inputSystem.languageName}}</a></li>
                    <li data-ng-class="{disabled: newExists(selects.special.optionsOrder[2])}">
                        <a tabindex="-1" data-ng-click="addInputSystem(inputSystemViewModels[selectedInputSystemId].language, inputSystemViewModels[selectedInputSystemId].inputSystem.languageName, selects.special.optionsOrder[2])">
                        <i class="icon-plus"></i> {{'Add Voice for' | translate}} {{inputSystemViewModels[selectedInputSystemId].inputSystem.languageName}}</a></li>
                    <li>
                        <a tabindex="-1" data-ng-click="addInputSystem(inputSystemViewModels[selectedInputSystemId].language, inputSystemViewModels[selectedInputSystemId].inputSystem.languageName, selects.special.optionsOrder[3])">
                        <i class="icon-plus"></i> {{'Add a variant of' | translate}} {{inputSystemViewModels[selectedInputSystemId].inputSystem.languageName}}</a></li>
                    <li class="divider" data-ng-show="! isInputSystemInUse()"></li>
                    <li data-ng-show="! isInputSystemInUse()">
                        <a tabindex="-1" data-ng-click="removeInputSystem(selectedInputSystemId)">
                        <i class="icon-remove"></i> {{'Remove' | translate}} {{inputSystemViewModels[selectedInputSystemId].languageDisplayName()}}</a></li>
                </ul>
            </div>
        </div>

        <!-- settings -->
        <div class="well" data-ng-show="inputSystemViewModels[selectedInputSystemId]">
            <div class="{{interfaceConfig.pullToSide}}">
                <br />
                <label class="control-label">{{inputSystemViewModels[selectedInputSystemId].inputSystem.tag}}</label>
            </div>
            <!-- listed language name -->
            <h3 data-ng-show="!isUnlistedLanguage(inputSystemViewModels[selectedInputSystemId].language)" id="languageDisplayName">
                {{inputSystemViewModels[selectedInputSystemId].languageDisplayName()}}</h3>
            <!-- unlisted language name -->
            <input type="text" id="languageName" style="font-size: 1.35em; color: black; font-weight: 700; border: 0px; height: 32px; width: 365px"
                data-ng-model="inputSystemViewModels[selectedInputSystemId].inputSystem.languageName"
                data-ng-show="isUnlistedLanguage(inputSystemViewModels[selectedInputSystemId].language)">
            <div class="control-group">
                <label class="control-label" for="abbrev" translate="Display Abbreviation (limited to 4 lowercase characters)"></label>
                <div class="controls">
                    <input type="text" id="abbrev" model-transform-limit="4" data-ng-model="inputSystemViewModels[selectedInputSystemId].inputSystem.abbreviation">
                </div>
                <label class="checkbox {{interfaceConfig.pullNormal}}">
                    <input type="checkbox" data-ng-model="inputSystemViewModels[selectedInputSystemId].inputSystem.isRightToLeft"/>
                    {{'Right to left language' | translate}} </label>
            </div>
            <br />
            <p class="text-warning" data-ng-show="isInputSystemInUse()">
                <small translate="Some settings are disabled because the Input System may already be in use."></small>
            </p>
            <div class="control-group">
                <label class="control-label" for="special" translate="Special"></label>
                <div class="controls">
                    <select class="form-control" id="special" 
                        data-ng-model="inputSystemViewModels[selectedInputSystemId].special"
                        data-ng-disabled="isInputSystemInUse()"
                        data-ng-options="selects.special.options[key] for key in selects.special.optionsOrder"></select>
                </div>
            </div>

            <div class="offset1">
            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[1]">    <!-- IPA transcription -->
                <label class="control-label" for="purpose" translate="Purpose"></label>
                <div class="controls">
                    <select class="form-control" id="purpose" 
                        data-ng-model="inputSystemViewModels[selectedInputSystemId].purpose"
                        data-ng-disabled="isInputSystemInUse()"
                        data-ng-options="selects.purpose.options[key] for key in selects.purpose.optionsOrder">
                        <option value="">unspecified</option></select>
                </div>
                <label class="control-label" for="ipaVariant" translate="Variant (limited to letters or numbers, no spaces)"></label>
                <div class="controls">
                    <input type="text" id="ipaVariant" size="25"
                           model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="inputSystemViewModels[selectedInputSystemId].variantString"
                           data-ng-disabled="isInputSystemInUse()">
                </div>
            </div>
            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[2]">    <!-- Voice -->
                <label class="control-label" for="voiceVariant" translate="Variant (limited to letters or numbers, no spaces)"></label>
                <div class="controls">
                    <input type="text" id="voiceVariant" size="25"
                           model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                           data-ng-model="inputSystemViewModels[selectedInputSystemId].variantString"
                           data-ng-disabled="isInputSystemInUse()">
                </div>
            </div>
            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[3]">    <!-- Script / Region / Variant -->
                <label class="control-label" for="script" translate="Script"></label>
                <div class="controls">
                    <select class="form-control" id="script" 
                        data-ng-model="inputSystemViewModels[selectedInputSystemId].script"
                        data-ng-disabled="isInputSystemInUse()"
                        data-ng-options="key as option.join(', ') for (key, option) in selects.script.options">
                        <option value="">-- select a script --</option></select>
                </div>
                <label class="control-label" for="region" translate="Region"></label>
                <div class="controls">
                    <select class="form-control" id="region" 
                        data-ng-model="inputSystemViewModels[selectedInputSystemId].region"
                        data-ng-disabled="isInputSystemInUse()"
                        data-ng-options="key as option for (key, option) in selects.region.options">
                        <option value="">-- select a region --</option></select>
                </div>
                <label class="control-label" for="variant" translate="Variant (limited to letters or numbers, no spaces)"></label>
                <div class="controls">
                    <input type="text" id="variant" size="25"
                        model-transform-limit="35" model-transform-no-space data-ng-trim="false"
                        data-ng-model="inputSystemViewModels[selectedInputSystemId].variantString"
                        data-ng-disabled="isInputSystemInUse()">
                </div>
            </div>
            </div>

            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[1]">    <!-- IPA transcription -->
                <a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
                    <i class="icon-globe"></i> {{'Read more about IPA transcriptions' | translate}}</a>
            </div>
            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[2]">    <!-- Voice -->
                <small translate="In applications which support this option, fields with this input system will able to play and record voice."></small>
            </div>
            <div class="control-group" data-ng-show="inputSystemViewModels[selectedInputSystemId].special == selects.special.optionsOrder[3]">    <!-- Script / Region / Variant -->
                <a href="http://www.w3.org/International/questions/qa-choosing-language-tags" target="_blank">
                    <i class="icon-globe"></i> {{'Read more about language identifiers' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<!-- 
<pre data-ng-show="false">
inputSystemViewModels['{{selectedInputSystemId}}'] {{inputSystemViewModels[selectedInputSystemId] | json}}
</pre>
 -->
</div>
