fieldset.comment-filter {
    margin: 20px;
    border: 2px groove threedface;
}

legend.override-bootstrap {
    width: auto;
    margin: inherit;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: inherit;
    padding-bottom: inherit;
    border: 0;
    font-size: inherit;
    line-height: inherit;
}

.override-bootstrap.filter-controls {
    margin-bottom: 5px;
}

.filter-controls-inner {
    margin: 0 5px 5px 5px;
}

.filter-controls-inner.collapse.in {
    /* When div is not collapsed, and ONLY when it is not collapsed, override "overflow: hidden".
    This is required so that the date picker popup can be shown. */
    overflow: inherit;
}

/*animate*/
.animate-switch-container {
    position:relative;
    height: 665px;
    overflow: hidden;
}

.animate-switch {
    padding:10px;
}

.animate-switch.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.040) 0.5s;
    transition: all ease-in 0.5s;
    position:relative;
    display: block;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    /*animation: moveToLeft .5s ease-in;*/
    right:721px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    /*animation: moveToRight .5s ease-in;*/
    right:0;
}

/* This is TODO for getting the scroll bars to line up in the animation
.animate-switch.moveToLeft {
    -webkit-animation: moveToLeft .5s ease both;
    animation: moveToLeft .5s ease both;
}

.animate-switch.moveToRight {
    -webkit-animation: moveToRight .5s ease both;
    animation: moveToRight .5s ease both;
}

******************** keyframes ***************************************

@-webkit-keyframes moveToLeft {
    from { margin-right: 100%; width: 100%; }
    to { margin-right: 22%; width:22%; }
}
@keyframes moveToLeft {
    from { margin-right: 100%; width: 100%; }
    to { margin-right: 22%; width:22%; }
}

@-webkit-keyframes moveToRight {
    from { margin-right: 22%; width: 22%; }
    to { margin-right: 100%; width:100%; }
}
@keyframes moveToRight {
    from { margin-right: 22%; width: 22%; }
    to { margin-right: 100%; width:100%; }
}

@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}



/*********************************************************/

.override-bootstrap input[type="checkbox"] {
    text-align: center;
    margin-top: 0;
    margin-right: 4px;
}

.datepicker input {
    text-align: center;
    margin-bottom: 0;
}

.datepicker label {
    display: inline;
}

.text-center {
    /* Date picker uses this class for its week numbers */
    text-align: center;
}

.datepicker table th, .datepicker table td {
    /* Override lf.css */
    padding: 1px;
}

.datepicker table th button.pull-left, .datepicker table th button.pull-right {
    padding: 2px 13px;
}

.datepicker button i {
    /* Override ls.css */
    margin-right: 0;
}

.datepicker table tbody tr:hover, .datepicker table tbody tr.altrow:hover {
    /* Override lf.css */
    background-color: inherit;
}

.datepicker th button, .datepicker td button {
    /* Override bootstrap.css */
    background: #fff;
}

.datepicker th button.btn-info, .datepicker td button.btn-info {
    /* Un-override bootstrap.css for btn-info */
    background-color: #49afcd;
}

.filter-controls button i {
    /* Override lf.css */
    margin-right: 0;
}

.filter-controls .horiz-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* Or try space-between */
    margin-bottom: 10px;
}

.filter-controls .horiz-controls.flex-center {
    justify-content: center; /* Or try space-between */
}

.filter-controls .horiz-controls .horiz-flex-element {
    margin: 0 10px;
}

.filter-controls .horiz-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* Or try space-between */
}

.filter-controls .horiz-controls .self-flex-end {
    align-self: flex-end;
}

.filter-controls .top-right-corner {
    position: absolute;
    top: 0; /* Might need to increase this once the "For the demo, these do NOT work" text goes away */
    right: 10px;
}

#entryList {
    /* Override palaso-ui.css */
/*    height: auto !important;*/
    height: 550px;
    margin-bottom: 20px;
}

#entryList .table  {
    margin-bottom: 0;
}

.outer-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}









#lexAppContainer {
}

.lexiconHeaderContainer {
    width: 100%;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
}

.lexiconHeaderItem {
}

.flexColumnContainer {
}

#lexAppListView .lexiconItemListContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.lexiconListItem {
    width: 99%;
    position:relative;
    overflow-y: hidden;
    padding: 2px 2px 2px 10px;
    min-height: 50px;
    height: 50px;
    border-bottom: solid 1px #d3d3d3;
    display:flex;
}

.lexiconListItem:hover, .lexiconListItemCompact:hover {
    background-color: #EDFFE8;
    cursor:pointer;
}

#lexAppListView .typeahead input, #lexAppListView .typeahead-item {
    width:300px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    padding-right: 20px;
}

#lexAppEditView {
    display:flex;
    flex-direction: row;
    width:100%;
}

#lexAppCommentView {
    display:flex;
    width:100%;
}

.uneditable-input {
    width: 150px;
    cursor: auto;
    color: inherit;
    background-color: white;
}


#lexAppEditView .lexiconItemListContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

#lexAppEditView .typeahead input, #lexAppEditView .typeahead-item {
    width:162px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    padding-right: 25px;
}

.listItemPrimary {
    z-index:2;
    padding-right: 3px;
    font-size: 1.0em;
    font-weight:bold;
    overflow: hidden;
    height: 25px;
    line-height: 2.0em;
    margin: 0 0 2px 2px;
}

.listItemSecondary {
    z-index:2;
    font-size: 0.8em;
    color: #666666;
    overflow: hidden;
    height: 15px;
    line-height: 1.7em;
    margin: -9px 0 2px 2px !important;
}
.lexiconListItemCompact {
    position:relative;
    overflow-y: hidden;
    min-height: 40px;
    height: 40px;
    border-bottom: solid 1px darkgrey;
    width: 100%;
}

.lexiconItemListContainer .selected {
    background-color: #e4e5ff;
}

.lexiconItemListContainer .listItemHasComment {
    border-right: solid 5px #faa732;
}


.entryItemView {
/*  TODO: review this in light of animation and the footer staying at the bottom. IJH 2014-09
    The view is used in edit and comment view */

    overflow-y: auto;
    overflow-x: hidden;
    min-height: 580px;
    padding-right:5px;
    margin-right: 5px;
}

.entryItemView i.icon-remove {
    cursor: pointer;
    color:#CCC;
}

.flex100 {
    display:flex;
    width:100%;
}

#lexAppCommentView .entryItemView {
    height: 580px;
}

#lexAppCommentView .commentCount {
    color: #faa732;
    font-weight: bold;
    padding: 5px;
    width: 120px;
    text-align: right;
}

#lexAppCommentView form.dc-multitext .uneditable-input {
    height: 20px;
    overflow: hidden;
}

#lexAppCommentView form.dc-multitext .uneditable-input:hover {
    cursor: pointer;
}

#lexAppCommentView .dc-multioptionlist-value,
.commentRegarding .dc-multioptionlist-value {
    background-color: inherit;
    width: inherit;
}

#lexAppCommentView .commentListView img,
.commentRegarding img {
    width: 50px;
}

form.submitted .ng-invalid {
  border:1px solid #f00;
}

