<div class="container" ng-cloak ng-controller="editCtrl">
    <div class="row">
        <div class="span6 offset4">
        <h2>Dictionary Browse and Edit</h2>
        </div>
    </div>
    <div class="row outer-flex" style="margin-top:20px">
        <div class="span4" ng-show="entries.length > 0">
            <div style="margin-bottom:10px">
                <input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText" />
                <span style="margin-left:10px" title="Clear Filter" ng-click="searchText = ''" ng-show="searchText && searchText != ''">
                    <i class="icon-remove" style="color:black; cursor: pointer"></i>
                </span>
            </div>
            <!-- <div id="entryList" data-pui-when-scrolled="loadMore()"> -->
            <div id="entryList" data-pui-when-scrolled="loadMore()">
                <table class="table table-condensed ">
                    <tbody>
                        <tr ng-class="{selected: e.id == currentEntry.id}" class="animate-repeat" ng-repeat="e in entries track by e.id">
                            <td ng-click="editEntry(e.id)">{{getTitle(e) | characters:40}}</td>
                            <td ng-click="editEntry(e.id)">{{getMeaning(e) | characters:40}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="entryLoaded()">
                <button ng-click="deleteEntry(currentEntry)" class="btn btn-small"><i class="icon-remove"></i>Delete Word</button>
            </div>
        </div>

        <div class="span8">
            <div class="row">
                <div class="span2">
                </div>
                <div class="span2">
                    <button class="btn" ng-click="newEntry()"><i class="icon-plus"></i>New Word</button>
                </div>
                <div class="span3">
                    <button class="btn" ng-disabled="!currentEntryIsDirty()" ng-show="entryLoaded()" ng-click="saveCurrentEntry()"><i class="icon-save"></i>{{saveButtonTitle()}}</button>
                </div>
            </div>
            <div ng-show="entryLoaded()" class="row">
                <div class="span8">
                    <tabset>
                        <tab heading="Edit">
                        <div class="row">
                            <div class="span3">
                                <div ng-show="entryLoaded()" style="margin-bottom:20px; font-size:20px; font-weight:bold;">{{getTitle()}}</div>
                            </div>
                        </div>
                        <div class="animate-show" ng-show="entryLoaded()" id="entryItemView">
                            <p class="text-error" ng-show="lexemeFormRequired">At least one lexeme form is required</p>
                            <dc-entry config="config" model="currentEntry" comment="submitComment(comment)"></dc-entry>
                        </div>
                        </tab>
                        <tab heading="Comment" active="commentsTabActive" select="selectCommentsTab()" deselect="deselectCommentsTab()" disabled="currentEntry.id == ''">
                            <dc-rendered config="config" model="currentEntry" hide-if-empty="true"></dc-rendered>
                    <fieldset class="filter-controls override-bootstrap">
                        <legend class="override-bootstrap">Filters <i ng-click="toggleFilters()" style="cursor: pointer" ng-class="filter.chevronIcon"></i></legend>
                        <div class="filter-controls-inner" collapse="!filter.visible">
                            <p><b>IMPORTANT:</b> For the demo, these controls do NOT work.</p>
                            <div class="horiz-controls flex-center">
                                <div class="datepicker horiz-flex-element"><input type="checkbox" ng-model="useCreatedAfter"></input>Created after: <input type="text" size="8" datepicker-popup ng-model="createdAfter"></div>
                                <div class="datepicker horiz-flex-element"><input type="checkbox" ng-model="useCreatedBefore"></input>Created before: <input type="text" size="8" datepicker-popup ng-model="createdBefore"></div>
                            </div>
                            <div class="created-by">Created by: <select><option>Everyone</option></select></div>
                            <div class="status horiz-controls">Status: <div class="horiz-flex-element" ng-repeat="status in filter.validStatuses"><input ng-model="filter.searchFor[status]" type="checkbox">{{status}}</input> </div></div>
                            <div class="containing-text">Containing text: <input type="text" size="50"></input></div>
                            <div class="languages-to-show horiz-controls">Languages to show: <div class="horiz-flex-element" ng-repeat="lang in getInputSystems()"><input ng-model="filter.showLangs[lang.abbreviation]" type="checkbox">{{lang.languageName}} ({{lang.abbreviation}})</input> </div></div>
                            <button ng-click="applyFilters()" class="btn-info top-right-corner"><i class="icon-search"></i></button>
                        </div>
                    </fieldset>
        <!--                     <dc-comments config="config" model="currentEntry"></dc-comments> -->
                            <dc-entry config="config" model="currentEntry"></dc-entry>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

<!--
        <div class="span5">
            <pre>currentEntry
                {{currentEntry|json}}</pre>
            <pre>pristineEntry
                {{pristineEntry|json}}</pre>
                <pre>entries list
                    {{entries|json}}</pre>
        </div>
        -->
    </div>
</div>
