<div class="container" data-ng-cloak data-ng-controller="ImportExportCtrl">
<h2 style="font-weight:normal">Import/Export</h2>
<tabset>
	<tab heading="LIFT Import">
		<div class="well" data-ng-controller="LiftImportCtrl">
			<label>Import a LIFT File</label>
			<div class="drop-box" data-ng-file-drop="onFileSelect($files);" data-ng-file-drop-available="dropSupported=true" data-ng-show="dropSupported">
				<h4>Drop a LIFT file here</h4>
				<br/>
				<p>or if you prefer...</p>
			    <input type="button" class="btn" value="Browse..." onclick="javascript:document.getElementById('liftFile').click();">
			    <input id="liftFile" type="file" style="display:none;" data-ng-file-select="onFileSelect($files)">
			</div>
			<div data-ng-show="!dropSupported"> <!-- HTML5 Drop File is not supported on this browser -->
				<input type="button" class="btn" value="Browse..." onclick="javascript:document.getElementById('liftFile').click();">
			    <input id="liftFile" type="file" style="display:none;" data-ng-file-select="onFileSelect($files)">
			</div>
			<br />
			<form data-ng-show="file != null">
				<p><strong>{{file.name}}</strong>&nbsp;&nbsp;&nbsp;{{file.size | bytes }}</p>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" data-ng-model="mergeWithExisting"/>Merge with existing</label>
					</div>
					<div class="controls indent1" data-ng-show="mergeWithExisting">
						<label class="checkbox">
							<input type="checkbox" data-ng-model="allowDuplicates"/>Allow duplicates</label>
					</div>
				</div>
				<button class="btn btn-primary" data-ng-click="importLift()"><i class="icon-upload"></i>Import</button>
			</form>
		</div>
<pre data-ng-show="true">
file {{file | json}}
</pre>
	</tab>
	<tab heading="LIFT Export">
		<div data-ng-controller="LiftExportCtrl">
		<div class="row">
		
		<!-- Left column: task list -->
		<div class="span3 control-group">
		</div>
		
		<!-- Right column: task setup -->
		<div class="span9">
			<div class="well">
			</div>
		</div>
		
		</div>
<pre data-ng-show="false">
</pre>
		</div>
	</tab>
	<tab heading="Configuration Import">
	</tab>
</tabset>
</div>
