<form>
	<!-- control buttons -->
	<div class="control-group">
		<button class="btn btn-success" data-ng-click="newUserCollapsed = !newUserCollapsed"><i class="icon-plus"></i>New</button>
		<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight:normal">
				More <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add IPA for {{config.inputSystems[currentInputSystem.code]}}</a></li>
				<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add Voice for {{config.inputSystems[currentInputSystem.code]}}</a></li>
				<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add a variant of {{config.inputSystems[currentInputSystem.code]}}</a></li>
				<li class="divider"></li>
				<li><a tabindex="-1" href="#"><i class="icon-remove"></i> Remove {{config.inputSystems[currentInputSystem.code]}}</a></li>
			</ul>
		</div>
	</div>
	
	<div class="row-fluid">
		<!-- Left column: input system list -->
		<div class="span3 control-group picklists">
			<ul class="unstyled">
				<li data-ng-click="selectInputSystem(inputSystemTag)" data-ng-repeat="(inputSystemTag, inputSystem) in lists.inputSystems" data-ng-class="{selected:currentInputSystemTag == inputSystemTag}">{{inputSystem.name}}</li>
			</ul>
			
			<br />
			<pre>{{lists|json}}</pre>
		</div>
		
		<!-- Right column: input system setup -->
		<div class="span9 well">
			<span class="pull-right">{{currentInputSystemTag}}</span>
			<h3>{{currentInputSystem.name}}</h3>
			<div class="control-group">
				<label class="control-label" for="abbrev">Abbreviation</label>
				<div class="controls">
					<input type="text" id="abbrev" data-ng-model="currentInputSystem.abbreviation">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="special">Special</label>
				<div class="controls">
					<select class="form-control" id="special" data-ng-model="currentInputSystem.special" data-ng-options="option for option in selects.special.options"></select>
				</div>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == 'IPA transcription'">
				<label class="control-label offset1" for="purpose">Purpose</label>
				<div class="controls offset1">
					<select class="form-control" id="purpose" data-ng-model="currentInputSystem.purpose">
						<option>unspecified</option>
						<option>Etic (raw phonetic transcription)</option>
						<option>Emic (uses the phonology of the language)</option>
					</select>
				</div>
				<a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
					<i class="icon-globe"></i> Read more about IPA transcriptions
				</a>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == 'Voice'">
				<p>In applications which support this option, fields with this input system will able to play and record voice.</p>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == 'Script / Region / Variant'">
				<label class="control-label offset1" for="script">Script</label>
				<div class="controls offset1">
					<select class="form-control" id="script" data-ng-model="currentInputSystem.script">
						<option>get script list</option>
					</select>
				</div>
				<label class="control-label offset1" for="region">Region</label>
				<div class="controls offset1">
					<select class="form-control" id="region" data-ng-model="currentInputSystem.region">
						<option>get region list</option>
					</select>
				</div>
				<label class="control-label offset1" for="variant">Variant</label>
				<div class="controls offset1">
					<input type="text" id="variant" data-ng-model="currentInputSystem.variant">
				</div>
				<a href="http://www.w3.org/International/questions/qa-choosing-language-tags" target="_blank">
					<i class="icon-globe"></i> 	Read more about language identifiers
				</a>
			</div>
		</div>
	</div>
</form>
	