<div>
<div class="row-fluid">
	<!-- Left column: input system list -->
	<div class="span3">
		<!-- control buttons -->
		<div class="control-group pagination-centered">
			<button class="btn btn-success" data-ng-click="newUserCollapsed = !newUserCollapsed"><i class="icon-plus"></i>New Language</button>
		</div>
		<div class="control-group picklists">
			<ul class="unstyled">
				<li data-ng-click="selectInputSystem(inputSystemTag)" data-ng-repeat="(inputSystemTag, inputSystem) in lists.inputSystems" data-ng-class="{selected:currentInputSystemTag == inputSystemTag}">{{inputSystem.name}}</li>
			</ul>
		</div>
	</div>
		
	<!-- Right column: input system setup -->
	<div class="span9">
		<!-- control buttons -->
		<div class="control-group">
			<div class="btn-group">
				<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight:normal">
					More <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add IPA for {{lists.inputSystems[currentInputSystem.code].name}}</a></li>
					<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add Voice for {{lists.inputSystems[currentInputSystem.code].name}}</a></li>
					<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add a variant of {{lists.inputSystems[currentInputSystem.code].name}}</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" data-ng-click="removeInputSystem(currentInputSystemTag)" data-ng-disabled="currentInputSystem.fieldUseCount"><i class="icon-remove"></i> Remove {{currentInputSystem.name}}</a></li>
				</ul>
			</div>
		</div>
		<div class="well">
			<div class="pull-right">
				<br />
				<label class="control-label">{{currentInputSystemTag}}</label>
			</div>
			<h3>{{currentInputSystem.name}}</h3>
			<p>{{currentInputSystem.fieldUseCount}} entry field{{(currentInputSystem.fieldUseCount == 1) ? ' is' : 's are'}} using this system</p>
			<div class="control-group">
				<label class="control-label" for="abbrev">Abbreviation</label>
				<div class="controls">
					<input type="text" id="abbrev" data-ng-model="currentInputSystem.abbreviation">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="special">Special</label>
				<div class="controls">
					<select class="form-control" id="special" data-ng-model="currentInputSystem.special" data-ng-disabled="currentInputSystem.fieldUseCount" data-ng-options="selects.special.options[key] for key in selects.special.optionsOrder"></select>
				</div>
			</div>
			
			<div class="offset1">
			<div class="control-group" data-ng-show="currentInputSystem.special == selects.special.optionsOrder[1]">	<!-- IPA transcription -->
				<label class="control-label" for="purpose">Purpose</label>
				<div class="controls">
					<select class="form-control" id="purpose" data-ng-model="currentInputSystem.purpose" data-ng-disabled="currentInputSystem.fieldUseCount" data-ng-options="selects.purpose.options[key] for key in selects.purpose.optionsOrder">
						<option value="">unspecified</option>
					</select>
				</div>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == selects.special.optionsOrder[3]">		<!-- Script / Region / Variant -->
				<label class="control-label" for="script">Script</label>
				<div class="controls">
					<select class="form-control" id="script" data-ng-model="currentInputSystem.script" data-ng-disabled="currentInputSystem.fieldUseCount" data-ng-options="key as option for (key, option) in selects.script.options">
						<option value="">-- select a script --</option>
					</select>
				</div>
				<label class="control-label" for="region">Region</label>
				<div class="controls">
					<select class="form-control" id="region" data-ng-model="currentInputSystem.region" data-ng-disabled="currentInputSystem.fieldUseCount" data-ng-options="key as option for (key, option) in selects.region.options">
						<option value="">-- select a region --</option>
					</select>
				</div>
				<label class="control-label" for="variant">Variant</label>
				<div class="controls">
					<input type="text" id="variant" data-ng-model="currentInputSystem.variant" data-ng-disabled="currentInputSystem.fieldUseCount">
				</div>
			</div>
			</div>
			
			<div class="control-group" data-ng-show="currentInputSystem.special == selects.special.optionsOrder[1]">	<!-- IPA transcription -->
				<a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
					<i class="icon-globe"></i> Read more about IPA transcriptions
				</a>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == selects.special.optionsOrder[2]">		<!-- Voice -->
				<p>In applications which support this option, fields with this input system will able to play and record voice.</p>
			</div>
			<div class="control-group" data-ng-show="currentInputSystem.special == selects.special.optionsOrder[3]">		<!-- Script / Region / Variant -->
				<a href="http://www.w3.org/International/questions/qa-choosing-language-tags" target="_blank">
					<i class="icon-globe"></i> 	Read more about language identifiers
				</a>
			</div>
		</div>
	</div>
</div>
<pre data-ng-show="showPre">
currentInputSystemTag: {{currentInputSystemTag}}
currentInputSystem {{currentInputSystem | json}}
lists {{lists | json}}
</pre>
</div>
	