<div class="modal-header">
	<h3 translate="Create a new Custom Field"></h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="customFieldForm" novalidate>
		<div class="control-group">
			<label class="control-label" for="name" translate="Custom Field Name"></label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-wrench"></i></span>
					<input class="span3" id="name" autofocus
						required type="text" name="name"
						placeholder="{{'name' | translate}}" 
						data-ng-model="newCustomField.name" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="location" translate="Location"></label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-map-marker"></i></span>
					<input class="span3" id="location"
						required type="text" name="location"
						placeholder="{{'location' | translate}}" 
						data-ng-model="newCustomField.location" />
				</div>
			</div>
		</div>
		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="submit" 
		data-ng-click="addCustomField()" 
		data-ng-disabled="addDisabled">
		<i class="icon-plus"></i> Add {{newCustomField.name}}</button>
</div>
