<div class="container" data-ng-controller="SettingsCtrl" id="lexAppSettingsView">
    <br><h2>{{project.projectName}} <span data-translate="Settings"></span></h2>
    <!-- <h2 translate="{projectName} Settings" translate-values="{projectName: project.projectName}"></h2> -->
    <uib-tabset>
        <uib-tab heading="{{'Project Properties' | translate}}">
            <form class="card card-block bg-faded ng-pristine ng-valid ng-scope ng-submitted" data-ng-submit="updateProject()" style="">
                <fieldset data-ng-disabled="!rights.remove">
                    <div class="form-group row">
                        <label class="control-label col-xs-12" for="projName" data-translate="Project Name"></label>
                        <div class="controls col-xs-12">
                            <input id="projName" type="text" class="form-control" placeholder="project name" data-ng-model="project.projectName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-12" for="language" data-translate="Default Interface Language"></label>
                        <div class="controls col-xs-12">
                            <select class="form-control" id="language"
                                data-ng-model="project.interfaceLanguageCode"
                                data-ng-options="interfaceConfig.selectLanguages.options[code] for code in interfaceConfig.selectLanguages.optionsOrder">
                                <option value="">-- choose a language --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-12">{{'Project Code' | translate}}</label>
                        <div class="controls col-xs-12">
                            {{project.projectCode}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-12">{{'Project Owner' | translate}}</label>
                        <div class="controls col-xs-12">
                            {{project.ownerRef.username}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="controls col-xs-12">
                            <label class="checkbox"><input type="checkbox" data-ng-model="project.featured"/> {{'Featured On Website' | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="controls col-xs-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {{'Save' | translate}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </uib-tab>

        <!-- Archive tab disabled now that project owners can delete their own projects -->
        <uib-tab heading="{{'Archive' | translate}}" data-ng-show="false">
            <form class="card card-block bg-faded">
                <pui-archive-project pui-action-in-progress="actionInProgress">
                </pui-archive-project>
            </form>
        </uib-tab>
        <uib-tab heading="{{'Delete' | translate}}" data-ng-show="rights.remove">
            <form class="card card-block bg-faded">
                <pui-delete-project></pui-delete-project>
            </form>
        </uib-tab>
    </uib-tabset>
</div>
