<div class="container" data-ng-cloak data-ng-controller="ViewSettingsCtrl">
<h2>{{ 'View Settings' | translate }}</h2>
<form name="viewSettingForm" novalidate>
<button class="btn btn-primary {{interfaceConfig.pullToSide}}" data-ng-click="settingsApply()"  
	data-ng-disabled="viewSettingForm.$pristine || !allRolesHaveAtLeastOneSense()">
	<i class="icon-ok"></i> {{'Apply' | translate}}</button>
<tabset>
	<tab data-ng-repeat="roleView in roleViews" class="{{interfaceConfig.pullNormal}}">
		<tab-heading>{{roleView.name | translate}}
			<span data-ng-hide="isAtLeastOneSense(roleView.view)">
				<img src="/images/shared/exclamation.png" title="{{'At least one Sense field must be enabled!' | translate}}" style="padding-left: 5px;"/></span>
		</tab-heading>
		<div class="row outer-flex">
		
		<!-- Left column: field view settings -->
		<div class="span4 control-group">
			<h3 translate="Enabled Fields"></h3>
			<div class="control-group">
				<label class="checkbox"><input type="checkbox" data-ng-click="showAllFields = ! showAllFields">
					{{'Show All Fields' | translate}}</label>
			</div>
			<dl>
				<dt translate="Entry Level Fields"></dt>
				<dd><div class="controls">
					<div data-ng-repeat="fieldName in configDirty.entry.fieldOrder">
						<label class="checkbox"
							data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
							data-ng-style="{'font-style': fieldIsCustom(fieldName) ? 'italic' : 'normal'}">
							<input type="checkbox" 
								data-ng-disabled="fieldName == 'lexeme'" 
								data-ng-model="roleView.view.showFields[fieldName]">
							{{fieldConfig[fieldName].label}}</label>
					</div>
				</div></dd>
				<dt>{{'Sense Level Fields' | translate}} 
					<span data-ng-hide="isAtLeastOneSense(roleView.view)">
					<img src="/images/shared/exclamation.png" title="{{'At least one Sense field must be enabled!' | translate}}" style="position: absolute; padding-left: 5px;"/></span></dt>
				<dd><div class="controls">
					<div data-ng-repeat="fieldName in configDirty.entry.fields.senses.fieldOrder">
						<label class="checkbox"
							data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
							data-ng-style="{'font-style': fieldIsCustom(fieldName) ? 'italic' : 'normal'}">
							<input type="checkbox" 
								data-ng-model="roleView.view.showFields[fieldName]">
							{{fieldConfig[fieldName].label}}</label>
					</div>
				</div></dd>
				<dt translate="Example Level Fields"></dt>
				<dd><div class="controls">
					<div data-ng-repeat="fieldName in configDirty.entry.fields.senses.fields.examples.fieldOrder">
						<label class="checkbox"
							data-ng-hide="fieldIsHidden(fieldName, showAllFields)"
							data-ng-style="{'font-style': fieldIsCustom(fieldName) ? 'italic' : 'normal'}">
							<input type="checkbox" 
								data-ng-model="roleView.view.showFields[fieldName]">
							{{fieldConfig[fieldName].label}}</label>
					</div>
				</div></dd>
			</dl>
			<small translate="Custom Fields shown in <i>italics</i>"></small>
		</div>
		
		<!-- Right column: task view settings -->
		<div class="span4 control-group">
			<h3 translate="Enabled Tasks"></h3>
			<dl>
				<dt translate="Dashboard"></dt>
				<dd><div class="controls">
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['dashboard']">
						{{'Dashboard' | translate}}</label>
				</div></dd>
				<dt translate="Dictionary"></dt>
				<dd><div class="controls">
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['dbe']">
						{{'Browse &amp; Edit' | translate}}</label>
				</div></dd>
				<dt translate="Add Information"></dt>
				<dd><div class="controls">
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['addMeanings']">
						{{'add Meanings' | translate}}</label>
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['addGrammar']">
						{{'add Grammatical Usage (Part of Speech)' | translate}}</label>
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['addExamples']">
						{{'add Examples' | translate}}</label>
				</div></dd>
				<dt translate="Gather Words"></dt>
				<dd><div class="controls">
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['gatherTexts']">
						{{'from Texts' | translate}}</label>
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['wordlist']">
						{{'from a Word List' | translate}}</label>
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['semdom']">
						{{'from Semantic Domains' | translate}}</label>
				</div></dd>
				<dt translate="Review"></dt>
				<dd><div class="controls">
					<label class="checkbox"><input type="checkbox" data-ng-model="roleView.view.showTasks['review']">
						{{'Review' | translate}}</label>
				</div></dd>
			</dl>
		</div>
		
		</div>
	</tab>
</tabset>
</form>
<!--    
<pre>
configDirty.roleViews {{configDirty.roleViews | json}}
configDirty.entry {{configDirty.entry | json}}
</pre>
 -->
</div>
