<span>

    <h2> Question {{control.currentQuestionPos+1}}/{{model.questions.length}} </h2>
    
    <div class="clearfix">
        <button ng-show="(control.currentQuestionPos > 0)" ng-click="getPreviousQuestion()" class="pull-left btn btn-success">Previous Question</button>
        <button ng-show="(control.currentQuestionPos < model.questions.length - 1)" ng-click="getNextQuestion()" class="pull-right btn btn-success">Next Question</button>
    </div>
    <div>
      	<table style="width:100%">
      		<tr>
      			<th style="width:30%"> </th>
      			<th style="width:35%"> Source </th>
      			<th style="width:35%"> Translation </th>
      		</tr>
    	    <tr 
                ng-class="{approved: (model.questions[control.currentQuestionPos].question.status == 4), needsrevision: (model.questions[control.currentQuestionPos].question.status == 3), suggested: (model.questions[control.currentQuestionPos].question.status == 2)}"
                ng-click="isInCommentMode() ? control.setSelectedField('question ' + control.currentQuestionPos, model.questions[control.currentQuestionPos].question) : '' ">
    		    <td> Questions: </td>
    		    <td> {{model.questions[control.currentQuestionPos].question.source}} </td>
    		    <td>
    		    	<textarea 
    			    	rows="4"
    			    	ng-disabled="isInCommentMode() || model.questions[control.currentQuestionPos].question.status == 4 || !control.rights.canEditEntry()"
    			    	ng-model="model.questions[control.currentQuestionPos].question.translation"
    			    	ng-keypress="control.updateItem($event.which)"
    			    	ng-blur="control.updateItem()">
    		    	</textarea>
    		    </td> 
    	    </tr>	
            <tr
                ng-if="!control.hideQuestionTerms"
                ng-class="{approved: (model.questions[control.currentQuestionPos].terms.status == 4), needsrevision: (model.questions[control.currentQuestionPos].terms.status == 3), suggested: (model.questions[control.currentQuestionPos].terms.status == 2)}"
                ng-click="isInCommentMode() ? control.setSelectedField('question terms ' + control.currentQuestionPos, model.questions[control.currentQuestionPos].terms) : '' ">
    		    <td> Terms: </td>
    		    <td> {{model.questions[control.currentQuestionPos].terms.source}}</td>
    	        <td> 
    	        	<textarea
    	        		rows="4"
    	        		ng-disabled="isInCommentMode() || model.questions[control.currentQuestionPos].terms.status == 4 || !control.rights.canEditEntry()"
    	        		ng-model="model.questions[control.currentQuestionPos].terms.translation"
    	        		ng-keypress="control.updateItem($event.which)"
    	        		ng-blur="control.updateItem()">
            		</textarea>
           		</td>    
    	    </tr>				    
    	</table>
    </div>
</span>