<div style="margin:10px">
    <span>
        <table style="display: inline-block;">
           
                <tr>
                    <td>
                        <label> Working Set Name: </label>
                    </td>
                    <td>
                        <input style="margin-right:10px" ng-model="model.name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Choose Domains in Set: </label>
                    </td>
                    <td>
                        <typeahead style="margin:0px; width:162px" class="typeahead" placeholder="'Select Domains to Display'" items="control.typeahead.searchResults" term="control.typeahead.searchItemSelected" search="control.typeahead.searchEntries" select="control.typeahead.searchSelect">
                            <ul style="width: 300px" ng-if="control.typeahead.searchResults.length > 0">
                                <li data-ng-repeat="e in control.typeahead.searchResults |limitTo: 10" class="control.typeahead-item">
                                    <div class='listItemPrimary'>{{e.key}} {{e.name.source}} 
                                    <input style="float: right" type="checkbox" ng-model="control.includedItems[e.key]" ng-change="control.reloadItems(selectedDepth)"> </div>
                                </li>
                                
                               
                               <button class="btn btn-primary" ng-click="control.setInclusion(control.typeahead.searchResults, true)"> Include All </button>
                               <button class="btn btn-primary" ng-click="control.setInclusion(control.typeahead.searchResults, false)"> Exclude All </button>
                                <li style="text-align:center; background-color: #d3d3d3; color:black;margin-top:5px" ng-if="control.typeahead.searchResults.length > 0"><small ><i>{{control.typeahead.searchResults.length}} match(es)</i></small></li>
                            </ul>
                        </typeahead>
                    </td>
                </tr>       
                <tr>
                    <td>
                        <label> Is Shared</label>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="model.isShared" />
                    </td>
                </tr>
                </table>
                <br />
                <button class="btn btn-primary" ng-click="control.saveWorkingSet(model)" ng-disabled="model.name == ''"> Save </button>
                <button class="btn" ng-click="control.cancelEditingWorkingSet()"> Cancel </button>        
        </table>
    </span>
</div>