<div class="sfcontainer" ng-app="sfAdmin" ng-cloak>
	<h1>Site Administration</h1>
	<sil-notices></sil-notices>

	<tabset>
	<tab heading="Users">
	<div class="row" ng-controller="UserCtrl" style="overflow:hidden">
	<div class="span8">
		<fieldset>
		<legend>Users (total: {{users.length}})</legend>
		<form class="control-bar form-inline">
		<button class="btn" ng-click="removeUsers()"><i class="icon-remove"></i>Remove Users</button>
		<button class="btn" ng-click="addRecord()"><i class="icon-plus"></i>Add New</button>
		</form>
		<div listview search="queryUsers()" items="users" visible-items="visibleUsers" select="">
		<table style="width: 100%">
			<tr>
				<th></th>
				<th>Username</th>
				<th>Full Name</th>
				<th>Role</th>
			</tr>
			<tr ng-repeat="user in visibleUsers" ng-class="{active: isSelected(user)}" ng-click="selectRow($index, user)" >
				<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(user)" ng-click="updateSelection($event, user)" /></td>
				<td>{{user.username}}</td>
				<td>{{user.name}}</td>
				<td>{{roleLabel(user.role)}}</td>
			</tr>
		</table>
		</div>
		</fieldset>
	</div>
				
	<div class="span4">
		<form ng-submit="updateRecord(record)" ng-hide="(vars.editButtonName=='')" name="userForm">
		<fieldset>
			<legend>User data</legend>
			<div class="well">
				<div>
					<label>User Name</label>
					<input ng-blur="checkUserName()" required type="text" placeholder="(username)" ng-model="record.username"/>
					<span  ng-show="userNameLoading"><img id="userNameLoading" src="/images/loading-small.gif" style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
					<span  ng-show="userNameOk"><img id="userNameOk" src="/images/tick.png" title="User name is available!" style="position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
					<span  ng-show="userNameExists"><img id="userNameExists" src="/images/exclamation.png" title="User name already exist!" style="position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
				</div>
				<div>
					<label>Name</label>
					<input required type="text" placeholder="(your name here)" ng-model="record.name"/>
				</div>
				<div>
					<label>Email</label>
					<input required type="text" placeholder="(no email)" ng-model="record.email"/>
				</div>
				<div>
					<label>Role</label>
					<select required ng-model="record.role" ng-options="key as role.name for (key, role) in roles"></select>
				</div>
				<div>
					<label style="margin-bottom:20px"><input type="checkbox" ng-model="record.active"/> Is Active</label>
				</div>
				<a ng-show="vars.state == 'update'" href="" ng-click="togglePasswordForm(); vars.inputfocus = false">Change {{record.username}}'s password</a>
				<div ng-show="vars.showPasswordForm">
					<label>Password</label>
					<input type="text" ng-model="record.password" ng-focus="vars.inputfocus" name="password"/>
				</div>
				<table class="table">
				<tr ng-show="record.created_on"><td><label style="cursor:default">Created On: {{ record.created_on * 1000 | date:shortDate }}</label></td></tr>
				<tr ng-show="record.last_login"><td><label style="cursor:default">Last Login: {{record.last_login * 1000 | date:shortDate}}</label></td></tr>
				</table>
			</div>
					<button class="btn btn-small" type="submit" ng-disabled="userForm.$invalid || userNameExists">
						<i class="icon-{{vars.editButtonIcon}}"></i> {{vars.editButtonName}}
					</button>
		</fieldset>
		</form>
				
	</div>
	</div>
	</tab>
	<tab heading="Question Templates">
		<div class="row" ng-controller="TemplateCtrl" style="overflow:hidden">
			<form class="control-bar form-inline">
				<button class="btn" ng-click="removeTemplates()"><i class="icon-remove"></i>Remove Templates</button>
				<button class="btn" ng-click="toggleTemplateEditor()"><i class="icon-{{editTemplateButtonIcon}}"></i>{{editTemplateButtonText}}</button>
			</form>
			<div class="new-item" collapse="!templateEditorVisible">
				<form class="well">
				<fieldset>
				<label>Question Template</label>
				<input type="text" ng-model="editedTemplate.title" class="span4" rows="4" placeholder="the question"></textarea>
				<label></label>
				<textarea ng-model="editedTemplate.description" class="span4" rows="4" placeholder="additional explanation of the question"></textarea>
				<label></label>
				<button type="submit" class="btn" ng-click="editTemplate(); hideTemplateEditor()"><i class="icon-{{editTemplateButtonIcon}}"></i>{{editTemplateButtonText}}</button>
				</fieldset>
				</form>
			</div>
			<div listview search="queryTemplates()" items="templates" visible-items="visibleTemplates" select="">
			<table style="width: 100%">
				<tr>
					<th></th>
					<th class="span3">Question title</th>
					<th>Question contents</th>
				</tr>
				<tr ng-repeat="template in visibleTemplates" ng-class="{active: isSelected(template)}" ng-click="selectRow($index, template)" >
					<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(template)" ng-click="updateSelection($event, template)" /></td>
					<td>{{template.title}}</td>
					<td style="text-overflow: ellipsis">{{template.description}}</td>
				</tr>
			</table>
			</div>
		</div>
	</tab>
	<!-- 
	<tab heading="Projects">
		<div class="row" ng-controller="ProjectCtrl" style="overflow:hidden">
		<div class="span8"><project-list/></div>
		<div class="span4"><project-data/></div>
		</div>
	</tab>
	-->
	</tabset>
</div>
