<div fxLayout="column">
  <mat-card class="card">
    <mat-card-title class="title">Forgot Password</mat-card-title>
    <mat-card-content fxLayout="column">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email or Username" formControlName="user" autofocus>
        </mat-form-field>
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="forgotPasswordDisabled">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
