.no-margin {
    /* Fix Bootstrap's margins on checkboxes, etc. */
    margin: 0 !important;
}

span.fk { /* TODO: Find a better place for this (partials/questions.css, perhaps?) */
    /* Used in footnote popups in text display of question page */
    font-weight: bold;
}

/* TODO: Find a better place for this as well (perhaps in partials/question.css) */
textarea.newAnswer, textarea.editAnswer {
    padding: 10px;
    background: #ffffff;
    width: 95%;
    min-height: 100px;
    max-height: 900px;
    overflow: auto;
    outline: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    resize: vertical
}

table.texts {
  width: 100%;

  td {
    text-align: center;
    vertical-align: middle;

    label {
      margin: 0;
      input {
        margin: 1em;
      }
    }
  }

}

.card {
  margin-top: 1em;

  label {
    width: 100%;
  }

  input[type='number'] {
    display: inline;
  }
}

.form-group, card {
  &, input[type='text'], textarea {
    width: 100%;
  }
}

.answer {
  .answer-footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #b0b0b0;

    .tag-list {
      width: 100%;
    }
    .author, .answerControls {
      width: 50%;
      padding-left: 0.5em;
    }
    .answerControls {
      text-align: right;
    }

    > div {
      width: 100%;
      label {
        width: 100%;
      }
    }

    .author {
      background-color: #eee;
      padding: 0.2em 0.5em;
      img {
        float: right;
      }
    }
  }
}

.tag-list ul {
  padding: 0;
}
