body {
  // Overide text-align: left; in Bootstrap's _reboot.scss, so that dir=auto will work
  text-align: initial;
}

.no-margin {
    /* Fix Bootstrap's margins on checkboxes, etc. */
    margin: 0 !important;
}

span.fk { /* TODO: Find a better place for this (text/text.css, perhaps?) */
    /* Used in footnote popups in text display of question page */
    font-weight: bold;
}

/* TODO: Find a better place for this as well (perhaps in text/question.css) */
textarea.newAnswer, textarea.editAnswer {
    padding: 10px;
    background: #ffffff;
    width: 95%;
    min-height: 100px;
    max-height: 900px;
    overflow: auto;
    outline: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    resize: vertical
}

table.texts, table.questions {
  width: 100%;

  td {
    vertical-align: middle;
    // Bootstrap's default table padding makes text and question view way too spaced-out vertically
    padding-top: 0;
    padding-bottom: 0;
  }

  th {
    cursor: pointer;
  }
}

table label {
  margin: 0;
  input {
    margin: 1em;
  }
}

.card {
  margin-top: 1em;

  label {
    width: 100%;
  }

  .verse-range [type='number'] {
    display: inline;
    width: 5em;
  }
}

.form-group, card {
  &, input[type='text'], textarea, label {
    width: 100%;
  }
}

.answer {
  &.unread {
    background-color: #fffcd0;
    border-color: #ffeb3b;
  }

  .answer-footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e6e6e6;

    .tag-list {
      width: 100%;
      .fa:hover {
        color: #d93a06;
        cursor: pointer;
      }
    }
    .author, .answerControls {
      width: 50%;
      padding-left: 0.5em;
    }
    .answerControls {
      text-align: right;
    }

    > div {
      width: 100%;
      label {
        width: 100%;
      }
    }

    .author {
      background-color: #f0f0f0;
      padding: 0.2em 0.5em;
      img {
        float: right;
      }
    }
  }
}

.comment {
  margin-bottom: 0.5em;
}

.tag-list ul {
  padding: 0;
}

div#textcontrol {
  overflow: auto;
  min-height: 400px;
  max-height: 650px;
}

div#textcontrol p, div.scripture-quote p {
  line-height: 1.2em;
}

div#textcontrol p.q1, div.scripture-quote p.q1 {
  margin-bottom: 0em;
}

div#textcontrol p.q2, div.scripture-quote p.q2 {
  margin-bottom: 0em;
  margin-left: 1.5em;
}


div#comments {
  overflow: auto;
  min-height: 400px;
  max-height: 650px;
}

div#comments table {
  width: 100%;
}

div#comments table td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

div.scripture-quote {
  background-color: #dddddd;
  padding: 5px;
  font-size: 90%;
}

div.vote {
  text-align: center;
  line-height: 1.0em;
  margin-right: 16px;
  margin-top: -8px;
}

div.vote a {
  display: block;
  font-size: 42px;
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

div.vote a.disabled {
  color: #eee;
}

div.vote span {
  font-size: 24px;
  font-weight: bold;
  color: #999;
}

div.answer div.by {
  background: #eee;
  margin: 8px 0 0 0;
  vertical-align: top;
  width: 260px;
}

div.answer div.by img {
  display: inline-block;
  border: 2px solid white;
  margin: 4px;
  vertical-align: top;
}

div.answer div.by div {
  display: inline-block;
  margin: 6px 0 4px 4px;
  vertical-align: middle;
  line-height: 1.2em;
  color: #666;
}

div#comments table.comments textarea {
  width: 95%;
}

div#comments table.comments td {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* New Item under ribbon bar */
div.new-item {
  margin: 20px 0 20px 0;
}

div.new-item.collapse.in {
  overflow: visible;
}

.unread {
  background-color: #E1F2E1;
  margin-top:10px;
  padding: 5px;
  border: #C1DBC1 2px solid;
}

.text-heading {
  max-width: 50%;
}

.question-heading {
  margin-right: 2em;
}
