{% verbatim %}
<div class="content container" ng-cloak>
    <div id="sfchecks-hmenu" class="hdrnav">
        <div ng-controller="inviteAFriend" id="inviteAFriend" class="float-right" ng-show="showInviteDiv">
            <div class="overlay-bg" ng-show="showInviteForm">
                <form ng-submit="sendInvite();showInviteForm=false">
                    <div class="heading">
                        <span>Invite a friend to Scripture Forge</span>
                        <span><a href class="float-right" ng-click="showInviteForm=false"><i class="fa fa-times"></i></a></span>
                    </div>
                    <div class="input-group">
                        <input required type="email" class="form-control" ng-model="email" placeholder="email@address">
                        <span class="input-group-btn">
                            <button class="btn btn-primary invitation-send-btn" id="sfchecks-invitation-send-btn" type="submit">Send Invitation</button>
                        </span>
                    </div>
                </form>
            </div>
            <button class="btn btn-primary" id="sfchecks-invite-friend-btn" ng-click="showInviteForm = !showInviteForm"
                    ng-show="!showInviteForm"><i class="fa fa-envelope"></i> Invite a Friend</button>
        </div>
        <breadcrumbs id="top" class="topCrumbs"></breadcrumbs>
    </div>
    <div style="padding-top:10px" ng-controller="SfChecksAppCtrl">
    <sil-notices></sil-notices>
    <!-- <div data-wc-overlay="" data-wc-overlay-delay="6000">
    <img src="/Site/views/shared/image/shared/loading.gif">&nbsp; Loading...
    </div>-->
    <div ng-view></div>
    </div>
</div>
{% endverbatim %}
