<div id="lexAppEditView" class="animate-switch" data-ng-class="{'panel-closing': $ctrl.rightPanelVisible === null, 'right-panel-visible': $ctrl.rightPanelVisible === true}" data-ng-if="$ctrl.lecFinishedLoading">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4 entries-list-container d-none d-md-block">
                <div class="entry-words-minimized"><button class="btn btn-primary" data-ng-click="$ctrl.hideRightPanel()">Show words in dictionary</button></div>
                <div class="entry-words-container">
                    <div class="row">
                        <div class="col">
                            <div class="words-container-title list-group-item list-group-item-action active">
                                <div>
                                    Showing <span data-ng-hide="$ctrl.entryListModifiers.filterActive()">all </span>
                                    <span id="totalNumberOfEntries" class="notranslate"><span data-ng-show="$ctrl.entryListModifiers.filterActive()">{{$ctrl.filteredEntries.length}} / </span>{{$ctrl.entries.length}}</span>
                                    <span data-ng-hide="$ctrl.entryListModifiers.filterActive()">entries</span>
                                </div>
                                <button id="editorNewWordBtn" class="btn btn-primary"
                                    data-ng-show="$ctrl.isAtEditorEntry()" data-ng-if="$ctrl.lecRights.canEditEntry()"
                                    data-ng-click="$ctrl.newEntry()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-content-stretch">
                            <div class="words-search">
                                <div class="filter-entries-wrapper">
                                    <input type="text" id="editor-entry-search-entries" class="filter-entries" placeholder="Filter Entries"
                                           data-ng-change="$ctrl.filterAndSortEntries()" data-ng-model="$ctrl.entryListModifiers.filterBy.text"></input>
                                </div>
                                <button data-ng-click="$ctrl.toggleFilterOptions()" class="btn btn-sm">
                                    Options
                                    <i class="fa" data-ng-class="$ctrl.show.entryListModifiers ? 'fa-angle-up': 'fa-angle-down'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="$ctrl.show.entryListModifiers">
                        <div class="col">
                            <div class="d-none d-md-block word-form-filters">
                                <div class="form-group sortfilter-form">
                                    <label class="font-weight-bold" for="sortEntriesBy">Sort Entries By</label>
                                    <div class="form-inline">
                                        <select id="sortEntriesBy" class="custom-select sortfilter-control"
                                                data-ng-change="$ctrl.filterAndSortEntries()" data-ng-model="$ctrl.entryListModifiers.sortBy"
                                                data-ng-options="item as $ctrl.entryListModifiers.sortOptionLabel(item.label) for item in $ctrl.entryListModifiers.sortOptions track by item.value">
                                        </select>
                                        <label>
                                            <input type="checkbox" data-ng-change="$ctrl.filterAndSortEntries()" data-ng-model="$ctrl.entryListModifiers.sortReverse"> Reverse
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group sortfilter-form">
                                    <label class="font-weight-bold" for="filterEntriesFor">Filter Entries</label>
                                    <div class="form-inline">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <select class="custom-select sortfilter-control" data-ng-show="$ctrl.entryListModifiers.filterBy.option"
                                                data-ng-change="$ctrl.filterAndSortEntries()" data-ng-model="$ctrl.entryListModifiers.filterType">
                                            <option value="isEmpty">Doesn't have</option>
                                            <option value="isNotEmpty">Has</option>
                                        </select>
                                        <select class="custom-select sortfilter-control" id="filterEntriesFor"
                                                data-ng-change="$ctrl.filterAndSortEntries()" data-ng-model="$ctrl.entryListModifiers.filterBy.option"
                                                data-ng-options="item as item.label for item in $ctrl.entryListModifiers.filterOptions track by item.key">
                                            <option value="">Show All</option>
                                        </select>
                                        <button data-ng-click="$ctrl.resetEntryListFilter()" data-ng-show="$ctrl.shouldShowFilterReset()" class="btn btn-sm">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-none d-md-block">
                            <div id="compactEntryListContainer" class="lexiconItemListContainer" data-pui-when-scrolled="$ctrl.show.more()">
                                <div class="list-group">
                                    <div id="entryId_{{entry.id}}" class="list-group-item lexiconListItemCompact"
                                         data-ng-class="{selected: entry.id == $ctrl.currentEntry.id, listItemHasComment: $ctrl.getEntryCommentCount(entry.id) > 0}"
                                         title="{{$ctrl.getCompactItemListOverlay(entry)}}"
                                         data-ng-repeat="entry in $ctrl.visibleEntries track by entry.id" data-ng-click="$ctrl.editEntry(entry.id)">
                                        <div dir="auto" class="listItemPrimary" data-ng-bind-html="$ctrl.getPrimaryListItemForDisplay($ctrl.lecConfig, entry)"></div>
                                        <div dir="auto" class="listItemSecondary" data-ng-bind-html="$ctrl.getMeaningForDisplay(entry)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 entry-primary-container">
                <div class="word-definition-title">
                    <dc-rendered global-config="$ctrl.lecConfig" config="$ctrl.lecConfig.entry" model="$ctrl.currentEntry" option-lists="$ctrl.optionLists"></dc-rendered>
                </div>
                <div>
                    <div class="entryItemView" data-ng-if="$ctrl.entryLoaded()">
                        <dc-entry config="$ctrl.lecConfig.entry" model="$ctrl.currentEntry" control="$ctrl.control"></dc-entry>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lexRightPanels">
        <div class="right-panel-list">
            <div id="lexAppCommentView" class="right-panel">
                <lex-comments-view entry="$ctrl.currentEntry" control="$ctrl.control"></lex-comments-view>
            </div>
            <div id="lexAppActivityFeed" class="right-panel">
                <activity-container entry-id="{{$ctrl.currentEntry.id}}"></activity-container>
            </div>
        </div>
        <div class="right-panel-backdrop" data-ng-click="$ctrl.hideRightPanel()">
            <i class="fa fa-times"></i>
        </div>
    </div>
</div>
