<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" bootstrap="TestConfig.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../../src/Api</directory>
    </include>
    <exclude>
      <directory>../../src/Api/Library/Shared/Script</directory>
      <directory>../../src/Api/Library/Shared/CLI</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="xdebug.show_exception_trace" value="0"/>
  </php>
  <testsuites>
    <testsuite name="xForge all PHP unit tests">
      <directory>./</directory>
      <exclude>./library/shared/LanguageDataTest.php</exclude>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>explicit</group>
    </exclude>
  </groups>
</phpunit>
