<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="text-center">
                <h3 id="new-project-verify">Verify Data</h3>
                <p><span class="notranslate" id="entries-imported">{{$ctrl.npvEntriesImported}}</span> entries were found in the initial data.</p>
                <div data-ng-hide="$ctrl.hasImportErrors()">There were no non-critical import errors</div>
                <div data-ng-show="$ctrl.hasImportErrors()">
                    <button class="btn btn-std" id="non-critical-errors-button" data-ng-click="$ctrl.showImportErrors = !$ctrl.showImportErrors">
                        {{$ctrl.showImportErrorsButtonLabel()}}</button>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div uib-collapse="!$ctrl.showImportErrors">
            <div class="card bg-light text-left">
                <pre id="import-errors">{{$ctrl.npvImportErrors}}</pre>
            </div>
        </div>
    </div>
</div>
