name: Deploy to Docker Hub

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on:
  push:
    tags:
      - "v*"
    branches:
      - staging

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  environment:
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    runs-on: ubuntu-latest

    steps:
      - name: What version of Make is installed
        run: make --version

      - name: What version of Docker is installed
        run: docker --version

      - name: What version of Docker-Compose is installed
        run: docker-compose --version

      - name: CPU info
        run: cat /proc/cpuinfo

      - name: RAM info
        run: free

      - name: Disk info
        run: df -h

  build-n-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set BUILD_VERSION for Staging
        if: github.ref == 'refs/heads/staging'
        run: echo "BUILD_VERSION=staging-$GITHUB_SHA" >> "$GITHUB_ENV"
        run: echo "BUILD_VERSION_LATEST=staging" >> "$GITHUB_ENV"

      - name: Set BUILD_VERSION for Production from git tag
        if: contains(github.ref, 'refs/tags/')
        # define GIT_TAG as stripping off initial 11 characters, i.e. "refs/tags/v"
        run: echo "GIT_TAG=$(echo ${GITHUB_REF:11})" >> $GITHUB_ENV
        run: echo "BUILD_VERSION=$GITHUB_TAG" >> "$GITHUB_ENV"
        run: echo "BUILD_VERSION_LATEST=latest" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and tag app
        run: docker build -t $IMAGE_NAME:$BUILD_VERSION -t $IMAGE_NAME:$BUILD_VERSION_LATEST --build-arg BUILD_VERSION=${BUILD_VERSION} -f docker/app/Dockerfile .
        env:
          IMAGE_NAME: sillsdev/web-languageforge

      - name: Reveal images
        run: docker images

      - name: Publish all tagged images to Docker Hub
        run: |
          docker push -a sillsdev/web-languageforge
