name: Deploy to staging

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on:
  push:
    branches:
      #TODO: revert this when done testing - develop
      - chore/issue-1279-implement-cd-for-prod

jobs:
  start-staging-ci-cd:
    # runs-on: ubuntu-latest

    # steps:
      # -
      # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_iduses
      # TODO: update the branch appropriately
      uses: sillsdev/web-languageforge/.github/workflows/integrate-and-deploy.yml@chore/issue-1279-implement-cd-for-prod
      with:
        image-tag: develop-$(date +%Y%m%d)-${{ github.sha }}
        environment: staging

  #     -
  #       uses: actions/checkout@v2
  #     -
  #       name: Build app
  #       working-directory: ./docker/
  #       run: docker-compose build --build-arg ENVIRONMENT=production app
  #     -
  #       name: Check unit tests
  #       working-directory: ./docker/
  #       run: make unit-tests
  #     # -
  #     #   name: Check e2e tests
  #     #   working-directory: ./docker/
  #     #   run: make e2e-tests
  #     -
  #       name: Log in to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
  #     -
  #       name: Establish image name
  #       id: image
  #       run: |
  #         echo ::set-output name=NAMESPACE::sillsdev/web-languageforge
  #         echo ::set-output name=TAG::develop-$(date +%Y%m%d)-${{ github.sha }}
  #     -
  #       name: Tag images
  #       run: docker tag lf-app ${{ steps.image.outputs.NAMESPACE }}:${{ steps.image.outputs.TAG }}
  #     -
  #       name: Publish image
  #       run: docker push ${{ steps.image.outputs.NAMESPACE }}:${{ steps.image.outputs.TAG }}

  # deploy:
  #   runs-on: [self-hosted, languageforge]

  #   needs: build

  #   steps:
  #     -
  #       uses: sillsdev/common-github-actions/install-kubectl@v1
  #     -
  #       run: kubectl --context ${{ secrets.LTOPS_K8S_STAGING_CONTEXT }} set image deployment/app app=${{ needs.build.outputs.IMAGE }}
