@import "../../../../../Site/views/languageforge/theme/default/sass/variables";

.commentBubbleContainer {
  position: absolute;
  right: -20px;
  z-index: 20;
  top: 4px;
  &.comment-inactivate {
    a.commentBubble {
      cursor: not-allowed;
      i {
        color: $BlueRibbon;
      }
    }
  }
  a.commentBubble {
    background: #104060;
    border-radius: 50%;
    position: relative;
    width: 31px;
    height: 31px;
    line-height: 28px;
    display: block;
    text-align: center;
    &.noCount {
      background: #ebebeb;
      .commentCount {
        display: none;
      }
    }
    i {
      color: #fff;
      font-size: 12px;
    }
    &:hover {
      text-decoration: none;
    }
    .commentCount {
      color: #fff;
      position: absolute;
      top: -8px;
      right: -2px;
      background: $BlueRibbon;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      font-size: 10px;
      display: block;
      line-height: 18px;
      text-align: center;
      font-weight: normal;
      padding: 0;
    }
    .commentLabel {
      display: none;
    }
  }
}
